body{
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    text-align: left;
    margin:0;
}
input{
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
#container {
  width: 760px;
  margin: 0 auto;
}

/****************************
 *      
 *  LEFT COLUMN
 * 
 ***************************/
#left-col{
    
    
    float: left;
    width: 180px;
}
    div#left-col a#logo img{
        border:0;
        width:170px;
    }
    
    div#left-col ul{
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
    div#left-col li{
/*
        padding: 5px 0;
*/
        
    }
    /*
      Friend to follow  
    */
    div#left-col div.help-icon {
        margin: 4px 7px 0 0;
    }
    div#left-col ul#friends-to-follow{
        margin: 1em 0 0;
    }
    div#left-col ul#friends-to-follow:after{
            clear: both;
            content: ".";
            display: block;
            height: 0px;
            visibility: hidden;
        }
    div#left-col ul#friends-to-follow li {
        clear: left;
        margin: 0 0.2em;
        padding: 0.5em 0;
        width: auto;
    }
        div#left-col ul#friends-to-follow li a{
            background-position: 4px 3px;
            padding: 1px 7px 1px 22px;
            width: auto;
            
        }
        div#left-col ul#friends-to-follow li div.avatar a.user-img{
            float: left;
            margin-right: 10px;
            padding: 0;
        }
        div#left-col ul#friends-to-follow li div.avatar a.user-img img{
            height:25px;
        }
        div#left-col ul#friends-to-follow li div.avatar div.follow-button{
            margin-top: 2px;
        }
        div#left-col ul#friends-to-follow li div.avatar span.waiting {
            background-position: 4px 3px;
            padding: 1px 7px 1px 22px;
            width: auto;
        }
        div#left-col ul#friends-to-follow li div.avatar span.waiting a{
            background:none;
            padding-left:6px;
        }
        div#left-col ul#friends-to-follow li div.avatar div.removable{
            margin:5px;
        }
        div#left-col ul#friends-to-follow li div.avatar div.removable a{
            display:none;
        }
    
    div#left-col li a{
        color: black;
        display: block;
        line-height: 19px;
        padding: 5px 0 5px 30px;
        text-decoration: none;
        width: 150px;
    }
    div#left-col li:hover{
        background-color:#eff2f7
    }
    
    .install-icons a {
        background-image: url("/static/facebookApp/img/intro_icons.png");
    }
    
    #introduction-icon{
        background-position: 5px 5px;
    }
    #about-us-icon{
        background-position: 5px -20px;
    }
    #community-icon{
        background-position: 5px -45px;
    }
    #blog-icon{
        background-position: 5px -70px;
    }
    #privacy-icon{
        background-position: 5px -95px;
    }
    #tos-icon{
        background-position: 5px -120px;
    }
    
    
    #fb-wall {
        background-position: 5px 5px;
    }
    #fb-last-news {
        background-position: 5px -20px;
    }
    #fb-events {
        background-position: 5px -45px;
    }
    #fb-grm {
        background-position: 5px -70px;
    }
    
    
    .menu-icons a{
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        width: 17px;
    }

    .fb-icons a {
        background-image: url("/static/facebookApp/img/fb-icons.png");
    }
    
    .main-menu-icons a {
        background-image: url("/static/facebookApp/img/main_menu_icons.png");
    }
    
    #activity-icon {
        background-position: 5px 5px;
    }
    #vault-icon {
        background-position: 5px -22px;
    }
    #suggestions-icon {
        background-position: 5px -45px;
    }
    #notifications-icon {
        background-position: 5px -70px;
    }
    #places-icon {
        background-position: 4px -95px;
    }
    #profile-icon {
        background-position: 5px -120px;
    }
    #settings-icon {
        background-position: 5px -145px;
    }

/****************************
 *      
 *  RIGHT COLUMN
 * 
 ***************************/
#right-col{
    border-left: 1px solid #B3B3B3;
    float: left;
    padding-left: 15px;
    width: 550px;
    min-height:500px;
    font-size: 1em;
    line-height: 1.5em;
}

    #right-col #register-panel h1{
        border-bottom: 2px solid #CCCCCC;
        font-size: 2em;
        padding: 5px 0 20px;
        text-align: left;
    }
    #right-col h2{
        font-size:1.3em;
        
    }
    #right-col #register-panel{
        text-align:center;
    }
    #right-col #register-panel p{
        font-size: 1.2em
    }
    #right-col #register-panel #video{
        clear: both;
        margin: 0 auto 30px;
        width: 399px;
    }
    #right-col .left{
        float:left;
    }
    #right-col .right{
        float:right;
    }
    
    
    /****************************
     *      
     *  COMMON
     * 
     ***************************/
    #right-col h1{
        color: #555555;
        display: inline;
        font-family: Helvetica Neue,Helvetica,sans-serif;
        font-size: 1.7em;
        font-weight: normal;
        line-height: 2.5em;
    }
    #right-col .section{
        clear:both;
    }
    #right-col .section .header, .right-col .section .article .header{
        border-bottom: medium none;
        border-top: 1px solid #E2E2E2;
        background-color:#F2F2F2;
        padding:0 5px;
        height:30px;
    }
    #right-col .section p, #right-col .section h3{
        padding:0 5px;
    }
    #right-col .section .header p, .right-col .section .article .header p{
        float:right;
    }
    #right-col .section .header h2,#right-col .section .article .header h2{
        font-size:1em;
        float:left;
    }
    .error-msg{
         display: none;
    }
    .error-msg ul{
    }
    .error-msg ul li{
    }
    div#left-col hr,#right-col hr,hr{
        border: 1px solid #D3D3D3;
        clear:both;
    }
    
    input[type="submit"], input[type="button"]{
        border-style: solid;
        border-width: 1px;
        border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
        background-color: #3B5998;
        color: white;
        padding: 2px 15px 3px 15px;
        text-align: center;
        float:right
    }

    input[type="submit"]:hover, input[type="button"]:hover{
        cursor:pointer;
    }
    .footer-notes{
        color: #777;
        font-size:0.9em
    }
    .note{
        color: #777;
        font-size:0.9em;
        border:1px solid #ccc;
        padding: 5px;
    }
    .note a{
        color: inherit;
        padding-left: 10px;
    }
    #active-section,div #left-col li#active-section:hover{
        background-color: #D8DFEA;
    }
    .header p {
        margin:5px;
    }
    img{
        border:0
    }
    
    .follow-button{
        -moz-border-radius: 4px;
        -khtml-border-radius: 4px;
        -webkit-border-radius: 4px;
        background: #DDD url(../img/buttons/bg-btn.gif) repeat-x 0 0;
        border-color: #BBB #BBB #999;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        display: inline-block;
        margin: 0;
        overflow: hidden;
        padding: 0;
        text-shadow: 0 1px #F0F0F0;
        color: #333!important;
        -moz-box-shadow: 0 1px 0 #F8F8F8;
        -wekbit-box-shadow: 0 1px 0 #F8F8F8;
        box-shadow: 0 1px 0 #F8F8F8;
        background-image: url("/static/facebookApp/img/btn_follow_bg.png");
        background-repeat:norepeat;
        
    }
    .follow-button a{
        background-image: url("/static/facebookApp/img/sprite_follow.png");
        background-repeat: no-repeat;
        color: black;
        font-family: Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
        font-weight: bold;
        line-height: 32px;
        padding: 7px 10px 7px 27px;
        text-decoration: none;
    }
    .follow-button a.no-following{
        background-position: 7px 6px;
    }
    .follow-button a.following{
        background-position: 7px -60px;
    }
    
    .following-state{
        background-position:0 -66px;
    }
    span.waiting{
        background: url("/static/facebookApp/img/spinning-icons/wait16trans.gif") no-repeat scroll 5px 9px transparent;
        color: black;
        display: block;
        font-weight: bold;
        padding: 5px 10px 5px 27px;
        line-height: 2em;
    }
    .following-state span a.following{
        color:white;
    }
    
        
    .following-state:hover{
        background-position:0 -133px;
    }
    .following-state span a.following:hover{
        background-position:7px -25px;
        
    }
    div.help-icon{
        float:right;
        height: 22px;
        margin: 6px 0;
    }
    #activity div.help-icon{
        height: 16px;
        margin: 15px 0;
    }
    
    div.help-icon img{
        width:16px;
        height:16px;
        cursor:pointer;
        
    }
    #btn-add-suggestion{
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
        
        border-top-color: #CCC;
        border: 1px solid #BBB;
        border-bottom-color: #A0A0A0;
        color: #000000;
        cursor: pointer;
        display: block;
        font: 1.2em arial,sans-serif;
        margin: 10px;
        outline: medium none;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;    
    }
    .clear{
        clear:both;
    }
    #go-back{
        cursor:pointer;
        color:blue;
        text-decoration:underline;
        float:right;
    }
    input[type="submit"].waiting{
        background: url("/static/facebookApp/img/spinning-icons/wait16.gif") no-repeat scroll 4px 3px white;
        border: 2px dotted #CCCCCC;
        color: black;
        padding-left: 20px;
    }
    .show-more{
        text-decoration:underline;
        cursor:pointer;
        float:right;
    }
    #show-more-text{
        display:none;
        
    }
    
    a:visited, a:active{
        color:#01F;
    }
    
    .btn{
        background-color: #3B5998;
        border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
        border-style: solid;
        border-width: 1px;
        color: white;
        float: right;
        padding: 2px 15px 3px;
        text-align: center;
        font-weight:normal;
        cursor:pointer;
    }
    .hidden{
        visibility:hidden;
        display:none;
    }
    .visible{
        visibility:visible;
    }
    
    .link{
        color:blue;
        text-decoration:underline;
        cursor:pointer;
    }
    .hoverlink{
        color:blue;
        text-decoration:none;
    }
    .hoverlink:hover{
        text-decoration:underline;
        cursor:pointer;
    }
    
    .error{
        background-color: #FCC7C7;
        border: 1px dotted red;
    }
    .success{
        background-color: #C4FF89;
        border: 1px dotted green;
    }
    #answerMessage{
        display:none;
        clear: both;
        font-size: 1.1em;
        margin: 1em 0;
        padding: 0.5em;
        position: relative;
        text-align: center;
        top: 5px;
    }
    
    .min-img{
        width:25px;
        height:25px;
        float:left;
    }
    
    div.removable{
        width:15px;
        height:15px;
        background-image: url('/static/facebookApp/img/delete.png');
        float:right;
        cursor:pointer;
        margin-top:0.5em;
    }
    div.removable:hover{
        background-position: 0 32px;
    }
    div.removable a{
        display:none;
    }
    .small-text{
            font-size:0.9em;
            color: #555555;
        }
    a.small-link{
        font-weight:bold;
        color: #555555;
        text-decoration:none;
    }
    
    ul#chronology{
        font-size: 1.1em;
        line-height: 1.7em;
        margin: 0 5px;
        padding: 0;
    }
        ul#chronology .suggestionPlace{
            font-size:0.9em;
            color: #555555;
        }
        ul#chronology .suggestionPlace a{
            color: #555555;
            font-weight:bold;
            text-decoration:none;
        }
        ul#chronology .suggestionPlace a:hover{
            text-decoration:underline;
        }
        ul#chronology li{
            border-bottom: 1px solid #DDDDDD;
            clear: both;
            list-style: none outside none;
            margin: 0.3em 0;
            padding: 1em 0;
        }
        
        ul#chronology li:after{
            clear: both;
            content: ".";
            display: block;
            height: 0px;
            visibility: hidden;
        }
        ul#chronology li hr{
        }
        
        ul#chronology li div.avatar{        
            display: block;
            float: left;
            margin: 0.5em 1em 0 0;
            text-align: left;
            width: 50px;
            height:50px;
            border-bottom:0;
        }
        ul#chronology li div.avatar img{
            width:50px
        }
        
        
        ul#chronology li span.action-bar{
            font-size: 0.9em;
            padding-left: 0.5em;
            visibility:hidden;
        }
            .timestamp{
                color: #999;
                display: block;
                font-size: 11px;
                float: left;
            }
            ul#chronology li span.action-bar span, span.action-bar a{
                color:#0011FF;
                margin: 0 0.3em;
                text-decoration:none;
            }
            ul#chronology li span.action-bar span:hover, span.action-bar a:hover{
                text-decoration:underline;
                cursor:pointer;
            }
            ul#chronology li span.action-bar span.like-dislike{
                margin:0;
            }
            ul#chronology li span.action-bar span.like-dislike:hover{
                text-decoration:none;
            }
            
            ul#chronology li span.like-text, 
            #view-suggestion ul#comment-list li span.like-text{
                background: url("/static/facebookApp/img/like_min.png") no-repeat scroll -2px 1px transparent;
                color: black;
                display: inline-block;
                margin-left: 0;
                padding-left: 15px;
            }
            #view-suggestion ul#comment-list li span.like-text{
                background-position:-2px -3px;
            }
            ul#chronology li span.action-bar span.like-text:hover{
                text-decoration:none;
                cursor:default;
            }
            ul#chronology li span.action-bar a.comment{
                background: url("/static/facebookApp/img/icons/comments.png") no-repeat scroll 0 2px transparent;
                display: inline-block;
                padding-left: 20px;
            }
            
            /* Comments in the chronology */
            ul#chronology div.comment-box{
                padding-left: 50px;
                border-bottom:0;
            }
            ul#chronology div.comment-box ul{
                margin:0;
                padding:0;
            }
                ul#chronology li.long-list{
                    display:none;
                }
                ul#chronology div.comment-box ul li,
                ul#chronology div.input-box,
                #activity div.show-all-comments{
                    border-bottom: 1px solid #DDDDDD;
                    background-color: #EDEFF4;
                    margin: 2px 0;
                    padding: 0.5em;
                }
                ul#chronology div.comment-box ul li{
                    cursor:pointer;
                }
                
                    ul#chronology div.input-box form{
                        float:right;
                    }
                    ul#chronology div.input-box:after{
                        clear: both;
                        content: ".";
                        display: block;
                        height: 0px;
                        visibility: hidden;
                    }
                    
                ul#chronology div.show-all-comments{
                    color: blue;
                    font-size: 0.9em;
                    line-height: 1em;
                    padding: 0.3em;
                    text-align: center;
                }
                ul#chronology div.show-all-comments:hover{
                    cursor:pointer;
                }
                ul#chronology div.comment-box ul li img{
                    float: left;
                    height: 25px;
                    margin-right: 10px;
                    width: 25px;
                }
                ul#chronology li div.timeline-msg{
                    float:left;
                    width:470px;
                    border-bottom:0;
                }
                ul#chronology div.comment-box ul li .timestamp,
                ul#chronology div.comment-box ul li .like,
                ul#chronology div.comment-box ul li .dislike{
                    font-size:0.9em;
                }
                
        
        ul#chronology div.input-box textarea{
            border: 1px solid #BDC7D8;
            color: #555555;
            font-size: 0.9em;
            margin: 0;
            padding: 0.3em;
            width: 470px;
            height:1.2em;
            font-style:italic;
            font-family: courier,"lucida grande",tahoma,verdana,arial,sans-serif
        }
    
        ul#chronology li p{
            margin:0;
            padding:0;
        }
    
        ul#chronology li.msg-0{
            background-image: url("/static/facebookApp/img/timeline/0.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-1{
            background-image: url("/static/facebookApp/img/timeline/1.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-2{
            background-image: url("/static/facebookApp/img/timeline/2.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-3{
            background-image: url("/static/facebookApp/img/timeline/3.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        ul#chronology li.msg-101,ul#chronology li.msg-100{
            background-image: url("/static/facebookApp/img/timeline/100.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-110{
            background-image: url("/static/facebookApp/img/timeline/110.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-120{
            background-image: url("/static/facebookApp/img/timeline/120.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-125{
            background-image: url("/static/facebookApp/img/timeline/125.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-300{
            background-image: url("/static/facebookApp/img/timeline/300.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-303{
            background-image: url("/static/facebookApp/img/timeline/303.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-305{
            background-image: url("/static/facebookApp/img/timeline/305.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-350{
            background-image: url("/static/facebookApp/img/timeline/350.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
        
        ul#chronology li.msg-353{
            background-image: url("/static/facebookApp/img/timeline/353.png");
            background-position: right 10px;
            background-repeat: no-repeat;
        }
    
    /****************************
     *      
     * Create Social Profile 
     * 
     ***************************/
    #social-profile{
        font-size:1.2em;
    }
    #SocialUserProfile-form label{
        clear: left;
        display: block;
        float: left;
        font-size: 1 em;
        line-height: 1.8em;
        width: 90px;
        font-weight: bold;
        margin: 9px 0;
    }
    #SocialUserProfile-form .error-msg{
        border:1px dotted red;
        clear:both;
/*
        display: none;
*/
        background-color: #FCC7C7;
/*
        width: 250px;
*/
    }
    #SocialUserProfile-form .error-msg ul{
        margin:0.5em;

    }
    
    #SocialUserProfile-form input{
        clear: right;
        float: left;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 1em;
        margin: 10px 0;
    }
    #SocialUserProfile-form input[type="submit"]{
        clear:both;
        float:right;
    }
    
    ul#link-social-accounts{
        list-style: none outside none;
        margin: 0 auto;
        padding: 0;
        width: 450px;        
    }
    
    #link-social-accounts li{
        -moz-border-radius: 15px 15px 15px 15px;
        -webkit-border-radius: 15px 15px 15px 15px;
        background-color: #FFEE7F;
        border: 2px solid #FFCB04;
        list-style: none outside none;
        margin: 10px;
        padding: 10px;
    }
    #link-social-accounts li:hover{
        background-color: #FFCB04;
    }

    #link-social-accounts li a{       
        color: black;
        display: block;
        font-size: 1.1em;
        line-height: 32px;
        padding-left: 40px;
        text-decoration: none;
    }
    ul#link-social-accounts li a#google{
        background: url("/static/facebookApp/img/sprite_social.png") no-repeat scroll 0 -32px transparent;
    }
    
    ul#link-social-accounts li a#twitter{
        background: url("/static/facebookApp/img/sprite_social.png") no-repeat scroll 0 0 transparent;
    }
    .rounded-button{
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        background-color: #EEEEEE;
        border: 2px dotted #DDDDDD;
        display: inline-block;
        cursor: pointer;
        margin: 0.5em 0;
        padding: 0.3em;
        text-decoration:none;
    }
    .rounded-button:hover{
        background-color:#ddd;
        text-decoration:underline;
    }
    
    
    /****************************
     *      
     * ACCOUNT SETTINGS
     * 
     ***************************/
    #right-col #profile, #right-col #edit-profile {
        font-size:1.1em
    }
    #profile a.help-icon{
        display: inline-block;
        font-size: 1.2em;
        line-height: 4em;
        margin-left: 10px;
        vertical-align: top;
    }
    
    #edit-settings-btn{
        margin: 1.5em 0;
        text-decoration:none;
        color:white;
    }
    
    #profile dl,#edit-profile dl{
        line-height:2.5em;
        padding-left: 5px;
    }
    #profile dl dd, #edit-profile dl dd{
        padding-left: 100px;
    }
    
   #right-col #profile .section .header h2{
        margin:5px;
   }
    #profile dl#mail-notifications dt{
        display: list-item;
        list-style: square outside none;
        margin-left: 25px;
        width: 350px;
    }
    #profile div#avatar,#edit-profile div#avatar{
        
        clear: both;
        float: right;
        font-size: 1.2em;
        margin: 0;
        padding: 0 5px;
        text-align: center;
        width: 100px;
    }
    #profile div#avatar,#edit-profile div#avatar div{
        font-size: 0.8em;
        margin-top: 10px;
        text-align: left;
    }
    #profile div#avatar,#edit-profile div#avatar div input{
        display: block;
        float: left;
    }
    #profile div#avatar img,#edit-profile div#avatar img{
        margin: 5px 5px 0;
        width: 50px;
        border:0;
    }
    #profile div#avatar a,#edit-profile div#avatar a{
        text-decoration:none;
    }
    div#right-col #edit-profile ul{
        list-style: none outside none;
        margin: 5px 0;
        padding: 0 5px;
    }
    div#right-col #profile li,div#right-col #edit-profile li{
        padding: 10px 0;
    }
    div#right-col #profile li span,div#right-col #edit-profile li span,#profile dl dt,#edit-profile dl dt{
        width:150px;
        float:left;
        clear:left;
        font-weight:bold;
    }
    div#right-col #profile li a{
        padding-left: 20px;
    }
    #desinstall{
        float:right;
        margin-right:10px;
    }
    div#right-col #profile table{
        border-collapse: collapse;
        margin: 0 0.5em 1em;
        width: 535px;
    }
    div#right-col #profile table tr#head{
        font-weight:bold;
        background-color: #eee;
    }
    div#right-col #profile table td{
        border:1px solid #ccc;
        padding:0.5em;
        
    }
    div#right-col #profile span{
        font-weight:normal;
        background: url("/static/facebookApp/img/sprite_social_min.png") no-repeat scroll 0 0 transparent;
        padding-left: 20px;
        width:70px;
    }
    div#right-col #profile span#twitter-icon{
        background-position: 0 0;
    }
    div#right-col #profile span#google-icon{
        background-position: 0 -16px;
    }
    div#right-col #profile span#facebook-icon{
    
        background-position: 0 -32px;
    }
    #edit-profile form{
        border: 1px dotted #AAAAAA;
        padding: 0.5em;
    }
    #edit-profile input[type="submit"]{
		float:none;
    }
    #edit-profile div#save-button{
        margin: 0 auto;
        text-align: center;
        width: 300px;
    }
    #edit-profile input[type="text"]{
        width: 240px;
    }
    #edit-profile hr{
        visibility: hidden;
    }
    
    /****************************
     *      
     *  ACTIVITY - DASHBOARD
     * 
     ***************************/
    em.comment{
        border-left: 3px solid #CCCCCC;
        display: inline-block;
        margin: 0.5em 0 0.5em 0.5em;
        padding-left: 15px;
    }
    
    #activity .avatar{
        text-align: center;
    }
    #activity ul#friends-to-follow{
        list-style:none;
        margin:0;
        padding:0;
        font-size:1.1em
    }
    #activity ul#friends-to-follow li{
        width:100px; /*272px*/
        float:left;
        margin: 10px 0;
    }
    #activity ul#friends-to-follow li div{
/*
        float:left;
*/
    }
    #activity ul#friends-to-follow li img{
        width:50px;
        margin: 0.2em 0;
    }
    #activity ul#friends-to-follow div.user-data{
        margin-left: 10px;
        width:190px;
        line-height:2em;
    }
    #activity ul#friends-to-follow div.user-data a{
        font-weight:bold;
    }
    #activity ul#friends-to-follow div.user-data p{
        margin:0;padding:0;
    }
    #activity ul#friends-to-follow li div.follow-button{
/*
        float:right;
        right: 10px;
        position: relative;
*/
    }
    #activity ul#friends-to-follow li .follow-button a{
        line-height: 25px;
    }
    #activity ul#friends-to-follow span.waiting{
        padding: 0px 10px 0px 27px;
        background-position: 5px 4px;
    }
    
    #activity .load-more{
        background-color: #3B5998;
        border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
        border-style: solid;
        border-width: 1px;
        color: white;
        font-weight: bold;
        margin: 1.5em auto;
        padding: 2px 15px 3px;
        text-align: center;
        width: 100px;
        cursor: pointer;
    }
    

    /****************************
     *      
     *  Followers and followings
     * 
     ***************************/
    
    ul#user-list{
        list-style:none;
        margin:0;
        padding:5px;
        font-size:1.1em
    }
    ul#user-list li{
        width:100%; 
        clear:both;
    }
    ul#user-list li div{
        float: left;
        margin: 10px 0;
        width:80px;
    }
    
    ul#user-list div.user-data{
/*
        margin-left: 10px;
*/

        width:auto;

        line-height:2em;
    }
    ul#user-list div.user-data a{
 
        display: block;
        float: left;
        
    }
    ul#user-list div.user-data p{
        margin:0;padding:0;
    }
    ul#user-list li div.follow-button{
        float:right;
/*
        right: 10px;
*/
        margin:20px 5px;
        position: relative;
        width: auto;
    }
    ul#user-list li div.avatar img{
        width: 50px;
    }
    div.user-data ul{
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
    ul#user-list div.user-data ul li{
        display: inline;
        text-align: center;
    }
    ul#user-list div.user-data ul li a{
        border: 1px dotted black;
        color: black;
        margin: 0 5px;
        padding: 5px;
        text-decoration: none;
    }
    ul#user-list div.user-data ul li a span{
        display: block;
        font-size: 1.3em;
        font-weight: bold;
    }

    /****************************
     *      
     *  Public profile
     * 
     ***************************/
    #public-profile{
    }
    #public-profile h1{
        display: block;
        line-height: 0;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    #public-profile{
        float: left;
        margin-top: 5px;
        margin-bottom: 15px;

        width: 100%;

    }
    #public-profile img#user-avatar{
        max-height:50px;
        max-width:50px;
    }
    #public-profile p{
        margin:0;
    }
    
    #his_suggestions_content div.avatar img{
        margin-top: 5px;
        
    }
    #his_suggestions_content div.timeline-msg{
        border:0;
    }
    #his_suggestions_content div.avatar{
        border-bottom: 0 none;
        display: block;
        float: left;
        height: 50px;
        margin: 0 1em 0 0;
        text-align: left;
        width: 50px;
        border:0;
    }
    #his_suggestions_content span.small-text a{
        color:#555;
        text-decoration:none;
        font-weight:bold;
    }
    
    
    #his_suggestions_content ul{
        list-style: none outside none;
        padding: 0;
        margin: 0;
    }
    #his_suggestions_content ul li{
        border-bottom: 1px solid #CCCCCC;
        font-size: 1.1em;
        padding: 0.5em 1em;
    }
    div#avatar-follow{
        display: inline-block;
        margin: 15px 15px 5px 0;
        text-align: center;
        float:left;
    }
    span img{
        width:50px;
        max-width:50px;
        max-height:50px;
    }
    #public-profile #col-right-right{
        border-left: 1px dotted black;
        float: right;
        margin-top: 40px;
        padding-left: 10px;
    }
    #public-profile #menu{
        margin:10px 0
    }
    ul#user-resume{
        list-style: none outside none;
        margin: -15px 0;
        padding: 0;
        float:right;
    }
    ul#user-resume li{
        border: 1px dotted #BBBBBB;
        color: #CCCCCC;
        display: inline-block;
        margin: 0 0.3em;
        padding: 0.3em;
    }
    ul#user-resume li span#counter{
        display:block;
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: 3px;
        text-align: center;
    }
    ul#user-resume li a{
        color:#555;
        text-decoration:none;
    }
    ul#user-resume li:hover{
        
        background-color:#eee;
    }
    
    div#right-col #public-profile ul#social-networks{
        list-style: none outside none;
        margin: 5px 0;
        padding: 0;
    }
    div#right-col #public-profile ul#social-networks li{
        display: inline-block;
        margin-right: 1em;
    }
    div#right-col #public-profile ul#social-networks li a{
        font-weight:normal;
        background: url("/static/facebookApp/img/sprite_social_min.png") no-repeat scroll 0 0 transparent;
        padding-left: 20px;
        width:70px;
    }
    
    div#right-col #public-profile ul#social-networks li a#twitter-icon{
        background-position: 0 0;
    }
    div#right-col #public-profile ul#social-networks li a#google-icon{
        background-position: 0 -16px;
    }
    div#right-col #public-profile ul#social-networks li a#facebook-icon{
    
        background-position: 0 -32px;
    }
    
    #suggestion-list{
/*
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
*/
        display: block;
/*
        padding: 0.5em;
*/
    }
    #edit-profile-btn{
/*
        color: black;
        font-size: 1.2em;
        margin-left: 1em;
        padding: 0.3em 1em;
*/
/*
    padding:1em;
*/
    color:white;
    text-decoration:none;

    }
    div#public-profile span.btn{
/*
        margin-top: 15px;
*/
    }
    #user-info{
        display: block;
        float: left;
        width: 425px;
/*
        float: left;
*/
/*
        width: 475px;
*/
    }
    
            span#his_suggestions_content span.action-bar span{
                color:#0011FF;
                margin: 0 0.3em;
                text-decoration:none;
                font-size:11px;
            }
            span#his_suggestions_content ul li span.action-bar span:hover, span.action-bar a:hover{
                text-decoration:underline;
                cursor:pointer;
            }
            span#his_suggestions_content ul li span.action-bar span.like-dislike{
                margin:0;
            }
            span#his_suggestions_content ul li span.action-bar span.like-dislike:hover{
                text-decoration:none;
            }
            
            span#his_suggestions_content ul li span.like-text{
                background: url("/static/facebookApp/img/like_min.png") no-repeat scroll -2px 1px transparent;
                color: black;
                display: inline-block;
                margin-left: 0;
                padding-left: 15px;
            }
            span#his_suggestions_content ul li span.action-bar span.like-text:hover{
                text-decoration:none;
                cursor:default;
            }
            span#his_suggestions_content ul li span.action-bar a.comment{
                background: url("/static/facebookApp/img/icons/comments.png") no-repeat scroll 0 2px transparent;
                display: inline-block;
                padding-left: 20px;
            }
    
    
    /****************************
     *      
     *  Add suggestion panel
     * 
     ***************************/

    #add-suggestion form{

    }
    #add-suggestion form hr{
        margin:0;
        visibility: hidden;
}
    }
    #add-suggestion form fieldset{
        border: 0 none;
        font-size: 1.1em;
    }
    #add-suggestion form fieldset legend{
        display: inline;
        font-size: 2em;
        font-weight: bold;
        line-height: 2.5em;
    }
    #add-suggestion form fieldset input[type="text"]{
        width:350px;
    }
    #add-suggestion form fieldset label{
        display: inline-block;
        font-weight: bold;
        width: 155px;
    }
    #add-suggestion #id_description{
        clear: both;
        display: block;
        height: 4em;
        width: 100%;
    }
    #add-suggestion #show-details{
        color:blue;
        text-decoration:underline;
        cursor:pointer;
    }
    #add-suggestion #more-details{
        display:none;
    }
    #add-suggestion #more-details.visible{
        display:block;
    }
    
    #add-suggestion #error-msg{
        clear: both;
        color: red;
        display: block;
        display: none;
        text-align: center;
    }
    #suggestion-item{
        height: 110px;
        margin-bottom:0;
    }
    #suggestion-item label,#suggestion-place,#add-more-details{
        color: #555555;
        display: block;
        font-family: Helvetica Neue,Helvetica,sans-serif;
        font-size: 1.7em;
        margin: 0 0.4em 0.6em;
    }
    #suggestion-item textarea#id_name{
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 1.1em;
        height: 45px;
        line-height: 1.7em;
        margin: 11px auto;
        display:block;
        padding: 0.7em;
        width: 525px;
        
        border: 1px solid #CCC;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    #suggestion-item textarea#id_name:focus{
        border: 1px solid #CCC;
/*
        height: 40px;
*/
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;

        -moz-box-shadow: 0 0 5px blue;
        -webkit-box-shadow: 0 0 5px blue;
        box-shadow: 0 0 5px blue;
        
        padding: 0.7em;
        margin: 11px auto;
        display:block;
    }
    #suggestion-item span#counter{
        color: #777777;
        float: right;
        font-size: 1.5em;
        margin-right: 5px;
    }
    #address-container{
        border:1px solid #ccc;
        border-bottom:10px solid #ccc;
    }
    #address-container input[type="text"]{
/*
        margin: 10px 0 0 5px;
*/
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 1.1em;
        width: 450px;

    }
    .btnGmaps{
        -moz-border-radius: 2px 2px 2px 2px;
        -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
        -moz-user-select: none;
        border-radius: 2px 2px 2px 2px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
        -webkit-user-select: none;
        
        background: -moz-linear-gradient(center top , #FEFEFE, #F3F3F3) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#F3F3F3));
        border: 1px solid #A9BBDF;
        color: black;
        direction: ltr;
        font-family: Arial,sans-serif;
        font-size: 12px;
        font-weight: bold;
        
        overflow: hidden;
        padding: 0 6px;
        position: relative;
        text-align: left;
        cursor:pointer;
        
        float:left;
        margin-left:10px;
    }
    .btnGmaps img{
        height:16px;
        padding-top: 3px;
    }
    
    #address-form{
        display:none;
    }
    #place-form label{
        clear: left;
        display: inline-block;
        margin: 10px;    
        font-weight: bold;
    }
    #search-engine-layer{
        margin: 10px;
    }
        #engineSettings{
            color: #777777;
            cursor: pointer;
            margin-left: 105px;
            text-decoration: underline;
        }
        #minimizeSettings{
            color: #777777;
            cursor: pointer;
            float: right;
            font-weight: normal;
            line-height: 26px;
            margin-right: 15px;
            text-decoration: underline;
        }
        #google-places-settings,#foursquare-settings{
            background-color: #EEEEEE;
            border: 1px dotted #CCCCCC;
            margin: 1em;
            padding: 0.5em;
            display:none;
        }
        #google-places-settings:after{
            clear: both;
            content: ".";
            display: block;
            height: 0px;
            visibility: hidden;
        }
        #google-places-settings input[type="text"],#google-places-settings select{
            margin: 5px;
            width: 340px;

        }
        #google-places-settings label{
            display: inline-block;
            float: left;
            clear:left;
            margin: 5px;
            width: 120px;
        }
        #google-places-settings p,#google-places-settings label{
            margin:5px;
            font-size: 1.1em;
            font-weight:normal;
            padding: 0.2em;
        }
        #google-places-settings p{
            font-weight: bold;
            margin: 11px 5px;
        }
        #google-places-settings input[type="text"]#radius{   
            width:60px;
        }
    /****************************
     *      
     *  Suggestion panel
     * 
     ***************************/
    #suggestions{
        font-size:1.1em;
    }
    .suggestion{
    }
    
    ul#tabMenu{
        margin:0;
        padding:0;
        border-bottom: 1px dotted #DDDDDD;
        
    }
        ul#tabMenu li.clear-box{
            background: none repeat scroll 0 0 transparent;
            border: 0 none;
            color: black;
            cursor:default;
        }
        ul#tabMenu li.clear-box:hover{
            text-decoration:none;
        }
        ul#tabMenu li{
            background-color: #EEEEEE;
            border: 1px dotted #DDDDDD;
            color: blue;
            cursor: pointer;
            display: inline-block;
            font-weight: normal;
            padding: 0.5em 1em 0.2em;
        }
        ul#tabMenu li:hover{
            text-decoration:underline;
            
        }
        ul#tabMenu li.active{
            background-color: white;
            color: black;
            font-weight: bold;
            border-bottom: 0;
        }
        
    div#content{
        border-bottom:1px dotted #ddd;
        border-right:1px dotted #ddd;
        border-left:1px dotted #ddd;
    }
        div#content div.tab-content{
        }
    
        div#content #header {
            background-color: #EEEEEE;
            border-bottom: 1px solid #CCCCCC;
            cursor:default;
            font-weight:bold;
        }
        div#content div{
            line-height:2em;
            cursor:pointer;
            border-bottom: 1px solid #CCCCCC;
        }
        div#content div.collapsed,div#content div.expanded{
            border:0;
            cursor:default;
        }
            div#content div.expanded dl{
                margin: 0;
                padding: 1em;
            }
            div#content div.expanded dt{
                display: block;
                float: left;
                font-weight: bold;
                margin-right: 1em;
            }
            div#content div.expanded dd{
                display: block;
            }
            div#content div.expanded a.btn{
                clear:both
            }
            
            div#content div.expanded:after{           
                clear: both;
                content: ".";
                display: block;
                height: 0px;
                visibility: hidden;
            }
    }
            
        div#content div.suggestion:hover{
            background-color: #CCCCCC;
        }
        
        div#content div span{
            display:inline-block;
        }
            
        .checkBox{
            width:5%;
        }
        .suggestionName{
            width:68%;
        }
        .suggestionInLists{
            width:25%;
        }

        #suggestions input[type="checkbox"]{
            margin: 0 0 0 8px;
            padding: 0;
            position: relative;
            top: 3px;;
        }
        
        #suggestions #content .btn, .selectCheckBox{
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
            background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
            border-radius: 3px 3px 3px 3px;
            border-color: #BBBBBB #BBBBBB #A0A0A0;
            border-style: solid;
            border-width: 1px;
            color: #000000;
            cursor: pointer;
            font-weight: normal;
            line-height: 1.6em;
            margin: 6px 5px;
            outline: medium none;
            padding: 0 8px;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            white-space: nowrap;
        }
        
        #suggestions #content .collapseBtn{
            float: left;
        }
        
        #suggestions #content .btn:hover, .selectCheckBox:hover{
            border-style: dotted;
            border-color: black;
        }
        #suggestions .selectCheckBox{
            padding: 0 3px;
        }
        #suggestions .selectCheckBox input[type="checkbox"]{
            margin:0;
        }
    
    .prevBtn{
    }
    .nextBtn{
    }
    .removeBtn{
        float:none;
    }
    .mvBtn{
        float:none;
    }
    div#content div#noSuggestions{
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        padding: 1em;
        text-align: center;
    }
    div#content div#noSuggestions:hover{
        background-color: inherit;
        cursor:default;
    }
    
    #add-more-details{
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        background-color: #EEEEEE;
        border: 2px dotted #DDDDDD;
        display: inline-block;
        font-size: 1.2em;
        margin: 0.5em 0;
        padding: 0.3em;
        cursor:pointer;
    }
    
    /****************************
     *      
     *  View suggestion details
     * 
     ***************************/
    #view-suggestion{
    }
    #view-suggestion #autor{
        font-size: 1.5em;
        margin: 1em 0;
    }
    #view-suggestion #autor img{
        height:50px;
        width:50px;
        float:left;
    }
    #view-suggestion #autor p{
        display: inline-block;
        line-height: 50px;
        margin: 0;
        padding: 0 0 0 10px;
        vertical-align: middle;
    }
    #view-suggestion div.suggestion{
        border: 1px solid #CCCCCC;
        padding: 1em;
    }
    
    #view-suggestion div.suggestion:after{
        clear: both;
        content: ".";
        display: block;
        height: 0px;
        visibility: hidden;
    }
    #view-suggestion div.suggestion h1{
        line-height: 1em;
        margin: 0.2em 0;
        display:block;
    }
    #view-suggestion div.suggestion p{
        font-size: 1.1em;
        line-height: 1.7em;
    }
    #view-suggestion div.suggestion img{
        float: right;
        margin-top: 15px;
        border: 1px solid #AAAAAA;
    }
    #view-suggestion .likeBtn{
        margin:1em 0;
    }
    
    #view-suggestion .dontLikeSuggestion.likebtn.btn{
    }
    #view-suggestion textarea{
        width:100%
    }
    
    #view-suggestion .suggestion-element{
        padding: 0.5em;
    }
    
    #view-suggestion .suggestion-element:hover{
        background-color: #EEEEEE;
    }
    #view-suggestion .suggestion-element:after{
        clear: both;
        content: ".";
        display: block;
        height: 0px;
        visibility: hidden;
    }
    
        #view-suggestion .comments span.timestamp span.LikeComment,
        #view-suggestion .comments span.timestamp span.dontLikeComment{
/*
            display:none;
*/
            line-height: 1em;
        }
        
        
        #view-suggestion .comments .user,#view-place .comments .user{
            text-align:center;
            display:block;
            float:left;
            width: 40px;
        }
        #view-suggestion .comments .user img,#view-place .comments .user img{
            height: 25px;
            position: relative;
            top: 5px;
            width: 25px;
        }
        #view-suggestion .comments .msg,#view-place .comments .msg{
            display: block;
/*
            float: left;
*/
            font-size: 1.1em;
            line-height: 2 em;

            
        }

        
    #view-suggestion p.popular{
        font-size:1.3em;
        font-weight:bold;
    }
    #view-suggestion p.big,#view-place p.big{
        font-size: 1.5em;
        line-height: 3em;
        margin: 0;
    }
    
    #view-suggestion ul.comments,#view-place ul.comments{
        clear: both;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: relative;
        top:10px;
/*
        border-top: 1px dotted #BBBBBB;
*/
    }
    
    #view-suggestion ul.comments li,#view-place ul.comments li{
        border-top: 1px dotted #BBBBBB;
        clear: both;
        padding: 1em 0.5em;
/*
        cursor:pointer;
*/
    }
    #view-place ul.comments li{
        padding: 0.5em 0.5em;
    }
    
    #view-suggestion ul.comments li:after, #view-place ul.comments li:after{           
        clear: both;
        content: ".";
        display: block;
        height: 0px;
        visibility: hidden;
    }
    #view-suggestion ul.comments li:hover,#view-place ul.comments li:hover{
        background-color: #eee;
    }
    
    #view-suggestion ul#feeling{
        float: left;
        margin: 0;
        padding: 0;
    }
    #view-suggestion ul#feeling li{
        display:inline-block;
        padding:0 1em;
    }

    /****************************
     *      
     *  View place details
     * 
     ***************************/
    #view-place{
        
    }
    #place-container{
        border: 1px solid #CCCCCC;
        margin: 1em 0;
        padding: 1em;
    }
    #place-container:after{           
        clear: both;
        content: ".";
        display: block;
        height: 0px;
        visibility: hidden;
    }
    #place-details{
        float: left;
        width: 270px;
    }
    #place-pictures{
        float: right;
        margin-top: 15px;
        text-align: center;
/*
        width: 275px;
*/
    }
    #place-details p a{
        font-size:1.2em
    }
    #view-place h1{
        line-height: 1em;
        margin: 0.2em 0;
    }
