/**
 * Document
 */
body{
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    text-align: left;
}
#container {
  width: 760px;
  margin: 0 auto;
}

#left-col{
    
    
    float: left;
    width: 180px;
}
    div#left-col a#logo img{
        border:0;
        width:170px;
    }
    
    div#left-col ul{
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
    div#left-col li{
        padding: 5px 0;
        
    }
    div#left-col li a{
        color: black;
        display: block;
        line-height: 19px;
        padding-left: 25px;
        text-decoration: none;
        width: 160px;
    }
    div#left-col li:hover{
        background-color:#eff2f7
    }
    
    #fb-last-news {
        background-position: 0 -22px;
    }
    #fb-events {
        background-position: 0 -42px;
    }
    #fb-wall {
        background-position: 0 0;
    }
    
    .menu-icons a{
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        width: 17px;
    }

    .fb-icons a {
        background-image: url("/static/facebookApp/img/fb-icons.png");
    }
    
    div#left-col hr{
        border: 1px solid #D3D3D3;
    }


/**
 * Document
 */
#right-col{
    border-left: 1px solid #B3B3B3;
    float: left;
    padding-left: 20px;
    width: 555px;
    min-height:500px
}

    #right-col #register-panel h1{
        border-bottom: 2px solid #CCCCCC;
        font-size: 2em;
        padding: 5px 0 20px;
        text-align: left;
    }
    #right-col h2{
        font-size:1.5em;
        
    }
    #right-col #register-panel{
        text-align:center;
    }
    #right-col #register-panel p{
        font-size: 1.4em
    }
    #right-col #register-panel #video{
        clear: both;
        margin: 0 auto 30px;
        width: 399px;
    }
    #right-col .left{
        float:left;
    }
    #right-col .right{
        float:right;
    }
    
