/**
 * Document
 */
body{
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    text-align: left;
}
#container {
  width: 760px;
  margin: 0 auto;
}

#left-col{
    
    
    float: left;
    width: 180px;
}
    div#left-col a#logo img{
        border:0;
        width:170px;
    }
    
    div#left-col ul{
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
    div#left-col li{
        padding: 5px 0;
        
    }
    div#left-col li a{
        color: black;
        display: block;
        line-height: 19px;
        padding-left: 25px;
        text-decoration: none;
        width: 155px;
    }
    div#left-col li:hover{
        background-color:#eff2f7
    }
    
    #fb-last-news {
        background-position: 0 -22px;
    }
    #fb-events {
        background-position: 0 -42px;
    }
    #fb-wall {
        background-position: 0 0;
    }
    
    .menu-icons a{
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        width: 17px;
    }

    .fb-icons a {
        background-image: url("/static/facebookApp/img/fb-icons.png");
    }


/**
 * Document
 */
#right-col{
    border-left: 1px solid #B3B3B3;
    float: left;
    padding-left: 20px;
    width: 555px;
    min-height:500px;
    font-size: 1.2em;
    line-height: 1.5em;
}

    #right-col #register-panel h1{
        border-bottom: 2px solid #CCCCCC;
        font-size: 2em;
        padding: 5px 0 20px;
        text-align: left;
    }
    #right-col h2{
        font-size:1.3em;
        
    }
    #right-col #register-panel{
        text-align:center;
    }
    #right-col #register-panel p{
        font-size: 1.2em
    }
    #right-col #register-panel #video{
        clear: both;
        margin: 0 auto 30px;
        width: 399px;
    }
    #right-col .left{
        float:left;
    }
    #right-col .right{
        float:right;
    }
    
    
    /* COMMON */
    #right-col .section .header, .right-col .section .article .header{
        border-bottom: medium none;
        border-top: 1px solid #E2E2E2;
        background-color:#F2F2F2;
        padding:0 5px;
        height:30px;
    }
    #right-col .section p, #right-col .section h3{
        padding:0 5px;
    }
    #right-col .section .header p, .right-col .section .article .header p{
        float:right;
    }
    #right-col .section .header h2,#right-col .section .article .header h2{
        font-size:11px;
        float:left;
    }
    .error-msg{
         display: block;
    }
    .error-msg ul{
    }
    .error-msg ul li{
    }
    div#left-col hr,#right-col hr{
        border: 1px solid #D3D3D3;
        clear:both;
    }
    
    input[type="submit"], input[type="button"]{
        border-style: solid;
        border-width: 1px;
        border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
        background-color: #3B5998;
        color: white;
        padding: 2px 15px 3px 15px;
        text-align: center;
        float:right
    }

    input[type="submit"]:hover, input[type="button"]:hover{
        cursor:pointer;
    }
    .footer-notes{
        color: #777;
        font-size:0.9em
    }
    .note{
        color: #777;
        font-size:0.9em;
        border:1px solid #ccc;
        padding: 5px;
    }
    .note a{
        color: inherit;
        padding-left: 10px;
    }
    
    /* Create Social Profile */
    #SocialUserProfile-form label{
        clear: left;
        display: block;
        float: left;
        font-size: 1 em;
        line-height: 1.8em;
        width: 80px;
        font-weight: bold;
        margin: 9px 0;
    }
    #SocialUserProfile-form .error-msg{
        border:1px solid red;
        clear:both;
        display: none;
    }
    #SocialUserProfile-form .error-msg ul{

    }
    
    #SocialUserProfile-form input{
        clear: right;
        float: left;
/*
        display: block;
*/
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 1em;
        margin: 10px 0;
    }
    #SocialUserProfile-form input[type="submit"]{
        clear:both;
        float:right;
    }
    
    ul#link-social-accounts{
        list-style: none outside none;
        margin: 0 auto;
        padding: 0;
        width: 450px;        
    }
    
    #link-social-accounts li{
        -moz-border-radius: 15px 15px 15px 15px;
        -webkit-border-radius: 15px 15px 15px 15px;
        background-color: #FFEE7F;
        border: 2px solid #FFCB04;
        list-style: none outside none;
        margin: 10px;
        padding: 10px;
    }
    #link-social-accounts li:hover{
        background-color: #FFCB04;
    }

    #link-social-accounts li a{       
        color: black;
        display: block;
        font-size: 1.1em;
        line-height: 32px;
        padding-left: 40px;
        text-decoration: none;
    }
    ul#link-social-accounts li a#google{
        background: url("/static/facebookApp/img/sprite_social.png") no-repeat scroll 0 -32px transparent;
    }
    
    ul#link-social-accounts li a#twitter{
        background: url("/static/facebookApp/img/sprite_social.png") no-repeat scroll 0 0 transparent;
    }
    
    
    /* PROFILE */
    #profile dl{
        line-height:2.5em;
        padding-left: 5px;
    }
    #profile dl dd{
        padding-left: 100px;
    }
   
    #profile dl#mail-notifications dt{
        display: list-item;
        list-style: square outside none;
        margin-left: 25px;
        width: 350px;
    }
    
    div#right-col #profile ul{
        list-style: none outside none;
        margin: 5px 0;
        padding: 0 5px;
    }
    div#right-col #profile li{
        padding: 10px 0;
    }
    div#right-col #profile li span,#profile dl dt{
        width:120px;
        float:left;
        clear:left;
        font-weight:bold;
    }
    div#right-col #profile li a{
        padding-left: 20px;
    }
    #desinstall{
        float:right;
        margin-right:10px;
    }
    
    
    
