{% extends "base.admin.html" %}
{% load calendar_tag %}

{% block title %}GeoRemindMe - Administration - Index{% endblock %}

{% block content %}
<h1><a href="{% url geoadmin.views.index %}">Administration</a></h1>
    <header><h2>Administrable models:</h2></header>
    <ul>
            {% for k,v in models.items %}
              <li><a href="{% url geoadmin.views.list k %}">{{ k }}</a> - {{v}}</li>
            {% endfor %}
        </ul>
        {% calendar Alert for 11 2010 as var %}
        {{var}}
        {% if stats %}
<header><h2>Datastore stats:</h2></header>
<p>Total Entities: {{ stats.count }}</p>
<p>Total bytes stored: {{ stats.bytes }}</p>
<p>Last stats updated: {{ stats.timestamp|date }}</p>
{% endif %} 
{% endblock %}f
