{% extends "base.admin.html" %}

{% block title %}GeoRemindMe - Administration - {{ adminmodel }} {% endblock %}

{% block content %}
<h1><a href="{% url geoadmin.views.index %}">Administration</a></h1>
    <header><h2>{{adminmodel}} list:</h2></header>
		<table>
          <tr id="header">
          <td>Key</td>
          {% for h in header %}
              <td>{{h}}</td>
          {% endfor %}
          </tr>
          {% for m,v in models.items %}
          <tr>
              <td><a href="{% url geoadmin.views.edit adminmodel m %}">{{m}}</a></td>
              {% for k,v in v.items %}
              <td>{{v}}</td>
              {% endfor %}
          </tr>
        {% endfor %}
      </table>
		{% if stats %}
		
		
<header><h2>Datastore stats:</h2></header>
<p>Total Entities: {{ stats.count }}</p>
<p>Total bytes stored: {{ stats.bytes }}</p>
<p>Last stats updated: {{ stats.timestamp|date }}</p>
{% endif %} 
{% endblock %}
