{% extends "webapp/base.html" %}

{% load i18n %}

{%block extra_js%}
<script type="text/javascript">
   
$(document).ready(function(){
   /*
    * Here the triggers with animations and validations of the 
    * register form
   */
    $("input[name='registerEmail']")
        .focus(function(){
         if ($(this).val()=="email") 
            $(this).val('');
         $('#imgEmailLogin').attr('src','/static/webapp/img/mailActive.png');
      })
        .blur(checkEmail);
    
   
    $("#userRegisterPass1,#userRegisterPass2")
      .blur(checkPasswords)
      .keyup(checkPasswords)
      .focus(function(){$('#imgPasswordLogin').attr('src','/static/webapp/img/passIconActive.png')})
      .blur(function(){$('#imgPasswordLogin').attr('src','/static/webapp/img/passIconInactive.png')});

      
   //With this you can check the terms making click on the text
   $('#textTermsCheckbox').click(function(){
      if(!$("#termsCheckbox").is(':checked'))
         $("#termsCheckbox").attr('checked',true);
      else
         $("#termsCheckbox").attr('checked',false);
   });
   
   
   {% if login%}setTimeout(function(){$('#signinBtn').click();},500);{%endif%}
});
</script>
{%endblock%}

{%block tooltipLogo%}{%endblock%}
{%block section%}id="private-beta"{%endblock%}
{% block content %}

   <div id="description">
      <h2>{% trans "GeoRemindMe allows you to link alerts to places." %}</h2><p>{% trans "Geolocate your reminders with GeoRemindMe!" %}</p>

      <span id="iframeVideo"></span>
      <div id="know_more">
         <a href="{%url knowmore%}" title="{% trans "Screenshots, licenses, versions, etc."%}" accesskey="m">{% trans "Learn more"%}</a>
      </div>
   </div>
   <div id="form-invitation-request">
      <p class="new_msg">{% trans "Request an invitation for the <strong>Private Beta</strong>"%}</p>
      <p>{% trans "The application is still under development, so it's not completely functional yet." %}</p>
      <p>{% trans "<strong>If you are interested on helping us to test and improve the application</strong>, please <a href='https://spreadsheets.google.com/viewform?formkey=dEFPeHBiSktzeFluM3dRQnNvVnFCUXc6MQ' accesskey='f'>fill this form</a> and we will send you and invitation as soon as possible." %}</p>
      <p id="invitation-request"><a href="https://spreadsheets.google.com/viewform?formkey=dEFPeHBiSktzeFluM3dRQnNvVnFCUXc6MQ" accesskey="i">{% trans "Request an invitation"%}</a></p>
      <p>{% trans "<em>Or if you prefer we can contact you when the <a href='/knowmore/#keep-up-to-date'  accesskey='u'>version for you device</a> is available.</em>" %}</p>
   </div>

{%endblock%}

