{% extends "webapp/base.html" %}

{% load i18n %}

{% block extra_js %}
<script type="text/javascript" src="/static/webapp/js/static.js"></script> 

<!-- Loading lightbox plugin--> 
<script type="text/javascript" src="/static/webapp/js/jquery.lightbox-0.5.js"></script> 
<link rel="stylesheet" type="text/css" href="/static/webapp/style/jquery.lightbox-0.5.css" media="screen" /> 
 <script type="text/javascript"> 
    $(function() {
        $('.screenshots a').lightBox();
    });
    $(document).ready(function(){

   }
 </script> 
{%endblock%}

{%block section%}id="know-more"{%endblock%}

{%block breadcumb%}
   <nav> 
      <a href="/">{% trans "Back to home" %}</a> 
   </nav>
{%endblock%}
   

{%block content%}

   <!-- Inicio del login -->
         <figure id="DizzyChicken">
            <img id="DizzyImage" alt="Dizzy Chicken" src="/static/webapp/img/dizzy_chicken.png">
         </figure>
               <!-- fin del login -->
               
        <div id="big-text">  
         <p>¡Oops Error 500!</p>
         <p>Tenemos una buena y una mala noticia; la mala es que ha ocurrido un fallo, la buena es que nos has ayudado a encontrarlo y ya lo hemos registrado. Estamos trabajando para solucionarlo lo antes posible.</p>
         
         <!--Begin of the content-->
         <!--Description section-->
         <div id="cse" style="width: 100%;">Loading</div>
         <script src="http://www.google.com/jsapi" type="text/javascript"></script>
         <script type="text/javascript">
            google.load('search', '1', {language : 'en'});
            google.setOnLoadCallback(function() {
            var customSearchControl = new google.search.CustomSearchControl('011889005247941996496:qcne7x6hzj4');
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            customSearchControl.draw('cse');
            
            var textSearch="{{request.get_full_path}}";
            textSearch=textSearch.substring(1, textSearch.length-1);
            $("input[type=text]").focus().val(textSearch);
            $("input[type=text]").submit()
            }, true);
         </script>
         <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /> 
<style type="text/css">
      .cse .gsc-control-cse div, .gsc-control-cse div {
    text-align: left;
    </style>
      </div>
{%endblock%}
