{% extends "generic/base_generic.html" %}

{% load i18n %}

{% block extra_js %}
    <script type="text/javascript" src="/static/webapp/js/static.js"></script> 
{%endblock%}

{%block breadcumb%}
   <nav> 
      <a href="/">{% trans "Volver al inicio" %}</a> 
   </nav>
{%endblock%}
   
{%block body%}
    <div id="big-text" class="error500">  
        <h1>¡Oops Se ha producido un error en la página!</h1>
        <figure id="DizzyChicken">
            <img id="DizzyImage" alt="Dizzy Chicken" src="/static/webapp/img/dizzy_chicken.png">
        </figure>
        <p>
            Gracias por detectarlo!, empezaremos lo antes posible a solucionarlo.
        </p>

        <!--Begin of the content-->
        <!--Description section-->
        <div id="cse" style="width: 100%;">Loading</div>
        
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
            google.load('search', '1', {language : 'en'});
            google.setOnLoadCallback(function() {
                var customSearchControl = new google.search.CustomSearchControl('011889005247941996496:qcne7x6hzj4');
                customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
                customSearchControl.draw('cse');

                var textSearch="{{request.get_full_path}}";
                textSearch=textSearch.substring(1, textSearch.length-1);
                $("input[type=text]").focus().val(textSearch);
                $(".gsc-input input[type=text]").submit()
            }, true);
        </script>
        
        <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /> 
        <style type="text/css">
            .cse .gsc-control-cse div, .gsc-control-cse div {
            text-align: left;
        </style>
    </div>
{%endblock%}
