{% extends "base.html" %}
{% load i18n %}

{% block extra_js %}
<script src="/static/facebookApp/js/suggestion.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=es&region=ES"></script>


<script type="text/javascript">
    $(document).ready(function(){
        
        
        $('#id_name').keyup(function(){
            $('#counter').text(500-$('#id_name').val().length);
        })
        $('#id_name').trigger('keyup');
        
        //Inicialize Google Maps
        //Buscamos la ciudad del residencia del usuario
        $.get('http://maps.googleapis.com/maps/api/geocode/json?address=granada,spain&sensor=false', 
            {},
            function(data){
                console.log(data);
            }, "json"
        );

        
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = {
          zoom: 8,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(  document.getElementById("map_canvas"),
                                        myOptions);
        
    });
</script>
{%endblock%}

{% block title %}Add new suggestion{% endblock %}

{% block goBack %}{%endblock%}    
{% block body %}
    <div id="add-suggestion">
        <h1>Añadir una sugerencia</h1> 
        {% include "forms/SuggestionForm.html" %}
    </div>
{%endblock%}
