{% extends "base.html" %}
{% load i18n %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    $("form").submit(function() {
        var params = { 
            name: $('#id_name').val(), 
            place_id: $('#id_place_id').val(), 
            description: $('#id_description').val(),
            starts_month: $('#id_starts_month').val(),
            starts_day: $('#id_starts_day').val(),
            starts_year: $('#id_starts_year').val(),
            ends_month: $('#id_ends_month').val(),
            ends_day: $('#id_ends_day').val(),
            ends_year: $('#id_ends_year').val(),
            visibility: $('#id_visibility').val()
        };
        
        
        
        $.ajax({
            type: "POST",
            url: "/ajax/add/suggestion/",
            data: jQuery.param(params),
            //context: document.body,
            success: function(msg){
                console.log(msg)
                return false;
            }
        });
        return false;
    });
});
</script>

{%endblock%}

{% block title %}Add new suggestion{% endblock %}

{% block goBack %}{%endblock%}    
{% block body %}
    <div id="add-suggestion">
        <h1>Añadir una sugerencia</h1> 
        <form id="add-suggestion-form" action="javascript:alert('success!');" >
    <!--
            name = forms.CharField(required=True)
            place_id = forms.IntegerField(required=True, initial=-1)
            starts = forms.DateTimeField(required=False, widget=SelectDateWidget())
            ends = forms.DateTimeField(required=False, widget=SelectDateWidget())
            description = forms.CharField(required=False,widget=forms.Textarea())    
            done = forms.BooleanField(required=False)
            visibility = forms.ChoiceField(required=True, choices=VISIBILITY_CHOICES)
    -->
            <fieldset>
            <p>
                <label>Sugiero que...</label>
                {{f.name}}
            </p>
            <p>
                <label>¿Dónde se puede hacer?:</label>
                {{f.place_id}}
                <span>Mostrar mapa</span>
            </p>
            
            <span id="show-details" onclick="$('#more-details').toggle('fast')">Más detalles</span>
            <div id="more-details">
                <p>
                    <label>{{f.description.label}}:</label>
                    {{f.description}}
                </p>
                <p>
                    <label>{{f.visibility.label}}:</label>
                    {{f.visibility}}
                </p>
                <p>Si esta sugerencia solo es posible hacerla en unas fechas concretas por favor indícanos cuales son.</p>
                <p>
                    <label>{{f.starts.label}}:</label>
                    {{f.starts}}
                </p>
                <p>
                    <label>{{f.ends.label}}:</label>
                    {{f.ends}}
                </p>
            </div>
            
            
            
            
            <div>
                <input type="submit" value="{% trans 'Añadir' %}" title="{% trans 'Please fill up all fields' %}">
            </div>
        </form>
    </div>
{%endblock%}
