<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    <title>
      {% block title %}Welcome{% endblock %} &mdash; GeoRemindMe
    </title>
    <meta name="description" content="Track and share your runs with friends.">
    <link type="text/css" rel="stylesheet" href="/static/facebookApp/awesome-buttons.css">
    <link type="text/css" rel="stylesheet" href="/static/facebookApp/main.css">
</head>
<body>
    <div id="doc">
        <div class="hd">
            <a class="logo" href="/">GeoRemindMe</a>
        </div>

        <div class="bd">
            {% block body %}{% endblock %}
        </div><!-- .bd -->
        <a class="logout" onclick="FB.logout()">Logout</a>
        
        
    </div>

    <script src="/static/facebookApp/main.js"></script>
    <div id="fb-root"></div>
    
    <script>
        <!-- async loading of facebook js sdk  -->
        window.fbAsyncInit = function() { 
            facebookInit({{data.js_conf|safe}}) 
        };
        
        (function() {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());



        <!--  async loading of google analytics -->
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19854556-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>
