{% load tags %}

{% url fb_dashboard as dashboard %}
{% url fb_profile_settings as profile_settings %}
{% url fb_user_suggestions as user_suggestions %}
{% url fb_public_profile request.user.username as public_profile %}


<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    <title>
      {% block title %}Welcome{% endblock %} &mdash; GeoRemindMe
    </title>
    <meta name="description" content="Track and share your runs with friends.">
    <link type="text/css" rel="stylesheet" href="/static/facebookApp/css/main.css">
    
    <script type="text/javascript" src="/static/webapp/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/webapp/js/common.js"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>

    {% block extra_js %}{%endblock%}
   
</head>
<body>
    <div id="container">


        <div id="left-col">
            <a id="logo" href="{{dashboard}}"><img src="/static/facebookApp/img/header_logo.png" alt="GeoRemindMe logo"></a>
        
            {% block mainButton %} 
                <a href="{% url fb_add_suggestion %}" id="btn-add-suggestion">Añadir sugerencia</a>
            {% endblock %}
            
            <hr>
        
            {% block nav %} 
                <ul>
                    <li class="menu-icons main-menu-icons" id="{% active request dashboard %}"><a id="activity-icon" href="{{dashboard}}" title="Dashboard">Actividad</a></li>
                    <li class="menu-icons main-menu-icons" id="{% active request user_suggestions %}"><a id="vault-icon" href="{{user_suggestions}}">Baúl de sugerencias</a></li>
<!--
                    <li class="menu-icons main-menu-icons"><a id="suggestions-icon" href="{{user_suggestions}}">Tus sugerencias</a></li>
-->
                    <li class="menu-icons main-menu-icons"><a id="notifications-icon" href="#">Notificaciones</a></li>
                    <li class="menu-icons main-menu-icons"><a id="places-icon" href="#">Sitios</a></li>
                    <li class="menu-icons main-menu-icons" id="{% active request public_profile %}"><a id="profile-icon" href="{{public_profile}}">Mi perfil</a></li>
                    <li class="menu-icons main-menu-icons" id="{% active request profile_settings %}"><a id="settings-icon" href="{{profile_settings}}">Configuración</a></li>
                </ul>
            {% endblock %}
            <hr>
            <p><strong>Facebook</strong>:</p>
            <ul>
                <li class="menu-icons fb-icons"><a id="fb-grm" href="http://www.facebook.com/GeoRemindMe" onclick="parent.location.href='http://www.facebook.com/GeoRemindMe'">Página de fans</a></li>
                <li class="menu-icons fb-icons"><a id="fb-last-news" href="http://www.facebook.com/?sk=nf" onclick="parent.location.href='http://www.facebook.com/?sk=nf'">Últimas noticias</a></li>
                <li class="menu-icons fb-icons"><a id="fb-wall" href="http://www.facebook.com/profile.php?id=100002576624564&sk=wall" onclick="parent.location.href='http://www.facebook.com/profile.php?id={{user.facebook_user.uid}}&sk=wall'">Muro</a></li>
                <li class="menu-icons fb-icons"><a id="fb-events" href="http://www.facebook.com/?sk=events&ap=1" onclick="parent.location.href='http://www.facebook.com/?sk=events&ap=1'">Eventos</a></li>
            </ul>
        </div>
        
        <div id="right-col">
            {% block goBack %}<p id="go-back" onclick="javascript:history.back()">Volver atrás</p>{% endblock %}
            {% block body %}{% endblock %}
        </div>


    </div>
    <hr id="bottom-bar">
    <div id="fb-root"></div>
    <div id="templates"></div>

    <script src="/static/facebookApp/js/main.js"></script>
    <script>
        <!-- async loading of facebook js sdk  -->
        window.fbAsyncInit = function() { 
            facebookInit({'appId':{{app_settings.appId}}, 
            status : true,
            cookie: true,
            'canvasName':'{{app_settings.canvasName}}'})
            FB.Canvas.setSize();

        };
        
        <!--  async loading of google analytics -->
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19272923-3']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
