
<script id="browser-ie" type="text/x-jquery-tmpl" style="display:none">
    <h1>Tenemos una buena y una mala noticia</h1>
    <p>
        Empecemos por la mala, tu navegador (Internet Explorer ${version}) no está actualizado, lo que conlleva lo siguiente:
    </p>
    <ul>
        <li>No estás protegido ante algunos ataques de seguridad.</li>
        <li>Navegas a menos velocidad.</li>
        <li>Las páginas de última tecnología no te funcionarán correctamente.</li>
        <li>¡Y desgraciadamente no puedes usar GeoRemindMe!</li>
        <li><a href="http://www.updateyourbrowser.net/es/">Otros problemas que conlleva no tener el navegador actualizado</a></li>
    </ul> 
        
    <p>La buena noticia es que <strong>puedes solucionar todos estos problemas gratuitamente ahora</strong>, aquí te dejamos dos alternativas:</p>
    <ol>
        <li><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">Instalando la última versión de Internet Explorer</a></li>
        <li><a href="http://www.updateyourbrowser.net/es/">Instalando la última versión de otro navegador</a></li>
    </ol>
    <p>Si tienes alguna duda puedes escribirnos a info@georemindme.com</p>
    <p>
        Perdona las molestias,<br>
        <a href="http://www.facebook.com/hhkaos">Raúl Jiménez</a>.<br>
        <a href="http://www.facebook.com/hhkaos"><img src="/user/hhkaos/picture/" alt="Foto de Raúl Jiménez Ortega"/></a>
        
    </p>
</script>

<script id="browser-mozilla" type="text/x-jquery-tmpl" style="display:none">
    <h1>Tenemos una buena y una mala noticia</h1>
    <p>
        Empecemos por la mala, tu navegador (Mozilla ${version}) no está actualizado, lo que conlleva lo siguiente:
    </p>
    <ul>
        <li>No estás protegido ante algunos ataques de seguridad.</li>
        <li>Navegas a menos velocidad.</li>
        <li>Las páginas de última tecnología no te funcionarán correctamente.</li>
        <li>¡Y desgraciadamente no puedes usar GeoRemindMe!</li>
        <li><a href="http://www.updateyourbrowser.net/es/">Otros problemas que conlleva no tener el navegador actualizado</a></li>
    </ul> 
        
    <p>La buena noticia es que <strong>puedes solucionar todos estos problemas gratuitamente ahora</strong>, aquí te dejamos dos alternativas:</p>
    <ol>
        <li><a href="http://www.mozilla.org/es-ES/firefox/">Instalando la última versión de Mozilla Firefox</a></li>
        <li><a href="http://www.updateyourbrowser.net/es/">Instalando la última versión de otro navegador</a></li>
    </ol>
    <p>Si tienes alguna duda puedes escribirnos a info@georemindme.com</p>
    <p>
        Perdona las molestias,<br>
        <a href="http://www.facebook.com/hhkaos">Raúl Jiménez</a>.<br>
        <a href="http://www.facebook.com/hhkaos"><img src="/user/hhkaos/picture/" alt="Foto de Raúl Jiménez Ortega"/></a>
        
    </p>
</script>

<script id="browser-chrome" type="text/x-jquery-tmpl" style="display:none">
    <h1>Tenemos una buena y una mala noticia</h1>
    <p>
        Empecemos por la mala, tu navegador (Google Chrome ${version}) no está actualizado, lo que conlleva lo siguiente:
    </p>
    <ul>
        <li>No estás protegido ante algunos ataques de seguridad.</li>
        <li>Navegas a menos velocidad.</li>
        <li>Las páginas de última tecnología no te funcionarán correctamente.</li>
        <li>¡Y desgraciadamente no puedes usar GeoRemindMe!</li>
        <li><a href="http://www.updateyourbrowser.net/es/">Otros problemas que conlleva no tener el navegador actualizado</a></li>
    </ul> 
        
    <p>La buena noticia es que <strong>puedes solucionar todos estos problemas gratuitamente ahora</strong>, aquí te dejamos dos alternativas:</p>
    <ol>
        <li><a href="http://www.google.es/chrome">Instalando la última versión Google Chrome</a></li>
        <li><a href="http://www.updateyourbrowser.net/es/">Instalando la última versión de otro navegador</a></li>
    </ol>
    <p>Si tienes alguna duda puedes escribirnos a info@georemindme.com</p>
    <p>
        Perdona las molestias,<br>
        <a href="http://www.facebook.com/hhkaos">Raúl Jiménez</a>.<br>
        <a href="http://www.facebook.com/hhkaos"><img src="/user/hhkaos/picture/" alt="Foto de Raúl Jiménez Ortega"/></a>
        
    </p>
</script>
