
<script id="browser-error" type="text/x-jquery-tmpl" style="display:none">
    <div id="browser-error-msg">
        <h1>UupSs! Tenemos una buena y una mala noticia</h1>
        <p>
            <span class="bad-news">La mala es que tu navegador (<strong>${browser} ${version}</strong>) no está actualizado</span>, lo que significa que:
        </p>
        <ul>
            <li>No estás protegido ante algunos ataques de seguridad.</li>
            <li>Navegas a menos velocidad de la podrías.</li>
            <li>Las páginas de usan las últimas tecnologías no te funcionarán correctamente.</li>
            <li>Y desgraciadamente no puedes usar GeoRemindMe :-(</li>
            <li><a href="http://www.updateyourbrowser.net/es/">Ver otros problemas</a>.</li>
        </ul> 
            
        <p><span class="good-news">La buena noticia es que <strong>puedes solucionar todos estos problemas gratuitamente ahora</strong>, aquí te dejamos dos alternativas:</span></p>
        <ol>
            <li><a href="${download_url}">Instalando la última versión de ${browser}</a></li>
            <li><a href="http://www.updateyourbrowser.net/es/">Instalando la última versión de otro navegador</a></li>
        </ol>
        <p>Si tienes alguna duda puedes escribirnos a <a href="mailto:info@georemindme.com">info@georemindme.com</a></p>
        <p>
            Perdona las molestias,<br>
            <a href="http://www.facebook.com/hhkaos">Raúl Jiménez</a>.<br>
            <a href="http://www.facebook.com/hhkaos"><img src="/user/hhkaos/picture/" alt="Foto de Raúl Jiménez Ortega"/></a>
            
        </p>
    </div>
</script>
