{% extends "base.html" %}
{% load i18n %}


{% block mainButton %}{% endblock %}

{% block nav %} 
    {% include "register_menu.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    function toggle_showMore(){
        if($('#show-more-text').css('display')!="none")
            $('.show-more').html("[Ver más]")
        else
            $('.show-more').html("[Ocultar]")
        
        $('#show-more-text').toggle('slow')
    }
    $(document).ready(function(){
        $('#last-step').click(function(){
            $('#step-one').slideUp(400);
            $('#step-two').slideDown(400);
        })
        $('#first-step').click(function(){
            $('#step-two').slideUp(400);
            $('#step-one').slideDown(400);
        })
    });
</script>
{% endblock %}

{% block body %}
    <div id="social-profile">
        <h1>¡Genial ya estás dentro!, solo 1 minuto más</h1>
        <p>Antes de empezar solo necesitamos comentarte 2 cositas.</p>
        
        <hr>
        <div id="step-one" {%if form.errors %}style="display:none"{%endif%}> 
            <h2>Paso 1 de 2: Recibe más y mejores sugerencias</h2>
            <p>
                Para recibir sugerencias de mejor calidad, lo más importante es que te conectes con usuarios que compartan gustos contigo.<br>
            </p>
            <p>
                <strong>Comprueba ahora<sup>(1)</sup> cuales de tus amigos ya están en GeoRemindMe!</strong>:
            </p>
            <ul id="link-social-accounts">
            {% if not user.twitter_user %}
                <li><a id="twitter" href="/ext/twitter/contacts/" target="_blank"><strong>Buscar ahora</strong> entre las personas que sigo en Twitter</a></li>
            {% endif %}
            {% if not user.facebook_user %}
                <li><a id="facebook" href="/ext/facebook/contacts/" target="_blank"><strong>Buscar ahora</strong> entre mis amigos de Facebook</a></li>
            {% endif %}
            {% if not user.google_user %}
                <li><a id="google" href="/ext/google/contacts/" target="_blank"><strong>Buscar ahora</strong> entre mis contactos de Gmail</a></li>
            {% endif %}
            </ul>
            <span class="btn" id="last-step">Paso 2</span>
            <div class="note clear">
                <strong class="show-more" onclick="javascript:toggle_showMore()">[Ver más]</strong><strong>(1)</strong>: 
                En ningún momento enviaremos ningún correo electrónico... <div id="show-more-text"> a tus contactos sin tu permiso. 
                Nosotros también hemos pasado por página que envían correos a nuestros usuarios sin nuestro permiso pero nosotros
                no somos de esta clase. 
                <br><br><strong>Tan solo queremos ofrecerte una herramienta con todas las comodidades.</strong><br><br>
                
                    Un saludo y gracias por confiar en <a href="http://georemindme.com/team" target="_blank">nosotros</a>.
                
                </div>
            </div>
        </div>
        <div id="step-two"  {%if not form.errors %}style="display:none"{%endif%}>
            <h2>Paso 2 de 2: Completa tu perfil</h2>
            <p>
                Por último, y para poder terminar de configurar tu cuenta,
                necesitamos que nos confirmes cual quieres que sea tu nombre
                de usuario <sup>(1)</sup>.
            </p>
            {% include "forms/SocialUserForm.html" %}
            <hr>
            <p class="footer-notes">
                (1) Actualmente el nombre de usuario puede ser cambiado en cualquier momento salvo que esté reservado por otro usuario.<br>
                Una vez elegido el nombre de usuario, este se utilizará para crear tu perfil público .
            </p>
        </div>
    </div>
{%endblock%}
