{% extends "base.html" %}
{% block extra_js %}
    <script type="text/javascript">
    <!--
        function follow(userid,username) {
            var data = { "userid" : userid};
            if(username!=null)
                data["username"]=username;
            var url = 'http://localhost:8080/ajax/add/following/'
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(data){
                    //console.log(data)
                    }
            });
        }
        $(document).ready(function(){
            
        });
    //-->
    </script>
{%endblock%}

{% block title %}Recent Runs{% endblock %}
{% block body %}
    <h1>Timeline</h1>
    <ul>
        <li>Timeline</li>
        <li><a href="/fb/profile">Mis datos</a></li>
    </ul>
    <h2>Friendlist</h2>
    {% for f in friends %}
        amigo {{f.name}}<br>
    {% endfor %}
    
    {% if friends_to_follow %}
        <h2>Te siguen</h2>
        {% for f in followers %}
            {% if f.avatar%}
                <img src="{{f.avatar}}" alt="{{f.username}} avatar"/>
            {% else %}
                <img src="/static/facebookApp/img/no_avatar.png" style="width:50px" alt="{{f.username}} avatar"/>
            {% endif %}
            Username={{f.username}}
            
            
        {% endfor %}
        <h2>Sigues</h2>
        {% for f in followings %}
            {% if f.avatar%}
                <img src="{{f.avatar}}" alt="{{f.username}} avatar"/>
            {% else %}
                <img src="/static/facebookApp/no_avatar.png" alt="{{f.username}} avatar"/>
            {% endif %}
            Username={{f.username}}
        {% endfor %}
        <h2>Amigos sugeridos</h2>
        <p>De tus amigos de facebook usan GeoRemindMe para hacer recomendaciones:</p>
        <ul>
            <li>
            {% for f in friends_to_follow %}
                <a href="/fb/user/{{f.id}}" title="Ver perfil en GeoRemindMe">
                    <fb:profile-pic uid="{{ f.uid }}" linked="false" /></fb:profile-pic>
                    {% if f.uid %}
                        <fb:name uid="{{ f.uid }}" linked="false" capitalize="true" /></fb:name> | <span id="follow_{{ f.uid }}" onclick="javascript:follow({{f.id}} {% if username %},'{{f.username}}'{% endif %})"><a href="#">Seguir</a></span>
                    {% else %}
                        Un NO-usuario de facebook
                    {% endif %}
                </a>
            {% endfor %}
            </li>
        </ul>
    {% endif %}
<!--
    <fb:name uid="{{current_user.id}}" capitalize="true" />
-->


    
    
    
{% endblock %}
