{% extends "base.html" %}
{% block extra_js %}
    <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript">
    <!--
        var lastUID=null;
        function follow(action,userid,username) {
            var data = { "userid" : userid};
            lastUID=userid;
            if(username!=null)
                data["username"]=username;
            if(action=='follow')
                var url = 'http://localhost:8080/ajax/add/following/'
            else
                var url = 'http://localhost:8080/ajax/delete/following/'
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(data,userid){
                    //console.log(data)
                    $("#following_state_"+lastUID).children().remove()
                    if(action=='follow' && data)
                        $("#unfollowTemplate").tmpl( {id:lastUID} ).appendTo( "#following_state_"+lastUID );
                    else if (action=='unfollow' && data)
                        $("#followTemplate").tmpl( {id:lastUID} ).appendTo( "#following_state_"+lastUID );
                    }
            });
        }
        $(document).ready(function(){
            
        });
    //-->
    </script>
{%endblock%}

{% block title %}Dashboard{% endblock %}
{% block body %}
    <h1>Timeline</h1>

    
    {% if friends_to_follow %}
        <h2>Te siguen</h2>
        {% for f in followers %}
            {% if f.avatar%}
                <img src="{{f.avatar}}" alt="{{f.username}} avatar"/>
            {% else %}
                <img src="/static/facebookApp/img/no_avatar.png" style="width:50px" alt="{{f.username}} avatar"/>
            {% endif %}
            Username={{f.username}}
            
            
        {% endfor %}
        <h2>Sigues</h2>
        {% for f in followings %}
            {% if f.avatar%}
                <img src="{{f.avatar}}" alt="{{f.username}} avatar"/>
            {% else %}
                <img src="/static/facebookApp/img/no_avatar.png" alt="{{f.username}} avatar"/>
            {% endif %}
            Username={{f.username}}
        {% endfor %}
        <h2>Amigos sugeridos</h2>
        <p>De tus amigos de facebook usan GeoRemindMe para hacer recomendaciones:</p>
        <ul>
            <li>
            {% for f in friends_to_follow %}
                <a href="/fb/user/{{f.username}}" title="Ver perfil en GeoRemindMe">
                    <fb:profile-pic uid="{{ f.uid }}" linked="false" /></fb:profile-pic>
                    {% if f.uid %}
                        <fb:name uid="{{ f.uid }}" linked="false" capitalize="true" /></fb:name>
                    {% else %}
                        Un NO-usuario de facebook
                    {% endif %}
                    </a>
                     | 
                    <span id="following_state_{{ f.id }}">
                        <span  onclick="javascript:follow('follow',{{f.id}})"><a href="#">Seguir</a></span>
                    </span>
                
            {% endfor %}
            </li>
        </ul>
    {% endif %}
<!--
    TEMPLATES
-->
<script id="followTemplate" type="text/x-jquery-tmpl">
    <span  onclick="javascript:follow('follow',${id})"><a href="#">Seguir</a></span>
</script>
<script id="unfollowTemplate" type="text/x-jquery-tmpl">
    <span  onclick="javascript:follow('unfollow',${id})"><a href="#">Dejar de seguir</a></span>
</script>



    
    
    
{% endblock %}
