{% extends "base.html" %}
{% block extra_js %}
    <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script src="/static/facebookApp/js/social.js"></script>
{%endblock%}

{% block title %}Dashboard{% endblock %}
{% block goBack %}{%endblock%}
{% block body %}
    <h1>Actividad</h1>
    <div class="section">
        <div class="header">
            <h2>Actividad en tu red</h2>
            <p class="help-icon"><a href=""><img src="/static/facebookApp/img/help.png" alt="Help"></a></p>
        </div>
    </div>
<!--
    <p>{{chronology}}</p>
-->
    
    <ul id="chronology">
        <li>
            <div class="avatar">
                <a href="/fb/user/richard" title="Ver perfil en GeoRemindMe">
                    <img src="/user/richard/picture/" alt="richard avatar"/>
                </a>
            </div>
            <p>                
                <a href="">hhkaos</a> sugiere que:<br>
                Alguna vez vayas de tapas al Villa Magna y te pidas la tapa "Bomba"<br>
                <span class="timestamp">06 de julio a las 18:44</span> <span class="action-bar">| <span onclick="">Me gusta</span> | <span onclick="">Comentar</span> | <span onclick="">Guardar</span></span>
            </p>
        </li>
        
        <li>
            <div class="avatar">
                <a href="/fb/user/susana" title="Ver perfil en GeoRemindMe">
                    <img src="/user/susana/picture/" alt="susana avatar"/>
                </a>
            </div>
            <p>                
                A <a href="">Susana</a> le gusta la sugerencia de <a href="">Richard</a>:<br>
                Sugiero que a los que os gusten los comics visiteis la tienda Neoterra<br>
                <span class="timestamp">06 de julio a las 18:44</span> <span class="action-bar">| <span onclick="">Me gusta</span> | <span onclick="">Comentar</span> | <span onclick="">Guardar</span></span>
            </p>
        </li>
        
        <li>
            <div class="avatar">
                <a href="/fb/user/richard" title="Ver perfil en GeoRemindMe">
                    <img src="/user/richard/picture/" alt="richard avatar"/>
                </a>
            </div>
            <p>                
                <a href="">hhkaos</a> ha comentado en "<a href="">Sugiero que a lo suqe os gusten los ...</a>":<br>
                Yo además añadiría que preguntéis cuando son los próximos días de "demos".<br>
                <span class="timestamp">06 de julio a las 18:44</span> <span class="action-bar">| <span onclick="">Me gusta</span> | <span onclick="">Comentar</span> | <span onclick="">Guardar</span></span>
            </p>
        </li>
    </ul>
    
    <div class="load-more">Cargar más</div>

    {% if friends_to_follow %}
        
    <div class="section">    
        <div class="header">
            <h2>Personas a las que podrías conocer</h2>
            <p class="help-icon"><a href=""><img src="/static/facebookApp/img/help.png" alt="Help"></a></p>
        </div>
        <ul id="friends-to-follow">
            {% for id, f in friends_to_follow.items %}
                
                <li> <!--style="{% cycle 'clear:left' ''%}">-->
                    <div class="avatar">
                        <a href="/fb/user/{{f.username}}" title="Ver perfil en GeoRemindMe">{{ f.username }}</a>
                        <br>
                        <a href="/fb/user/{{f.username}}" title="Ver perfil en GeoRemindMe">
                            <img src="/user/{{f.username}}/picture/" alt="{{f.username}} avatar"/>
                        </a>
                        
                        <div id="following_state_{{ id }}" class="follow-button">
                            <span  onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </div>
                </li>
            {% endfor %}
            
        </ul>
    </div>
    {% endif %}




    
    
    
{% endblock %}
