{% extends "base.html" %}
{% load i18n %}

{% block title %}Datos personales{% endblock %}
{% block goBack %}{%endblock%}
{% block body %}
    <div id="edit-profile">
        
        
        <h1>Editar perfil</h1>

        <div class="section">
            <form method="post" action=".">
            <div id="avatar">
                <span>
                    <img src="/user/{{user.username}}/picture/" alt="{{user.username}} avatar">
<!--
                    <br>
                    Cambiar foto
-->

                    
                </span> 
                <div>
                    Usar el avatar de: <br>
                    <select id="id_user_set_profile-sync_avatar_with" name="user_set_profile-sync_avatar_with">
                        <option value="facebook">Facebook</option>
                        {% if profile.sociallinks.twitter %}
                            <option value="twitter">Twitter</option>
                        {% endif %}
                        <option selected="selected" value="gravatar">Gravatar</option>
                    </select>    
                </div>
            </div>          
            
				{% csrf_token %}
				<dl>
					<dt><label for="id_user_set_profile-username">Nombre de usuario</label>:</dt>
					<dd>{{form.username}}</dd>
					
					<dt>Password:</dt>
					<dd><a href="">Editar password</a></dd>
					
					<dt><label for="id_user_set_profile-email">Email</label>:</dt>
					<dd>{{form.email}}</dd>
					
					<dt><label for="id_user_set_profile-description">Descripción</label>:</dt>
					<dd>{{form.description}}</dd>
					
				</dl>
                <hr>
				<div id="save-button"><input type="submit" value="{% trans "Guardar" %}" title="{% trans 'Guardar los cambios' %}"></div>
			</form>
        </div>
    
{% endblock %}
