{% extends "base.html" %}
{% load i18n %}

{% block title %}Datos personales{% endblock %}
{% block goBack %}{%endblock%}
{% block body %}
    <div id="edit-profile">
        
        
        <h1>Editar perfil</h1>

        <div class="section">
            <div id="avatar">
                <a href="">
                    <img src="{{user.profile.avatar}}" alt="{{user.username}} avatar">
                    <br>
                    Cambiar foto
                </a>
            </div>          
            <form method="post" action=".">
				{% csrf_token %}
				<dl>
					<dt><label for="id_user_set_profile-username">Nombre de usuario</label>:</dt>
					<dd>{{form.username}}</dd>
					
					<dt>Password:</dt>
					<dd><a href="">Editar password</a></dd>
					
					<dt><label for="id_user_set_profile-email">Email</label>:</dt>
					<dd><a href="mailto:{{user.email}}">{{form.email}}</a></dd>
					
					<dt><label for="id_user_set_profile-description">Descripción</label>:</dt>
					<dd>{{form.description}}</dd>
					
				</dl>
				<input type="submit" value="{% trans "Guardar" %}" title="{% trans 'Guardar los cambios' %}">
			</form>
            <p>Cuentas vinculadas:</p>
                
            <ul>
                <li class="li-icon">
                    <span id="twitter-icon">Facebook:</span> 
                    <a href="/fb/settings">configuración</a> 
                    
                </li>
                <li class="li-icon">
                    <span id="twitter-icon">Twitter:</span> 
                    {% if not has_twitter %}
                        <a href="/login/twitter">vincular</a> 
                    {% else %}
                        <a href="/login/twitter">desvincular</a> | <a href="">Permisos</a>
                    {% endif %}
                </li>
                <li class="li-icon">
                    <span id="google-icon">Google:</span> 
                    {% if not has_google %}
                        <a href="/login/google">vincular</a>
                    {% else %}
                        <a href="/login/google">desvincular</a> | <a href="">Permisos</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    
{% endblock %}
