{% extends "base.html" %}
{% block extra_js %}
    <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script src="/static/facebookApp/js/social.js"></script>
{%endblock%}

{% block title %}Followings{% endblock %}
{% block body %}
    <h1>
        {% ifequal user.username username_page %}
            Sigues a {{followings|length}} personas
        {% else %}
            {{username_page}} sigue a {{followings|length}} personas
        {% endifequal %}
    </h1>
    
    <ul id="user-list">
    {% for f in followings %}
        <li>
            <div class="avatar">
                <a href="/fb/user/{{f.username}}" title="Ver perfil en GeoRemindMe">
                    <img src="{{f.avatar}}" alt="Avatar">
                </a>
                <br>
                <a href="/fb/user/{{f.username}}" title="Ver perfil en GeoRemindMe">{{ f.username }}</a>
            </div>
            {% ifequal user.username username_page %}
                <div id="following_state_{{ f.id }}" class="follow-button following-state">
                    <span  onclick="javascript:follow('unfollow',{{f.id}})"><a href="#" class="following">Seguiendo</a></span>
                </div>
            {% endifequal %}
            <div class="user-data">
                <ul>
                    <li><a href="/fb/user/{{f.username}}" title="Sugerencias hechas"><span>{{ f.profile.parent.counters.suggested }}</span>Sugerencias</a></li>
                    <li><a href="/fb/user/{{f.username}}/followers/" title="Personas que le siguen"><span>{{ f.profile.parent.counters.followers }}</span>Seguidores</a></li>
                    <li><a href="/fb/user/{{f.username}}" title="Recomendaciones suyas que te han gustado"><span>{{ f.profile.parent.counters.influenced }}</span>Impactos</a></li>
                    <li><a href="/fb/user/{{f.username}}/followings/" title="Personas a las que sigue"><span>{{ f.profile.parent.counters.followings }}</span>Siguiendo</a></li>
                </ul>
            </div>
            <hr>
        </li>
    {% endfor %}    
    </ul>
{% endblock %}
