{% extends "base.html" %}

{% block title %}Perfil público de {{profile.username}}{% endblock %}
{% block extra_js %}
    <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script src="/static/facebookApp/js/social.js"></script>
{%endblock%}

{% block body %}
    <div id="public-profile">
        <div id="col-right-left">
            <span id="avatar-follow">
                <img src="/user/{{profile.username}}/picture/" alt="{{profile.username}} avatar"/>
                <br>
                {% ifnotequal user.username profile.parent.username %}
                    {% if is_follower %}
                        <div id="following_state_{{ profile.parent.id }}" class="follow-button following-state">
                            <span  onclick="javascript:follow('unfollow',{{profile.parent.id}})"><a href="#" class="following">Seguiendo</a></span>
                        </div>
                    {% else %}
                        <div id="following_state_{{ profile.parent.id }}" class="follow-button">
                            <span  onclick="javascript:follow('follow',{{profile.parent.id}})"><a href="#" class="no-following">Seguir</a></span>
                        </div>
                    {% endif %}
                {% endifnotequal %}
            </span>
            <h1>{{profile.parent.username}}</h1>
            {% ifequal user.username profile.parent.username %}
                <a href="/fb/user/edit/" class="help-icon">Editar</a> 
            {% endifequal %}
            {% if profile.description %}
                <p>Descripción: {{profile.description}}</p>
            {% endif %}
        
            
            
        </div>
        <div id="col-right-right">
            <p>
                <a href="/fb/user/{{profile.parent.username}}/followers/">{{counters.followers}} seguidores.</a>
                <a href="/fb/user/{{profile.parent.username}}/followings/">{{counters.followings}} siguiendo.</a>
            </p>
            <p>
                <span>También está en:</span>
                {% if profile.parent.facebook_user %}
                    <a href="http://www.facebook.com/profile.php?id={{profile.parent.facebook_user.uid}}">Facebook</a>
                {% endif %}
                {% if profile.parent.google_user %}
                    <a href="http://www.facebook.com/profile.php?id={{profile.parent.facebook_user.uid}}">Google</a>
                {% endif %}
                {% if profile.parent.twitter_user %}
                    <a href="http://www.facebook.com/profile.php?id={{profile.parent.facebook_user.uid}}">Twitter</a>
                {% endif %}
            </p>
        </div>
    </div>
    <ul id="tabMenu" class="clear">
		<li class="active">Sugerencias ({{counters.suggested}})</li>
		<li>Valoraciones</li>
		<li>Listas</li>
	</ul>
{% endblock %}
