{% extends "base.html" %}

{% block title %}Perfil público de {{profile_user.username}}{% endblock %}
{% block extra_js %}
    <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script src="/static/facebookApp/js/social.js"></script>
{%endblock%}

{% block body %}

    <h1>Perfil público de {{profile_user.username}}</h1>
    <h2>Datos:</h2>
    <dl>
        {% if is_following %}
            <span id="following_state_{{ profile_user.id }}">
                <span  onclick="javascript:follow('unfollow',{{profile_user.id}})"><a href="#">Dejar de seguir</a></span>
            </span>
        {% else %}
            <span id="following_state_{{ profile_user.id }}">
                <span  onclick="javascript:follow('follow',{{profile_user.id}})"><a href="#">Seguir</a></span>
            </span>
        {% endif %}
        {% if profile_user.profile.avatar %}
            <img src="{{profile_user.profile.avatar}}" alt="{{profile_user.username}} avatar"/>
        {% else %}
            <img src="/static/facebookApp/img/no_avatar.png" alt="{{f.username}} avatar"/>
        {% endif %}
        <dt>Nombre:</dt>
        <dd>{{profile_user.facebook_profile_user.realname}}</dd>
        <dt>Email:</dt>
        <dd>{{profile_user.email}}</dd>
        <dt>Perfil en facebook:</dt>
        <dd><a href="http://www.facebook.com/profile.php?id={{profile_user.facebook_profile_user.uid}}">Ir al perfil</a></dd>
    </dl>
    <h2>Recomendaciones hechas</h2>
{% endblock %}
