{% extends "base.html" %}
{% load i18n %}

{% block callBackFBInit %}
    
    FB.getLoginStatus(function(response) {
        {% if request.user.facebook_user.uid %}
            console.log("estoy identificado en GeoRemindMe con {{request.user.username}} y tengo un usuario asociado a mi cuenta con uid "+{{request.user.facebook_user.uid}});
            //Estamos identificados en GeoRemindMe
            var userID={{request.user.facebook_user.uid}};
            
            if (response.authResponse) {
                //Y también lo estamos en Facebook
                //window.location="/fb/dashboard/"
                console.log("logueado en facebook con el nombr que sale en ****, GeoRemindMe allows you to...")
            }
        {%else%}
            console.log("no estoy identificado en GeoRemindMe ");
            //No estamos identificados en GeoRemindMe
            if (response.authResponse) {
                //Pero si estamos en FB 
                check_ext_perm(response.authResponse, function(isworking) {
                    //Comprobamos si tenemos permisos para la app de FB
                   if(isworking) {
                      //window.location="/fb/dashboard/"
                      console.log("Tenemos permisos en FB y estamos identificados, pero no en GEO "+{{request.COOKIES.georemindme_session_cookie}})
                      console.log("logueado en facebook con el nombre que sale en ****, GeoRemindMe allows you to...")
                   } else {
                      console.log("No estamos identificados en GeoRemindMe pero si en FB y no tenemos perms");
                      //Mostramos mensaje conocido
                   }
                });
            }else{
                //Tampoco estamos identificados en FB
                console.log("No estamos ni en Geo y en FB")
            }
            //Sino tenemos permisos mostramos el msg de registrar
        {%endif%}
    });

{% endblock %}

{% block extra_js %}    
    <style type="text/css">
        #description {
            clear: both;
            float: left;
            font-weight: bold;
            
            text-align: left;
            width: 500px;
        }
        
        #description h2, #description p {
            font-size: 1.4em;
            font-weight: normal;
        }
        #description h2 {
            text-align: center;
            line-height:1.5em;
        }

        ul#benefits {
            height: 130px;
            margin-bottom: 10px;
            margin-top: 25px;
            width:545px;
            margin-right: 0;
        }
        ul {
            clear: both;
            margin: 0;
            padding: 0;
        }
        ul {
            list-style-type: disc;
        }
        ul, ol {
            margin: 0 1.5em 1.5em 0;
            padding-left: 1.5em;
        }

        ul#benefits li {
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 80px 8px 0;
            text-align: center;
            width: 150px;
        }
        #description ul li, #description-list ul li {
            display: list-item;
            font-weight: normal;
            list-style: none;
            margin-right: 10px;
        }
        
        #description-list ul li {
            list-style: square outside none;
            line-height:2em;
        }
        #whatsup-icon {
            background: url("http://www.georemindme.com/media/img/whatsup.png") no-repeat scroll 50px 0 transparent;
        }
        #explore-icon {
            background: url("http://www.georemindme.com/media/img/explore.png") no-repeat scroll 50px 0 transparent;
        }
        #reminder-icon {
            background: url("http://www.georemindme.com/media/img/reminder.png") no-repeat scroll 50px 0 transparent;
        }
        strong, dfn {
            font-weight: bold;
        }

    </style>
{%endblock%}

{%if request.COOKIES.georemindme_session_cookie and request.user.facebook_user %}
    {% block redirect %}
<!--
        <meta http-equiv="REFRESH" content="0;url=/fb/dashboard/">
-->

    {% endblock %}
{% else %}
    
    {% block title %}Welcome to GeoRemindMe{% endblock %}
    {% block nav %} 
        {% include "register_menu.html" %}
    {% endblock %}

    {% block mainButton %}{% endblock %}

    {% block goBack %}{%endblock%}
    {% block body %}
    
        
        {%if request.user.email and not request.user.facebook_user %}
            
                <div id="known-user" style="display:none">
                    
                    
                    <p>
                        Nos alegra verte por aquí, para poder empezar a usar la aplicación de Facebook
                        tienes que <a href="/login/facebook/?cls" target="_blank">autorizar a la aplicación</a> 
                        para que pueda acceder a los siguientes datos:       
                    </p>
                    <ul>
                        <li><strong>Lista de amigos</strong>: para poder avisarte cuando se creen una cuenta.</li>
                        <li><strong>Email</strong>: para poder enviarte notificaciones periódicas.</li>
                        <li><strong>Acceso offline</strong>: para que puedas publicar en tu muro sin necesidad de estar identificado en Facebook.</li>
                        <li><strong>Tus "me gusta" e intereses</strong>: para poder aprender de tus gustos y así poder hacerte mejores sugerencias.</li>
                        <li><strong>Ciudad de origen</strong>: para avisarte cuando hagamos eventos en tu ciudad</li>
                        <li><strong>Publicar en tu muro</strong>: para darte la opción de compartir tus sugerencias</li>
                    </ul>
                    <p>
                        De todos modos queremos recordarte que si en cualquier momento quisieras, podrías desautorizar a la 
                        aplicación desde tu configuración de GeoRemindMe! y desde la de Facebook.<br>
                        Si tienes alguna duda al respecto estaremos encantados de ayudarte desde <a href="mailto:info@georemindme.com">info@georemindme.com</a>.
                    </p>
                </div>
        {% else %}

            <div id="unknown-user">
                <div id="register-panel" style="font-size: 1.1em;">
                    <div id="description">
                        <h2>{% trans "GeoRemindMe allows you to manage, rate and share geolocated suggestions on <em>your favorite social networks</em>." %}</h2>
                     
                        <ul id="benefits">
                            <li id="whatsup-icon">{% trans "<strong>Find</strong> cool stuff to do" %}.</li>
                            <li id="explore-icon">{% trans "<strong>Discover</strong> and explore new places" %}.</li>
                            <li id="reminder-icon">{% trans "<strong>Don't forget</strong> anything you wanted to do" %}.</li>
                        </ul>


                        <span id="description-list">
                            
                            <p><span><fb:name uid="{{request.user.facebook_user.uid}}" firstnameonly="true" useyou="false" linked="false"/></span>, {% trans "GeoRemindme allows you to:" %}:</p>
                            <div id="slider-container">
                                <div id="slider">
                                    <ul>
                                        <li><span class="slide-icon">{% trans "<strong>Share and receive suggestions</strong> from your friends, institutions, local shops, etc..." %}</span></li>
                                        <li><span class="slide-icon">{% trans "Get <strong>personalized suggestions</strong> depending on what you like and were you are" %}</span></li>
                                        <li><span class="slide-icon">{% trans "<strong>Search and filter</strong> suggestions from other people" %}.</span></li>
                                        <li><span class="slide-icon">{% trans "<strong>Follow</strong> the users and the shops you are interested in" %}.</span></li>
                                        <li><span class="slide-icon">{% trans "<strong>Download or print</strong> touristic routes and get around in the city" %}.</span></li>
                                        <li><span class="slide-icon">{% trans "<strong>Rate and comment</strong> the suggestions" %}.</span></li>
                                        <li><span class="slide-icon">{% trans "And in the future...we want you to get <strong>promos and vouchers</strong> to enjoy wherever you are" %}.</span></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </span>
                    </div>
                    
                    <p class="left" style="clear:both;display:block;width:100%;text-align:left">
                        {% if request.user.facebook_user.uid %}
                            <strong>Personas que ya disfrutan de la aplicación</strong>
                        {% else %}
                            <strong>Regístrate haciendo clic en el siguiente botón:</strong>
                        {% endif %}
                        
                    </p>
                    <div class="left">
                        
                        <fb:login-button perms="{{permissions}}" show-faces="true"></fb:login-button>
                        
                    </div>
                    
                </div>
            </div>
        {% endif %}
    {%endblock%}
{% endif %}
