<ul>
    <li class="menu-icons install-icons"><a id="introduction-icon" href="http://apps.facebook.com/GeoRemindMe" target="_blank">GeoRemindMe.com</a></li>
    <li class="menu-icons install-icons"><a id="about-us-icon" href="http://www.georemindme.com/team/" target="_blank">Nosotros</a></li>
    <li class="menu-icons install-icons"><a id="community-icon" href="http://team.georemindme.com/" target="_blank">Comunidad</a></li>
    <li class="menu-icons install-icons"><a id="blog-icon" href="http://blog.georemindme.com/" target="_blank">Blog</a></li>
    <li class="menu-icons install-icons"><a id="privacy-icon" href="http://www.georemindme.com/privacy/" target="_blank">Privacidad</a></li>
    <li class="menu-icons install-icons"><a id="tos-icon" href="http://www.georemindme.com/tos/" target="_blank">Términos de uso</a></li>
</ul>
