<ul>
    <li class="menu-icons install-icons"><a id="introduction-icon" href="http://apps.facebook.com/GeoRemindMe" onclick="parent.location.href='http://apps.facebook.com/GeoRemindMe'">Introducción</a></li>
    <li class="menu-icons install-icons"><a id="about-us-icon" href="">Nosotros</a></li>
    <li class="menu-icons install-icons"><a id="community-icon" href="">Comunidad</a></li>
    <li class="menu-icons install-icons"><a id="blog-icon" href="">Blog</a></li>
    <li class="menu-icons install-icons"><a id="privacy-icon" href="">Privacidad</a></li>
    <li class="menu-icons install-icons"><a id="tos-icon" href="">Términos de uso</a></li>
</ul>
