{% extends "generic/base_generic.html" %}
{% load i18n %}

{% block callBackFBInit %}
    
    if(grmLogged()){
        if(haveLinkedAccount({{request.user.facebook_user.uid}})){
            FB.getLoginStatus(function(response) {
                if (response.status=="connected"){
                    if(response.authResponse.userID!=user_uid)
                        alert("UIDs incoherentes "+response.authResponse.userID+"!="+user_uid);
                    else{
                        //console.log("Redirijo");
                        window.location="dashboard/";
                    }
                }
                else{
                    //console.log("Pido login")
                    $('.known-user').show();
                    $('.login-btn').show()
                }
            });
        }else{
            //console.log("Pido permisos")
            $('.known-user').show();
            $('.no-authorized').show()
            $('.register-btn').show()
        }
    }
    else{
        //Mostramos las funcionalidades
        $('#description').show();
        
        FB.getLoginStatus(function(response) {
            if (response.status=="connected"){
                if(hasPerms(response.authResponse)){
                    //console.log("Redirijo");
                    window.location="dashboard/";
                }
                else{
                    //console.log("Pido permisos")
                    $('.known-user').show();
                    $('.no-authorized').show()
                    $('.register-btn').show()
                }
            }
            else{
                //console.log("Pido permisos")
                $('.unknown-user').show();
                $('.no-authorized').show()
                $('.register-btn').show()
            }
        });
    }
    

{% endblock %}

{% block extra_js %}    
    <style type="text/css">
        #description {
            clear: both;
            float: left;
            font-weight: bold;
            
            text-align: left;
            width: 500px;
        }
        
        #description h2, #description p {
            font-size: 1.4em;
            font-weight: normal;
        }
        #description h2 {
            text-align: center;
            line-height:1.5em;
        }
        .no-authorized{
            line-height: 2em;
        }

        ul#benefits {
            height: 130px;
            margin-bottom: 10px;
            margin-top: 25px;
            width:545px;
            margin-right: 0;
        }
        ul {
            clear: both;
            margin: 0;
            padding: 0;
        }
        ul {
            list-style-type: disc;
        }
        ul, ol {
            margin: 0 1.5em 1.5em 0;
            padding-left: 1.5em;
        }

        ul#benefits li {
            float: left;
            list-style: square outside none;
            margin: 0;
            padding: 80px 8px 0;
            text-align: center;
            width: 150px;
        }
        #description ul li, #description-list ul li {
            display: list-item;
            font-weight: normal;
            list-style: square outside none;
            margin-right: 10px;
        }
        
        #description-list ul li {
            list-style: square outside none;
            line-height:2em;
        }
        #whatsup-icon {
            background: url("http://www.georemindme.com/media/img/whatsup.png") no-repeat scroll 50px 0 transparent;
        }
        #explore-icon {
            background: url("http://www.georemindme.com/media/img/explore.png") no-repeat scroll 50px 0 transparent;
        }
        #reminder-icon {
            background: url("http://www.georemindme.com/media/img/reminder.png") no-repeat scroll 50px 0 transparent;
        }
        strong, dfn {
            font-weight: bold;
        }
        a.btn{
            color:white;
            text-decoration:none
        }

    </style>
{%endblock%}

{% block title %}Un mundo entero por descubrir - GeoRemindMe{% endblock %}
{% block nav %} 
    {% include "register_menu.html" %}
{% endblock %}

{% block mainButton %}{% endblock %}


{% block body %}
   
    
        <div id="register-panel" style="font-size: 1.1em;">
            <div id="description">
                <h2>{% trans "GeoRemindMe te permite gestionar, valorar y compartir sugerencias <strong>usando la potencia de tus redes sociales favoritas</strong>." %}</h2>

                <p class="known-user clear" style="display:none">
                    Buenas
                    {% if request.user.username %} 
                        {{request.user.username}}
                    {% else %}
                        {% if request.user.facebook_user %}
                        
                            <span><fb:name uid="{{request.user.facebook_user.uid}}" firstnameonly="true" useyou="false" linked="false"/></span>
                        {% endif %}
                    {% endif %}{% trans ", nos alegra verte por aquí!.<p>Ahora puedes utilizar la aplicación de GeoRemindMe! en Facebook para:</p>" %}
                </p>
                <p class="unknown-user clear" style="display:none">
                    <span><fb:name uid="{{request.user.facebook_user.uid}}" firstnameonly="true" useyou="false" linked="false"/></span>, {% trans "utiliza GeoRemindMe para:" %}:
                </p>
                
                <span id="description-list">                    
                    <div id="slider-container">
                        <div id="slider">
                            <ul>
                                <li><span class="slide-icon">{% trans "<strong>Pedir a tus contactos</strong> de Facebook, Twitter, etc. <strong>sugerencias y listas de sugerencias</strong> para tus viajes, descubrir nuevos restaurantes, etc..." %}</span></li>
                                <li><span class="slide-icon">{% trans "Consultar <strong>sugerencias personalizadas</strong> en base a tus gustos y a tu localización" %}</span></li>
                                <li><span class="slide-icon">{% trans "<strong>Sigue </strong> a otras personas con gustos similares a los tuyos" %}.</span></li>
                                <li><span class="slide-icon">{% trans "<strong>Descarga o imprime</strong> listas de sugerencias y sobre rutas turísticas" %}.</span></li>
                                <li><span class="slide-icon">{% trans "<strong>Guarda, comenta y valora</strong> las sugerencias de tus contactos" %}.</span></li>
                            </ul>
                        </div>
                    </div>
                </span>
            
                
                <div class="no-authorized" style="display:none">
                    <p> 
                        Para poder empezar a usar la aplicación de Facebook
                        tienes que <a href="/login/facebook/?cls" target="_blank">autorizar a la aplicación</a> 
                        para que pueda acceder a los siguientes datos:
                    </p>
                    <ul>
                        <li><strong>Lista de amigos</strong>: para poder avisarte cuando se creen una cuenta.</li>
                        <li><strong>Email</strong>: para poder enviarte notificaciones periódicas.</li>
                        <li><strong>Acceso offline</strong>: para que puedas publicar en tu muro sin necesidad de estar identificado en Facebook.</li>
                        <li><strong>Tus "me gusta" e intereses</strong>: para poder aprender de tus gustos y así poder hacerte mejores sugerencias.</li>
                        <li><strong>Ciudad de origen</strong>: para avisarte cuando hagamos eventos en tu ciudad</li>
                        <li><strong>Publicar en tu muro</strong>: para darte la opción de compartir tus sugerencias</li>
                    </ul>
                </div>
                <p style="font-size: inherit; line-height: 1.5em;">
                    Recuerda que en cualquier momento, puedes desautorizar a la 
                    aplicación desde la sección de configuración de tu cuenta y desde Facebook.
                </p>
                <p>
                    Si tienes alguna duda al respecto estaremos encantados de ayudarte desde 
                    <a href="mailto:info@georemindme.com">info@georemindme.com</a>.
                </p>
            </div>
            

            <div class="login-btn clear" style="display:none">
                <a class="btn" href="/login/facebook/?callback_url=http://apps.facebook.com/georemindme" target="_blank">Entrar</a>
            </div>
            <div class="register-btn clear" style="display:none">
                <a class="btn" href="/login/facebook/?callback_url=http://apps.facebook.com/georemindme">Autorizar</a>
            </div>
            
        </div>
    
    
{%endblock%}

