<ul>
    <li class="menu-icons fb-icons"><a id="fb-wall" href="#">Introducción</a></li>
    <li class="menu-icons fb-icons"><a id="fb-last-news" href="">Nosotros</a></li>
    <li class="menu-icons fb-icons"><a id="fb-last-news" href="">Comunidad</a></li>
    <li class="menu-icons fb-icons"><a id="fb-events" href="">Blog</a></li>
    <li class="menu-icons fb-icons"><a id="fb-last-news" href="">Privacidad</a></li>
    <li class="menu-icons fb-icons"><a id="fb-events" href="">Términos de uso</a></li>
</ul>
