{% extends "base.html" %}
{% load i18n %}
{% load tags %}


{% block extra_js %}
		<script type="text/javascript">
        $(document).ready(function(){
			
            $('#suggestion-list li').hover(
                function(){$(this).find('div.save-suggestion,div.like-suggestion,div.map-suggestion').css({'display': 'inline'});},
                function(){$(this).find('div.save-suggestion,div.like-suggestion,div.map-suggestion').css({'display': 'none'});}
            )
        });
	</script>
{%endblock%}

{% block title %}Search{% endblock %}

{% block goBack %}{%endblock%}   
 
{% block body %}
	
	<div id="search">
		
		<h2 style="display:inline">¿Qué buscas?</h2> <input type="search" placeholder="Bares, Restaurantes">
		<h2>Resultados de la búsqueda:</h2>
		<div>
			<div class="search-result">Barato<span class="close-result"><a href="#">Close</a></span></div> <div class="search-result">Turismo<span class="close-result"><a href="#">Close</a></span></div>
		</div>
		
		<div id="advanced-search">
			<h2>Búsqueda avanzada</h2>
			<p>Seleccionar: <a href="#">todo</a> | <a href="#">nada</a></p>
			<input type="checkbox" value=""> Listas de sugerencias
			<input type="checkbox" value=""> Sugerencias
			<input type="checkbox" value=""> Usuarios
			<input type="checkbox" value=""> Comentarios
		</div>
		
		<div id="more-search">
			<div>
				<label>¿Dónde?</label> <input type="search" placeholder="Granada, Spain">
			</div>
			<div>
				<label>Ordenar por:</label> <select></select>
			</div>
		</div>
		
		<ul id="suggestion-list">
			<li>
				<div class="search-avatar">
					<a href="#"><img src="/static/facebookapp/img/no_avatar.png" alt="" title=""></a>
				</div>
				<div class="search-text">
					<a class="sugg-link" href="#">Ole que ole esa sugerencia güenah!</a> <br> En <span class="sugg-place">Restaurante Buencomer</span>
				</div>
				

				<div class="save-suggestion" value="104" type="suggestion">
					<a href="#">Add</a>
				</div>
				<div class="like-suggestion" value="104" type="suggestion" style="display:none;">
					<a href="#">Like</a>
				</div>
				<div class="map-suggestion" value="104" type="suggestion" style="display:none;">
					<a href="#">Map</a>
				</div>

			</li>
			<li>
				<div class="search-avatar">
					<a href="#"><img src="/static/facebookapp/img/no_avatar.png" alt="" title=""></a>
				</div>
				<div class="search-text">
					<a class="sugg-link" href="#">Ole que ole esa sugerencia güenah!</a> <br> En <span class="sugg-place">Restaurante Buencomer</span>
				</div>

				<div class="save-suggestion" value="104" type="suggestion">
					<a href="#">Add</a>
				</div>
				<div class="like-suggestion" value="104" type="suggestion" style="display:none;">
					<a href="#">Like</a>
				</div>
				<div class="map-suggestion" value="104" type="suggestion" style="display:none;">
					<a href="#">Map</a>
				</div>

			</li>
		</ul>
		
	</div>
	
    
{%endblock%}
