{% extends "base.html" %}

{% block title %}Tus sugerencias{% endblock %}

{% block extra_js %}
    <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script src="/static/facebookApp/js/grm.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        jQuery.expr[':'].regex = function(elem, index, match) {
            var matchParams = match[3].split(','),
                validLabels = /^(data|css):/,
                attr = {
                    method: matchParams[0].match(validLabels) ?
                                matchParams[0].split(':')[0] : 'attr',
                    property: matchParams.shift().replace(validLabels,'')
                },
                regexFlags = 'ig',
                regex = new RegExp(matchParams.join('').replace(/^\s+|\s+$/g,''), regexFlags);
            return regex.test(jQuery(elem)[attr.method](attr.property));
        }
        
        $(document).ready(function(){
            
            //Asignamos comportamiento ONCLICK a cada fila
            $('.suggestionName').click(function(){
                if($(this).find('.checkBox')){
                    //Extraemos el ID de la sugerencia del campos id="" del div
                    var suggestion_id=$(this).parent().attr('id').substr(11)
                    location.href='edit/'+suggestion_id
                    //console.log('edit/'+suggestion_id)
                }
            });
            
            $('#checkBox_all').click(function(){
                if($('#checkBox_all').is(':checked'))
                    $(':regex(id,^(checkBox_))').attr('checked',true);
                else
                    $(':regex(id,^(checkBox_))').attr('checked',false);
            });
            
            
        });
        
        function loadSuggestionsPage(page){
            loadPage({
                page:page,
                container:'#suggestion-list',
                url:'/ajax/get/suggestion/',
                template: "#suggestionTemplate",
                data:{
                        'query_id':{{suggestions.0}},
                    }                
            });
        }
        
        
        
        
        
    </script>
{%endblock%}

{% block goBack %}{%endblock%}
{% block body %}
    <div id="suggestions">
    
<!--
    Sugeridas={{user.counters}}
-->
        <h1>Tus sugerencias</h1>
        <ul id="tabMenu">
            <li class="active">Sugerencias ({{user.counters.suggested}})</li>
            <li>Listas</li>
        </ul>
        <div id="content">
                <div id="header">
                    <span class="selectCheckBox"><input type="checkbox" id="checkBox_all" value="Car" /></span>
                    <span class="btn right nextBtn" id="next-page" onclick="javascript:loadSuggestionsPage('next')">Siguiente</span>
                    <span class="btn right prevBtn hidden" id="prev-page" onclick="javascript:loadSuggestionsPage('prev')">Anterior</span>
                    
                    <span class="btn removeBtn">Eliminar</span>
                    <span class="btn mvBtn">Mover a</span>
                    
                </div>

                <span id="suggestion-list">
                    <!-- Objetos Suggestion-->
                    {% for k in suggestions.1%}
                        <div id="suggestion_{{k.id}}" class="suggestion">
                            <span class="checkBox"><input type="checkbox" id="checkBox_{{k.id}}" value="{{k.id}}" /></span>
                            <span class="suggestionName">{{k}}</span>
                            <span class="suggestionInLists"><!-- Listas no implementadas -->Lista {{k.id}}</span>
                        </div>
                    {% endfor%}   
                </span>           
                Página: <span onclick="javascript:loadSuggestionsPage(1)" class="link">1</span> | <span onclick="javascript:loadSuggestionsPage(2)" class="link">2</span>

            </table>
        </div>
    </div>
    
    <script id="collapsedSuggestion" type="text/x-jquery-tmpl">
        <span class="checkBox">${id}</span>
        <span class="suggestionName">${suggestion}</span>
        <span class="suggestionInLists">${lists}</span>
    </script>
    <script id="expandedSuggestion" type="text/x-jquery-tmpl">
        Sugieron que...
    </script>
    
    <script id="suggestionTemplate" type="text/x-jquery-tmpl">
        <div id="suggestion_${element.id}" class="suggestion">
            <span class="checkBox"><input type="checkbox" id="checkBox_{{element.id}}" value="${element.id}" /></span>
            <span class="suggestionName">${element.name}</span>
            <span class="suggestionInLists">Lista ${element.id}</span>
        </div>
    </script>
{% endblock %}
