{% extends "base.html" %}
{% load tags %}
{% load filters %}

{% block title %}Tu mochila de sugerencias{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/static/facebookApp/js/grm.js"></script>
    <script type="text/javascript" src="/static/facebookApp/js/vault.js"></script>

    <script type="text/javascript" src="/static/webapp/js/jquery.jeditable.js"></script>
<!--
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
-->
    <script type="text/javascript" src="/static/facebookApp/js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="/static/webapp/js/jquery.placeholder.js"></script>
    <script type="text/javascript">        
    
			
		// SACO ESTO A UNA FUNCIÓN APARTE PARA REUTILIZARLO
		// AL CREAR UNA NUEVA LISTA
		function show_and_hide_stats_callback(){
                var textElement=$(this).parent().find('.show-more-text');
                if($(textElement).css('display')!="none")
                    $(this).html("Mostrar estadísticas")
                else
                    $(this).html("Ocultar estadísticas")
                
                $(textElement).toggle('slow')
            }
			
		// SACO ESTO A UNA FUNCIÓN APARTE PARA REUTILIZARLO
		// AL CREAR UNA NUEVA LISTA
		function create_share_links(){
            // ------------------------------------
            // CREANDO LOS BOTONES DE COMPARTIR 
            // CON LAS REDES SOCIALES
            // ------------------------------------
            $('.share a').click(function(e){e.preventDefault();});
			$('.share').click(function(){
				var template;
				
				if($(this).attr("type")=="link"){
					template="#shareLink";
					settings={ 
						buttons: [],
						dialogClass: 'link-dialog',
						title: "Compartir enlace",
                        buttons: [{
                            text: "Cerrar",
							click: function() { 
								$(this).dialog("close"); 
							}}] 
					}
				}else if($(this).attr("type")=="twitter"){
                    //DIALOGO DE TWITTER
					template="#shareTwitter";
					settings={ 
						title: "Compartir en Twitter",
						dialogClass: 'twitter-dialog',
						buttons: [{
							text: "Enviar",
							click: function() { 
								
								var linkEl = $(this).find('.twitter-share-button');
                                if($(linkEl).length!=0){
                                    //Este comportamiento es para los usuarios
                                    //que no tienen cuenta de twitter asociada
                                    var field = $(this).find('textarea');
                                    linkEl.attr("href","http://twitter.com/share?text="+$(field).val()+"&url=")
                                    if(linkEl.attr('onclick') === undefined || linkEl.attr('onclick')==null){
                                        window.open(linkEl.attr('href'));
                                    } else {
                                        linkEl.click ();
                                    }
                                    $(this).dialog("close"); 
                                }else{
                                    var element=$(this).find('textarea');
                                
                                    var params;
                                    if($(element).attr("event-type")=="event")
                                        params={
                                            "event_id"  : $(element).attr("data-id"),
                                            "msg"       : $(element).val()
                                        }
                                    else
                                        params={
                                            "list_id"  : $(element).attr("data-id"),
                                            "msg"       : $(element).val()
                                        }
                                        
                                    $.ajax({
                                        type: "POST",
                                        url: "/ajax/share/twitter/",
                                        data: params,
                                        context: $(this),
                                        success: function(data){
                                            $(this).dialog("close"); 
                                        }
                                    });
                                }
							}
						},{
							text: "Cancelar",
							click: function() { 
								$(this).dialog("close"); 
							}}] 
					}
				}else if($(this).attr("type")=="wall"){
                    //DIALOGO DE FACEBOOK
					template="#shareFacebook";
					settings={ 
						title: "Compartir en Facebook",
						dialogClass: 'facebook-dialog',
						buttons: [{
							text: "Publicar",
							click: function() { 
								
								var element=$(this).find('textarea');
                                
                                var params;
                                if($(element).attr("event-type")=="event")
                                    params={
                                        "event_id"  : $(element).attr("data-id"),
                                        "msg"       : $(element).val()
                                    }
                                else
                                    params={
                                        "list_id"  : $(element).attr("data-id"),
                                        "msg"       : $(element).val()
                                    }
                                    
								$.ajax({
                                    type: "POST",
                                    url: "/ajax/share/facebook/",
                                    data: params,
                                    context: $(this),
                                    success: function(data){
//                                        console.log("Hecho!");
                                        $(this).dialog("close"); 
                                    }
                                });
							}
						},{
							text: "Cancelar",
							click: function() { 
								$(this).dialog("close"); 
							}
						}] 
					}
				}
                
				var obj=$(template).tmpl({
                    "type"        :$(this).attr("data-type"),
                    "elem_id"     :$(this).attr("value"),
                    "link"        :$(this).attr("data-href")
                });
                
				$('#share-text').html(obj);
				setRemainingCharCounter('#twitter_msg','#twitter-counter');
				$('#id_name').keyup();
				$('#share-text').dialog(settings);
				$('#share-text').dialog("open");
			})
			/* FIN CREANDO LOS BOTONES DE COMPARTIR */
		}
    
    
    
        $(document).ready(function(){    
            //Asignamos comportamiento ONCLICK a cada fila --> Desplegar detalles
            setExpandible('.suggestion');
            
            //Searchable input fields
            $('#filter-suggestions').search('#suggestion-list > div',['.suggestionName_editable']);
            $('#filter-lists').search('#suggestion-list-lists > div',['.suggestionName_editable']);
            
            //Select all checkbox
            $('#checkBox_all,#checkBoxList_all').click(function(){
				var elemID=$(this).attr('id');
				//Le quitamos el "_all"
				elemID=elemID.substring(0,elemID.length-4)
				console.log(':regex(id,^('+elemID+'_))')
                if($('#'+elemID+'_all').is(':checked'))
                    $(':regex(id,^('+elemID+'_))').attr('checked',true);
                else
                    $(':regex(id,^('+elemID+'_))').attr('checked',false);
            });
            
            //Editable fields
            set_editable_fields();
            
            //Show empty msg if there are no elements
            $('.empty-msg').parent().find('ul').each(function(i,elem){
                if($(elem).children().length==0){
                    $(elem).hide();
                    $(elem).parent().find('.empty-msg').show();
                }else{
                    $(elem).parent().find('.empty-msg').hide();
                }
            })

            //Adding behaviour to tab content
            $('#tabMenu li').click(function(){
                tab_id=$('#tabMenu li.active').attr('id')
                $('#'+tab_id+'_content').addClass('hidden');
                $('#tabMenu li.active').removeClass('active');
                
                tab_id=$(this).attr('id')
                $('#'+tab_id+'_content').removeClass('hidden');
                $(this).addClass('active');
            })
            
            $('span.btn.dropDownBtn').menuList();
            
           
            
            //On expanded view of a suggestion--> Remove suggestion from a list
            $('.removable-sugestion-list li').click(function(){
                var unparsedString=$(this).attr('class').split(" ")[0];
                var listID = unparsedString.substring(5,unparsedString.length)
                removeFromList(this,listID);
            });
            
            //Añade el comportamiento a las sugerencias que se pueden 
            //eliminar de una lista y a las listas a las que pertenece
            //una sugerencia.
            $('#suggestion-list-lists .suggestions li.removable').click(function(){
                var unparsedString=$(this).attr('class').split(" ")[0];
                var listID = unparsedString.substring(5,unparsedString.length)
                removeFromList(this,listID);
            });
            

            
                        
            //On LISTS tab, add new list
            $('.addNewList').click(function(){
               //console.log("Añadimos nueva lista") 
            });
            
            //Selecciona la sugerencia actual, desmarca las demas y despliega
            //la lista
            $('.add-on-list').click(function(){
                $(':regex(id,^(checkBox_))').attr('checked',false);
                $("#checkBox_"+$(this).attr('value')).attr('checked',true);
                $(".dropDownBtn").click()
            });
            
            // Comportamiento del botón mostrar y ocultar estadísticas
            $('.show-more').click(show_and_hide_stats_callback);
            
            
            //Placeholders
            $("[placeholder]").placeholder();
            $(".new-list input").css("color","black")
            $(".new-list input").css("font-style","normal")
            
            //------------------------------------
            //Boton de filtrar mis sugerencias
            //------------------------------------
            $('#filterMySuggestions').toggle(function(){
                $(this).addClass('pressed');
                var tmp=$('#suggestion-list .not-mine')
                tmp.fadeOut('slow');
                var counter=parseInt($('#suggestions-tab-counter').html());
                $('#suggestions-tab-counter').html(counter-tmp.length);
                
            },function(){
                $(this).removeClass('pressed');
                var tmp=$('#suggestion-list .not-mine');
                tmp.fadeIn('slow');
                var counter=parseInt($('#suggestions-tab-counter').html());
                $('#suggestions-tab-counter').html(counter+tmp.length);
                
            });
            
            //------------------------------------
            //Boton de filtrar mis listas
            //------------------------------------
            $('#filterMyLists').toggle(function(){
                $(this).addClass('pressed');
                $('#suggestion-list .not-mine').fadeOut('slow');
            },function(){
                $(this).removeClass('pressed');
                $('#suggestion-list-lists .not-mine').fadeIn('slow');
            });
            

			create_share_links();
			
        });//END $(document).ready

        /*
         * 
         * 
         * 
         */
        
        
        

        
        // Actualizamos la información de en que listas se encuentra
        // cada una de la sugerencias del grid
        function updateSuggestions(data){
            asd=data;
            var suggestions = data.keys;
            var listID = data.id;
            var listName = data.name;
            
            $(suggestions).each(function(i,suggestionID){
                /** SUGGESTIONS TAB **/
                //Comprobamos si ya aparece en el DOM de la sugerencia, la lista de sugerencias
                if($('#suggestion_'+suggestionID+' .removable-sugestion-list .list_'+listID).length==0){
                    //Si no existe creamos el elemento y le damos el comportamiento de edición/borrado
                    var tmp='<li class="list_'+listID+' removable" value="'+suggestionID+'">'+listName+'</li>';
                    $('#suggestion_'+suggestionID+' .removable-sugestion-list ').append(tmp);
                    var element=$('#suggestion_'+suggestionID+' .removable-sugestion-list .list_'+listID);
                    element.click(function(){
                        var unparsedString=$(this).attr('class').split(" ")[0];
                        var listID = unparsedString.substring(5,unparsedString.length)
                        removeFromList(this,listID);
                    });
                    
                    //Si se mostraba en el mensaje de vacío lo borramos
                    if(element.parent().css('display')=="none"){
                        element.parent().show();
                        element.parent().parent().find('.empty-msg').hide();
                    }
                }
                
                /** LISTS TAB **/
                //Comprobamos si en la lista ya existe la sugerencia
                if ($('#list_'+listID+' .suggestions li[value="'+suggestionID+'"]').length==0){
                    //Si no está la sugerencia en la lista la añadimos
                    $('#list_'+listID+' .suggestions ul').append('<li value="'+suggestionID+'" class="list_'+listID+' removable">'+$('#suggestion_'+suggestionID+' .suggestionName_editable').text()+'</li>');
                    
                    $('#list_'+listID+' .suggestions ul li[value="'+suggestionID+'"]').click(function(){
                        var unparsedString=$(this).attr('class').split(" ")[0];
                        var listID = unparsedString.substring(5,unparsedString.length)
                        removeFromList(this,listID);
                    });
                    
                    if($('#list_'+listID+' .suggestions ul li').length==1){
						$('#list_'+listID+' .suggestions ul').show();
						$('#list_'+listID+' .suggestions .empty-msg').hide();
						
					}
                }
            })
            
            
        }

        //Extrae a una sugerencia de una lista
        function removeFromList(obj,listID){
            
            suggestionID = $(obj).attr('value')
            domElement=$(obj);
            
            //console.log("Eliminamos sugerencia "+suggestionID+" de la lista " + listID)
            
            $.ajax({
                type: "POST",
                url: url["modify_suggestion_list"],
                data: {
                    list_id: listID,
                    suggestions_del: [suggestionID]
                },
                dataType:'json',
                success: function(data){

                    
                    //Ocultamos el objeto y eliminamos
                    domElement.fadeOut(function(){ 
                        if($('#suggestion_'+suggestionID+' .removable-sugestion-list li').length==1){
                            //Mostramos el mensaje de que no quedan más
                            $('#suggestion_'+suggestionID+' .empty-msg').fadeIn('slow');
                        }
                        
                        if($(obj).parent().children().length==1){
                            //console.log("Ya no quedan más hermanos");
                            $(obj).parent().parent().find('.empty-msg').show()
                        }
                        $(obj).remove();
                        
                        //Actualizamos el contador de la lista
                        updateCounter(listID,data.keys.length);
                    })
                    
                    //Buscamos en la pestaña opuesta
                    if($('#suggestions_lists').hasClass('active')){
						//Borramos del detalle de sugerencia la lista
						if($('#suggestion_'+suggestionID+' ul.removable-sugestion-list li').length==1){
                            //Ya no quedan más hermanos en la pestaña detalle de sugerencia
                            $('#suggestion_'+suggestionID+' .empty-msg').show()
                        }
						$('#suggestion_'+suggestionID+' .list_'+listID).remove()
					}else{
						//Borramos del detalle de lista la sugerencia
						if($('#list_'+listID+' dd.suggestions li').length==1){
                            //Ya no quedan más hermanos en la pestaña detalle de sugerencia
                            $('#list_'+listID+' dd.suggestions .empty-msg').show()
                        }
						$('#list_'+listID+' li[value="'+suggestionID+'"]').remove()
						
					}
                    
                    showMessage("La sugerencia ha sido eliminada de la lista correctamente","success")

                    
                }
            });
        }

        //Añade las sugerencias marcadas a la lista correspondiente
        function submenuLiBehave(obj){
            if($(obj).attr('id')=="new-list-btn")
                return false;
            var addToList=$(obj).attr('id').substring(7,$(obj).attr('id').length);
            var suggestions=[]
            var checkedSuggestions=$('.suggestion input[type=checkbox]').filter(':checked');
            if( checkedSuggestions.length==0){
                showMessage("No hay ninguna sugerencia seleccionada","error")
            }else{
                checkedSuggestions.each(function(){
                    //console.log("Añadimos a la lista: "+addToList+", la sugerencia: "+);
                    suggestions.push($(this).attr('id').substring(9,$(this).attr('id').length))
                });
                
                $.ajax({
                    type: "POST",
                    url: url["modify_suggestion_list"],
                    data: {
                        list_id: addToList,
                        suggestions: suggestions
                    },
                    dataType:'json',
                    success: function(data){
                        
                        //Añadimos a la sugerencia dentro de la lista de sugerencias 
                        //las nuevas listas en las que se encuentra
                        updateSuggestions(data);
                        
                        
                        //Actualizamos el contador de la lista
                        updateCounter(data.id,data.keys.length);
                        
                        //Mostrar mensaje de éxito
                        showMessage("Las sugerencias han sido añadidas a la lista","success")
                    }
                });
            }
            
        }
        
        

        function toogleSuggestion(obj){
            var suggestion_id=$(obj).parent().attr('id').substr(11)
            var temp=$(obj).parent()
            
            temp.parent().find('div.expanded').toggle();
            temp.parent().find('div.collapsed').toggle();
        }


        //function loadSuggestionsPage(page){
        //    GRM.loadPage({
        //        page:page,
        //        "total_pages":{{suggestions.2}},
        //        container:'#suggestion-list',
        //        url:'/ajax/get/suggestion/',
        //        template: "#suggestionTemplate",
        //        data:{
        //                'query_id':"{{suggestions.0}}",
        //            }                
        //    });
        //}

        //Establece el comportamiento a un objeto para poder expandirse
        function setExpandible(obj){
            $(obj+' .maximize-minimize').toggle(function(){
                    //Lo primero que hacemos es cerrar todas aquellas listas/sugerencias
                    //que ya estén desplegadas --> Accordion
                    var parents=$(this).parentsUntil(".tab-content");
                    var elementsList=parents[parents.length-1];
                    var elements;
                    if($(elementsList).attr("id")=="suggestion-list-lists")
                        elements=$(elementsList).children()
                    else
                        elements=$(elementsList).parent().children()
                    
                    $(elements).each(function(i,elem){
                        if($(elem).find(".expanded").css("display")!="none"){
                            $(elem).find(".maximize-minimize").click()
                            
                        }
                    })
                    //A continuación expandimos
                    $(this).parent().find('div.expanded').slideDown('fast');
                    $(this).parent().find('.suggestionName').toggle();
                    $(this).parent().find('.suggestionName_editable').toggle();
                    $(this).removeClass('suggestionCollapsed');
                    $(this).addClass('suggestionExpanded');
                },function() {
                    $(this).parent().find('div.expanded').slideUp('fast'); 
                    $(this).parent().find('.suggestionName').toggle();
                    $(this).parent().find('.suggestionName_editable').toggle();
                    $(this).removeClass('suggestionExpanded');
                    $(this).addClass('suggestionCollapsed');
            });
            
            //Copiamos el comportamiento del click sobre el botón al hacerlo
            //sobre el nombre de la sugenrecia
            $(obj+' .suggestionName').click(function(){
                var element=$(this).parentsUntil('.suggestion').parent().find('.maximize-minimize')
                //Solo simula click cuando no está expandido
                if($(element).hasClass("suggestionCollapsed"))
                    $(element).click();
            })
            $(obj+' .suggestionName_editable').click(function(){
				var element=$(this).parentsUntil('.suggestion,.suggestionList').parent().find('.maximize-minimize')
                //Solo simula click cuando no está expandido
                if($(element).hasClass("suggestionCollapsed"))
                    $(element).click();
            })
        }

        //Elimina las sugerencias marcadas
        function removeSuggestions(){
            temp=$("input[name='suggestions']:checked")
            $.each(temp, function(index,value){
                $.ajax({
                    type: "POST",
                    url: "/ajax/delete/suggestion/",
                    data: {
                        eventid:value.value
                    },
                    complete: function(msg){
                        if (msg.status !=200){
                            showMessage("Error: "+msg.status,"error")
                        }else{
                            $('#suggestion_'+value.value).fadeOut('slow').remove()
                            showMessage("Las sugerencias han sido eliminadas con éxito","success")
                            //Disminuimos el contador
                            $('#suggestions-tab-counter').text(parseInt($('#suggestions-tab-counter').text())-1);
                        }
                        
                    }
                });
            })
        }
        
        //Elimina las listas marcadas
        function removeLists(){
            temp=$("input[name='lists']:checked")
            $.each(temp, function(index,value){
                $.ajax({
                    type: "POST",
                    url: "/ajax/delete/suggestion/list/",
                    data: {
                        list_id: value.value
                    },
                    complete: function(msg){
                        if (msg.status !=200){
                            showMessage("Error: "+msg.status,"error")
                        }else{
                            $('#list_'+value.value).fadeOut('slow').remove()
                            showMessage("Las listas han sido eliminadas con éxito","success")
                            //Disminuimos el contador
                            $('#lists-tab-counter').text(parseInt($('#lists-tab-counter').text())-1);
                            
                            //La borramos del desplegable
                            $('#dropdown-list #listid-'+value.value).remove();
                            
                            //Y del detalle de sugerencia
                            $('.list_'+value.value).remove()
                            
                        }
                        
                    }
                });
            })
        }
        
        //Actualiza el contador de la lista: listID y le pone el valor Val
        function updateCounter(listID,val){
            counterClass='.list-'+listID+'-counter';
            $(counterClass).text(val);
        }

        //Obtiene el id de una sugerencia
        function get_suggestion_id(obj){
            var hash={};
            var parents=$(obj).parentsUntil(':regex(id,(suggestion-list|suggestion-list-lists))');
            var suggestion_element=parents[parents.length-1];
            if($(suggestion_element).hasClass("suggestionList"))
                hash['list_id']=($(suggestion_element).attr("id")).substring(5,($(suggestion_element).attr("id")).length);
            else
                hash['eventid']=($(suggestion_element).attr("id")).substring(11,($(suggestion_element).attr("id")).length);
            var if_editing_name=$('form.editable-fields input[name="name"]').val();
            if(typeof(if_editing_name)!="undefined")
				hash['name']=if_editing_name;
            else
				hash['name']=$(suggestion_element).find('.suggestionName').html();

            
            if($(suggestion_element).find('.editable_visibility select').length>0)
                hash['visibility']=$(suggestion_element).find('.editable_visibility select').val();
            else
                hash['visibility']=$(suggestion_element).find('.editable_visibility').attr("value");
						 
            return hash;
        }

        //Establece los campos editables de las sugerencias de las que se es autor
        function set_editable_fields(objID){
            var eventidValue;
            var tmp;
            
            var base_settings={ 
                 cancel    : 'Cancel',
                 submit    : 'Guardar',
                 indicator : 'Saving...',
                 tooltip   : 'Click to edit...',
                 cssclass  : 'editable-fields',
                 onblur    : 'ignore',
                 callback  : function(value, settings){
                            //Establecemos el valor guardado
                            $(this).html(tmp)
                            if( $(this).hasClass("suggestionName_editable") ){
								this.previousElementSibling.innerHTML = tmp;
							}
                 }
             }
            
        
            var description_field=tags_field=name_field=visibility_field=base_settings;
            
            name_field["name"]="name";
            name_field["type"]="text";
            name_field["width"]="490";
            name_field["onsubmit"]=function(settings, original){
                 settings['submitdata']=get_suggestion_id(this);
                 //Guardamos el valor modificado en una var. temporal
                 tmp=$(this).find("input").val();
                 console.log(tmp)
                 asd=this
            }
            $('.editable_list_name').editable('/ajax/suggestion/list/modify/', name_field);
            
            description_field["name"]="description";
            description_field["type"]="textarea";
            description_field["height"]="40";
            description_field["width"]="390";
            description_field["placeholder"]="Sin descripción";
            description_field["onsubmit"]=function(settings, original){
                 settings['submitdata']=get_suggestion_id(this);
                 //Guardamos el valor modificado en una var. temporal
                 tmp=$(this).find("textarea").val();
            }
            $('.editable_description').editable('/ajax/add/suggestion/', description_field);
            
            description_field["placeholder"]="Esta lista aún no tiene descripción";
            $('.editable_list_description').editable('/ajax/suggestion/list/modify/', description_field);
            
            tags_field["name"]="tags";
            tags_field["type"]="text";
            tags_field["height"]="20";
            tags_field["width"]="none";
            tags_field["placeholder"]="Esta sugerencia no tiene tags";
            tags_field["onsubmit"]=function(settings, original){
                 settings['submitdata']=get_suggestion_id(this);
                 //Guardamos el valor modificado en una var. temporal
                 tmp=$(this).find("input").val()
            }
            $('.editable_tags').editable('/ajax/add/suggestion/', tags_field);
            
            tags_field["placeholder"]="Esta lista de sugerencias no tiene tags";
            $('.editable_list_tags').editable('/ajax/suggestion/list/modify/', tags_field);             
            
            visibility_field["name"]="visibility";
            visibility_field["type"]="select";
            visibility_field["data"]="{'public':'Pública','private':'Privada'}";
            visibility_field["onsubmit"]=function(settings, original){
                 settings['submitdata']=get_suggestion_id(this);
                 //Guardamos el valor modificado en una var. temporal
                 var privacy=$(this).find("select").val()
                 if(privacy=="private")
                    tmp="Privada";
                 else
                    tmp="Pública";
            }
            $('.editable_visibility').editable('/ajax/add/suggestion/', visibility_field);
            $('.editable_list_visibility').editable('/ajax/suggestion/list/modify/', visibility_field);             
        }
        
        
              
    </script>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
{%endblock%}

{% block goBack %}{%endblock%}
{% block body %}
    <div id="suggestions">
<!--
    Sugeridas={{user.counters}}
-->
        <h1>Tu mochila</h1>
        <div id="legend">Leyenda (tipos de contenidos): 
			<ul>
				<li><span class="mine">&nbsp;</span>Generado por ti</li>
				<li><span class="not-mine">&nbsp;</span>Guardado</li>
			</ul>
		</div>
        <ul id="tabMenu">
            <li id="your_suggestions" class="active">Sugerencias (<span id="suggestions-tab-counter">{{suggestions.1|length}}</span>)</li>
            <li id="suggestions_lists">Listas (<span id="lists-tab-counter">{{lists|length}}</span>)</li>
        </ul>
        <div id="content">
                <!-- YOUR SUGGESTIONS -->
                <span id="your_suggestions_content" class="tab-content">
                    <div id="header">
                        <span class="selectCheckBox"><input type="checkbox" id="checkBox_all" /></span>
<!--
                        <span class="btn right nextBtn {% if user.counters.suggested < 11 %} hidden {% endif %}" id="next-page" onclick="loadSuggestionsPage('next')">Siguiente</span>
                        <span class="btn right prevBtn hidden" id="prev-page" onclick="javascript:loadSuggestionsPage('prev')">Anterior</span>
-->
                        
                        <span class="btn removeBtn" onclick="removeSuggestions()">Eliminar</span>
                        
                        <!-- Menu desplegable de listas -->
                        <span class="btn dropDownBtn">
                            <span class="save-at">Guardar en</span>
                            <ul class="submenu" style="display:none" id="dropdown-list">
                                {% if lists %}
                                    {% for obj in lists %}
                                        {% if obj.user.username = request.user.username %}
                                            <!-- Solo se muestran mis listas -->
                                            <li id="listid-{{obj.id}}">{{obj.name}} (<span class="list-{{obj.id}}-counter">{{obj.keys|length}}</span> sugerencias)</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <li class="new-list-btn">
                                    <span id="text">Nueva lista...</span>
                                    <span class="new-list" style="display:none"><input type="text" /></span><div id="cancel-link" onclick="closeDropdown()" style="display:none">Cancel</div>
                                </li>
                            </ul>
                        </span>
                        <!-- Fin -->
                        
                        <span class="btn removeBtn filter"><input type="text" id="filter-suggestions" placeholder="Filtrar por nombre"></span>
                        <span class="btn removeBtn" id="filterMySuggestions">Mis sugerencias</span>
                    </div>
                    
                    <!-- Objetos Suggestion-->
                    {% if user.counters.suggested = 0 and suggestions_following|length = 0 %}
                        <div id="noSuggestions" class="tab-content">
                            <span>
                                Aún no has hecho ninguna sugerencia, para empezar:<br>
                                <a href="{% url2 in_facebook add_suggestion %}" id="btn-add-suggestion">Añade una sugerencia</a>
                            </span>
                        </div>
                    {% else %}
                    <span id="suggestion-list" class="tab-content">
                        {% for k in suggestions.1%}
                            <div id="suggestion_{{k.id}}" class="suggestion{% if k.user.username != user.username%} not-mine{%endif%}">
                                <div class="maximize-minimize suggestionCollapsed"><span>.</span></div>
                                <div class="collapsed">
                                    <span class="checkBox"><input type="checkbox" id="checkBox_{{k.id}}" value="{{k.id}}" name="suggestions" /></span>
                                    <span class="suggestionName">{{k.name}}</span>
                                    <span class="suggestionName_editable" style="display:none"  value="{{k.id}}">{{k.name}}</span>
                                </div>
                                <div class="expanded" style="display:none">
                                    <dl> 
                                        {% if k.user.username != user.username%}
                                            <dt>
                                                Autor:
                                                <div class="help-icon">
                                                    <img id="help-suggestion" alt="Help" src="/static/facebookApp/img/help.png">
                                                </div>
                                            </dt>
                                            <dd>
                                                <a href="{% url2 in_facebook public_profile k.user.username %}">{{k.user.username}}</a>
                                            </dd>
                                        {%endif%}
                                        
                                        {%if k.description or not k.user.username != user.username %}
                                        <dt>Descripción:</dt>
                                        <dd class=" {% if k.user.username == user.username%}editable_description{% endif %}" type="textarea" value="{{k.id}}">{%if k.description %}{{k.description}}{% else %}{% endif %}</dd>
                                        {%endif%}
                                        
                                        <dt>Lugar:</dt>
                                        <dd style="width:390px">
                                            <a class="placeName" href="{% url2 in_facebook view_place k.poi.slug%}">{{k.poi.name}}</a> ({{k.poi.address}}) 
                                             {% if k.user.username == user.username%}<a href="{% url2 in_facebook edit_suggestions k.id %}">Editar</a>{% endif %}
                                        </dd>
                                        
                                        {% if k.user.username != user.username and k.tags|length = 0 %}
                                        {%else%}
                                            <dt>Tags:</dt>
                                            <dd style="width:390px" {% if k.user.username == user.username%}class="editable_tags"{%endif%} type="tags" value="{{k.id}}">{% for tag in k.tags %}{{tag}}{% if not forloop.last %}, {%endif%}{% endfor %}</dd>
                                        {% endif %}
                                            
<!--
                                        {%if k.date_starts or k.date_ends or k.user.username == user.username %}
                                            <dt>Fecha:</dt>
                                            {% if k.date_starts != None or k.date_ends != None%}
                                                <dd class="{% if k.user.username == user.username%}editable{% endif %}">
                                                    {% if k.date_starts != None %}
                                                        {{k.date_starts}}
                                                    {% endif %}
                                                    {% if k.date_ends != None %}
                                                        {{k.date_ends}}
                                                    {% endif %}    
                                                </dd>
                                            {% endif %}
                                            <dd class="{% if k.user.username == user.username%}editable{% endif %}">
                                                <em>Sin fecha</em>
                                            </dd>
                                        {% endif %}
-->
                                        
                                        
                                        <dt>Mis listas:</dt>
                                        <dd style="width:390px">
                                                <ul class="removable-sugestion-list" {% if k.lists|length = 0 %}style="display:none"{% endif %}>
                                                    {% for obj in k.lists %}
                                                        {% if obj.user.username = request.user.username %}
                                                            <li class="list_{{obj.id}} {% if k.user.username == user.username%}removable{% endif %}" value="{{k.id}}">{{obj.name}}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            
                                                
                                                <em class="empty-msg add-on-list" value="{{k.id}}">
                                                    Haz clic aquí para añadir a una lista
                                                </em>
                                            
                                        </dd>
                                        
                                        <dt class="share-row"><strong>Compartir:</strong></dt>
                                        <dd class="share-row">
                                            <ul class="share-suggestion">
                                                <li class="share" type="link" data-href="{{ k.short_url }}" value="{{k.id}}" data-type="event"><a class="share-suggestion link-icon" href="{{ k.get_absolute_fburl }}">Enlace</a></li>
<!--
                                                <li><a class="share-suggestion georemindme-icon" href="">Sugerir a amigos</a></li>
-->
                                                <li class="share" type="twitter" data-href="{{ k.short_url }}" value="{{k.id}}" data-type="event"><a class="share-suggestion twitter-icon" href="">Twitter</a></li>
                                                {% if user.facebook_user %}
                                                    <li class="share" type="wall" data-href="{{ k.short_url }}" value="{{k.id}}" data-type="event"><a class="share-suggestion facebook-icon" href="">Muro</a></li>
                                                {% endif %}
                                            </ul>
                                        </dd>
                                        
                                        <dt>Visibilidad:</dt>
                                        <dd {% if k.user.username == user.username%}class="editable_visibility"{%endif%} value="{{k|private:'_get_visibility'}}">{% if k|private:"_get_visibility" = "public" %}Pública{%else%}Privada{%endif%}</dd>
                                        
                                    </dl>
                                    
                                    
			
                                    <div class="show-more-text" style="display:none">
                                        <p class="big statistics">Estadísticas:</p>
                                        <dl>
                                            
                                            <dt>Valoraciones recibidas: </dt>
                                            <dd>{{k.counters.votes}}</dd>
                                            
                                            <dt>Personas que han guardado la sugerencia: </dt>
                                            <dd>{{k.counters.followers}}</dd>
                                            
                                            <dt>Comentarios recibidos:</dt>
                                            <dd>{{k.counters.comments}}</dd>
                                            
                                            <dt>Última modificación:</dt>
                                            <dd>{{k.modified}}</dd>
                                        </dl>
                                    </div>
                                    <span class="show-more">Mostrar estadísticas</span>
                                    
                                </div>
                                
                            </div>
                            
                            
                        {% endfor%}   
                    </span>           
                    {% endif %}
                </span>
                <!-- END YOUR SUGGESTIONS -->
                    
                    
                    
               
                
                
                
                <!-- LISTS -->
                <span id="suggestions_lists_content" class="tab-content hidden">
                    <div id="header">
                        <span class="selectCheckBox"><input type="checkbox" id="checkBoxList_all" /></span>
                        <span class="btn right nextBtn {% if user.counters.suggested < 11 %} hidden {% endif %}" id="next-page" onclick="loadSuggestionsPage('next')">Siguiente</span>
                        <span class="btn right prevBtn hidden" id="prev-page" onclick="javascript:loadSuggestionsPage('prev')">Anterior</span>
                        
                        <span class="btn removeBtn" onclick="removeLists()">Eliminar</span>
<!--
                        <span class="btn addNewList">
                            Nueva lista
                        </span>
-->
                        <span class="btn removeBtn filter"><input type="text" id="filter-lists" placeholder="Filtrar por nombre"></span>
                        <span class="btn removeBtn" id="filterMyLists">Mis listas</span>                    
                    </div>

                    
                        <div id="suggestion-list-lists">
                        
                        {% if lists %}
                            {% for obj in lists %}
                                <div id="list_{{obj.id}}" class="suggestion suggestionList{% if obj.user.username != user.username%} not-mine{%endif%}">
                                    <div class="maximize-minimize suggestionCollapsed"><span>.</span></div>
                                    <div class="collapsed">
                                        <span class="checkBox"><input type="checkbox" id="checkBoxList_{{obj.id}}" value="{{obj.id}}" name="lists" /></span>
                                        <span class="suggestionName">{{obj.name}}</span>
                                        <span class="suggestionName_editable {% if obj.user.username == user.username%}editable_list_name{% endif %}" style="display:none">{{obj.name}}</span>                                        
                                    </div>
                                    <div class="expanded" style="display:none">
                                        <dl>
                                            {% if obj.user.username != user.username%}
                                                <dt>Autor:</dt>
                                                <dd><a href="{% url2 in_facebook public_profile obj.user.username %}">{{obj.user.username}}</a></dd>
                                            {% endif %}
                                            <dt>Descripción:</dt>
                                            <dd class="{% if obj.user.username == user.username%}editable_list_description{% endif %}">{%if obj.description%}{{obj.description}}{%endif%}</dd>
                                            
                                            <dt>Sugerencias:</dt>
                                            <dd class="suggestions">
                                                
                                                <ul class="removable-suggestions-in-lists" {% if obj.instances|length = 0 %} style="display:none" {%endif%}>
                                                    {% for k in obj.instances %}
                                                        <li  class="list_{{obj.id}} {% if obj.user.username == user.username%}removable{% endif %}" value="{{k.id}}">{{k}}</li>
                                                    {% endfor %}
                                                </ul>
                                                
                                                <em class="empty-msg {% if obj.user.username == user.username%}editable{% endif %}" value="{{obj.id}}" {% if obj.instances|length > 0 %} style="display:none" {%endif%}>
                                                    No hay sugerencias en esta lista
                                                </em>
                                                
                                            </dd>
                                            
                                            <dt>Tags:</dt>
                                            <dd {% if obj.user.username == user.username%}class="editable_list_tags"{%endif%}>{% if obj.tags %}{% for tag in obj.tags %}{{tag}}{%if not forloop.last%}, {%endif%}{%endfor%}{% endif %}</dd>
                                            <dt><strong>Compartir:</strong></dt>
                                            <dd>
                                                <ul class="share-suggestion">
                                                    <li class="share" type="link" data-href="{{ obj.short_url }}" value="{{k.id}}" data-type="list"><a class="share-suggestion link-icon" href="{{ k.get_absolute_fburl }}">Enlace</a></li>
    <!--
                                                    <li><a class="share-suggestion georemindme-icon" href="">Sugerir a amigos</a></li>
    -->
                                                    <li class="share" type="twitter" data-href="{{ obj.short_url }}" value="{{k.id}}" data-type="list"><a class="share-suggestion twitter-icon" href="">Twitter</a></li>
                                                    <li class="share" type="wall" data-href="{{ obj.short_url }}" value="{{k.id}}" data-type="list"><a class="share-suggestion facebook-icon" href="">Muro</a></li>
                                                </ul>
                                            </dd>
                                            <dt>Visibilidad:</dt>
                                            <dd {% if obj.user.username == user.username%}class="editable_list_visibility"{%endif%} value="{{obj.visibility}}">{% if obj.visibility = "public" %}Pública{%else%}Privada{%endif%}</dd>
                                        </dl>
                                        
                                        <div class="show-more-text" style="display:none">
											<p class="big statistics">Estadísticas:</p>
											<dl>
												
												<dt>Personas que han guardado la lista: </dt>
												<dd>{{obj.counters.followers}}</dd>
												
												<dt>Comentarios recibidos:</dt>
												<dd>{{obj.counters.comments}}</dd>
												
												<dt>Última modificación:</dt>
												<dd>{{obj.modified}}</dd>
											</dl>
										</div>
										<span class="show-more">Mostrar estadísticas</span>
                                    </div>
                                </div>
                            {% endfor %}
						{% endif %}
                        </div>
                    
                </span>
                <!-- END LISTS -->
            </table>
        </div>
    </div>
    
    
    <script id="suggestionTemplate" type="text/x-jquery-tmpl">
        <div id="suggestion_${element.id}" class="suggestion">
            <div class="collapsed">
                <span class="checkBox"><input type="checkbox" id="checkBox_{{element.id}}" value="${element.id}" /></span>
                <span class="suggestionName">${element.name}</span>
<!--
                <span class="suggestionInLists">Lista ${element.id}</span>
-->
            </div>
            <div class="expanded hidden">
                Id:${element.id}<br>
            </div>
        </div>
    </script>
    
    <!-- A MODIFICAR -->
    <script id="listTemplate" type="text/x-jquery-tmpl">
        <div id="list_${obj.id}" class="suggestion suggestionList">
            <div class="maximize-minimize suggestionCollapsed"><span>.</span></div>
            <div class="collapsed">
                <span class="checkBox"><input type="checkbox" id="checkBox_${obj.id}" value="${obj.id}" name="lists" /></span>
                <span class="suggestionName">${obj.name}</span>
                <span class="suggestionName_editable editable_list_name" style="display:none">${obj.name}</span>                                        
            </div>
            <div class="expanded" style="display:none">
                <dl>
                    <dt>Descripción:</dt>
                    <dd class="editable_list_description"></dd>
                    
                    <dt>Sugerencias</dt>
                    <dd class="suggestions">
                        
                         <ul class="removable-suggestions-in-lists" style="display:none">
                            {% templatetag openvariable %}each keys{% templatetag closevariable %}
                                <li  class="list_${obj.id} removable" value="${$value.id}">${$value.name}</li>
                            {% templatetag openvariable %}/each{% templatetag closevariable %}
                        </ul>
                        
                        <em class="empty-msg editable" value="nothing">
                            No hay sugerencias en esta lista
                        </em>
                        
                    </dd>
                    
                    <dt>Tags:</dt>
                    <dd class="editable_list_tags">

                        {% if obj.tags %}
                            {% templatetag openvariable %}obj.tags{% templatetag closevariable %}
                        {% endif %}

                    </dd>
                    <dt><strong>Compartir:</strong></dt>
                    <dd>
                        <ul class="share-suggestion">
							<li class="share" type="link" data-href="${obj.short_url}" data-type="list">
								<a class="share-suggestion link-icon" href="">Enlace</a>
							</li>
							<li class="share" type="twitter" data-href="${obj.short_url}" data-type="list">
								<a class="share-suggestion twitter-icon" href="">Twitter</a></li>
							<li class="share" type="wall" data-href="${obj.short_url}" data-type="list">
								<a class="share-suggestion facebook-icon" href="">Muro</a>
							</li>
                        </ul>
                    </dd>
                    
					<dt>Visibilidad:</dt>
					<dd class="editable_list_visibility" value="${obj.visibility}">
						{% if obj.visibility == "public" %}
                            Pública
                        {% else %}
                            Privada
                        {% endif %}
						
					</dd>
                    
                </dl>
                
				<div class="show-more-text" style="display:none">
					<p class="big statistics">Estadísticas:</p>
					<dl>
						
						<dt>Personas que han guardado la lista: </dt>
						<dd>${obj.counters.followers}</dd>
						
						<dt>Comentarios recibidos:</dt>
						<dd>${obj.counters.comments}</dd>
						
						<dt>Última modificación:</dt>
						<dd>${obj.modified}<</dd>
					</dl>
				</div>
				<span class="show-more">Mostrar estadísticas</span>
                
            </div>
        </div>
    </script>
    
    <div class="help-txt" style="display:none" id="share-text" title="Compartir">
        
    </div>
    
    <script id="shareLink" type="text/x-jquery-tmpl">
		<p>Con este enlace cualquier persona podrá acceder tu recomendación</p>
		<input type="text" value="${link}" readonly="readonly">
    </script>
    <script id="shareTwitter" type="text/x-jquery-tmpl">
		<p>Envía esta sugerencia a tus seguidores en Twitter.</p>
        <textarea id="twitter_msg" data-id="${elem_id}" event-type="${type}">${link}</textarea>
        <span id="twitter-counter">140</span>
        {{user.has_perms_twitter}}
        {% if user.has_perms_twitter %}
			{% comment %}
				Si tiene la cuenta de Twitter asociada le dejamos escribir directamente:
			{% endcomment %}
		{% else %}
			<div style="display:none">
			   <a href="http://twitter.com/share" class="twitter-share-button" target="_blank">Tweet</a>
			</div>
		{% endif %}
    </script>
    <script id="shareFacebook" type="text/x-jquery-tmpl">
		
			<p>Envía esta sugerencia a tu muro de Facebook:</p>
			<textarea id="facebook_msg" data-id="${elem_id}" event-type="${type}">${link}</textarea>
		
    </script>
    
    <div class="help-txt" style="display:none" id="help-suggestion-text" title="Información">
        <p>Solo el autor de una sugerencia puede modificar sus campos descripción, tags y corregir la localización.</p>
        <p>Tu podrás incluir esta sugerencia en cualquiera de tus listas, compartirla con otros usuarios, valorarla y comentarla.</p>
        <p>Además podrás comentar, valorar y guardar en tu baúl aquellas sugerencias y listas de sugerencias que te hayan gustado.</p>
        <p>Si tienes alguna duda o sugerencia puedes hacerla aquí:</p>
        

    </div>
    
    
    
{% endblock %}
