{% extends "base.html" %}
{% load i18n %}

{% block extra_js %}
        <script type="text/javascript">
        $(document).ready(function(){
            $('#suggestion-list li').hover(
                function(){$(this).find('div').css({'display': 'inline'});},
                function(){$(this).find('div').css({'display': 'none'});}
            );
        });
	</script>
{%endblock%}

{% block title %}View list{% endblock %}

{% block goBack %}{%endblock%}    
{% block body %}
    
    <h1>{{list}}</h1>
	<div id="suggestion-info">
		<p>Descripción: {{list.description}}</p>
	    <p>Autor: <a href="#">{{list.user}}</a></p>
	    <p>Etiquetas: <a href="#">Bares</a> | <a href="#">Restaurantes</a> | <a href="#">Almería</a></p>
	</div>
	<div id="suggestion-aside">
		<h2>Seguir</h2>
	</div>
	<h2 class="clear-left">Sugerencias</h2>
	
	<ul id="suggestion-list">
		{% for sugg in suggestions %}
		<li>
			<a class="sugg-link" href="{% url fb_view_suggestion sugg.instance.slug %}">{{sugg.instance.name}}</a> <br> En <span class="sugg-place">{{sugg.instance.poi.name}}</span>
			
			<div class="save-suggestion" value="104" type="suggestion">
				<a href="#">Add</a>
			</div>
			<div class="like-suggestion" value="104" type="suggestion" style="display:none;">
				<a href="#">Like</a>
			</div>
			<div class="map-suggestion" value="104" type="suggestion" style="display:none;">
				<a href="#">Map</a>
			</div>
			
		</li>
		{% endfor %}
	</ul>
	
	<h2>¿Tienes algún comentario para esta lista?</h2>
    <textarea id="msg-to-list"></textarea>
    <span class="btn" onclick="sendComment(this);">Comentar</span>
	
    {% if comments %}
	<h2>Comentarios</h2>
    <ul class="comments" id="comment-list">
        {% for c in comments %}
            <li class="suggestion-element" {% if forloop.last %}style="border-bottom:1px dotted #BBBBBB"{% endif %}>
                
                <!-- Añadimos el botón de borrar comentario-->
                {% if c.username = user.username %}
                    <div class="removable" value="{{c.id}}" type="comment"><a href="#">Remove</a></div>
                {% endif %}
                                        
                <span class="user"><img src="{% url user_avatar c.username %}" alt="{{c.username}} avatar"></span>
                <div style="float:left">
                    <span class="msg"><a href="{% url fb_public_profile c.username%}">{{c.username}}</a>: {{c.msg}}</span>
                    <span class="timestamp">{{c.created|naturaltime}}</span> | 
                    <span class="action-bar">
                        <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                            <span class="dislike">
                                <span class="hoverlink">Ya no me gusta</span> 
                                <span class="text like-text {% if not c.has_voted %}increase{% endif %}">{{c.vote_counter}}</span> personas
                            </span>
                            
                            <span class="like">
                                <span class="hoverlink">Me gusta</span> 
                            </span>
                        </span>
                    </span>
                </div>
            </li>
        {% endfor %}

    </ul>
    {% endif %}
    <p>Comentarios populares: {{top_comments}}</p>
{%endblock%}
