{% extends "base.html" %}
{% load humanize %}

{% block title %}Ver sitio{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1&amp;hl={{user.settings.language}}"></script>
    <script src="/static/facebookApp/js/grm.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        
        //Set like & dislike behaviour
        $(".like-dislike").like();
        
        //Load Panoramios photos
        var latlngStr = "{{place.location}}".split(",",2);
        var ne={}
        var sw={}

        ne['lat']=parseFloat(latlngStr[0])+0.001504;
        ne['lng']=parseFloat(latlngStr[1])+0.001304;

        sw['lat']=parseFloat(latlngStr[0])-0.000448;
        sw['lng']=parseFloat(latlngStr[1])-0.001309;
        
        var myRequest = new panoramio.PhotoRequest({
          'rect': {'sw': {'lat': sw['lat'], 'lng': sw['lng']}, 'ne': {'lat': ne['lat'], 'lng': ne['lng']}}
        });
        
        var myOptions = {
          'width': 230,
          'height': 230,
          'columns': 3,
          'rows': 3,
          'croppedPhotos': true
        };
        
        var wapiblock = document.getElementById('wapiblock');
        var widget = new panoramio.PhotoListWidget(wapiblock, myRequest, myOptions);
        widget.setPosition(0);
        //END: Load Panoramios photos
        resizeIframe();
    });
    
    
    </script>
{%endblock%}

{% block body %}
    <div id="view-place">
        <div id="place-container">
            <div id="place-details">
                <h1>{{place.name}}</h1>
                <p><strong>Dirección</strong>: {{place.address}}</p>
                <a href="http://maps.google.com/maps?q={{place.address}}&hl=en&ie=UTF8&z=16"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{place.location}}&zoom=14&size=270x200&maptype=roadmap
    &markers=color:red%7C{{place.location}}&sensor=false"></a>
            </div>
            <div id="place-pictures">
                <p>Fotos de la zona</p>
                <div id="wapiblock"></div>
            </div>
        </div>
        <div>
            <p class="big">Los usuarios han hecho {{suggestions.1|length}} sugerencias en este sitio</p>
            {{suggestions}}
            <ul class="comments">
            
                {% for s in suggestions.1%}                
                <li class="suggestion-element" {% if forloop.last %}style="border-bottom:1px dotted #BBBBBB"{% endif %}>
                    <span class="user"><img src="/user/{{s.user.username}}/picture/" alt="{{s.user.username}} avatar"></span>
                    <div style="float:left">
                        <span class="msg"><a href="">{{s.user.username}}</a> sugiere:<br> {{s.name}}</span>
                        <span class="timestamp">{{s.created|timesince}} - </span>
                        <span class="like-dislike" value="{{s.id}}" {% if s.has_voted %}like="true"{%endif%} type="suggestion">
                            <span class="dislike">
                                <span class="hoverlink">Ya no me gusta</span> 
                                <span class="text like-text {% if not s.has_voted %}increase{% endif %}">{{s.counters.followers}}</span> personas
                            </span>
                            
                            <span class="like">
                                <span class="hoverlink">Me gusta</span> 
                            </span>
                        </span>
                        - <a href="/fb/suggestion/{{s.id}}" class="hoverlink">Ver más</a>
                    </div>
                </li>
                {% endfor %}
                
                
            </ul>
        </div>
    </div>
{% endblock %}
