{% extends "base.html" %}
{% load i18n %}
{% load tags %}


{% block extra_js %}
		<script type="text/javascript">
        $(document).ready(function(){
			
            $('#suggestion-list li').hover(
                function(){$(this).find('div.save-suggestion,div.like-suggestion,div.map-suggestion').css({'display': 'inline'});},
                function(){$(this).find('div.save-suggestion,div.like-suggestion,div.map-suggestion').css({'display': 'none'});}
            )
        });
	</script>
{%endblock%}

{% block title %}Search{% endblock %}

{% block goBack %}{%endblock%}   
 
{% block body %}
	
	<div id="suggestion-tag-search">
        <form action="">
            Buscar sugerencias que tenga la palabra clave: 
            <input type="text" placeholder="palabra clave"/>
            <input type="submit" value="Buscar" onclick="search(this)">
        </form>
    
		<h2 class="clear">Se ha{{suggestions.1|length|pluralize:"n"}} encontrado {{suggestions.1|length}} sugerencia{{suggestions.1|length|pluralize:"s"}} que contiene{{suggestions.1|length|pluralize:"n"}} la palabra clave "?tag?":</h2>
        
		<ul>
            {% for obj in suggestions.1 %}
                <li>
                    <div class="search-avatar">
                        <a href="{%url2 in_facebook public_profile obj.user.username%}"><img src="{% embedded_avatar obj.user.username %}" alt="" title=""></a>
                    </div>
                    <div class="search-text">
                        <a class="sugg-link hoverlink" href="{%url2 in_facebook view_suggestion obj.slug %}">{{obj.name}}</a> <br>
                        En <span class="sugg-place"><a href="{%url2 in_facebook view_place obj.poi.slug %}" class="black-link">{{obj.poi.name}}</a> | Creada: {{obj.created|naturaltime}}</span>
                    </div>
                </li>
			{% endfor %}
		</ul>
		
	</div>
	
    
{%endblock%}
