{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=8" />
   <title>GeoRemindMe - Dashboard</title>
   
   <link rel="stylesheet" href="/static/webapp/style/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/static/webapp/style/dashboard.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/static/webapp/style/print.css" type="text/css" media="print" />
   <link rel="stylesheet" href="/static/webapp/style/jquery-ui.css" type="text/css"/>
   
   <!--[if IE]>
   <link rel="stylesheet" href="/static/webapp/style/ie.css" type="text/css"
   media="screen, projection" />
   <![endif]-->
      
   <!-- LOAD JQUERY and GMAPS libraries-->
   <script type="text/javascript" src="/static/webapp/js/jquery.min.js"></script> 
   <script type="text/javascript" src="/static/webapp/js/jquery-ui.min.js"></script> 
   <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
   <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
   
   <!-- i18n -->
   <script type="text/javascript">
   
    I18N = {}
    
    I18N['There are elements that could not be saved. If you leave the page you will lose it.'] = "{% trans "There are elements that could not be saved. If you leave the page you will lose it." %}";
    I18N['New task'] = "{% trans "New task" %}";
    I18N["Sure you want to delete the task"] = "{% trans "Sure you want to delete the task" %}";
    
    MONTH = {};
    MONTH[1] = "{% trans "January" %}";
    MONTH[2] = "{% trans "Febrary" %}";
    MONTH[3] = "{% trans "March" %}";
    MONTH[4] = "{% trans "April" %}";
    MONTH[5] = "{% trans "May" %}";
    MONTH[6] = "{% trans "June" %}";
    MONTH[7] = "{% trans "July" %}";
    MONTH[8] = "{% trans "August" %}";
    MONTH[9] = "{% trans "September" %}";
    MONTH[10] = "{% trans "October" %}";
    MONTH[11] = "{% trans "November" %}";
    MONTH[12] = "{% trans "December" %}";
    
   
    function gettext(text)
    {
        if (typeof(I18N[text])!="undefined")
            return I18N[text];
        else
            return text;
    }
   
   </script>
 
   
   <!-- MAIN FUNCTIONS -->
   <script type="text/javascript" src="/static/webapp/js/dashboard.js"></script>


   <script id="doneTemplate" type="text/x-jquery-tmpl">
        <li id="done-task-${task}" ><input type="checkbox" checked="checked" onchange="undoTask('${task}');"><span onclick="undoTask('${task}');"><strong class="date">${donedate}</strong>${name}</span></li>
    </script>
   
   <script id="taskTemplate" type="text/x-jquery-tmpl">

      <div class="li-tarea" id="full-task-${task}" onmouseout="hideButtons('${task}');" onmouseover="showButtons('${task}');" >
         <!-- Buttons -->
         <span class="hover-li-icons" id="buttons-${task}" style="visibility:hidden;"><img src="/static/webapp/img/icon_papelera.png" alt="Borrar" onclick="removeTask('${task}');"><img src="/static/webapp/img/icon_editar.png" alt="Edit" onclick="editTask('${task}');"></span>
               
         <!-- Checkbox -->
         <!--<div></div>-->
         
         <!-- Task name -->
         <div class="task-details" id="name-${task}" onclick="highlightTask('${task}');"><input type="checkbox" class="task-done" onchange="doTask('${task}');"><span class="task" ondblclick="editTask('${task}');" >${name}</span></div>

         <!-- Edit form -->
         <span style="display:none;" class="task-edit" id="edit-${task}" onclick="highlightTask('${task}');">
            <input type="checkbox" class="task-done" onchange="doTask('${task}');">
            <input type="text" value="${name}" class="task-name"><br>
            <label for ="location">{% trans "Address:" %}</label> <input type="text" class="location" value="${ address }"> <br>
            <label for ="description">{% trans "Description:" %}</label><br><textarea rows="3" >${description}</textarea><br>
            <span style="display:none;"><label for="radius">{% trans "Range (meters):" %}</label> <input type="text" name="radius" class="radius" value="${distance}"><br></span>
            <input type="button" value="SAVE" class="saveButton" onclick="saveTask('${task}');stopPropagation(event);"/> {% trans "or" %} <span class="linkStyle cancelButton" onclick="cancelEdit('${task}');stopPropagation(event);">{% trans "Cancel" %}</span>
         </span>
         
      </div>
   </script>

</head>

<body>
   <div id="bg_header">&nbsp;</div>
   <!--<div id="bg_footer">&nbsp;</div>-->
   <div class="container" id="main-container">
      
      <div id="header">
         <img src="/static/webapp/img/logo_min.png" alt="GeoRemindMe" id="logo">
         <div id="logged-menu"><span>{% blocktrans with user.email as email %}Hello {{ email }}! {% endblocktrans %}</span>{%comment%}<a href="#" id="profile" class="icon-menu-bar" title="{% trans "My profile" %}">{% trans "My account" %}</a> {%endcomment%}<a href="#" class="icon-menu-bar" title="{% trans "Help" %}" id="help" accesskey="h">{% trans "Show help" %}</a> <a href="{% url georemindme.views.logout %}" class="icon-menu-bar" title="{% trans "Logout" %}" id="logout" accesskey="l">{% trans "Logout" %}</a></div>
      </div>
         <div class="col-right">
            <h1>{% trans "Pending tasks" %}</h1>
            <div id="task-filter">
            <div id="container-add-task"><span id="add-task" class="linkStyle" accesskey="a">{% trans "Add a new task" %}</span></div>
            <!--<img src="/static/webapp/img/mirilla.png" alt="{% trans "Where am I?" %}" title="{% trans "Where am I?" %}" id="pointer" onclick="setCurrentLocation();"/>-->
            <div id="search">{% trans "Search:" %} <input type="text" value="" onkeyup="search();" autocomplete="off"></div>
         </div>
         
            <div id="task-list">
         {% comment %}
            {% for a in alerts %}
            <li class="li-tarea">&nbsp;
               <div><input type="checkbox" class="task-done" name="cBtask-{{alert.key}}"></div>
               <div class="task-details" id="container-tarea{{alert.key}}"><span id="tarea{{alert.key}}" class="task">{% if alert.poi.address %} {{alert.poi.address}} {%else%}{% if alert.poi.business %}{{alert.poi.business}}{%endif%}{%endif%}</span></div>
            </li>
            {% endfor %}
         {% endcomment %}
            </div>
            <div id="done-tasks">
            <p>{% trans "Completed tasks:" %}</p>
            <ul id="done-list">
            </ul>
            </div>
         </div>
         
         <div id="map_container" class="col-left">
            <span  id="show-all"><span onclick="$('#show-all input[type=checkbox]').attr('checked',!$('#show-all input[type=checkbox]').attr('checked'));toggleShowAll();">{% trans "Show me all the chickens" %}</span><input type="checkbox" onchange="toggleShowAll();" checked="checked"/></span>
            <div id="map_canvas"></div>
            
         </div>
         <div id="footer" class="span-24 last clear">
            <p id="split"><span id="footer-text">Show</span><span id="icon_split"></span></p>
            <div style="background-color:white;width:100%">
               <div>
                  <ul>
                     <li class="vertical-ruler"><a href="{% url contact%}" onclick="window.open(this.href);return false;">{% trans "Contact us" %}</a></li>
                     <li class="vertical-ruler"><a href="{%url knowmore%}#community">{% trans "Contribute with us" %}</a><span></span></li>
                     <li><a href="{%url knowmore%}">{% trans "Know more" %}</a><span></span></li>
                     
                  </ul>
               </div>
               <div id="language">
               {% get_available_languages as LANGUAGES %}
               {% get_current_language as LANGUAGE_CODE %}
                  <h3>{% trans "Language:" %}</h3>
                  <form action="/lang/" method="POST">
                         <select name="lang" id="language-bar" onchange="this.form.submit()">
                        {% for code, name in LANGUAGES %}
                           <option name="lang" {%if LANGUAGE_CODE == code %}selected="selected"{% endif %} value="{{code}}"  hreflang="{{code}}">{{name}}</option>
                          {% endfor %}
                        </select>
                        {% csrf_token %}
                     <input type="hidden" name="next" value="{{ request.path }}" />
                  </form>
               </div>
            </div>
      </div>
   </div>
   
    <div id="help-toolbar">
        <p id="closeBtn" onclick="$('#help').click()">Close</p>
        <p>{% trans "How can we help you?" %}</p>
        
        <ul>
            <li id="videos"><a href="http://youtube.com/georemindme/" onclick="window.open(this.href);return false;">{% trans "Videos" %}</a></a></li>
            <li id="ideas"><a href="http://getsatisfaction.com/georemindme/ideas/popular" onclick="window.open(this.href);return false;">{% trans "Ideas" %}</a></li>
            <li id="faq"><a href="http://getsatisfaction.com/georemindme/questions/popular" onclick="window.open(this.href);return false;">{% trans "FAQ" %}</a></li>
            <li id="advices"><a href="/help#advices" onclick="return false;">{% trans "Tips" %}</a></li>
            <li id="praises"><a href="http://getsatisfaction.com/georemindme/praise/recent" onclick="window.open(this.href);return false;">{% trans "Requests" %}</a></li>
            <li id="problems"><a href="http://getsatisfaction.com/georemindme/problems/common" onclick="window.open(this.href);return false;">{% trans "Problems" %}</a></li>
        </ul>
    </div>
   </div>
   </div>
   <script type="text/javascript"> 
 
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-19272923-2']);
     _gaq.push(['_trackPageview']);
    
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    
   </script> 

</body>

</html>
