{% load i18n %}
<!-- It form is for the class SocialUserForm at geouser/forms -->

<form method="post"  action=".">
    {% csrf_token %}
    
    
        <div class="section">
            <div class="header">
                <h2>{% trans "Notificaciones" %}</h2>
                <div class="help-icon"><img src="/static/common/img/transparent.gif" alt="Help"  id="help-accounts-control"></div>
            </div>
            
            <p>{% trans "Te llegarán notificaciones por email cuando:" %}</p>
            <dl id="mail-notifications">
                <dt>{% trans "Otro usuario empieza a seguir tus sugerencias" %}</dt>
                <dd>{{settings_form.time_notification_account}}</dd>
                
                
                <dt>{% trans "Recibes un comentario en una sugerencia" %}</dt>
                <dd>{{settings_form.time_notification_suggestion_comment}}</dd>
                
                
                <dt>{% trans "Persona guarda una sugerencia tuya" %}</dt>
                <dd>{{settings_form.time_notification_suggestion_follower}}</dd>
               
                
<!--
                <dt>Otro usuario te envíe una sugerencia</dt>
                <dd>{{settings_form.show_public_profile}}</dd>
-->
            </dl>
        </div>
        
        <div class="section">
            <div class="header">
                <h2>{% trans "Privacidad" %}</h2>
                <div class="help-icon"><img src="/static/common/img/transparent.gif" alt="Help"  id="help-accounts-control"></div>
            </div>
            
            <p><strong>{% trans "Perfil público" %}</strong>: {{settings_form.show_public_profile}}</p>
            {% if settings_form.show_public_profile.errors %}
                 <span class="error-msg" id="email-error">
                    {{settings_form.show_public_profile.errors}}
                </span>
            {% endif %}
            <p>{% trans "Por defecto todas las sugerencias y listas de sugerencias serán mostradas públicamente, aunque siempre existe la posibilidad de cambiarles individualmente la visibilidad." %}</p>
		</div>
<!--
		<div class="section">	
			<div class="header">
                <h2>Idioma</h2>
                <div class="help-icon"><img src="/static/common/img/transparent.gif" alt="Help"  id="help-accounts-control"></div>
            </div>
           Idioma de la interfaz:
           {{settings_form.language}}
        </div>
-->

    
    
    <input type="submit" value="{% trans "Guardar" %}" id="startBtn" title="{% trans 'Por favor rellena todos los campos' %}">
</form>

