{% load i18n %}
<!-- It form is for the class SocialUserForm at geouser/forms -->
{% block extra_js %}
    <script type="text/javascript">
    
        function samePass(){
            if($('#id_user_set_username-password').val()==$('#id_user_set_username-password2').val())
                return true;
            else
                return false;
        }
        
        function validUsername(){
            username=$('#id_user_set_username-username').val();
            if(username.length<6){
                $('#username-error').text('Por favor utilice un nombre de usuario con más de 6 caracteres').fadeIn('slow');
                return false;
            }
            else{
                $('#username-error').fadeOut('slow');
                return true;
            }
        }
        
        function validEmail() {
            var regexp  = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var email=$('#id_user_set_username-email').val();
            
            if(regexp.test(email)==false){
                $('#email-error').text('Por favor introduzca un email válido').fadeIn('slow');
                return false;
            }
            $('#email-error').fadeOut('slow');
            
            return true;				
        }
        
        function validateForm(){
            var validForm=true;
             if($('#id_user_set_username-email').length>0){
                if(!validEmail()){
                    validForm=false;
                    //console.log("Email y usuario validos")
                }
            }
            if($('#id_user_set_username-username').length>0){
                if(!validUsername()){
                    validForm=false;
                    //console.log("Usuario invalido")
                }
            }
            if($('#id_user_set_username-password').length>0){
                if(!samePass()){
                    validForm=false;
                    //console.log("Password invalidos")
                }
            }
            return validForm;
        }
        
        $(document).ready(function(){
            
            //-------------------------------------
            //ADDING TRIGGERS TO INPUT FIELDS
            //-------------------------------------
            //REALTIME checking Username Length
            $('#id_user_set_username-email').blur(validEmail)
            $('#id_user_set_username-username').blur(validUsername)
            $('#id_user_set_username-username').keypress(function(){
                if($(this).val().length>=6)
                    $('#username-error').fadeOut('slow');
            });
            
            //Checking pass length
            $('#id_user_set_username-password').blur(function(){
                pass=$(this).val();
                if(pass.length<5 || pass.length>12){
                    $('#password-error').text('La contraseña tiene que estar entre 5 y 12 caracteres').fadeIn('slow');
                }else{
                    $('#password-error').fadeOut('slow');
                }
            })
            
            //Checking pass length
            $('#id_user_set_username-password2').blur(function(){
                var pass=$(this).val();
                if(pass.length<5 || pass.length>12){
                    $('#password2-error').text('La contraseña tiene que estar entre 5 y 12 caracteres').fadeIn('slow');
                }else{
                    $('#password2-error').fadeOut('slow');
                }
            })
            //-------------------------------------
            
            //Form validation
            $("form").submit(function() {
                
                if(validateForm())
                    return true;
                else
                    return false;
                
            });
        });
    </script>
{% endblock %}
{%if form.errors %}
{{error}}
{%endif%}
<!--
<div class="clear">asd={{form.errors}}</div>
<div class="clear">123123={{form.errors.email}}</div>
<div class="clear">1456456={{form.errors.username}}</div>
-->
<form method="post" id="SocialUserProfile-form" action=".">
    {% csrf_token %}
    <div class="fieldWrapper">
        {% if form.email %}
            <label for="id_Email">Email:</label>
            <input id="id_{{form.prefix}}-email" type="text" value="{% if form.initial.email %}{{form.initial.email}}{% endif %}" name="{{form.prefix}}-email">

            <div class="error-msg" id="email-error" style="{% if form.errors.email %}display:block {%endif%}">
                {{form.errors.email}}
            </div>
        
        {%endif%}
        
        {% if form.username %}
            <label for="id_username">Nombre de usuario: <sup>(*)</sup></label>
            <input id="id_{{form.prefix}}-username" type="text" value="{% if form.initial.username %}{{form.initial.username}}{% endif %}" name="{{form.prefix}}-username">
            <p class="footer-notes">(Solo letras, números y _ ).</p>
            <div class="error-msg" id="username-error"  style="{% if form.errors.username %}display:block {%endif%}">
                {{form.errors.username}}
            </div>
        {%endif%}
        
        {% if form.password %}
            <label for="id_password">Contraseña:</label>
            <input id="id_{{form.prefix}}-password" type="password" value="{% if form.initial.password %}{{form.initial.password}}{% endif %}" name="{{form.prefix}}-password">
            <div class="error-msg" id="password-error">
                {{form.errors.password}}
    <!--
                {% if form.errors.password %}
                    {% for error in form.errors.password %}
                        <strong>{{ error|escape }}</strong><br>
                    {% endfor %}
                {% endif %}
    -->
            </div>
        
            <label for="id_password2">Repitala "please":</label>
            <input id="id_{{form.prefix}}-password2" type="password" value="{% if form.initial.password2 %}{{form.initial.password2}}{% endif %}" name="{{form.prefix}}-password2">
            <div class="error-msg" id="password2-error">
                {{form.errors.password2}}
    <!--
                {% if form.errors.password2 %}
                    {% for error in form.errors.password2 %}
                        <strong>{{ error|escape }}</strong><br>
                    {% endfor %}
                {% endif %}
    -->
            </div>
        {%endif%}
        
    </div>
    <span class="btn clear" id="last-step">Listo</span>
    <input type="submit" value="{% trans "Terminar" %}" id="startBtn" class="btn" title="{% trans 'Por favor rellena todos los campos' %}" style="display:none">
</form>

