{% load i18n %}
<!-- It form is for the class SocialUserForm at geouser/forms -->


<form method="post" id="SocialUserProfile-form" action=".">
    {% csrf_token %}
    <div class="fieldWrapper">
        <label for="id_Email">Email:</label>
        <input id="id_{{form.prefix}}-email" type="text" value="{% if form.initial.email %}{{form.initial.email}}{% endif %}" name="{{form.prefix}}-email">
        {% if form.email.errors %}
        <span class="error-msg" id="email-error">
                {{form.email.errors}}
        </span>
        {% endif %}
        <label for="id_username">Username:</label>
        <input id="id_{{form.prefix}}-username" type="text" value="{% if form.initial.username %}{{form.initial.username}}{% endif %}" name="{{form.prefix}}-username">
       {% if form.username.errors %}        
        <span class="error-msg" id="username-error">
                {{form.username.errors}}
        </span>
        {% endif %}
    </div>
    <input type="submit" value="{% trans "Continuar" %}" id="startBtn" title="{% trans 'Por favor rellena toso los campos' %}">
</form>

