{% load i18n %}
<form id="add-suggestion-form" action="javascript: return false;" >
<!--
        name = forms.CharField(required=True)
        place_id = forms.IntegerField(required=True, initial=-1)
        starts = forms.DateTimeField(required=False, widget=SelectDateWidget())
        ends = forms.DateTimeField(required=False, widget=SelectDateWidget())
        description = forms.CharField(required=False,widget=forms.Textarea())    
        done = forms.BooleanField(required=False)
        visibility = forms.ChoiceField(required=True, choices=VISIBILITY_CHOICES)
-->
    
        <p id="suggestion-item">
            <label>¿Qué sugieres?</label>
            <textarea id="id_name" name="name">{{name}}</textarea>
            <span id="counter"></span>
        </p>
        <p id="suggestion-place">
            <label>¿Dónde?</label>
            
            <ul id="tabMenu" class="clear">
                <li id="place-tab" class="active" onclick="javascript:activateTab('place')">Establecimiento</li>
                <li id="address-tab" onclick="javascript:activateTab('address')">Dirección</li>
            </ul>
            <div id="address-container">
                <div id="address-form">
                    <input type="text" id="address" name="address">
                </div>
                <div id="place-form">
                    <label for="place">Nombre:</label> <input type="text" id="place" name="place" value="{{poi_name}}">
                </div>
                
                <!-- GOOGLE MAPS CANVAS -->
                <div id="map_canvas" style="width:100%; height:300px;"></div>
                
                <!-- SEARCH ENGINE -->
                {%comment%}
                <div id="search-engine-layer">
                    <label for="searchEngine"><strong>Motor de búsqueda:</strong></label>
                    <input type="radio" name="engine" value="foursquare" /> Foursquare
                    <input type="radio" name="engine" value="google-places" checked /> Google Places
                    <span onclick="javascript:showSettings()" id="engineSettings">Configuración del motor</span>
                    
                    <!--Google Places Settings-->
                    <div id="google-places-settings">
                        
                        
                        
                        <label for="">Tipo de resultados:</label>
                        <input type="radio" name="place-type" value="establishment" checked /> Establecimientos
                        <input type="radio" name="place-type" value="geocode" /> Calles
                        <input type="radio" name="place-type" value="all" /> Ambos
                        
                        <p class="clear">Priorizar resultados de:</p>
<!--
                        <label for="">País:</label>
                        <select id="google-region">
-->
<!--
                        <input type="text" id="google-region" value="">
-->
                        
                        
                        </select>
                        <label for="">Ciudad:</label>
                        <input type="text" id="google-city" value="">
                        <label for="">Radio de acción:</label>
                        <input type="text" value="{{user.settings.searchconfig_google.radius}}" id="radius">  (metros)
                        <p class="clear"> 
                            <span class="btn" onclick="saveSettings('google-places')" id="savingSettings">Guardar</span>
                            <span onclick="javascript:showSettings()" id="minimizeSettings">Minimizar</span> 
                        </p>
                    </div>
                    
                    <!--Foursquare Settings-->
                    <div id="foursquare-settings">
                        <p>Foursquare settings</p>
                    </div>
                </div>
            </div>
            {%endcomment%}
            
<!--
            {{f.place_id}}
-->
            
        </p>
        
        <span id="add-more-details" onclick="javascript:showMoreDetails()">Añadir más detalles</span>
        <div id="more-details">
            <p>
                <label>{{f.tags.label}}:</label>
                {{f.tags}}
            </p>
            <p>
                <label>{{f.description.label}}:</label>
                {{f.description}}
                <span id="counter"></span>
            </p>
            <p>
                <label>{{f.visibility.label}}:</label>
                {{f.visibility}}
            </p>
            <p>Si esta sugerencia solo es posible hacerla en unas fechas concretas por favor indícanos cuales son.</p>
            <p>
                <label>{{f.starts.label}}:</label>
                {{f.starts}}
            </p>
            <p>
                <label>{{f.ends.label}}:</label>
                {{f.ends}}
            </p>
        </div>
        
        
        
        
        <div>
            <span class="btn" id="submit-button" onclick="saveSuggestion()">Enviar</span>
        </div>
        <hr>
    </form>
