{% load i18n %}
<div class="help-icon"><img src="/static/facebookApp/img/help.png" alt="Help" id="help-add-suggestion"></div>
<form id="add-suggestion-form" action="javascript: return false;" >
<!--
        name = forms.CharField(required=True)
        place_id = forms.IntegerField(required=True, initial=-1)
        starts = forms.DateTimeField(required=False, widget=SelectDateWidget())
        ends = forms.DateTimeField(required=False, widget=SelectDateWidget())
        description = forms.CharField(required=False,widget=forms.Textarea())    
        done = forms.BooleanField(required=False)
        visibility = forms.ChoiceField(required=True, choices=VISIBILITY_CHOICES)
-->
    
        <p id="suggestion-item">
            <label>¿Qué sugieres?</label>
            <textarea id="id_name" name="name" placeholder="Introduce una sugerencia, por ejemplo: Os sugiero que algún día veáis el atardecer desde el mirador de San Nicolás">{{name}}</textarea>
            <span id="counter">140</span>
        </p>
        <div id="more-details">
            <span id="lists">
                <label>Añadir a las siguientes listas:</label>

                
                <span class="btn dropDownBtn">
                    <span class="save-at">---------</span>
                    <ul class="submenu" style="display:none" id="dropdown-list">
                        {% if lists %}
                            {% for obj in lists %}
                                {% if obj.user.username = request.user.username %}
                                    <!-- Solo se muestran mis listas -->
                                    <li id="listid-{{obj.id}}"><span class="checkbox name">{{obj.name}}</span> (<span class="list-{{obj.id}}-counter">{{obj.keys|length}}</span> sugerencias)</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <li class="new-list-btn">
                            <span id="text">Nueva lista...</span>
                            <span class="new-list" style="display:none"><input type="text" /></span><div id="cancel-link" onclick="closeDropdown()" style="display:none">Cancel</div>
                        </li>
                    </ul>
                </span>
            </span>
            <p id="tags">
                <label>Etiquetas:</label>
                {{f.tags}}
            </p>
            <p id="description">
                <label>Detalles:</label>
                <textarea name="description" cols="40" rows="10" id="id_description" placeholder="Información adicional, por ejemplo: enlaces, teléfonos, etc."></textarea>
                <span id="counter"></span>
            </p>
            <div id="date">
                <p><strong>Fecha:</strong> <br>Si esta sugerencia solo es posible hacerla en unas fechas concretas por favor indícanos cuales son.</p>
                <p class="center">
                    De <input title="Fecha de inicio" size="9" id="start-date" class="date-type" autocomplete="off" placeholder="mm/dd/aa">
                    <input title="Hora de inicio" size="9" id="start-hour" class="hour-type" autocomplete="off"  placeholder="hh:mm">
                    a
                    <input title="Fecha de fin" size="9" id="end-date" class="date-type" autocomplete="off" placeholder="mm/dd/aa">
                    <input title="Hora de fin" size="9" id="end-hour" class="hour-type" autocomplete="off" placeholder="hh:mm">
                    <div><input type="checkbox" checked> Se puede hacer en cualquier momento</div>
                </p>
            </div>
        </div>
        <div id="details-form">Añadir: 
            <span id="add-to-lists" class="hoverlink">A listas</span>| 
            <span id="add-tags" class="hoverlink">Etiquetas</span> | 
            <span id="add-details" class="hoverlink">Detalles</span> | 
            <span id="add-date" class="hoverlink">Fecha</span> 
        </div>    
        
        <p id="suggestion-place">
            <label>¿Dónde?</label>
            
            {%comment%}
            <ul id="tabMenu" class="clear">
                <li id="place-tab" class="active" onclick="javascript:activateTab('place')">Establecimiento</li>
                <li id="address-tab" onclick="javascript:activateTab('address')">Dirección</li>
            </ul>
            {%endcomment%}
            <div id="address-container">
                <div id="address-form">
                    <input type="text" id="address" name="address"  placeholder="Introduce el sitio, por ej: Mirador de San Nicolás">
                </div>
                {%comment%}
                <div id="place-form">
                    {#<label for="place">Nombre:</label>#}<input type="text" id="place" name="place" value="{{poi_name}}">
                </div>
                {%endcomment%}
                
                <!-- GOOGLE MAPS CANVAS -->
                <div id="map_canvas" style="width:100%; height:300px;"></div>
                
                <!-- SEARCH ENGINE -->
                {%comment%}
                <div id="search-engine-layer">
                    <label for="searchEngine"><strong>Motor de búsqueda:</strong></label>
                    <input type="radio" name="engine" value="foursquare" /> Foursquare
                    <input type="radio" name="engine" value="google-places" checked /> Google Places
                    <span onclick="javascript:showSettings()" id="engineSettings">Configuración del motor</span>
                    
                    <!--Google Places Settings-->
                    <div id="google-places-settings">
                        
                        
                        
                        <label for="">Tipo de resultados:</label>
                        <input type="radio" name="place-type" value="establishment" checked /> Establecimientos
                        <input type="radio" name="place-type" value="geocode" /> Calles
                        <input type="radio" name="place-type" value="all" /> Ambos
                        
                        <p class="clear">Priorizar resultados de:</p>
<!--
                        <label for="">País:</label>
                        <select id="google-region">
-->
<!--
                        <input type="text" id="google-region" value="">
-->
                        
                        
                        </select>
                        <label for="">Ciudad:</label>
                        <input type="text" id="google-city" value="">
                        <label for="">Radio de acción:</label>
                        <input type="text" value="{{user.settings.searchconfig_google.radius}}" id="radius">  (metros)
                        <p class="clear"> 
                            <span class="btn" onclick="saveSettings('google-places')" id="savingSettings">Guardar</span>
                            <span onclick="javascript:showSettings()" id="minimizeSettings">Minimizar</span> 
                        </p>
                    </div>
                    
                    <!--Foursquare Settings-->
                    <div id="foursquare-settings">
                        <p>Foursquare settings</p>
                    </div>
                </div>
            
            {%endcomment%}
            </div>
            
<!--
            {{f.place_id}}
-->
            
        </p>
        
<!--
        <span id="add-more-details" onclick="javascript:showMoreDetails()">Añadir más detalles</span>
-->
        
        
        
        <hr>
        
        <div>
            
                <span id="social-share" class="clear" {% if not user.settings.show_public_profile %} style="display:none"{% endif %}>
                    Compartir también en 
                    <ul>
                        {% if user.facebook_user %}
                            <li><span class="facebook-active" title="Enviar sugerencia a mi muro de Facebook">&nbsp;</span></li>
                        {% else %}
                            <li><span class="facebook-inactive request-access" id="perms-facebook" title="Activar permisos para comunicarse con Facebook">&nbsp;</span></li>
                        {% endif %}
                        
                        {% if user.has_perms_twitter %}
                            <!--Tenemos permiso para enviar la sugerencia a Twitter -->
                            <li><span class="twitter-active" title="Enviar sugerencia a mi cuenta de Twitter">&nbsp;</span></li>
                        {% else %}
                            <li><span class="twitter-inactive request-access" id="perms-twitter" title="Activar permisos para comunicarse con Twitter">&nbsp;</span></li>
                        {% endif %}
                    </ul>
                </span>
            
            <span class="btn" id="submit-button" onclick="saveSuggestion()">Enviar</span>
            <span id="visibility" class="public-icon" >
                {% if user.settings.show_public_profile %}
                    <span value="public" title="La sugerencia será visible para todos los usuarios">Pública</span>
                    <span value="private" style="display:none" title="La sugerencia solo la podrás ver tú">Privada</span>
                {% else %}
                    <span value="public" style="display:none" title="La sugerencia será visible para todos los usuarios">Pública</span>
                    <span value="private" title="La sugerencia solo la podrás ver tú">Privada</span>
                {% endif %}
            </span>
                
            
        </div>
        
    </form>
    
<div class="help-txt" style="display:none" id="help-add-suggestion-text" title="Ayuda sobre el panel de añadir sugerencias">
        <p>En esta sección....</p>
        
    </div>
{% if not user.facebook_user %}
    <div class="help-txt" style="display:none" id="perms-facebook-text" title="Información">
        <p>Para poder enviar tus sugerencias a Facebook necesitas instalarte la aplicación de Facebook.</p>
        <p><a href="http://apps.facebook.com/georemindme">Instalar la aplicación de GeoRemindMe para Facebook</a></p>
        <p>Recuerda que en cualquier momento puedes revocar el permiso desde la <a href="{% url2 in_facebook profile_settings %}">configuración de tu cuenta</a>.</p>
    </div>
{% endif %}

{% if not user.has_perms_twitter %}
    <div class="help-txt" style="display:none" id="perms-twitter-text" title="Información">
        <p>Para poder enviar tus sugerencias a Twitter necesitamos que personalmente nos des permiso para hacerlo.</p>
        <p><a href="/ext/twitter/perms" target="_blank">Conceder permiso a GeoRemindMe para publicar en Twitter</a></p>
        <p>Una vez concedidos los permisos por favor refresca la página (pulsando F5).</p>
        <p>Recuerda que en cualquier momento puedes revocar el permiso desde la <a href="{% url2 in_facebook profile_settings %}">configuración de tu cuenta</a>.</p>
    </div>
{% endif %}
