{%load tags%}
<!DOCTYPE html> 
<html> 
	<head> 
	<title>GeoRemindMe!</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
</head> 

<body> 
	<div data-role="page" id="login"> 
		
        <div data-role="header" data-theme="a">
            <h1>
                <img src="/static/webapp/img/favicon.png"/> GeoRemindMe! - Últimas sugerencias
                
                <img src="/static/mobile/img/refresh.png" style="float:right" />
                
            </h1>
		</div><!-- /header -->

		<div data-role="content">	
			<ul data-role="listview" data-theme="g">
				{% for obj in last_suggestions %}
                    <li>
                        <a href="/user/{{obj.user.username}}/"><img src="/user/{{obj.user.username}}/picture/" alt="{{obj.name}} avatar">{{obj.name}}<br>
                        {{obj.poi.city}}<br>
                        <span class="timestamp">  {{obj.created|naturaltime}}</span>  
                        </a>
                    </li>
                {% endfor %}
            </ul>
		</div><!-- /content -->
<!--
        <div class="ui-bar ui-bar-a" style="position:absolute;bottom:0;width:100%">
-->
<!--
        <div data-role="footer" class="ui-footer ">
            <div data-role="navbar" class="" role="navigation">
                <ul class="ui-grid-b">
                    <li class="ui-block-a"><a href="#" data-theme="a" class="ui-btn-active ui-btn-icon-top ui-btn-down-a ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text"><img src="/static/mobile/img/map_pin.png" /><br>Cerca</span></span></a></li>
                    <li class="ui-block-a"><a href="#" data-theme="a" class="ui-btn ui-btn-icon-top ui-btn-down-a ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text"><img src="/static/mobile/img/search.png" /><br>Buscar</span></span></a></li>
                    <li class="ui-block-a"><a href="#" data-theme="a" class="ui-btn ui-btn-icon-top ui-btn-down-a ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text"><img src="/static/mobile/img/next.png" /><br>Entrar</span></span></a></li>
                </ul>
            </div><!-- /navbar -->
<!--
        </div>
-->

<div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo">
		<div data-role="navbar" class="ui-navbar" role="navigation">
			<ul class="ui-grid-b">
				<li class="ui-block-a"><a href="#" data-icon="grid" data-theme="a" class="ui-btn ui-btn-icon-top ui-btn-down-a ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text">Summary</span><span class="ui-icon ui-icon-grid ui-icon-shadow"></span></span></a></li>
				<li class="ui-block-b"><a href="#" data-icon="star" class="ui-btn-active ui-btn ui-btn-icon-top ui-btn-up-a" data-theme="a"><span class="ui-btn-inner"><span class="ui-btn-text">Favs</span><span class="ui-icon ui-icon-star ui-icon-shadow"></span></span></a></li>
				<li class="ui-block-c"><a href="#" data-icon="gear" data-theme="a" class="ui-btn ui-btn-icon-top ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text">Setup</span><span class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></a></li>
			</ul>
		</div><!-- /navbar -->
	</div>

	</div>
</body>
</html>
