<!DOCTYPE html> 
<html> 
	<head> 
	<title>Page Title</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
</head> 

<body> 
	<div data-role="page" id="dashboard"> 
		<div data-role="header" data-theme="b" data-position="inline">
			<h1>GeoRemindMe!</h1>
			<a href="index.html" data-icon="home" class="ui-btn-right">Perfil</a>
			<div data-role="navbar" data-theme="a">
					<ul>
						<li><a href="#dashboard" data-theme="a">Actividad</a></li>
						<li><a href="#mochila" data-theme="a">Mochila</a></li>
					</ul>
				</div><!-- /navbar -->
		</div><!-- /header -->

		<div data-role="content">	
			<ul data-role="listview" data-theme="g">
				<li><a href="#"><img src="http://i.istockimg.com/file_thumbview_approve/8183124/2/8183124-8183124-intelligence.jpg" alt="">Mercedes</a></li>
				<li><a href="#"><img src="http://i.istockimg.com/file_thumbview_approve/8183124/2/8183124-8183124-intelligence.jpg" alt="">Audi</a></li>
				<li><a href="#"><img src="http://i.istockimg.com/file_thumbview_approve/8183124/2/8183124-8183124-intelligence.jpg" alt="">BMW</a></li>
				<li><a href="#"><img src="http://i.istockimg.com/file_thumbview_approve/8183124/2/8183124-8183124-intelligence.jpg" alt="">Renault</a></li>
				<li><a href="#"><img src="http://i.istockimg.com/file_thumbview_approve/8183124/2/8183124-8183124-intelligence.jpg" alt="">Ferrari</a></li>
				<li><a href="#"><img src="http://i.istockimg.com/file_thumbview_approve/8183124/2/8183124-8183124-intelligence.jpg" alt="">Lotus</a></li>
			</ul>
			<br>
			<a href="#" data-role="button" data-theme="b">Cargar Mas</a>
		</div><!-- /content -->
	</div>
	
	<div data-role="page" id="mochila"> 
		<div data-role="header" data-theme="b" data-position="inline">
			<h1>GeoRemindMe!</h1>
			<a href="index.html" data-icon="home" class="ui-btn-right">Perfil</a>
			<div data-role="navbar" data-theme="a">
					<ul>
						<li><a href="#dashboard" data-theme="a">Actividad</a></li>
						<li><a href="#mochila" data-theme="a">Mochila</a></li>
					</ul>
				</div><!-- /navbar -->
		</div><!-- /header -->

		<div data-role="content">	
			<ul data-role="listview" data-theme="g">
				<li  data-role="list-divider">Sugerencias</li>
				<li><a href="#">Audi</a></li>
				<li><a href="#">BMW</a></li>
				<li  data-role="list-divider">Listas</li>
				<li><a href="#">Audi</a></li>
				<li><a href="#">BMW</a></li>
			</ul>
		</div><!-- /content -->
	</div>
</body>
</html>
