<!DOCTYPE html> 
<html> 
	<head> 
	<title>Page Title</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
</head> 

<body> 
	<div data-role="page" id="login"> 
		<div data-role="header" data-theme="b">
			<h1>Bienvenido a GeoRemindMe!</h1>
		</div><!-- /header -->

		<div data-role="content">	
			<form action="form.php" method="post"> 
		 		<div data-role="fieldcontain">
				    <label for="name">Username:</label>
				    <input type="text" name="name" id="name" value=""  />
				</div>
				<div data-role="fieldcontain">
				    <label for="password">Password:</label>
				    <input type="password" name="password" id="password" value="" />
				</div>
				<input type="submit" name="Enviar" value="Enviar" data-theme="b"/>
			</form>
					
		</div><!-- /content -->
	</div>
</body>
</html>