{% extends "generic/base_generic.html" %}
{% load i18n %}
{% url fb_notifications as notifications_section %}
{% load tags %}
{% block extra_js %}   
    <script type="text/javascript">
        $(document).ready(function(){
            
            GRM.updateTabCounters();
            
            if($("#activity").length!=0){
                $('.load-more').attr("type","activity");
            }else if($("#public-profile").length!=0){
                $('.load-more').attr("type","timeline");
            }else if($("#notifications").length!=0){
                $('.load-more').attr("type","notifications");
            }
        
    
            
            //Adding behaviour to tab content
            $('#tabMenu li').not('.clear-box').click(function(){
                tab_id=$('#tabMenu li.active').attr('id')
                $('#'+tab_id+'_content').addClass('hidden');
                $('#tabMenu li.active').BorrarClass('active');
                
                tab_id=$(this).attr('id')
                $('#'+tab_id+'_content').BorrarClass('hidden');
                $(this).addClass('active');
            })
            
            $('#filter-suggestions').click(function(){
                $(':regex(class,(msg-300|msg-303))').show();
                //Oculto todos aquellos que no son sugerencias
                $('#chronology li').not('.msg-300').not('.msg-303').not('.suggestion-comment').hide();
            });
            
            $('#filter-lists').click(function(){
                $(':regex(class,(msg-350|msg-353))').show();
                //Oculto todos aquellos que no son sugerencias
                $('#chronology li').not('.msg-350').not('.msg-353').not('.suggestion-comment').hide();
            });
            
            $('#filter-likes').click(function(){
                $(':regex(class,(msg-125|msg-305|msg-355))').show();
                //Ocultamos aquellos que no son 125 ni 355
                $('#chronology li').not('.msg-125').not('.msg-305').not('.msg-355').hide()  
            });
                
            $('#filter-comments').click(function(){
                $(':regex(class,(msg-120|msg-121))').show();
                //Oculto todos aquellos que no son sugerencias
                $('#chronology li').not('.msg-120').not('.msg-121').hide();
            });
            
            $('#no-filter').click(function(){
                //Muestro todos
                $('#chronology li:not(.suggestion-comment)').show();
            });
            
            //$('.user-picture').each(function(i,elem){
                
            //    (new Image()).src = $(elem).attr('src')
            //})
            
			//Cargar más elementos del Timeline
            $(".load-more").loadTimeline({
                    //'query_id':$(this).attr('value'),
                    container:'#chronology',
                    url:'/ajax/get/'+$(this).attr('type')+'/',
                });

        });
    </script>
    
    

{%endblock%}

{% block embed_js %}{%endblock%}

{% block title %}{%trans "Actividad" %}{% endblock %}

{% block body %}
    <div {% block id %} {%endblock%} class="clear">
        
        {% block pre_chronology %} {%endblock%}
        {% if chronology.1|length %}    
    
            
            
    
            
            <ul id="tabMenu" class="clear">
                <li class="clear-box">{%trans "Ver:" %}</li>
                <li id="no-filter" class="active">{%trans "Todo" %} 
<!--
                <span id="all-counter"></span>
-->
                </li>
                <li id="filter-suggestions">{%trans "Sugerencias" %} <span id="suggestions-counter"></span></li>
                <li id="filter-lists">{%trans "Listas" %} <span id="lists-counter"></span></li>
                <li id="filter-likes">{%trans "Valoraciones" %} <span id="likes-counter"></span></li>
                <li id="filter-comments">{%trans "Comentarios" %} <span id="comments-counter"></span></li>
                
            </ul>
            <ul id="chronology" value="{{chronology.0}}" page="1" {% if notifications %} notifications="{{notifications}}" {% endif %}>
                {% include "timeline.html" %}
            </ul>
        
            <!-- Si hay más mensajes -->
            {% if chronology.1|length > 9%}
                <div class="load-more">{%trans "Cargar más" %}</div>
            {% endif %}    
            
            
        {% endif %}    
    
        
        {% block pos_chronology %}{%endblock%}

    </div>


    
    {% if user.is_authenticated %}
    <script id="commentTemplate" type="text/x-jquery-tmpl">
        <li>
			<div class="removable" value="${id}" type="comment"><a href="#">{%trans "Borrar" %}</a></div>
            <img class="user-picture" src="{% embedded_avatar request.user.username %}" alt="user avatar"><a href="{% url fb_public_profile user.username %}" class="black-link">{{user.username}}</a>: ${msg}<br>
            <span class="timestamp">{%trans "Hace 0 minutos" %}</span>

        </li>
    </script>
    {% endif %}    
{% endblock %}

