{% extends "generic/base_generic.html" %}
{% load i18n %}
{% load tags %}

{% block title %}{%trans "GeoRemindMe! - Registro" %}{% endblock %}

{% block mainButton %}{% endblock %}

{% block nav %}
    {% if in_facebook %}
        {% include "register_menu.html" %}
    {% endif %}
{% endblock %}

{% block section_class %}social-profile{%endblock%}

{% block body %}
    <div id="social-profile">
        <h1>{%trans "¡Genial ya estás dentro!" %}</h1>
        
        <div id="step-one">
            <h2>{%trans "Paso 1 de 2: Elige tu nombre de usuario" %}</h2>
            <hr>
            {% include "forms/SocialUserForm.html" %}

            <div class="footer-notes clear">
                <sup>(*)</sup> {%trans "Una vez elegido el nombre de usuario, este se utilizará para crear tu perfil público ." %}
            </div>
        </div>
    </div>
{%endblock%}

{% block right_col %}{%endblock%}