{% extends "generic/chronology.html" %}
{% load i18n %}
{% load tags %}

{% block embed_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            
            $('.help-icon img').click(function(){
				showHelp('#add-suggestion-btn','#addSuggestion-toolbox','up');
                showHelp('.lavaLamp','#menu-toolbox','up');
                showHelp('#tabMenu','#timeline-toolbox','up');
            })
            
            //Show user help: si es la primera vez que entra
            helpUser();
        });
    </script>
{%endblock%}

{% block id %} id="activity" {%endblock%}



{% block pre_chronology %} 
    <h1>{%trans "Actividad" %}</h1>
    <div class="help-icon"><img src="/static/common/img/transparent.gif" alt="Help" id="help-activity"></div>
    
    

    <div class="help-txt" style="display:none" id="help-activity-text" title="{%trans "Ayuda: Actividad en tu red" %}">
        <p>{%trans "Desde aquí podrás consultar las últimas acciones de las personas de tu red:" %}</p>
        <ul>
            <li>{%trans "Nuevas sugerencias y listas de sugerencias" %}</li>
            <li>{%trans "Comentarios en sugerencias" %}</li>
            <li>{%trans "Valoraciones de comentarios y sugerencias" %}</li>
            <li>{%trans "Las personas a las que empiezan a seguir." %}</li>
            <li>{%trans "etc." %}</li>
        </ul>
        <p>{%trans "Además podrás comentar, valorar y guardar en tu mochila aquellas sugerencias y listas de sugerencias que te hayan gustado." %}</p>
        <p>{%trans "Si tienes alguna duda o sugerencia puedes hacerla aquí:" %}</p>
        

    </div>
    
    <div id="addSuggestion-toolbox" style="display:none">
		<p>{%trans "Crea y comparte tus sugerencias aquí." %}</p>
	</div>
    <div id="menu-toolbox" style="display:none">
		<p>{%trans "Estas son las secciones principales:" %}</p>
        <ul>
            <li><strong>{%trans "Actividad</strong>: ahora mismo te encuentras aquí, donde recibirás las últimas novedades (sugerencias, listas, etc.) de las personas a las que sigues." %}</li>
            <li><strong>{%trans "Tú mochila</strong>: en la mochila podrás consultar y gestionar tus sugerencias favoritas." %}</li>
            <li><strong>{%trans "Notificaciones</strong>: aquí te avisaremos cuando alguien empiece a seguir, comente una de tu sugerencias, etc." %}</li>
        </ul>
	</div>
    <div id="timeline-toolbox" style="display:none">
		<p>
            <strong>{%trans "Linea de tiempo</strong>: aquí irás recibiendo las novedades de tus contactos." %}
        </p>
        <p>{%trans "Haciendo clic en cada una de las pestañas podrás filtrar los mensajes por tipo." %}</p>
	</div>
{%endblock%}

