{% extends "generic/base_generic.html" %}
{% load i18n %}
{% load tags %}

{% block title %}{%trans "Personas a las que sigue {{request.user.username}}" %}{% endblock %}
{% block body %}
    <h1>
        {% ifequal user.username username_page %}
            {%trans "Sigues a {{followings|length}} personas" %}
        {% else %}
            {%trans "{{username_page}} sigue a {{followings|length}} personas" %}
        {% endifequal %}
    </h1>
    
    <ul id="user-list">
    {% for f in followings %} 
        <li>
            <div class="avatar">
                <a href="{% url2 in_facebook public_profile f.username%}" title="{%trans "Ver perfil en GeoRemindMe" %}">
                    <img src="{% embedded_avatar f.username%}" alt="{%trans "Avatar" %}">
                </a>
                <br>
                <a href="{% url2 in_facebook public_profile f.username%}" title="{%trans "Ver perfil en GeoRemindMe" %}">{{ f.username }}</a>
            </div>
            {% ifequal user.username username_page %}
                <div id="following_state_{{ f.id }}" class="follow-button following-state">
                    <span  onclick="javascript:follow('unfollow',{{f.id}})"><a href="#" class="following">{%trans "Siguiendo" %}</a></span>
                </div>
            {% endifequal %}
            <div class="user-data">
                <ul>
                    <li><a href="{% url2 in_facebook public_profile f.username%}" title="{%trans "Sugerencias hechas" %}"><span>{{ f.profile.parent.counters.suggested }}</span>{%trans "Sugerencias" %}</a></li>
                    <li><a href="{% url2 in_facebook followers_panel f.username%}" title="{%trans "Personas que le siguen" %}"><span>{{ f.profile.parent.counters.followers }}</span>{%trans "Seguidores" %}</a></li>
                    <li><a href="{% url2 in_facebook public_profile f.username%}" title="{%trans "Recomendaciones suyas que te han gustado" %}"><span>{{ f.profile.parent.counters.influenced }}</span>{%trans "Impactos" %}</a></li>
                    <li><a href="{% url2 in_facebook followings_panel f.username%}" title="{%trans "Personas a las que sigue" %}"><span>{{ f.profile.parent.counters.followings }}</span>{%trans "Siguiendo" %}</a></li>
                </ul>
            </div>
            <hr>
        </li>
    {% endfor %}    
    </ul>
{% endblock %}
