{% extends "generic/base_generic.html" %}
{% load i18n %}
{% load tags %}

{% block title %}
    {% blocktrans with request.user.username as username %} 
        GeoRemindMe! / Personas que siguen a {{username}}
    {% endblocktrans %}
{% endblock %}

{% block body %}
    <h1>
        {% ifequal user.username username_page %}
            {%trans "Te siguen {{followers|length}} personas" %}
        {% else %}
            {%trans "A {{username_page}} le siguen {{followers|length}} personas" %}
        {% endifequal %}
    </h1>
    
    <ul id="user-list">
    {% for f in followers %}
        <li>
            <div class="avatar">
                <a href="{% url2 in_facebook public_profile f.username %}" title="{%trans "Ver perfil en GeoRemindMe" %}">
                    <img src="{% embedded_avatar f.username%}" alt="{%trans "Avatar" %}">
                </a>
                <br>
                <a href="{% url2 in_facebook public_profile f.username%}" title="{%trans "Ver perfil en GeoRemindMe" %}">{{ f.username }}</a>
            </div>

            {% ifequal user.username username_page %}
                <!-- Depende de si ya lo sigues o-->
                {% if f.is_following %}
                    <div id="following_state_{{ f.id }}" class="follow-button following-state">
                        <span  onclick="javascript:follow('unfollow',{{f.id}})"><a href="#" class="following">{%trans "Siguiendo" %}</a></span>
                    </div>
                {% else %}
                    <div id="following_state_{{ f.id }}" class="follow-button">
                        <span  onclick="javascript:follow('follow',{{f.id}})"><a href="#" class="no-following">{%trans "Seguir" %}</a></span>
                    </div>
                {% endif %}
            {% endifequal %}
            
            <div class="user-data">
                <ul>
                    <li><a href="{% url2 in_facebook public_profile f.username%}" title="{%trans "Sugerencias hechas" %}"><span>{{ f.profile.parent.counters.suggested }}</span>{%trans "Sugerencias" %}</a></li>
                    <li><a href="{% url2 in_facebook followers_panel f.username%}" title="{% blocktrans with f.username as username %} Personas que siguen a {{username}} {% endblocktrans %}"><span>{{ f.profile.parent.counters.followers }}</span>{%trans "Seguidores" %}</a></li>
                    <li><a href="{% url2 in_facebook public_profile f.username%}" title="{%trans "Recomendaciones suyas que te han gustado" %}"><span>{{ f.profile.parent.counters.influenced }}</span>{%trans "Impactos" %}</a></li>
                    <li><a href="{% url2 in_facebook followings_panel f.username%}" title="{% blocktrans with f.username as username %} Personas a las que sigue {{username}} {% endblocktrans %}"><span>{{ f.profile.parent.counters.followings }}</span>{%trans "Siguiendo" %}</a></li>
                </ul>
            </div>
            <hr>
        </li>
    {% endfor %}    
    </ul>
{% endblock %}
