{% extends "generic/chronology_anonymous.html" %}
{% load i18n %}
{% load tags %}

{% block title %}
    {% blocktrans with profile.username as username %} 
        {{username}} en GeoRemindMe!
    {% endblocktrans %}
{% endblock %}

{% block embed_js %}  
    <script type="text/javascript">
    
    $("#user-avatar").ready(function(){
        $(this).load();
    });
    $(document).ready(function(){
        
        //Adding behaviour to tab content
        $('#tabMenu li').click(function(){
            tab_id=$('#tabMenu li.active').attr('id')
            $('#'+tab_id+'_content').addClass('hidden');
            $('#tabMenu li.active').removeClass('active');
            
            tab_id=$(this).attr('id')
            $('#'+tab_id+'_content').removeClass('hidden');
            $(this).addClass('active');
        })
    });
    </script>
{%endblock%}

{% block pre_chronology %} 
    <div id="public-profile">
<!--
        <div id="col-right-left">
-->
            <div id="avatar-follow">
                <a href="/user/{{profile.username}}/picture/"><img id="user-avatar" src="{% embedded_avatar profile.username %}" alt="{{profile.username}} {%trans "avatar" %}"/></a>
                <br>
                {% ifnotequal user.username profile.parent.username %}
                    {% if is_follower %}
                        <div id="following_state_{{ profile.parent.id }}" class="follow-button following-state">
                            <span  onclick="javascript:follow('unfollow',{{profile.parent.id}})"><a href="#" class="following">{%trans "Siguiendo" %}</a></span>
                        </div>
                    {% else %}
                        {% if request.user.is_authenticated %}
                            <div id="following_state_{{ profile.parent.id }}" class="follow-button">
                                <span  onclick="javascript:follow('follow',{{profile.parent.id}})"><a href="#" class="no-following">{%trans "Seguir" %}</a></span>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    
                    <span class="btn"><a href="{% url2 in_facebook edit_profile %}" id="edit-profile-btn">{%trans "Editar" %}</a> </span>
                    
                {% endifnotequal %}
            </div>
            
            <div id="user-info">
                <h1>{{profile.parent.username}}</h1>
                
            
        
            
            
<!--
        </div>
-->
<!--
        <div id="col-right-right">
-->
            <ul id="user-resume">
<!--
                <li id="impacts"><a href=""><span id="counter">{{counters.influenced}}</span> impactos</a></li>
-->
                <li><a href="{% url2 in_facebook followers_panel profile.parent.username %}"><span id="counter">{{counters.followers}}</span> {%trans "seguidores" %}</a></li>
                <li><a href="{% url2 in_facebook followings_panel profile.parent.username %}"><span id="counter">{{counters.followings}}</span> {%trans "siguiendo" %}</a></li>
            </ul>
            {% if profile.description %}
                    <p>{{profile.description}}</p>
                {% endif %}
<!--
            <p>
                <span>También está en:</span><br>
                <ul id="social-networks">
                    {% if profile.sociallinks.facebook %}
                        <li><a href="{{profile.sociallinks.facebook}}" id="facebook-icon">Facebook</a></li>
                    {% endif %}
                    {% if profile.sociallinks.twitter %}
                        <li><a href="{{profile.sociallinks.twitter}}"  id="twitter-icon">Twitter</a></li>
                    {% endif %}
                    {% if profile.sociallinks.foursquare %}
                        <li><a href="{{profile.sociallinks.foursquare}}" id="foursquare-icon">Foursquare</a></li>
                {% endif %}
                </ul>
            </p>
-->
        </div>
<!--
        </div>
-->
    </div>
   
{% endblock %}
