{% extends "generic/base_generic.html" %}
{% load i18n %}
{% load tags %}

{% block title %}{%trans "Configuración de la cuenta" %}{% endblock %}

{% block extra_js %}
    {% if in_facebook %}
		<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	{% endif %}
	
	<script type="text/javascript">
		
		$(document).ready(function(){
			$('.help-icon img').click(function(){
				//showHelp('#add-suggestion-btn','#addSuggestion-toolbox','up');
				//showHelp('#','#help-language-text','up');
				showHelp('#privacy-pointer','#help-privacy-text','left');
				showHelp('#accounts-pointer','#help-accounts-control-text','left');
				showHelp('#notifications-pointer','#help-notifications-text','left');
			});
		});
		
	</script>
{%endblock%}


{% block body %}
    <div id="profile">
        
        <h1>{%trans "Configuración de la cuenta" %}</h1>
        <a href="{% url2 in_facebook edit_settings %}" class="btn" id="edit-settings-btn">{%trans "Editar" %}</a> 
        
        <div class="section" id="notifications-pointer">
            <div class="header">
                <h2>{%trans "Notificaciones" %}</h2>
                <div class="help-icon"><img src="/static/common/img/transparent.gif" alt="{%trans "Ayuda" %}" id="help-notifications"></div>
            </div>
            
            
            
            
            <p>{%trans "Te llegarán notificaciones por email cuando:" %}</p>
            <dl id="mail-notifications">
                <dt>{%trans "Otro usuario empieza a seguir tus sugerencias" %}</dt>
                <dd>{{user.settings.time_notification_account}}</dd>
                
                <dt>{%trans "Recibes un comentario en una sugerencia" %}</dt>
                <dd>{{user.settings.time_notification_suggestion_comment}}</dd>
                
                <dt>{%trans "Persona guarda una sugerencia tuya" %}</dt>
                <dd>{{user.settings.time_notification_suggestion_follower}}</dd>
            </dl>
        </div>
        
        <div class="section" id="accounts-pointer">
            <div class="header">
                <h2>{%trans "Control de cuentas" %}</h2>
            </div>
            
            <p>
                {% blocktrans %} 
                    No queremos ser <em>otra red social más</em>; sino una herramienta de enlace entre tus redes actuales para gestionar tus recomendaciones.<br>
                    Por ello, para ofrecerte una mejor experiencia puedes autorizarnos para que puedas utilizar la potencia de tus redes desde GeoRemindMe! 
                {% endblocktrans %} 
            </p>
            <table>
                <tr id="head">
                    <td>{%trans "Red" %}</td>
                    <td>{%trans "Estado" %}</td>
                </tr>
                <tr>
                    <td><span id="facebook-icon">{%trans "Facebook" %}</span></td>
                    {% if not user.facebook_user%}
                        <td>
                            <a href="/login/facebook/?cls" target="_blank">{%trans "Autorizar" %}</a> 
                        </td>
                    {% else %}
                        <td>
                            <a href="/oauth/revocate/facebook" target="_blank">{%trans "Revocar" %}</a> (<a href="{{user.facebook_user.profile_url}}">{{user.facebook_user.realname}}</a>)
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td><span id="twitter-icon">{%trans "Twitter" %}</span> </td>
                    <td>
                        {% if not user.twitter_user %}
                            <a href="/login/twitter/?cls" target="_blank">{%trans "Autorizar" %}</a> 
                        {% else %}
                            <a href="/oauth/revocate/twitter" target="_blank">{%trans "Revocar permisos" %} (@{{user.twitter_user.username}})</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><span id="google-icon">{%trans "Google" %}</span> </td>
                    <td>
                        {% if not user.google_user %}
                            <a href="/login/google/?cls" target="_blank">{%trans "Autorizar" %}</a>
                        {% else %}
                            <a href="/oauth/revocate/google" target="_blank">{%trans "Revocar" %}</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="section" id="privacy-pointer">
            <div class="header">
                <h2>{%trans "Privacidad" %}</h2>
            </div>
        
            
            <p>
                <strong>{%trans "Visibilidad del perfil" %}</strong>: 
                {% if settings.show_public_profile %} 
                    {%trans "Público" %}
                {% else %}
                    {%trans "Privado" %}
                {% endif %}
            </p>
            <p>{%trans "Por defecto todas las sugerencias y listas de sugerencias serán mostradas públicamente, aunque siempre existe la posibilidad de cambiarles individualmente la visibilidad." %}</p>
        </div>
        
        <div class="section">	
            <div class="header">
                <h2>{% trans "Idioma" %}</h2>
            </div>
            
            {% get_available_languages as LANGUAGES %}
            {% get_current_language as LANGUAGE_CODE %}
            <p>
                <strong>{% trans "Idioma de la interfaz"%}:</strong>
                {% for code, name in LANGUAGES %}
                    {%if LANGUAGE_CODE == code %}{{name}}{% endif %} 

                {% endfor %}
                <a href="{% url2 in_facebook edit_settings %}" class="btn" id="edit-settings-btn">{%trans "Editar" %}</a> 
            </p>
        </div>
        
    
        
        
        <hr>
        <div id="desinstall">
            <a href="http://www.facebook.com/settings?tab=applications">{%trans "Desinstalar la aplicación" %}</a> 
<!--
            <a href="">Cancelar mi cuenta en GeoRemindMe</a>
-->
        </div>
    </div>
    
    
    
{% endblock %}
