{% extends "generic/base_generic.html" %}
{% load tags %}
{% load i18n %}
{% load filters %}

{% block title %}{%trans "Mochila con tus sugerencias y listas favoritas" %}{% endblock %}
{% block description %}{% trans "Desde la mochila de sugerencias podrás gestionar tus sugerencias y listas favoritas" %}{% endblock %}

{% block extra_js %}
    {% if request.META.REMOTE_ADDR = "127.0.0.1" %}
        <script type="text/javascript" src="/static/common/js/bag.js"></script>    
    {% else %}
        <script type="text/javascript" src="/static/common/js/bag.min.js"></script>    
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){           
            //Ayuda de usuario
            $('.help-icon img').click(function(){
				showHelp('#suggestions_lists','#tabMenu-toolbox','left');
            })
            //Show user help: si es la primera vez que entra
            helpUser();
        });
    </script>
{%endblock%}


{% block body %}
    {% if not user.twitter_user %}
        <script type="text/javascript">
             // Add a script element as a child of the body
             function downloadJSAtOnload() {
                 var element = document.createElement("script");
                 element.src = "https://platform.twitter.com/widgets.js";
                 document.body.appendChild(element);
             }

             // Check for browser support of event handling capability
             if (window.addEventListener)
                window.addEventListener("load", downloadJSAtOnload, false);
             else if (window.attachEvent)
                window.attachEvent("onload", downloadJSAtOnload);
             else 
                window.onload = downloadJSAtOnload;
        </script>
        
    {% endif %}

    <div id="suggestions">
        <h1>{%trans "Tu mochila" %}</h1>
        <div class="help-icon"><img src="/static/common/img/transparent.gif" alt="Help" id="help-activity"></div>
        <ul id="tabMenu">
            <li id="your_suggestions" class="active">{%trans "Sugerencias" %} (<span id="suggestions-tab-counter">{{suggestions.1|length}}</span>)</li>
            <li id="suggestions_lists">{%trans "Listas" %} (<span id="lists-tab-counter">{{lists|length}}</span>)</li>
        </ul>
        <div id="content">
                <!-- YOUR SUGGESTIONS -->
                <span id="your_suggestions_content" class="tab-content">
                    <div id="header">
                        <span class="selectCheckBox"><input type="checkbox" id="checkBox_all" /></span>
<!--
                        <span class="btn right nextBtn {% if user.counters.suggested < 11 %} hidden {% endif %}" id="next-page" onclick="loadSuggestionsPage('next')">Siguiente</span>
                        <span class="btn right prevBtn hidden" id="prev-page" onclick="javascript:loadSuggestionsPage('prev')">Anterior</span>
-->
                        
                        <span class="btn removeBtn" onclick="removeSuggestions()">{%trans "Eliminar" %}</span>
                        
                        <!-- Menu desplegable de listas -->
                        <span class="btn dropDownBtn">
                            <span class="save-at">{%trans "Guardar en" %} <img src="/static/common/img/transparent.gif"></span>
                            <ul class="submenu" style="display:none" id="dropdown-list">
                                {% if lists %}
                                    {% for obj in lists %}
                                        {% if obj.user.username = request.user.username %}
                                            <!-- Solo se muestran mis listas -->
                                            <li id="listid-{{obj.id}}">{{obj.name}} (<span class="list-{{obj.id}}-counter">{{obj.keys|length}}</span> {%trans "sugerencias" %})</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <li class="new-list-btn">
                                    <span id="text">{%trans "Nueva lista..." %}</span>
                                    <span class="new-list" style="display:none"><input type="text" /></span><div id="cancel-link" onclick="closeDropdown()" style="display:none">{%trans "Cancelar" %}</div>
                                </li>
                            </ul>
                        </span>
                        <!-- Fin -->
                        
                        <span class="btn removeBtn filter"><input type="text" id="filter-suggestions" placeholder="{%trans "Filtrar por nombre" %}"></span>
                        <span class="btn removeBtn" id="filterMySuggestions">{%trans "Mis sugerencias" %}</span>
                    </div>
                    
                    <!-- Objetos Suggestion-->
                    {% if suggestions.1|length = 0 %}
                        <div id="noSuggestions" class="tab-content">
                            <span>
                                <h2>{%trans "Aún <strong>no has hecho ni has guardado ninguna sugerencia</strong>, para empezar:" %}</h2>
                                <a href="{% url2 in_facebook add_suggestion %}" id="btn-add-suggestion">{%trans "Añade una sugerencia" %}</a>
                            </span>
                        </div>
                    {% else %}
                    <span id="suggestion-list" class="tab-content">
                        {% for k in suggestions.1%}
                            <div id="suggestion_{{k.id}}" class="suggestion{% if k.user.username != user.username%} not-mine{%endif%}">
                                <div class="maximize-minimize suggestionCollapsed"><span>.</span></div>
                                <div class="collapsed">
                                    <span class="checkBox"><input type="checkbox" id="checkBox_{{k.id}}" value="{{k.id}}" name="suggestions" /></span>
                                    <span class="suggestionName">{{k.name}}</span>
                                    <span class="suggestionName_editable" style="display:none"  value="{{k.id}}">{{k.name}}</span>
                                </div>
                                <div class="expanded" style="display:none">
                                    <dl> 
                                    
                                        {% if k.user.username != user.username%}
                                            <dt>
                                                Autor:
                                                <div class="help-icon">
                                                    <img src="/static/common/img/transparent.gif" alt="Help"  id="help-suggestion">
                                                </div>
                                            </dt>
                                            <dd>
                                                <a href="{% url2 in_facebook public_profile k.user.username %}">{{k.user.username}}</a>
                                            </dd>
                                        {%endif%}
                                        
                                        {%if k.description or not k.user.username != user.username %}
                                        <dt>Descripción:</dt>
                                        <dd class=" {% if k.user.username == user.username%}editable_description{% endif %}" type="textarea" value="{{k.id}}">{%if k.description %}{{k.description|linebreaksbr}}{% else %}{% endif %}</dd>
                                        {%endif%}
                                        
                                        <dt>{%trans "Lugar:" %}</dt>
                                        <dd style="width:390px">
                                            <a class="placeName" href="{% url2 in_facebook view_place k.poi.slug%}">{{k.poi.name}}</a> ({{k.poi.address}}) 
<!--
                                             {% if k.user.username == user.username%}<a href="{% url2 in_facebook edit_suggestions k.id %}">Editar</a>{% endif %}
-->
                                        </dd>
                                        
                                        {% if k.user.username != user.username and k.tags|length = 0 %}
                                        {%else%}
                                            <dt>{%trans "Tags:" %}</dt>
                                            <dd style="width:390px" {% if k.user.username == user.username%}class="editable_tags"{%endif%} type="tags" value="{{k.id}}">{% for tag in k.tags %}{{tag}}{% if not forloop.last %}, {%endif%}{% endfor %}</dd>
                                        {% endif %}
                                            

                                        
                                        <dt>{%trans "Fecha:" %}</dt>
                                        <dd class="{% if k.user.username == user.username%}editable{% endif %} datepicker">
                                            <span class="datetime">
                                                <span class="black-link">
                                                {% if k.date_starts or k.date_ends or k.hour_starts or k.hour_ends %}
                                                    [
                                                    {% if k.hour_starts %}
                                                        {{k.hour_starts}}
                                                    {% endif %}
                                                    {% if k.date_starts  %}
                                                        {{k.date_starts|naturaltime}}
                                                    {% else %}
                                                        {{k.created|naturaltime}}
                                                    {% endif %}
                                                     -
                                                    {% if k.hour_ends %}
                                                        {{k.hour_ends}}
                                                    {% endif %}
                                                    {% if k.date_ends %}
                                                        {{k.date_ends|naturaltime}}
                                                    {% else %}
                                                        {%trans "Sin fecha de fin" %}
                                                    {% endif %}
                                                    ]
                                                {% else %}
                                                    {%trans "Se puede hacer en cualquier momento" %}
                                                {% endif %}
                                                </span> 
<!--
                                                <span class="hoverlink" onclick="javascript:$(this).parent().siblings('.datetime-edition').show();$(this).parent().hide()">Editar</span>
-->
                                            </span>
                                            <div class="datetime-edition" style="display:none">
                                                {%trans "De" %} <input title="{%trans "Fecha de inicio" %}" size="9" class="date-type start-date" autocomplete="off" {% if k.date_starts != None %}value="{{k.date_starts}}"{%else%}{% endif %} placeholder="mm/dd/aa" {% if obj.user.username = request.user.username %}readonly{%endif%}>
                                                <input title="Hora de inicio" size="9" class="hour-type start-hour" autocomplete="off"  placeholder="{%trans "hh:mm" %}" {% if obj.user.username = request.user.username %}readonly{%endif%}>
                                                {%trans "a" %}
                                                <input title="{%trans "Fecha de fin" %}" size="9" class="date-type end-date" autocomplete="off" {% if k.date_ends != None %}value="{{k.date_ends}}"{%else%}{% endif %} placeholder="mm/dd/aa" {% if obj.user.username = request.user.username %}readonly{%endif%}>
                                                <input title="Hora de fin" size="9" class="hour-type end-hour" autocomplete="off" placeholder="{%trans "hh:mm" %}" {% if obj.user.username = request.user.username %}readonly{%endif%}>
                                                <span class="anytime"><input type="checkbox" checked> <span>{%trans "Se puede hacer en cualquier momento" %}</span></span><span class="btn">{%trans "Guardar" %}</span><span onclick="javascript:$(this).parent().siblings('.datetime').show();$(this).parent().hide()" class="hoverlink">{%trans "Cancelar" %}</span>
                                            </div>
                                        </dd>
                                        
                                        
                                        <dt>{%trans "Mis listas:" %}</dt>
                                        <dd style="width:390px">
                                                <ul class="removable-sugestion-list" {% if k.lists|length = 0 %}style="display:none"{% endif %}>
                                                    {% for obj in k.lists %}
                                                        {% if obj.user.username = request.user.username %}
                                                            <li class="list_{{obj.id}} removable" value="{{k.id}}">{{obj.name}}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            
                                                
                                                <em class="empty-msg add-on-list" value="{{k.id}}">
                                                    {%trans "Haz clic aquí para añadir a una lista" %}
                                                </em>
                                            
                                        </dd>
                                        <dt>{%trans "URL:" %}</dt>
										<dd><input type="text" value="{{ k.short_url }}" class="short_url" readonly>  <a href="{{ k.short_url }}">{%trans "Vista previa" %}</a></dd>
                                        <dt class="share-row"><strong>{%trans "Compartir:" %}</strong></dt>
                                        <dd class="share-row">
                                            <ul class="share-suggestion">
                                                <!--
                                                <li><a class="share-suggestion georemindme-icon" href="">Sugerir a amigos</a></li>
-->
                                                <li class="share" type="twitter" data-href="{{ k.short_url }}" value="{{k.id}}" data-type="event"><a class="share-suggestion twitter-icon" href="">{%trans "Twitter" %}</a></li>
                                                {% if user.facebook_user %}
                                                    <li class="share" type="wall" data-href="{{ k.short_url }}" value="{{k.id}}" data-type="event"><a class="share-suggestion facebook-icon" href="">{%trans "Muro" %}</a></li>
                                                {% endif %}
                                            </ul>
                                        </dd>
                                        
                                        <dt>{%trans "Visibilidad:" %}</dt>
                                        <dd {% if k.user.username == user.username%}class="editable_visibility"{%endif%} value="{{k|private:'_get_visibility'}}">{% if k|private:"_get_visibility" = "public" %}{%trans "Pública" %}{%else%}{%trans "Privada" %}{%endif%}</dd>
                                        
                                    </dl>
                                    
                                    
			
                                    <div class="show-more-text" style="display:none">
                                        <p class="big statistics">{%trans "Estadísticas:" %}</p>
                                        <dl>
                                            
                                            <dt>{%trans "Valoraciones recibidas:" %} </dt>
                                            <dd>{{k.counters.votes}}</dd>
                                            
                                            <dt>{%trans "Personas que han guardado la sugerencia:" %} </dt>
                                            <dd>{{k.counters.followers}}</dd>
                                            
                                            <dt>{%trans "Comentarios recibidos:" %}</dt>
                                            <dd>{{k.counters.comments}}</dd>
                                            
                                            <dt>{%trans "Última modificación:" %}</dt>
                                            <dd>{{k.modified}}</dd>
                                        </dl>
                                    </div>
                                    <span class="show-more">{%trans "Mostrar estadísticas" %}</span>
                                    
                                </div>
                                
                            </div>
                            
                            
                        {% endfor%}   
                    </span>           
                    {% endif %}
                </span>
                <!-- END YOUR SUGGESTIONS -->
                    
                    
                    
               
                
                
                
                <!-- LISTS -->
                <span id="suggestions_lists_content" class="tab-content hidden">
                    <div id="header">
                        <span class="selectCheckBox"><input type="checkbox" id="checkBoxList_all" /></span>
<!--
                        <span class="btn right nextBtn {% if user.counters.suggested < 11 %} hidden {% endif %}" id="next-page" onclick="loadSuggestionsPage('next')">Siguiente</span>
                        <span class="btn right prevBtn hidden" id="prev-page" onclick="javascript:loadSuggestionsPage('prev')">Anterior</span>
-->
                        
                        <span class="btn removeBtn" onclick="removeLists()">{%trans "Eliminar" %}</span>

                        <span class="btn addNewList" onclick="javascript:$('#your_suggestions').click();$('#your_suggestions_content .dropDownBtn').click();$('.new-list-btn span').click()">
                            {%trans "Nueva lista" %} 
                        </span>
                        <span class="btn removeBtn" id="filterMyLists">{%trans "Mis listas" %}</span>                    
                        <span class="btn removeBtn filter"><input type="text" id="filter-lists" placeholder="{%trans "Filtrar por nombre" %}"></span>
                        
                    </div>

                    
                        <div id="suggestion-list-lists">
                        
                        {% if lists %}
                            {% for obj in lists %}
                                <div id="list_{{obj.id}}" class="suggestion suggestionList{% if obj.user.username != user.username%} not-mine{%endif%}">
                                    <div class="maximize-minimize suggestionCollapsed"><span>.</span></div>
                                    <div class="collapsed">
                                        <span class="checkBox"><input type="checkbox" id="checkBoxList_{{obj.id}}" value="{{obj.id}}" name="lists" /></span>
                                        <span class="suggestionName">{{obj.name}}</span>
                                        <span class="suggestionName_editable {% if obj.user.username == user.username%}editable_list_name{% endif %}" style="display:none">{{obj.name}}</span>                                        
                                    </div>
                                    <div class="expanded" style="display:none">
                                        <dl>
                                            {% if obj.user.username != user.username%}
                                                <dt>{%trans "Autor:" %}</dt>
                                                <dd><a href="{% url2 in_facebook public_profile obj.user.username %}">{{obj.user.username}}</a></dd>
                                            {% endif %}
                                            <dt>{%trans "Descripción:" %}</dt>
                                            <dd class="{% if obj.user.username == user.username%}editable_list_description{% endif %}">{%if obj.description%}{{obj.description}}{%endif%}</dd>
                                            
                                            <dt>{%trans "Sugerencias:" %}</dt>
                                            <dd class="suggestions">
                                                
                                                <ul class="removable-suggestions-in-lists" {% if obj.instances|length = 0 %} style="display:none" {%endif%}>
                                                    {% for k in obj.instances %}
                                                        <li  class="list_{{obj.id}} {% if obj.user.username == user.username%}removable{% endif %}" value="{{k.id}}">{{k}}</li>
                                                    {% endfor %}
                                                </ul>
                                                
                                                <em class="empty-msg {% if obj.user.username == user.username%}editable{% endif %}" value="{{obj.id}}" {% if obj.instances|length > 0 %} style="display:none" {%endif%}>
                                                    {%trans "No hay sugerencias en esta lista" %}
                                                </em>
                                                
                                            </dd>
                                            
                                            <dt>{%trans "Tags:" %}</dt>
                                            <dd {% if obj.user.username == user.username%}class="editable_list_tags"{%endif%}>{% if obj.tags %}{% for tag in obj.tags %}{{tag}}{%if not forloop.last%}, {%endif%}{%endfor%}{% endif %}</dd>
                                            <dt>{%trans "URL:" %}</dt>
											<dd><input type="text" value="{{ obj.short_url }}"> <a href="{{ obj.short_url }}">{%trans "Previsualizar" %}</a></dd>
                                            <dt><strong>{%trans "Compartir:" %}</strong></dt>
                                            <dd>
                                                <ul class="share-suggestion">
    <!--
                                                    <li><a class="share-suggestion georemindme-icon" href="">Sugerir a amigos</a></li>
    -->
                                                    <li class="share" type="twitter" data-href="{{ obj.short_url }}" value="{{k.id}}" data-type="list"><a class="share-suggestion twitter-icon" href="">{%trans "Twitter" %}</a></li>
                                                    <li class="share" type="wall" data-href="{{ obj.short_url }}" value="{{k.id}}" data-type="list"><a class="share-suggestion facebook-icon" href="">{%trans "Muro" %}</a></li>
                                                </ul>
                                            </dd>
                                            <dt>{%trans "Visibilidad:" %}</dt>
                                            <dd {% if obj.user.username == user.username%}class="editable_list_visibility"{%endif%} value="{{obj.visibility}}">{% if obj.visibility = "public" %}{%trans "Pública" %}{%else%}{%trans "Privada" %}{%endif%}</dd>
                                        </dl>
                                        
                                        <div class="show-more-text" style="display:none">
											<p class="big statistics">{%trans "Estadísticas:" %}</p>
											<dl>
												
												<dt>{%trans "Personas que han guardado la lista:" %} </dt>
												<dd>{{obj.counters.followers}}</dd>
												
												<dt>{%trans "Comentarios recibidos:" %}</dt>
												<dd>{{obj.counters.comments}}</dd>
												
												<dt>{%trans "Última modificación:" %}</dt>
												<dd>{{obj.modified}}</dd>
											</dl>
										</div>
										<span class="show-more">{%trans "Mostrar estadísticas" %}</span>
                                    </div>
                                </div>
                            {% endfor %}
						{% endif %}
                        </div>
                    
                </span>
                <!-- END LISTS -->
            </table>
        </div>
    </div>
    <div id="legend"><span>{%trans "Tipo de contenido:" %} </span>
        <ul>
            <li><span class="mine">&nbsp;</span>{%trans "Generado por ti" %}</li>
            <li><span class="not-mine">&nbsp;</span>{%trans "Guardado" %}</li>
        </ul>
    </div>
    
    <script id="suggestionTemplate" type="text/x-jquery-tmpl">
        <div id="suggestion_${element.id}" class="suggestion">
            <div class="collapsed">
                <span class="checkBox"><input type="checkbox" id="checkBox_{{element.id}}" value="${element.id}" /></span>
                <span class="suggestionName">${element.name}</span>
<!--
                <span class="suggestionInLists">Lista ${element.id}</span>
-->
            </div>
            <div class="expanded hidden">
                Id:${element.id}<br>
            </div>
        </div>
    </script>
    
    <!-- A MODIFICAR -->
    <script id="listTemplate" type="text/x-jquery-tmpl">
        <div id="list_${obj.id}" class="suggestion suggestionList">
            <div class="maximize-minimize suggestionCollapsed"><span>.</span></div>
            <div class="collapsed">
                <span class="checkBox"><input type="checkbox" id="checkBox_${obj.id}" value="${obj.id}" name="lists" /></span>
                <span class="suggestionName">${obj.name}</span>
                <span class="suggestionName_editable editable_list_name" style="display:none">${obj.name}</span>                                        
            </div>
            <div class="expanded" style="display:none">
                <dl>
                    <dt>{%trans "Descripción:" %}</dt>
                    <dd class="editable_list_description">{%trans "Esta lista aún no tiene descripción" %}</dd>
                    
                    <dt>{%trans "Sugerencias" %}</dt>
                    <dd class="suggestions">
                        
                         <ul class="removable-suggestions-in-lists" style="display:none">
                            {% templatetag openvariable %}each keys{% templatetag closevariable %}
                                <li  class="list_${obj.id} removable" value="${$value.id}">${$value.name}</li>
                            {% templatetag openvariable %}/each{% templatetag closevariable %}
                        </ul>
                        
                        <em class="empty-msg editable" value="nothing">
                            {%trans "No hay sugerencias en esta lista" %}
                        </em>
                        
                    </dd>
                    
                    <dt>{%trans "Tags:" %}</dt>
                    <dd class="editable_list_tags">

                        <dd class="editable_list_tags" title="Click to edit..." style="">{%trans "Esta lista de sugerencias no tiene tags" %}</dd>

                    </dd>
                    <dt>{%trans "URL:" %}</dt>
					<dd><input type="text" value="${obj.short_url}"> <a href="${obj.short_url}">{%trans "Previsualizar" %}</a></dd>
                    <dt><strong>{%trans "Compartir:" %}</strong></dt>
                    <dd>
                        <ul class="share-suggestion">
<!--
							<li class="share" type="link" data-href="${obj.short_url}" data-type="list">
								<a class="share-suggestion link-icon" href="">Enlace</a>
							</li>
-->
							<li class="share" type="twitter" data-href="${obj.short_url}" data-type="list">
								<a class="share-suggestion twitter-icon" href="">{%trans "Twitter" %}</a></li>
							<li class="share" type="wall" data-href="${obj.short_url}" data-type="list">
								<a class="share-suggestion facebook-icon" href="">{%trans "Muro" %}</a>
							</li>
                        </ul>
                    </dd>
                    
					<dt>{%trans "Visibilidad:" %}</dt>
					<dd class="editable_list_visibility" value="public">
                            {%trans "Pública" %}
					</dd>
                    
                </dl>
                
				<div class="show-more-text" style="display:none">
					<p class="big statistics">{%trans "Estadísticas:" %}</p>
					<dl>
						
						<dt>{%trans "Personas que han guardado la lista:" %} </dt>
						<dd>${obj.counters.followers}</dd>
						
						<dt>{%trans "Comentarios recibidos:" %}</dt>
						<dd>${obj.counters.comments}</dd>
						
						<dt>{%trans "Última modificación:" %}</dt>
						<dd>${obj.modified}<</dd>
					</dl>
				</div>
				<span class="show-more">{%trans "Mostrar estadísticas" %}</span>
                
            </div>
        </div>
    </script>
    
    <div class="help-txt" style="display:none" id="share-text" title="{%trans "Compartir" %}">
        
    </div>
    
    <script id="shareTwitter" type="text/x-jquery-tmpl">
		<p>{%trans "Envía esta sugerencia a tus seguidores en Twitter." %}</p>
        <textarea id="twitter_msg" data-id="${elem_id}" event-type="${type}">${link}</textarea>
        <span id="twitter-counter">140</span>
        {% if user.twitter_user %}
			{% comment %}
				{%trans "Si tiene la cuenta de Twitter asociada le dejamos escribir directamente:" %}
			{% endcomment %}
		{% else %}
			<div style="display:none">
			   <a href="http://twitter.com/share" class="twitter-share-button" target="_blank">{%trans "Tweet" %}</a>
			</div>
		{% endif %}
    </script>
    <script id="shareFacebook" type="text/x-jquery-tmpl">
		
			<p>"Envía esta sugerencia a tu muro de Facebook:" %}</p>
			<textarea id="facebook_msg" data-id="${elem_id}" event-type="${type}">${link}</textarea>
		
    </script>
    
    <div class="help-txt" style="display:none" id="help-suggestion-text" title="Información">
        <p>{% trans "Solo el autor de una sugerencia puede modificar sus campos descripción, tags y corregir la localización." %}</p>
        <p>{% trans "Tu podrás incluir esta sugerencia en cualquiera de tus listas, compartirla con otros usuarios, valorarla y comentarla." %}</p>
        <p>{% trans "Además podrás comentar, valorar y guardar en tu mochila aquellas sugerencias y listas de sugerencias que te hayan gustado." %}</p>
        <p>{% trans "Si tienes alguna duda o sugerencia puedes hacerla aquí:" %}</p>
        

    </div>
    
    
    <div id="tabMenu-toolbox" style="display:none">
		<p>{% trans "En estas pestañas encontraras agrupadas tus sugerencias y la listas junto con aquellas que hayas guardado." %}</p>
	</div>
    
{% endblock %}
