{% extends "generic/base_generic.html" %}
{% load i18n %}
{% load tags %}

{% block title %}{% blocktrans with list.user as autor%}Lista "{{list}}" de sugerencias creada por {{autor}}{% endblocktrans %}{% endblock %}
{% block description %}{% if list.description = None and suggestions|length = 0 %}{% trans "Nuestra misión es ofrecer una herramienta para la gestión de sugerencias personalizadas en base a tu localización y a tu gustos." %}{% else %}{% if list.description %}{{list.description}} - {% endif %}{% for obj in suggestions %}{{forloop.counter}}) {{obj.instance.user.username}}:{{obj.instance.name}}{%if not forloop.last %} {%endif%}{%endfor%}{%endif%}{%endblock%}
{% if list.tags|length != 0 %}{% block keywords %}{% for tag in list.tags %}{{tag}},{% endfor %}{%endblock%}{% endif %}

{% block extra_js %}	
        <script type="text/javascript">
        $(document).ready(function(){
			
			
            //Set like & dislike, remember and removable behaviour
            $(".like-dislike").like();
            $(".remember-forget").remember();
            $(".remember-forget-list").remember({callback:function(){
                //Incrementamos o decrementamos el contador
                var value=$('#followers-counter').text();
                if($(".remember-forget-list").attr('remember')=="true"){
                    $('#followers-counter').text(parseInt(value)+1);
                }else{
                    $('#followers-counter').text(parseInt(value)-1);
                }
            }});
            $(".removable").removable();
            
            //Set like&dislike style
            $('#suggestion-list li,#comment-list li, #popular-box li').hover(
                function(){$(this).find('.action-bar').show()},
                function(){$(this).find('.action-bar').hide()}
            )
            $('#suggest_suggestion').one('click',function(){
                GRM.wait();
                $.ajax({
                    type: "POST",
                    url: url["get_suggestions"],
                    data:{ list_id:$('#suggest_suggestion').attr('value')},
                    dataType:'json',
                    context:$(this),
                    complete: function() { GRM.nowait();},
                    success: function(data){
                        //console.log(msg);
                        $(data).each(function(i,elem){
                            $('#suggest_suggestion_menu ul').append('<li value="'+elem.id+'">'+elem.name+'</li>')
                        });
                        
                        $('#suggest_suggestion_menu ul li').click(function(){
                            var elem=$(this);
                            $.ajax({
                                type: "POST",
                                url: url["suggest_suggestion"],
                                data:{
                                    list_id: $('#suggest_suggestion_menu').attr('value'),
                                    event_id: $(this).attr('value')
                                },
                                dataType:'json',
                                success: function(data){
                                    //console.log(data);
                                    //asd=$(this);
                                    if(data==false){
                                        showMessage("{% trans '¡Vaya! La propuesta ya ha sido realizada previamente o está en la lista.' %}","error");
                                    }else{
                                        elem.addClass("strong");
                                        showMessage("{% trans '¡Gracias! La propuesta ha sido enviada exitósamente' %}","success");
                                    }
                                }
                            });
                        });
                        
                        if($('#suggest_suggestion_menu ul li').length>0)
                            $('#suggest_suggestion_menu').show()
                    }
                })
            
            })
            
            $("#suggest_suggestion_menu .dropDownBtn").hoverIntent(hiConfig);
        });
        
        
	</script>
{%endblock%}


{% block body %}
    <div id="view-list">
    	
    
    
	
	<div id="list-box" class="clear">
        <p class="clear-left big lists-title">
            <strong>{% trans "Lista:" %} "{{list}}"</strong></p>
            <div id="suggestion-info">
                {% if list.description %}
                    <p>{% trans "Descripción:" %} <span id="list-description">{{list.description}}</span></p>
                {% endif %}
                <ul>
                    <li id="owner"><img src="{% embedded_avatar list.user.username %}" alt="{{list.user.username}}"> <a href="{% url2 in_facebook public_profile list.user %}" title="{{list.user}}" class="black-link">Autor: {{list.user}}</a></li>
                    <li class="suggestionx16">{% trans "Sugerencias:" %} {{suggestions|length}}</li>
                    <li class="saved">{% trans "Veces guardada:" %} <span id="followers-counter">{{list.counters.followers}}</span></li>
                        {% comment %}
                        {% if list.tags %}
                            <li>{% trans "Etiquetas:" %}{% for tag in list.tags %}{{tag}},{% endfor %}</li>
                        {% endif %}
                    {% endcomment %}
                </ul>
                <div class="clear" id="action-bar">
                    <ul>
                        <li id="print-icon"><a href="?print" target="_blank"  class="hoverlink">{% trans "Imprimir" %}</a></li>
                        {% if list.user.username != request.user.username and request.user.is_authenticated %}
                            <li>
                                <span class="remember-forget-list hoverlink saved" value="{{list.id}}" type="list" {%if user_follower%}remember="true"{%endif%}>
                                    <span class="remember" title="Guardar en favoritos">{% trans "Guardar" %}</span>
                                    <span class="forget" title="Puedes consultar tus favoritos en 'Tu mochila'">{% trans "Guardada" %}</span>
                                </span>
                            </li>
                            <li id="suggest_suggestion"  value="{{list.id}}">
                                <span class="hoverlink">{% trans "Proponer sugerencia" %}</span>
                                <div id="suggest_suggestion_menu" style="visibility:hidden" value="{{list.id}}" class="right">
                                        <span class="btn dropDownBtn">
                                            <span class="save-at">---------</span>
                                            <ul class="submenu" style="display:none" id="dropdown-list">

                                            </ul>
                                        </span>
                                </div>
                            </li>
                        {% else %}
                            {% if list.user.username == request.user.username %}
                                <li><a href="{% url2 in_facebook user_suggestions %}" class="hoverlink">{% trans "Editar desde la mochila" %}</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    
                </div>           
    
            </div>
        
        <ul id="suggestion-list">
            {% for obj in suggestions %}
            <li>           
                    
                    <span class="user"><a href="{% url2 in_facebook public_profile obj.instance.user.username %}"><img src="{% embedded_avatar obj.instance.user.username %}" alt="{{obj.instance.user.username}} avatar"></a></span>
                    <div class="timeline-msg">

                        <span class="msg"><a href="{% url2 in_facebook view_suggestion obj.instance.slug %}" class="hoverlink">{{obj.instance.name}}</a></span>
                        {% if obj.instance.poi.slug %}
                            <span class="suggestionPlace">{% trans 'En' %} <a href="{% url2 in_facebook view_place obj.instance.poi.slug %}" class="dark-link">{{obj.instance.poi.name}}</a></span>
                        {% endif %}
                        <span class="action-bar" style="display:none">

                            {% if obj.instance.user.username != request.user.username %}
                                &nbsp;- 
                                <span class="like-dislike hoverlink" value="{{obj.instance.id}}" {% if obj.has_voted %}like="true"{%endif%} type="suggestion">
                                    <span class="dislike hoverlink">
                                        <span>{% trans "Ya no me gusta" %}</span> 
                                    </span>
                                    
                                    <span class="like">
                                        {% trans "Me gusta" %}
                                    </span>
                                </span>
                                
                                | <span title="{% trans "Guardar en favoritos" %}"  class="remember-forget hoverlink" value="{{obj.instance.id}}" {%if obj.user_follower%}remember="true"{%endif%}><span class="remember">{% trans "Guardar" %}</span><span class="forget">{% trans "Guardada" %}</span></span>
                            {% endif %}
                        </span>
                            
                    </div>
                
            </li>
            {% endfor %}
        </ul>
	</div>
    
	{% if top_comments %}
		<div id="popular-box" class="clear">
            <p class="popular">{% trans "Los comentarios más populares" %}</p>
            <ul class="comments">
            {% for c in top_comments %}
                <li class="comment-element">
                    <!-- Añadimos el botón de borrar comentario-->
                    {% if c.user.username = user.username %}
                        <div class="removable" value="{{c.id}}" type="comment"><a href="#">Borrar</a></div>
                    {% endif %}
                                            
                    <span class="user"><img src="{% embedded_avatar c.username %}" alt="{{c.user.username}} avatar"></span>
                    <div class="comment-content">
                        <span class="msg"><a href="{% url2 in_facebook public_profile c.username%}" class="dark-link">{{c.user.username}}</a>{{c.msg}}</span>
                        <span class="timestamp">{{c.created|naturaltime}}</span> 
                        {% if c.username != user.username %} 
                            <span class="action-bar" style="display:none">
                                &nbsp;- 
                                <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                                    <span class="dislike">
                                        <span class="hoverlink">{% trans "Ya no me gusta" %}</span> 
                                        
                                    </span>
                                    
                                    <span class="like">
                                        <span class="hoverlink">{% trans "Me gusta" %}</span> 
                                    </span>
                                </span>
                            </span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}

            </ul>
        </div>
    {% endif %}
	
	<h2>{% trans "¿Tienes algún comentario?" %}</h2>
    <textarea id="msg"></textarea>
    <span class="btn" onclick="sendComment(this,'list',{{list.id}});">{% trans "Comentar" %}</span>
	
    {% if comments.1 %}
		<h2>{% trans "Comentarios" %}</h2>
    	<ul class="comments" id="comment-list">
        {% for c in comments.1 %}
            <li class="suggestion-element" {% if forloop.last %}style="border-bottom:1px dotted #BBBBBB"{% endif %}>
                
                <!-- Añadimos el botón de borrar comentario-->
                {% if c.username = user.username %}
                    <div class="removable" value="{{c.id}}" type="comment"><a href="#">Borrar</a></div>
                {% endif %}
                                        
                <span class="user"><img src="{% embedded_avatar c.username %}" alt="{{c.username}} avatar"></span>
                <div class="comment-content">
                    <span class="msg"><a href="{% url2 in_facebook public_profile c.username%}" class="dark-link">{{c.username}}</a>: {{c.msg}}</span>
                    <span class="timestamp">{{c.created|naturaltime}}</span> 
                    {% if c.username != user.username %} 
						<span class="action-bar" style="display:none">
							&nbsp;- 
							<span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
								<span class="dislike">
									<span class="hoverlink">{% trans "Ya no me gusta" %}</span> 
									
								</span>
								
								<span class="like">
									<span class="hoverlink">{% trans "Me gusta" %}</span> 
								</span>
							</span>
						</span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}

    	</ul>
    {% endif %}

    
	</div>
	{% if request.user.is_authenticated %}
        <script id="commentTemplate" type="text/x-jquery-tmpl">
            <li>
                <div class="removable" value="${id}" type="comment"><a href="#">{% trans "Borrar" %}</a></div>
                <span class="user">
                    <img class="user-picture" src="{% embedded_avatar user.username %}" alt="user avatar">
                </span>
                <div class="comment-content">
                    <span class="msg">
                        <a href="{% url2 in_facebook public_profile user.username %}" class="dark-link">{{user.username}}</a>: 
                        ${msg}
                    </span>
                
                    <span class="timestamp">{% trans "Hace 0 minutos" %}</span>
                </div>

            </li>
        </script>  
    {% endif %}
{%endblock%}
