{% extends "generic/base_generic.html" %}
{% load i18n %}
{% load tags %}


{% block extra_js %}
		<script type="text/javascript">
        $(document).ready(function(){
			
            $('#suggestion-list li').hover(
                function(){$(this).find('div.save-suggestion,div.like-suggestion,div.map-suggestion').css({'display': 'inline'});},
                function(){$(this).find('div.save-suggestion,div.like-suggestion,div.map-suggestion').css({'display': 'none'});}
            )
            
            $('#tag-search-form').submit(function(e){
                e.preventDefault();
                var tag=$(this).find('input[type="text"]').val();
                window.location="/tag/"+tag+"/suggestions";
            })
        });
	</script>
{%endblock%}

{% block title %}{% blocktrans %}Sugerencias relacionadas con "{{tag}}":{% endblocktrans %}{% endblock %}
{% block description %}{% for obj in suggestions.1 %}{{forloop.counter}}) {{obj}} {%endfor%}{%endblock%}
{% block keywords %}{{tag}}, {% trans "buscador, sugerencias, persolinalizadas, recomendaciones, viajes" %}{% endblock %}

{% block body %}
	
	<div id="suggestion-tag-search">
        
    
		<h2 class="clear">
        {% if suggestions.1|length = 1 %}
            {% blocktrans %}Se ha encontrado 1 sugerencia que contiene la palabra clave "<strong>{{tag}}</strong>":{% endblocktrans %}
        {% else %}
            {% blocktrans %}Sugerencias que contienen la palabra clave "<strong>{{tag}}</strong>":{% endblocktrans %}
        {% endif %}
        </h2>
        
		<ul>
            {% for obj in suggestions.1 %}
                <li>
                    <div class="search-avatar">
                        <a href="{%url2 in_facebook public_profile obj.user.username%}"><img src="{% embedded_avatar obj.user.username %}" alt="{{obj.user.username}} avatar" title="{{obj.user.username}}"></a>
                    </div>
                    <div class="search-text">
                        <a class="sugg-link hoverlink" href="{%url2 in_facebook view_suggestion obj.slug %}">{{obj.name}}</a> <br>
                        {% trans 'En' %} <span class="sugg-place"><a href="{%url2 in_facebook view_place obj.poi.slug %}" class="black-link">{{obj.poi.name}}</a> | Creada: {{obj.created|naturaltime}}</span>
                    </div>
                </li>
			{% endfor %}
		</ul>
		<hr>
        <form action="." method="post" id="tag-search-form">
            {% trans 'Buscar sugerencias que tengan la(s) palabra(s) clave:' %}<br>
            <input type="text" placeholder="{{tag}}"/>
            <input type="submit" value="{% trans 'Buscar' %}" onclick="search(this)">
        </form>
	</div>
	
    
{%endblock%}
