{% load i18n %}
<form id="login_form" action="." method="POST">
<p id="google_login"><a href="{{ url_login }}">{% trans "Login using your Google account" %}</a></p>
{% csrf_token %} 
<fieldset>
{{form.as_p}}
<p id="register">Or you can <a href="{% url georemindme.views.register %}">register</a> now | <a href="">RemindMe my password</a></p>
{% if alert %}
  <div class="alert">{{ alert }}</div>
{% endif%}
{% if msg %}
  <div class="alert">{{ msg }}</div>
{% endif%}
<input class="submit" type="submit" value="Login"/>
</fieldset>
</form>
