{% extends '../templates/content-table.html' %}


{% block contenttable %}

	<ul id="content-index"> 
		<li><a href="#documentation" class="anchor separator" id="back-to-top">Back to top</a></li> 
		<li><a href="#about" class="anchor separator">Sobre GeoRemindMe</a></li> 
		<li><a href="#android-dev" class="anchor separator">Desarrollador Android</a></li> 
		<li><a href="#interface-designer" class="anchor separator">Diseñador de interfaces</a></li> 
		<li><a href="#web-dev" class="anchor separator">Desarrollador Web</a></li> 
		<a href="http://static.georemindme.com/images/georemindme_dude.jpg"><img src="http://static.georemindme.com/images/georemindme_dude.jpg" style="width:184px" alt="GeoRemindMe"/></a>
		<br>Author: <a href="http://es.linkedin.com/pub/jose-luis-roz%C3%BAa-lucena/23/832/b71">José Luis Rozúa</a>
	 </ul> 
{% endblock %}

{% block content %}

	<article class="content-box"> 
		<div> 
            <h2 id="about">Sobre GeoRemindMe</h2>
            <p>Mientras el resto del mundo está en crisis, GeoRemindMe tiene grandes espectativas de crecimiento y está deseando <strong>contratar a profesionales especialmente buenos</strong> (no necesariamente residentes en Granada).</p>

			<p>El equipo de GeoRemindMe está desarrollando una <strong>herramienta social de recomendaciones y alertas geolocalizadas</strong> que pretende mejorar la vida de miles de personas.
			Para ello estamos creando una aplicación web y una aplicación móvil en Android desde la que los usuarios podrán <strong>compartir y encontrar recomendaciones personalizadas para cada usuario basándose en: sus gustos, en su localización y en su entorno social</strong>.</p>

			<p>¿Qué tecnologías estamos usando para hacerlo posible?</p>
			<ul>
				<li>La nube de Google usando <a href="http://code.google.com/intl/es-ES/appengine/">App Engine</a></li>
				<li>Un servidor web creado con <a href="https://www.djangoproject.com/">Python y Django</a></li>
				<li>Una aplicación <a href="http://developer.android.com/index.html">Android</a></li>
				<li>Una <a href="http://developers.facebook.com/">aplicación web para Facebook</a> usando <a href="http://www.html5rocks.com/en/">HTML5</a> y <a href="http://www.css3.info/">CSS3</a></li>
			</ul>
			
			<h2 id="job">Empleo</h2> 
            <p>Por lo que si te gustaría formar parte del equipo vamos a darte una serie de pistas que empezarían a describirte como candidato ideal:</p>
			<ul>
				<li>Has contribuido en algún otro proyecto de software libre.</li>
				<li>Te gusta trabajar y aprender de tu entorno.</li>
				<li>Si no existe la frase "no se puede hacer" en tu vocabulario.</li>
				<li>No puedes programar sin usar control de versiones, especialmente Git.</li>
				<li>Eres un gran defensor de Scrum.</li>
				<li>Lo tuyo es más el pingüino o la manzana.</li>
				<li>No le tienes miedo a hablar en inglés.</li>
				<li>Has vivido alguna vez fuera de España.</li>
			</ul>

			<p>Para rematar la faena deberías entrar dentro de uno de estos perfiles:</p>
			<ul>
				<li><a href="#android-dev">Desarrollador Android</a></li>
				<li><a href="#interface-designer">Diseñador de interfaces</a></li>
				<li><a href="#web-dev">Desarrollador web</a></li>
			</ul>
            
		</div> 
	 </article> 
      
         <article class="content-box"> 
            <div> 
            
            <p><a href="#documentation" class="back-to-top">Back to top</a></p> 
            </div> 
         </article> 
         
         
         
         
         <article class="content-box"> 
            <div> 
            <h2 id="android-dev">Desarrollador Android</h2> 
            <p>Si...</p>
			<ul>
				
				<li>Si tienes experiencia en el campo de la geolocalización</li>
				<li>Si ya has desarrollado aplicaciones con Android.</li>
				<li>Si tienes alguna aplicación con más de 50K descargas o una valoración media de 5 estrellas</li>
				<li>Te conoces StackOverflow como la palma de tu mano.</li>
				
			</ul>
			<p>Por favor envíanos tu CV (linkedin también vale) y enlaces a algunos de tus trabajos a jobs@georemindme.com</p>

            <p><a href="#documentation" class="back-to-top">Back to top</a></p> 
            </div> 
         </article> 
         
         
         <article class="content-box"> 
            <div> 
            <h2 id="interface-designer">Diseñador de interfaces</h2>
			<p>Si...</p>
			<ul>
				<li>Conocimientos en usabilidad web y/o móvil.</li>
				<li>Has leido a Jakob Nielssen y/o Steve Krug.</li>
				<li>Estás familiarizado con el concepto experiencia de usuario, test de usabilidad, A/B, etc.</li>
				<li>Te has leido las UX Guidelines de Android.</li>
				<li>Sabes maquetar y ya has trabajado con HTML5 y CSS3.</li>
				<li>Entiendes que la importancia de la accesibilidad.</li>
				<li>No le tienes miedo al Internet Explorer y al cross-browsing.</li>
				<li>Y además consideras que tienes un buen recorrido en este campo.</li>
			</ul>
			<p>Por favor envíanos tu CV (linkedin también vale) y enlaces a algunos de tus trabajos a jobs@georemindme.com</p>
            
            
            <p><a href="#documentation" class="back-to-top">Back to top</a></p> 
            </div> 
         </article>

		<article class="content-box"> 
            <div> 
            <h2 id="web-dev">Desarrollador Web</h2>
			<p>Si...</p>
			<ul>
				<li>Hablas fluidamente Javascript y o bien Python o PHP</li>
				<li>Has trabajando con Javascript y algún framework como jQuery, Sencha, o similar</li>
				<li>Has desarrollado ya aplicaciones para Facebook</li>
				<li>Te entiendes bien con apache y los servidores en general</li>
				<li>Conoces bien Ajax y JSON.</li>
				<li>Entiendes en que consiste el posicionamiento web</li>
				<li>Alguna vez has leido sobre web semántica o usado micro-formatos</li>
			</ul>
			<p>Por favor envíanos tu CV (linkedin también vale) y enlaces a algunos de tus trabajos a jobs@georemindme.com</p>
			<p><a href="#documentation" class="back-to-top">Back to top</a></p> 
            </div> 
         </article>
{% endblock %}
