{% extends '../templates/layout.html' %}


{% block content %}

	<article style="text-align:left;"> 
		<div style="float:left;width:550px;"> 
			<h2>Presentation</h2> 
			<p>
				<div style="text-align:center"><iframe src="https://docs.google.com/present/embed?id=dfn99qkm_724ghcrczw5" frameborder="0" width="410" height="342"></iframe></div>
			</p> 
		</div> 
		<div style="float:left;width: 300px" id="community-content">
			<h2>Documentation</h2>
			<h3 id="developers" class="menu-icons">Developers</h3> 
            <p>
				<ul>
					<li><a href="https://teambox.com/public/georemindme-2/android-developers">Android developers</a></li>
					<li><a href="http://dev.georemindme.com/webapp/build/html/">Web developers</a></li>
				</ul>
				<p>Or you can build your own apps using the <a href="http://api.georemindme.com">public API</a> (<strong>under development</strong>)</p>
            </p> 	
            
            <h3 id="localization" class="menu-icons">Localization</h3> 
            <p>If you can to help translating <a href="https://teambox.com/public/georemindme-2/translating">come here</a></p>            
            
            <h3 id="design" class="menu-icons">Designing</h3>
            <p>If you want to he</p>
            <p><a href="#documentation" class="back-to-top">Back to top</a></p> 
		</div>
	</article>  

{% endblock %}
