/*RESET CSS---------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#webapp a,
#webapp a:visited{
    color:#0063CE;
}
#webapp .link,
#webapp .hoverlink,
#webapp #view-suggestion span.likeBtn span.hoverlink,
#webapp ul#chronology a.link,
ul#chronology li span.action-bar span, 
span.action-bar a{
    color:#0063CE !important;
}
#textTermsCheckbox a{
    color:white;
}
#webapp #close-suggestions a,
#webapp #trending-suggestions a{
  color: #333333;
}
#webapp #header-top #nav-menu a{
    color:white;
}

#view-suggestion div.suggestion h1 a ,
#webapp #header-top #account-info a,
#suggestions .share-suggestion a,
#webapp a#edit-profile-btn,
#webapp a#edit-settings-btn{
    color:black
}
#webapp a#edit-profile-btn{
    font-size: 0.9em;
}

a.hoverlink{
    text-shadow: none;
}
.link{
    cursor:pointer;
}
a.hoverlink,
.link,
a:visited,
ul#chronology a:visited,
#left-col .hoverlink{
    color:#0063CE;
}

div#left-col li a {
    color: #333333;
}
left-col:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}
/*------- HOME STYLE ---------*/
#loginSec #header-top form{
    margin-top: -7px;
    
}
#login-submenu{
    font-size: 0.8em;
    padding-left: 12px;
    margin-top: 5px;
}

#login-submenu span{
    cursor:pointer;
    float: left;
    line-height: 15px;
    margin-right: 27px;
}

#login-submenu a{
    text-decoration: none;
}
#login-submenu a:hover{
    text-decoration: underline;
}

#loginSec #header-top #login-submenu span input{
    display: inline-block;
    margin: 0;
    vertical-align: text-top;
    width:auto;
}


#loginSec #header-top form{
	float: right;
/*
	margin-top: 10px;
*/
	width: 350px;
	text-align: right;
}
#login-bar{
    float: right;
    font-size: 1.1em;
    margin-top: 32px;
    
    width: 350px;
}
#login-bar p, #login-bar ul,#login-bar ul  li{
    display:inline;
    float:left;
}
#login-bar p{
    color: #555555;
    display: inline-block;
    font-size: 1.1em;
    line-height: 32px;
}
#loginSec #header-top input{
	border: 1px solid #CCCCCC;
    display: inline;
    font-size: 0.8em;
    height: 1.2em;
    margin-right: 5px;
    margin-top: 10px;
    width: 130px
}
#login-bar ul li{
    background:url("/static/facebookApp/img/sprite_social.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 32px;
    margin-left: 10px;
    cursor:pointer;
}
#login-bar ul li.twitter{
    background-position:0 0;
}
#login-bar ul li.google{
    background-position:0 -32px;
}
#login-bar ul li.facebook{
    background-position:0 -64px;
}
#login-bar ul li.georemindme{
    background-position:0 -96px;
}
#login-bar ul li span{
    display: block;
    font-size: 0.5em;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 32px;

}

#bg-header{
/*
	//background-color: #FF913C;

*/
	border-bottom:2px solid #ccc;
    margin: 0 auto;
    position: relative;
/*
    width: 1100px;
*/
    z-index: 2;
}
.orange-gradient{

background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(30,32,43,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(30,32,43,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#1e202b',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* W3C */
}

body {
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(254,254,254,1) 50%, rgba(238,238,238,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(50%,rgba(254,254,254,1)), color-stop(99%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(254,254,254,1) 50%,rgba(238,238,238,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(254,254,254,1) 50%,rgba(238,238,238,1) 99%); /* Opera11.10+ */
background: -ms-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(254,254,254,1) 50%,rgba(238,238,238,1) 99%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, rgba(238,238,238,1) 0%,rgba(254,254,254,1) 50%,rgba(238,238,238,1) 99%); /* W3C */
/*
    font-family:Helvetica Neue,Arial,sans-serif;
*/
/*
	font-family: "Crimson Text",Helvetica Neue, Arial, sans-serif;
*/
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
}

.container {
	width: 945px;
    
	margin: 0 auto;
}

#header-top {
	height: 60px;
    margin: 0 auto;
}

#loginSec #header-top {
    height:85px;
}
#loginSec #logo{
	width: 200px;
    padding: 0;
    height:auto;
    float:left;
    margin-top:5px;
}

#logo {
/*

*/
/*
    height:45px;
*/
	padding:5px 0 0;
}
#logo-link{
    display:inline-block;
    float:left;
    text-align: center;
    margin-top:0.4em;
}
#logo-link a{
    background: url("/static/webapp/img/logos.png") repeat scroll 0 0 transparent;
    display: block;
    margin-top: 5px;
}
#logo-link #logo{
    width:228px;
    height:42px;
    float:none;
}

#header-nav {
	float: left;
    font-size: 12px;
    margin: 41px auto 0;
    padding-left: 55px;
}

#header-nav ul {
	list-style: none outside none;
    margin: 0 auto;
}

#header-nav ul li {
	border-right: 1px solid #0063CE;
    float: left;
    font-size: 1.2em;
    font-weight: normal;
    list-style: none outside none;
    margin-left: 15px;
    padding-right: 15px;
}

#header-nav ul li:last-child {
	border-right: none;
}

#header-nav ul li a {
	color: #0063CE;
	text-decoration: none;
}

#header-nav ul li a:hover {
	text-decoration: underline;
}

#header-top a#logout-btn,#header-top input#login-btn {
	display: block;
	color: #000000;
	text-decoration: none;
	margin-top: 14px;
	margin-right: 15px;
	font-size: 14px;
/*
	background: url("/static/webapp/img/login-bg.png") repeat-x;
*/
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* W3C */
	height: 31px;
	width: 130px;
	float: right;
	text-align: center;
	line-height: 31px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.75);
}
#header-top input#login-btn{
    float: right;
    font-size: 0.9em;
    height: 20px;
    line-height: 20px;
    margin-right: 0;
    margin-top: 9px;
    padding: 0 5px;
    width: auto;
}
#header-top a#logout-btn {
	
    font-size: 1em;
    height: 31px;
    line-height: 31px;
    width: 100px;
}

#login-btn a {
	color: #000000;
	text-decoration: none;
	width: 31px;
	height: 132px;
}

#background{
	
	width: 100%;
    font-size: 0.9em;
}
#background-login{
	background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(30,32,43,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(30,32,43,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#1e202b',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(30,32,43,1) 100%); /* W3C */
}
#background-login:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}

#main {
	min-height: 415px;
	position: relative;
}

#left-block {
	margin-top: 15px;
}
#right-block{
    margin-top: 40px;
}

#left-block {
	clear: left;
	float: left;
	width: 500px;
}
#loginSec #right-block {
    width: 410px;
}
#loginSec #left-block {
    width:490px;
    background-color: rgba(68, 71, 76, 0.3);
    border: 1px dotted #666666;
    clear: left;
    color: white;
    float: left;
    line-height: 1.5em;
    padding: 10px;
}
#right-block {
	width: 450px;
	float: right;
}

#right-block h2 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 24pt;
	text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	margin-bottom: 15px;
}

#right-block p {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14pt;
	text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
}

#right-block ul {
	display: block;
	width: 100%;
	height: 68px;
	background: url('/static/webapp/img/social-bg.png') no-repeat;
	margin-top: 30px;
	margin-left: 30px;
}

#loginSec #right-block #register-with-social p{
    line-height: 1.3em;
}

#right-block ul li {
	float: left;
	margin-top: 4px;
	margin-left: 50px;
}
#register-menu li{
    cursor:pointer;
}
#register-menu li.active{
    background-color: white !important;
 }
#register-menu li#twitter{
    background: url("/static/webapp/img/social_big.png") no-repeat scroll 0 0 transparent;
 }
 #register-menu li#facebook{
    background: url("/static/webapp/img/social_big.png") no-repeat scroll 0 -63px transparent;
 }
 #register-menu li#google{
    background: url("/static/webapp/img/social_big.png") no-repeat scroll 0 -124px transparent;
 }
 
#register-menu span{
    display: block;
    height: 60px;
    visibility: hidden;
    width: 60px;
}

#register-menu li.active{
    -moz-box-shadow: 0 0 5px 5px white;
    -webkit-box-shadow: 0 0 5px 5px white;
    box-shadow: 0 0 5px 5px white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFEC72;
}
#right-block a#register-btn, 
#registerForm input[type="submit"],
a#register-btn{
/*
	background: url('/static/webapp/img/register-bg.png') repeat-x;
*/
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 45%, #b2b2b2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#efefef), color-stop(100%,#b2b2b2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 45%,#b2b2b2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 45%,#b2b2b2 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 45%,#b2b2b2 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#efefef 45%,#b2b2b2 100%); /* W3C */

	color: #000000;
	display: block;
	font-size: 18pt;
	height: 48px;
	line-height: 48px;
	margin-left: 130px;
	margin-top: 25px;
	text-align: center;
	text-decoration: none;
	width: 189px;
	text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-moz-text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
}
a#register-btn.anonymous{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: 100px;
    margin-top: 0;
    padding: 0 15px;
    width: auto;
}
#registerForm input[type="submit"]{
    border: 0 none;
    font-size: 1.3em;
    line-height: 30px;
    height: 30px;
    margin: 0 auto;
    width: 100px;
}

#registerForm{
    margin: 30px 0;
}
#activity div.help-icon{
    margin: 2px 0 0;
}
#registerForm input,#registerForm div{
    display: block;
    font-size: 1.2em;
    height: 2em;
    margin: 5px auto;
    width: 250px;
}
#registerForm div{
	color: white;
    font-size: 1em;
    height: 1.3em;
    text-align: center;
    display:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}


#left-col #footer{
    font-size: 1em;
    padding: 1em 2em;
    width: 310px;
    color: #AAAAAA;
    padding:0;
}
#footer:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}
#colored-chickens{
    background: url("/static/webapp/img/logos.png") no-repeat scroll 0 -53px transparent;
    height: 25px;
    margin: 20px auto;
    text-align: center;
    width: 158px;
}

#colored-chickens img{
margin-top:1em;
}
#left-col #footer .footer-links{
    display:block;
    float:none;
    margin:0;
}

.footer-links {
	font-size: 1em;
	display: inline;
	margin-top: 20px;
	float: left;
    line-height:2em;
}

.footer-links a {
	color: #0063CE;
	text-decoration: none;
}

.footer-links a:hover {
	text-decoration: underline;
}

.footer-links a:active {
	color: #d4d4d4;
}

.right-links {
	float: right;
}

 
#right-arrow,#left-arrow {
	float: left;
	display: inline-block;
	height: 262px;
	width: 24px;
	border-left: 1px solid #cfcfcf;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(233,232,233,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(233,232,233,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(233,232,233,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(233,232,233,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(233,232,233,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e8e9',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, rgba(255,255,255,1) 0%,rgba(233,232,233,1) 100%); /* W3C */
	
}
#left-arrow{
    -moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
    
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    border-right: 1px solid #cfcfcf;
    
    background: rgb(233,232,233); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(233,232,233,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(233,232,233,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(233,232,233,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(233,232,233,1) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, rgba(233,232,233,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e8e9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, rgba(233,232,233,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
}
#right-arrow span,#left-arrow span{
    background: url("/static/webapp/img/left-right-arrow.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    margin-left: 3px;
    margin-top: 120px;
    width: 18px;
}
#left-arrow span{
    background: url("/static/webapp/img/left-right-arrow.png") no-repeat scroll 0 -18px transparent;
}
#right-arrow img,#left-arrow img{
    padding-top:120px;
}
#left-arrow img{
    margin-left:2px;
}

#rollover {
	width: 369px;
	height: 262px;
	background-color: #FFFFFF;
	float: left;
}

.intro-text {
    color: #404040;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 13px;
}

.bigger-intro-text {
	font-size: 21px;
    line-height: 1.2em;
}
.bigger-intro-text strong{
    font-weight:bold;
}

.user-name {
	font-size: 12px;
	color: #0063CE;
	margin-left: 60px;
}

.user-suggestion {
	font-size: 10px;
	color: #404040;
	margin-left: 60px;
	margin-top: 10px;
}

.users-box {
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 10px;
}

.users-box article {
	border-bottom: 1px solid #ff913c;
	display: block;
	float: left;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 5px;
}

.user-avatar {
	border: 1px solid #404040;
	display: inline-block;
	float: left;
}

#right-block p.register-text-aux {
	height: 31px;
	background: url('/static/webapp/img/add.png') no-repeat;
	padding-left: 40px;
	line-height: 31px;
	margin-top: 20px;
	font-size: 14px;
	margin-left: 30px;
    cursor:pointer;
}

#right-block p.register-text-aux.close{
    background-position:left bottom;
}

.bottom-p {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12pt;
	text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	clear: left;
	padding-top: 30px;
}

#avatar-chain {
	height:48px;
	width:100%;
	float: left;
	margin-top: 28px;
}

.reflect {
	margin: 0;
	float: left;
}

/*------- MAIN STYLES ---------*/

#account-info {
	display: inline;
    float: right;
    font-size: 1.1em;
    width:56px;
/*
    margin-right: 10px;
*/
/*
    margin-top: 18px;
*/
}

#account-info a {
	color: black;
    display: block;
    float: left;
    text-decoration: none;
	
    line-height: 30px;
}
#account-info li a {
	float: none;
    padding: 0 5px;
    
}

#account-info li a:hover {
	float: none;
    padding: 0 5px;
    text-decoration: underline;
    background-color: white;
}

#account-info img {
	float: left;
	height: 30px;
	width: 30px;
}

#header-top input {
	border: 1px solid #AAAAAA;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: 7px;
    outline: medium none;
    padding: 2px;
    width: 250px;
}
#search_bar{
    color: white;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    height: 45px;
    line-height: 55px;
    text-align: left;
    width: 334px;
    padding:0 1em;
    margin-bottom:1em;

}
#search_bar form{
    margin: 0 auto;
    width: 303px;
}

#search_bar input[type="text"]{
    height: 1em;
    line-height: 1em;
    margin-right: 5px;
    padding: 0.3em;
    height:15px;
    width: 254px;
    color:#555555 !important;
}
#search_bar input[type="submit"]{
    
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #F0EBE2;
    background-image: url("/static/webapp/img/grm_webapp_sprite.png");
    background-position: -72px 1px;
    background-repeat: no-repeat;
    height: 28px;
    line-height: 20px;
    margin-top: 12px;
    padding: 0.5em;
    text-indent: -999px;
    width: 29px;
}
/*

#nav-menu{
    float: left;
    font-size: 1.2em;
    height: 55px;
    line-height: 55px;
    margin: 0 0 0 1em;

}
#nav-menu ul{
    display: inline;
    margin: 0;
    padding: 0;
}
#nav-menu li{

    display: block;
    float: left;
    padding: 0;
    text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-moz-text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(255,255,255,.75);

}
#nav-menu li:first-child{

}
#nav-menu li#active-section{
    background: inherit;
}
#nav-menu li a:hover{
    text-decoration: underline;
}
#nav-menu li a{
    color: black;
    display: block;
    line-height: 55px;
    padding: 0 1em;
    text-decoration: none;
}
*/


#left-col {
/*
	-moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.75);
*/
    border-top: 1px solid #ccc;
    border-left:1px solid #ccc;
    float: left;
    margin-top: -1px;
    padding: 1em 0;
    width: 353px;
/*
    background-color: #1E202B;
*/
    
    background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(50%,rgba(250,250,250,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(250,250,250,1) 50%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(250,250,250,1) 50%,rgba(237,237,237,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(250,250,250,1) 50%,rgba(237,237,237,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, rgba(237,237,237,1) 0%,rgba(250,250,250,1) 50%,rgba(237,237,237,1) 100%); /* W3C */

}

#left-col:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}


div#left-col ul#friends-to-follow {
    float: left;
    margin: 0 1em 1em;
}


div #left-col ul#friends-to-follow li:hover {
    text-decoration:inherit;
}

div#left-col ul#friends-to-follow div.user-info{
    float:left;
    color: black;
    line-height: 0.5em;
}
div#left-col ul#friends-to-follow div.user-info a{
    padding: 0;
    font-weight:bold;
}
div#left-col ul#friends-to-follow div.user-info a:hover{
    text-decoration:underline;
}
div#left-col ul#friends-to-follow li div.avatar a.user-img {
    border: 0 none;
    clear: none;
    line-height: 0;
    margin: 0;
    padding: 0;
}
div#left-col ul#friends-to-follow div.waiting{
    background-color: transparent;
    background-image: url("/static/facebookApp/img/spinning-icons/wait_clear_orange.gif");

}
div#left-col ul#friends-to-follow .follow-btn{
    clear: both;
    display: block;
    float: none;
    margin-right: 5px;
    text-align: right;
    line-height: 1em;
}
div#left-col ul#friends-to-follow li div.avatar div.removable {
    margin: 0;
    position: relative;
    right: 0;
}

div#left-col ul#friends-to-follow li{
    background-color: #DCDCDC;
    border: 1px solid white;
    clear: none;
    display: block;
    float: left;
    margin-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
    width: 135px;
}
div#left-col ul#friends-to-follow li:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}

#right-col {
	width: 555px;
	float: left;

	border-left: 0;

    padding-left:15px;
    padding-right:20px;
    padding-top:1.5em;
}

#right-col h1{
    font-size:1.3em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(30,32,43,1) 52%, rgba(30,32,43,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(52%,rgba(30,32,43,1)), color-stop(100%,rgba(30,32,43,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(30,32,43,1) 52%,rgba(30,32,43,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(30,32,43,1) 52%,rgba(30,32,43,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(30,32,43,1) 52%,rgba(30,32,43,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1e202b',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, rgba(0,0,0,1) 0%,rgba(30,32,43,1) 52%,rgba(30,32,43,1) 100%); /* W3C */
    
    color: white;
    height:2em;
    font-size: 16px;
    line-height: 2em;
    margin-left: -1em;
    margin-top: 0.2em;
    padding-left: 1em;
    padding-right: 2em;
    position: relative;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    display:none;
    
/*
	text-shadow: 0px 1px 0px #000000;
*/
}
#right-col #public-profile h1,
#right-col #profile h1{
    display:inline-block;
}

#webapp a#edit-settings-btn{
    margin: 0.5em 0 1em;
}

#right-col #view-suggestion h1, #right-col h1 a{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,.15);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.15);
    color: black;
    text-decoration: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0.5em;
    min-height:50px;
    height:auto; /*Soluciona problema con los titulos de las sugerencias*/
}
#view-suggestion p.more-info{
    border-top: 1px dotted #CCCCCC;
    display: block;
    float: left;
/*
    margin-left: 56px;
*/
    margin-top: 0;
    padding-top: 0.5em;
}
#right-col #view-suggestion h1:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}
#legend{
    margin-top: 0em;
}


a#add-suggestion-btn {
/*
	background: url('/static/webapp/img/register-bg.png') repeat-x;
*/
	color: white;
	display: block;
	font-size: 1em;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
    float:left;
	width: 140px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .75);
	-moz-text-shadow: 0 2px 2px rgba(0, 0, 0, .75);
	-webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, .75);
	
	margin: 15px 20px 7px 40px;
}
a#add-suggestion-btn,
#right-block a#register-btn, 
#registerForm input[type="submit"]{

}
a#add-suggestion-btn img{
    background: url("/static/webapp/img/grm_webapp_sprite.png") no-repeat scroll -28px -28px transparent;
    float: left;
    height: 16px;
    margin-left: 8px;
    /*margin-right: -9px;*/
    margin-top: 7px;
    width: 16px;
}

#left-col a#add-suggestion-btn{
	font-family: Alike;
	font-size: 1.4em;
    height: auto;
    line-height: 3em;
    margin: 0 auto 1em;
    width: 150px;
}

#left-col ul {
/*
	border-top: 1px solid #CCCCCC;
*/
    font-size: 1.2em;
    margin-top: 20px;
    
}
#left-col ul li{
    border-bottom: 1px dotted #555555;
    margin: 13px 0;
}
#left-col ul li:last-child{
    border:0;
}
#left-col ul li:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}

#left-col li a{
    color: black;
    display: block;
    padding: 5px 0 5px 30px;
    text-decoration: none;
    width: 100%;
}


.menu-icons a{
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 17px;
}

.main-menu-icons a {
    background-image: url("/static/facebookApp/img/main_menu_icons.png");
}

#activity-icon {
    background-position: 5px 5px;
}
#vault-icon {
    background-position: 5px -22px;
}
#suggestions-icon {
    background-position: 5px -45px;
}
#notifications-icon {
    background-position: 5px -70px;
}
#places-icon {
    background-position: 4px -95px;
}
#profile-icon {
    background-position: 5px -120px;
}
#settings-icon {
    background-position: 5px -145px;
}

#base {
    margin-top:1em;
	border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.55);
	-webkit-box-shadow:0 5px 10px 5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow:0 5px 10px 5px rgba(0, 0, 0, 0.55);
    padding: 0;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(222,222,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(222,222,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(222,222,222,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(222,222,222,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(222,222,222,1) 100%); /* W3C */
}
#base:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	visibility: hidden;
}

ul#tabMenu li {
	color: black;
}

ul#tabMenu li.active {
    color: black;
}
#active-section, div #left-col li#active-section:hover {
    background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* W3C */
}

#suggestions ul#tabMenu {
    margin-top: 1em;
}
ul#tabMenu {
    border-bottom: 1px dotted #CCCCCC;
    clear: none;
/*
    float: left;
*/
    
    
}
div#left-col li:hover {
    background-color: #EFF2F7;
}

ul#chronology li {
    
/*
	border-bottom:none;
*/
	
}

em.comment img{
    float: left;
    height: 25px;
    margin-right: 10px;
    width: 25px
}
#right-col hr, hr {
    color: #CCCCCC;
    background-color: #CCCCCC;
}
div#left-col hr{
    background-color: black;
    border-color: black #1E202B #333333;
    border-left: medium none;
    border-right: medium none;
    border-style: solid none;
    border-width: 1px medium;
    height: 1px;
    width: 303px;
    margin: 1.5em auto;
}

.follow-button {
    margin-left: 10px;
    padding-right: 10px;
}
.follow-button span{
}

.follow-button a {
	
}

/*
 * DASHBOARD 
 */

div#left-col ul {
/*
    border-top: 1px dotted #cccccc;
*/
/*
    font-family: Helvetica Neue,Arial,sans-serif;
*/
    font-size: 1.1em;
    margin-top: 0.5em;
    
/*
    margin-bottom: 2em;
*/
}

#left-col .black-box{
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    width: 303px;
    border-radius: 7px;
	-moz-border-radius: 7px;
}
#left-col .black-box p{
    background-color: #EAEAEA;
}

div#left-col ul#friends-to-follow li div.avatar a.user-img img {
    height: 30px;
    width:30px;
    margin:0;
}
div#left-col ul#friends-to-follow li a {
    background-position: 6px 4px;
    border: 0 none;
    font-size: 1em;
    font-weight: normal;
    line-height: 2em;
    min-height: 0;
    padding: 1px 3px 1px 0px;
    width: auto;
}
div#left-col ul#friends-to-follow li a.hoverlink{
    font-size: 1em;
    line-height: 1em;
} 
div#left-col ul#friends-to-follow li a:hover {
    text-decoration:underline;
}

#left-col p{
    clear: both;
    color: black;
/*
    font-family: Helvetica Neue,Arial,sans-serif;
*/
    font-size: 1.1em;
    line-height: 2.2em;
    
    padding: 0 1em;
}
#left-col p em{
    font-size: 1.1em;
    font-weight: bold;
}

#left-col #friends-to-follow {
	border: 0 none;
    font-size: 1em;
    margin-top: 10px;
}
#left-col p.p-follow-friends{
    clear: none;
    float: left;
    margin-top: 0;
}

#left-col #friends-to-follow li a {
    line-height: 2em;
    padding: 0 5px 0 26px;
    width: auto;
}

#friends-to-follow li:hover{
    background: none;
}

.user-img {
	padding-left: 0;
}

#left-col #friends-to-follow li .avatar .user-img {
	padding-left: 0;
	width: 25pxpx;
	display: inline-block;
}
.user-img img{
    width:25px;
    height:25px;
}

div.removable {
	margin-right: 0;
}
div.removable a{
    visibility:hidden;
}

div.help-icon img {
    margin-right: 5px;
}

div.removable a {
	visibility: none;
}

#center-col {
	width: 690;
	margin-left: 135px;
	margin-right: 135px;
}
#notification-msg{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    z-index: 1001;
    font-size: 1.1em;
    font-weight: bold;
    left: 50%;
    line-height: 2em;
    margin-left: -200px;
    margin-top: 50px;
    padding: 0.5em 1em;
    position: absolute;
    text-align: center;
    width: 400px;
}
.error{
    background: rgb(243,153,192); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(243,153,192,1) 0%, rgba(255,209,228,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,153,192,1)), color-stop(100%,rgba(255,209,228,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(243,153,192,1) 0%,rgba(255,209,228,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(243,153,192,1) 0%,rgba(255,209,228,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(243,153,192,1) 0%,rgba(255,209,228,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f399c0', endColorstr='#ffd1e4',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(243,153,192,1) 0%,rgba(255,209,228,1) 100%); /* W3C */
    border: 1px dotted #FF60A2;
}
.success{
    background: rgb(205,235,139); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(205,235,139,1) 0%, rgba(224,234,201,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,1)), color-stop(100%,rgba(224,234,201,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(224,234,201,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(224,234,201,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(224,234,201,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#e0eac9',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(205,235,139,1) 0%,rgba(224,234,201,1) 100%); /* W3C */
    border: 1px dotted #ACEA1C;
}

.logged .success{
    background-color: #C4FF89;
    font-size: 1.2em;
    margin:63px auto 0;
    
}

/*
 * BASE REGISTERED
 */
#user-menu{
	background-color: #CCCCCC;
    cursor:pointer;
    
    border: 1px solid #BBBBBB;
    float: left;
/*
    margin-right: 10px;
*/
    margin-top: 14px;
    
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f9f9f9 0%,#e7e7e7 100%); /* W3C */
    box-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.75);
}
#user-menu span{
	background-image: url("/static/webapp/img/grm_webapp_sprite.png");
    background-position: 31px -21px;
    background-repeat: no-repeat;
    content: ".";
    display: block;
    height: 30px;
    padding-right: 50px;
}

.dropDownBtn ul.submenu, 
.dropDownBtn ul,
.user-dropDownBtn ul.user-submenu, 
.user-dropDownBtn ul
{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    clear: both;
    list-style: none outside none;
    margin: 0 0 0 0;
    padding: 0 5px 4px;
    position: absolute;
    text-align: left;
    width: auto;
}

.user-dropDownBtn ul.user-submenu li:hover{
	background-color:#eee;
}
.dropDownBtn ul.submenu, 
.dropDownBtn ul{
	margin: 0 0 0 -10px;
	padding:0;
}
.user-dropDownBtn ul.user-submenu {
	padding:0;
}
/*
 * BAG
 */

#suggestions {
    font-size: 1em;
}

/*
 * COMMON
 */
#left-col .hoverlink.view-more{
    display: block;
    text-align: right;
    line-height: 2em;
    margin: -5px 5px 6px 0;
}
.link:hover{
    text-decoration:underline;
}

.btn,
.load-more,
#background.social-profile #suggested-contacts li div span a {
    color:black;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
}



#right-col .section .header, .right-col .section .article .header {
    font-weight: bold;
    margin-bottom: 1em;
}
#right-col {
    font-size:1em;
/*
    background-color: #FCFCFC;
*/
}

div#left-col li a {
    clear: right;
    display: block;
    float: left;
    line-height: 25px;
    margin: 0;
    min-height: 35px;
    padding: 0 13px 5px 0;
    width: 230px;
}

#active-section, div #left-col li#active-section:hover {
    background-color: #FFA244;
    font-weight:bold;
}
div #left-col li:hover{
    background-color: inherit;
    text-decoration: underline;
}

/*
 * SETTINGS
 */
div#profile div.section ul{
    list-style: disc outside none;
    margin: 1em 2em;
}
div#profile div.section ul li{
    padding: 10px 0;
}
div#profile div.section ul li strong{
    font-weight:bold;
}
div#right-col #profile table{
    border-collapse: collapse;
    margin: 0 auto 1em;
    width: 535px;
}

#edit-settings-btn,.load-more {
/*
    color: #5E2B03;
*/
    color:black;
    font-weight: normal;
    line-height: 2em;
    padding: 0 15px 0;
    height: auto;
    font-size: 1em;
/*
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
*/

}
div.load-more{
    display: block;
    float: none;
    margin: 0 auto;
    width: 100px;
}

div.waiting{
    
    background-color:#E4E4E4;
    background-image: url("/static/facebookApp/img/spinning-icons/wait_gray.gif");
    background-position: 10px 2px;
    background-repeat: no-repeat;
    color: black;
}
#close-suggestions img,
#recent-suggestions img,
#trending-suggestions img{
    display: block;
    float: left;
    margin: 5px 11px 0 11px;
    width: 25px;
    height: 25px;

}
#close-suggestions a.clean,
#recent-suggestions a.clean,
#trending-suggestions a.clean{
    border:0;
    line-height:auto;
    margin:0;
    padding:0;
    width:auto;
    clear: left;
}


#close-suggestions li,
#recent-suggestions li,
#trending-suggestions li{

}



/*
 * CHRONOLOGY
 */
ul#tabMenu li {
/*
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
*/
    background-color: #EAEAEA;
    font-size: 1em;
    margin-left: 10px;
    padding: 3px 5px;
}

ul#chronology div.comment-box ul li, 
ul#chronology div.input-box, 
#activity div.show-all-comments {
    background-color: #dddddd;
    border: 1px solid #AAAAAA;
}

/*
ul#chronology div.input-box textarea{
    width: 640px;
    font-size:1em !important;
}
*/

#notifications .unread-item {
    background-color: #E8E8E8;
    border: 1px dotted #CCC;
}
ul#chronology li div.timeline-msg {
    border-bottom: 0 none;
    float: left;
    width:490px;
    

}


ul#chronology li div.timeline-msg {
/*
    width:420px;
*/
}

ul#chronology li.msg-305 div.timeline-msg div.msg{
    
}
ul#chronology li.msg-305 div.timeline-msg div.msg img{
    height: 25px;
    margin-right: 10px;
    width: 25px;
    float:left;
}

ul#user-resume li:hover {
	background: #d0deee;
}

#public-profile {
 
}
#impacts,#impacts:hover{
    cursor:default !important;
    color:black !important;
}

#user-info {
    width: 555px;
    float:none;
}

#user-info h1{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: inherit;
    color: black;
    font-size: 2em;
    margin-bottom: 0.5em;
}

form #terms span {
    cursor: pointer;
    line-height: 20px;
    margin-top: 10px;
    text-align: left;
}
form p.clear span {
    clear: none;
    display: block;
    float: right;
    width: 210px;
}

div#agreement{
    clear: both;
    display: block;
    height: 38px;
    margin: 0 auto;
    text-align: justify;
    width: 250px;
}


#registerForm div#agreement input {
    display: inline;
    float: left;
    margin-right: 5px;
    width: auto;
    vertical-align: baseline;
    margin-top: 3px;
}
div#agreement #textTermsCheckbox{    
	color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
    width: 225px;
}

#emailStatus{
	float: right;
    margin-left: 360px;
    margin-top: 10px;
    position: absolute;
    background: url("/static/webapp/img/sprite_sticks_vertical.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    width: 20px;
}
#emailStatus.ok{
	display:block;
}
#emailStatus.no-ok{
	background-position: 0 -20px;
	display:block;
}

#registerForm input[type="submit"]{
    margin-top:10px
}

#add-suggestion{
    font-size: 1em;
    margin-top: 1em;
}
a.small-link,ul#chronology .suggestionPlace a {
    font-weight: normal;
}




/*
 *  VIEW-SUGGESTION Details 
 */

#view-suggestion div.suggestion h1 {
    line-height:1.5em;
    margin: 0;
    padding: 0;
    background:inherit;
    color:black
}

#view-suggestion span.likeBtn span.hoverlink {
    color:blue;
}

ul#chronology div.comment-box {
font-size: 0.9em;
}
ul#chronology a.link,ul#chronology a.link:visited,ul#chronology a:visited {
    color:#007BFF !important;
}

#view-list #suggestion-list .msg {
    font-size: 1.1em;
}

#address-container input[type="text"] {
    width: 520px;
}


/*
 * MENU
 */

/* Styles for the entire LavaLamp menu */
.lavaLamp {
    position: relative;
    height: 26px; width: auto;
    padding: 15px; margin: 0;
    overflow: hidden;
    float:left;
}
/* Force the list to flow horizontally */
.lavaLamp li {
    float: left;
    list-style: none;
}
    /* Represents the background of the highlighted menu-item. */
    .lavaLamp li.back {
        background-color:#555;
        border-radius: 5px;
        -moz-border-radius: 5px;
        
        width: 9px; height: 25px;
        z-index: 8;
        position: absolute;
    }
        .lavaLamp li.back .left {
            height: 25px;
            margin-right: 9px;
        }
    /* Styles for each menu-item. */
    .lavaLamp li a {
        position: relative; overflow: hidden;
        text-decoration: none;
        text-transform: uppercase;
        font: 12px  'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: white; outline: none;
        text-align: center;
        height: 25px; top: 7px;
        z-index: 10; letter-spacing: 0;
        float: left; display: block;
        margin: auto 20px;
    }

ul#chronology li div.avatar {
    width:40px;
}
ul#chronology li div.avatar img {
    height: 40px;
    width: 40px;
}
div#content {
    background-color: white;
}


#suggestion-info #action-bar {
    border-top: 1px solid #CCCCCC;
    float: none;
    margin: 0 auto;
    text-align: left;
    width: 510px;
}

    ul#chronology li.msg-0 span.timeline-icon,
    ul#chronology li.msg-1 span.timeline-icon,
    ul#chronology li.msg-2 span.timeline-icon,
    ul#chronology li.msg-3 span.timeline-icon,
    ul#chronology li.msg-100 span.timeline-icon,
    ul#chronology li.msg-101 span.timeline-icon,
    ul#chronology li.msg-110 span.timeline-icon,
    ul#chronology li.msg-120 span.timeline-icon,
    ul#chronology li.msg-121 span.timeline-icon,
    ul#chronology li.msg-125 span.timeline-icon,
    ul#chronology li.msg-300 span.timeline-icon,
    ul#chronology li.msg-303 span.timeline-icon,
    ul#chronology li.msg-305 span.timeline-icon,
    ul#chronology li.msg-350 span.timeline-icon,
    ul#chronology li.msg-353 span.timeline-icon,
    ul#chronology li.msg-360 span.timeline-icon{
        background-image: url("/static/webapp/img/timeline/timeline_sprite.png");
        background-position: right 10px;
        background-repeat: no-repeat;
        display: block;
        float: right;
        height: 64px;
        width: 64px;
    }

    ul#chronology li.msg-0 span.timeline-icon{background-position: right -2px;}
    ul#chronology li.msg-1 span.timeline-icon{background-position: right -66px;}
    ul#chronology li.msg-2 span.timeline-icon{background-position: right -130px;}
    ul#chronology li.msg-3 span.timeline-icon{background-position: right -194px;}
    ul#chronology li.msg-101 span.timeline-icon,
    ul#chronology li.msg-100 span.timeline-icon{background-position: right -258px;}
    ul#chronology li.msg-110 span.timeline-icon{background-position: right -322px;}    
    ul#chronology li.msg-120 span.timeline-icon,
    ul#chronology li.msg-121 span.timeline-icon{background-position: 99% -386px;}
    ul#chronology li.msg-125 span.timeline-icon{background-position: right -450px;}
    ul#chronology li.msg-300 span.timeline-icon{background-position: right -514px;}
    ul#chronology li.msg-303 span.timeline-icon{background-position: right -578px;}
    ul#chronology li.msg-305 span.timeline-icon{background-position: right -641px;}
    ul#chronology li.msg-350 span.timeline-icon{background-position: right -706px;}
    ul#chronology li.msg-353 span.timeline-icon{background-position: right -770px;} 
    ul#chronology li.msg-360 span.timeline-icon{background-position: 99% -844px;}


#webapp #create-profile-out{
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    float: right;
    height: 25px;
    line-height: 25px;
    margin: 15px 0 0;
}
#right-col #social-profile{
    line-height: 2em;
}

#right-col #social-profile h1{
    display:block;
}
#right-col #social-profile h2,
#right-col #social-profile strong{
    font-weight:bold;
}
#right-col #link-social-accounts a{
    color:black;
}
#right-col #link-social-accounts a{
    
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 4px 0 4px 10px;
    padding-left: 20px;
}
#right-col #link-social-accounts a{
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 4px 0 4px 10px;
    padding-left: 20px;
}
#right-col #link-social-accounts li#facebook{
    background: url("/static/webapp/img/grm_webapp_sprite.png") repeat scroll -103px -85px transparent;
    padding-left: 20px;
}
#right-col #link-social-accounts li#google{
    background: url("/static/webapp/img/grm_webapp_sprite.png") repeat scroll -103px -69px transparent;
    padding-left: 20px;
}
#right-col #link-social-accounts li#twitter{
    background: url("/static/webapp/img/grm_webapp_sprite.png") repeat scroll -103px -53px transparent;
    padding-left: 20px;
}
#right-col #link-social-accounts li span{
    background-color:#F6F6F6;
}
#right-col #link-social-accounts a{
    
    display: inline-block;
    float: none;
    height: 16px;
    line-height: 16px;
    margin: 4px 0;
    padding-left: 0;
}
#right-col #social-profile ul#link-social-accounts li a.hoverlink span{
    background-color: #F6F6F6;
    display: inline-block;
    line-height: 16px;
}
#SocialUserProfile-form input[type="submit"]{
    color:black;
}

.follow-button {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
}

#view-suggestion ul.comments, 
#view-place ul.comments, 
#view-list ul.comments, 
#view-list ul#suggestion-list {
    margin-bottom:1em;
}


.create-social-profile #right-col{
    width: 905px;
    min-height: 0;
}

#announcement{
    background-color: #FCF0BD;
    font-size: 0.9em;
    padding: 8px 0;
    text-align: center;
}
