/*RESET CSS---------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------- HOME STYLE ---------*/

body {
	background-color: #FFFFFF;
	font-family: Helvetica Neue, Arial, sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#header {
	height: 70px;
    margin-top: 10px;
}

#logo {
	width: 200px;
	float: left;
}

#header-nav {
	float: left;
    font-size: 12px;
    margin: 28px auto 0;
    width: 605px;
}

#header-nav ul {
	list-style: none outside none;
    margin: 0 auto;
    padding-left: 70px;
    width: 400px;
}

#header-nav ul li {
	border-right: 1px solid #FF913C;
    float: left;
    font-size: 1.2em;
    font-weight: normal;
    list-style: none outside none;
    margin-left: 15px;
    padding-right: 15px;
}

#header-nav ul li:last-child {
	border-right: none;
}

#header-nav ul li a {
	color: #ff913c;
	text-decoration: none;
}

#header-nav ul li a:hover {
	text-decoration: underline;
}

#header a#login-btn {
	display: block;
	color: #000000;
	text-decoration: none;
	margin-top: 17px;
	margin-right: 15px;
	font-size: 14px;
	background: url("/static/webapp/img/login-bg.png") repeat-x;
	height: 31px;
	width: 130px;
	float: right;
	text-align: center;
	line-height: 31px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.75);
}

#login-btn a {
	color: #000000;
	text-decoration: none;
	width: 31px;
	height: 132px;
}

#background {
	background-color: #ff913c;
	width: 100%;
    font-size: 0.8em;
}
#background:after{
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
}
#main {
	min-height: 415px;
	background: url('/static/webapp/img/bg.png') no-repeat;
	position: relative;
}

#right-block,#left-block {
	padding-top: 40px;
}

#left-block {
	clear: left;
	float: left;
	width: 500px;
}

#right-block {
	width: 450px;
	float: right;
}

#right-block h2 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 24pt;
	text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	margin-bottom: 15px;
}

#right-block p {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14pt;
	text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
}

#right-block ul {
	display: block;
	width: 100%;
	height: 68px;
	background: url('/static/webapp/img/social-bg.png') no-repeat;
	margin-top: 30px;
	margin-left: 30px;
}

#right-block ul li {
	float: left;
	margin-top: 4px;
	margin-left: 50px;
}

#right-block a#register-btn {
	background: url('/static/webapp/img/register-bg.png') repeat-x;
	color: #000000;
	display: block;
	font-size: 18pt;
	height: 48px;
	line-height: 48px;
	margin-left: 130px;
	margin-top: 25px;
	text-align: center;
	text-decoration: none;
	width: 189px;
	text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-moz-text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
}

.footer-links {
	font-size: 14px;
	display: inline;
	margin-top: 20px;
	float: left;
}

.footer-links a {
	color: #3896ff;
	text-decoration: none;
}

.footer-links a:hover {
	text-decoration: underline;
}

.footer-links a:active {
	color: #d4d4d4;
}

.right-links {
	float: right;
}

#left-arrow {
	
	float: left;
	display: inline-block;
	height: 262px;
	width: 24px;
	border-right: 1px solid #cfcfcf;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

#right-arrow {
	float: left;
	display: inline-block;
	height: 262px;
	width: 24px;
	border-left: 1px solid #cfcfcf;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	
}

#rollover {
	width: 369px;
	height: 262px;
	background-color: #FFFFFF;
	float: left;
}

.intro-text {
    color: #404040;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 13px;
}

.bigger-intro-text {
	font-size: 21px;
    line-height: 1.2em;
}
.bigger-intro-text strong{
    font-weight:bold;
}

.user-name {
	font-size: 12px;
	color: #3896ff;
	margin-left: 60px;
}

.user-suggestion {
	font-size: 10px;
	color: #404040;
	margin-left: 60px;
	margin-top: 10px;
}

.users-box {
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 10px;
}

.users-box article {
	border-bottom: 1px solid #ff913c;
	display: block;
	float: left;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 5px;
}

.user-avatar {
	border: 1px solid #404040;
	display: inline-block;
	float: left;
}

#right-block p.register-text-aux {
	height: 31px;
	background: url('/static/webapp/img/add.png') no-repeat;
	padding-left: 40px;
	line-height: 31px;
	margin-top: 20px;
	font-size: 14px;
	margin-left: 30px;
}

.bottom-p {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12pt;
	text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.75);
	clear: left;
	padding-top: 30px;
}

#avatar-chain {
	height:48px;
	width:100%;
	float: left;
	margin-top: 28px;
}

.reflect {
	margin: 0;
	float: left;
}

/*------- MAIN STYLES ---------*/

#account-info {
	display: inline;
	float: right;
}

#account-info a {
	color: #FF913C;
    display: block;
    float: left;
    text-decoration: none;
	margin-top: 16px;
	margin-left: 10px;
}

#account-info a:hover {
	text-decoration: underline;
}

#account-info img {
	float: left;
	height: 48px;
	width: 48px;
}

#header input {
	margin-left: 200px;
	margin-top: 28px;
}

#left-col {
	float: left;
	width: 250px;
	clear: left;
	margin-top: 30px;
}

#right-col {
	width: 690px;
	float: left;
	border-left: 1px solid #FFFFFF;
}

#right-col h1 {
	color: #FFFFFF;
	text-shadow: 0px 1px 0px #000000;
}


#left-col a#add-suggestion-btn {
	background: url('/static/webapp/img/register-bg.png') repeat-x;
	color: #000000;
	display: block;
	font-size: 14pt;
	height: 48px;
	line-height: 48px;
	text-align: center;
	text-decoration: none;
	width: 189px;
	text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-moz-text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	-webkit-text-shadow: 0px 1px 1px rgba(255,255,255,.75);
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.75), inset 0px 1px 1px rgba(255,255,255,.75);
	margin-left: 30px;
}

#left-col ul {
	margin-top: 40px;
}

#left-col li a{
    color: black;
    display: block;
    padding: 5px 0 5px 30px;
    text-decoration: none;
    width: 100%;
}
#left-col li:hover{
    background: url('/static/webapp/img/list-bg.png') no-repeat 0 0;
	height: 26px;
}

.menu-icons a{
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 17px;
}

.main-menu-icons a {
    background-image: url("/static/facebookApp/img/main_menu_icons.png");
}

#activity-icon {
    background-position: 5px 5px;
}
#vault-icon {
    background-position: 5px -22px;
}
#suggestions-icon {
    background-position: 5px -45px;
}
#notifications-icon {
    background-position: 5px -70px;
}
#places-icon {
    background-position: 4px -95px;
}
#profile-icon {
    background-position: 5px -120px;
}
#settings-icon {
    background-position: 5px -145px;
}

#base {
	min-height: auto;
}

ul#tabMenu li {
	color: #FF913C;
}

ul#tabMenu li.active {
    color: #FF913C;
}

ul#tabMenu {
    border-bottom: 1px dotted #FFFFFF;
}

ul#chronology li {
    background-color: #FFFFFF;
	border-bottom:none;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div#left-col hr, #right-col hr, hr {
    border: 1px solid #FFFFFF;
}

.follow-button {
    width: 90px;
	margin-left: 10px;
}

.follow-button a {
	
}

#left-col #friends-to-follow {
	margin-top: 10px;
}

#left-col #friends-to-follow li a {
    width: auto;
}

#friends-to-follow li:hover{
    background: none;
}

.user-img {
	padding-left: 0;
}

#left-col #friends-to-follow li .avatar .user-img {
	padding-left: 0;
	width: 50px;
	display: inline-block;
}

div.removable {
	margin-right: 0;
}
div.removable a{
    visibility:hidden;
}

div.help-icon img {
    margin-right: 5px;
}

div.removable a {
	visibility: none;
}

#center-col {
	width: 690px;
	margin-left: 135px;
	margin-right: 135px;
}
