Mensaje nº 0
<!--
0: Mensaje de bienvenida
-->

<div class="avatar">
    <a href="/fb/user/hhkaos" title="hhkaos">
        <img src="/user/hhkaos/picture/" alt="hhkaos avatar"/>
    </a>
</div>

<div class="timeline-msg">
    <p>¡Genial! ya has creado <a href="http://appspot.georemindme.com/user/{{request.user}}">tu cuenta</a> en GeoRemindMe, <strong>ya puedes empezar a recibir y enviar sugerencias</strong>.</p>
    <p>Aquí te dejamos un video de introducción a la plaforma:</p>
    <span class="timestamp"> hace {{obj.created|timesince}}</span>  
</div>

