{% load tags %}
<!--
Mensaje nº 0
-->
<!--
0: Mensaje de bienvenida
{{obj}}
-->

<div class="avatar">
    <a href="/fb/user/georemindme/" title="GeoRemindMe">
        <img src="{% embedded_avatar 'georemindme' %}" alt="avatar"/>
    </a>
</div>

<div class="timeline-msg">
    <p>¡Genial! ya has creado <a href="{{request.user.get_absolute_url}}">tu cuenta</a> en GeoRemindMe, <strong>ya puedes empezar a recibir y enviar sugerencias</strong>.</p>
    <p>Aquí te dejamos un video de introducción a la plaforma:</p>
    <span class="timestamp"> {{obj.created|naturaltime}}</span>  
</div>

