{% load tags %}
{% comment %} 
    Mensaje nº 1
    2: Ahora puede entrar usando Google
{% endcomment %} 


<li class="msg-{{obj.msg_id}}">
    <span class="timeline-icon">&nbsp;</span>
    <div class="avatar">
        <a href="/fb/user/georemindme/" title="GeoRemindMe">
            <img src="{% embedded_avatar 'georemindme' %}" alt="avatar"/>
        </a>
    </div>
    <div class="timeline-msg">
        <span class="timeline-icon">&nbsp;</span>
        Ahora puedes identificarte usando tu cuenta de Google en <a href="http://www.georemindme.com" target="_blank">www.georemindme.com</a>
        <br>

        <span class="timestamp">  {{obj.created|naturaltime}}</span>  
    </div>
</li>
