{% load tags %}
{% comment %} 
    Mensaje nº 100<br>
    100: Usuario empieza a seguirte | UT
{% endcomment %} 

<li class="msg-{{obj.msg_id}}">
    {% if obj.is_private %}
        NO entra porque en chronology está puesto que no
        {{obj}}
    {% else %}
        <div class="avatar">
            <a href="{% url2 in_facebook public_profile obj.username %}" title="{{obj.username}}">
                <img class="user-picture" src="{% embedded_avatar obj.username %}" alt="{{obj.username}} avatar"/>
            </a>
        </div>
        <span class="timeline-icon">&nbsp;</span>
        {% if obj.instance.username = request.user.username %}
            <a href="{% url2 in_facebook public_profile obj.username %}" class="dark-link">{{obj.username}}</a> ahora te está siguiendo<br>
        {% else %}
            <a href="{% url2 in_facebook public_profile obj.username %}" class="dark-link">{{obj.username}}</a> ahora sigue a <a href="{% url2 in_facebook public_profile obj.instance.username %}">{{obj.instance.username}}</a><br>
        {% endif %}
    {% endif %}

    <span class="timestamp"> {{obj.created|naturaltime}}</span>  
</li>
