{% load humanize %}

<!--
Mensaje nº 120<br>
{{obj}}
-->
<!--
120: Ha hecho un comentario en una sugerencia | UT
-->

{% if obj.instance.user.username = request.user.username %}
    <div class="avatar">
        <a href="{% url fb_public_profile request.user %}" title="{{request.user}}">
            <img class="user-picture" src="{% url user_avatar request.user %}" alt="{{request.user}} avatar"/>
        </a>
    </div>
    
    <div class="timeline-msg">
        <div class="removable" value="{{obj.instance.id}}" type="comment"><a href="#">Remove</a></div>
        <span class="small-text">Has añadido:</span><br>
{% else %}
    <div class="avatar">
        <a href="{% url fb_public_profile obj.instance.user.username %}" title="{{obj.instance.user.username}}">
            <img class="user-picture" src="{% url user_avatar obj.instance.user.username %}" alt="{{obj.instance.user.username}} avatar"/>
        </a>
    </div>
    <div class="timeline-msg">
        <span class="small-text"><a href="{% url fb_public_profile obj.instance.user.username %}">{{obj.instance.user.username}}</a> ha añadido:</span><br>
{% endif %}
        

        <em class="comment">{{obj.instance.msg}}</em><br>


        <span class="small-text">
        En
        {% if obj.instance.instance.user.username = request.user.username %}
            <strong> tu sugerencia</strong>
        {% else %}
            la sugerencia
        {% endif %}
        : <a href="{% url fb_view_suggestion obj.instance.instance.id %}" class="small-link">{{obj.instance.instance.name|truncatewords:10}}</a></span><br>
        
        
        <span class="timestamp"> hace {{obj.created|timesince}}</span>
        <span class="action-bar">
            {% if not obj.is_private %}
                | 
                <span class="like-dislike" value="{{obj.instance.id}}" {% if obj.has_voted %}like="true"{%endif%} type="comment">
                    <span class="dislike">
                        <span class="hoverlink">Ya no me gusta</span> 
                        <span class="text like-text {% if not obj.has_voted %}increase{% endif %}">{{obj.vote_counter}}</span> personas
                    </span>
                    
                    <span class="like">
                        Me gusta
                    </span>
                </span>
            {% endif %}
        </span>
    </div>

