{% load humanize %}
<!--
Mensaje nº 125
-->
<!--
125: A [X] le gusta un comentario | UT
-->

{%if not obj.instance.user.username = obj.instance.instance.user.username %}
    <!--
        Si me gusta un comentario mío no se muestra
    -->
    {% if obj.instance.user.username = request.user.username %}
        <div class="avatar">
            <a href="{% url fb_public_profile request.user %}" title="{{request.user}}">
                <img src="{% url user_avatar request.user %}" alt="{{request.user}} avatar"/>
            </a><br>
            <a href="{% url fb_public_profile obj.instance.user.username %}/">{{obj.instance.user.username}}</a>:
        </div>
        <div class="timeline-msg">
            <span class="small-text">Te ha gustado el comentario  de <a href="{% url fb_public_profile obj.instance.user.username %}">{{obj.instance.instance.user.username}}</a>:</span>
        
    {% else %}
        <div class="avatar">
            <a href="{% url fb_public_profile obj.instance.user.username %}" title="{{obj.instance.user.username}}">
                <img src="{% url user_avatar obj.instance.user.username %}" alt="{{obj.instance.user.username}} avatar"/>
            </a>
        </div>
        <div class="timeline-msg">
            <span class="small-text">Me gusta 
            {% if obj.instance.instance.user.username = request.user.username %}
                <strong>tu comentario</strong>:
            {% else %}
                el comentario de <a href="{% url fb_public_profile obj.instance.user.username %}">{{obj.instance.instance.user.username}}</a>:
            {% endif %}
            </span>
            
            
    {% endif %}
            <br><em class="comment">{{obj.instance.instance.msg}}</em><br>
            <span class="suggestionPlace">
                En la sugerencia: {{obj.instance.instance.instance.name|truncatewords:10}} <br>
            </span>

            <span class="timestamp"> hace {{obj.created|timesince}}</span>  
            <span class="action-bar">
                | <a href="/fb/suggestion/{{obj.instance.instance.instance.id}}">Ver sugerencia</a> 
            </span
        </div>
{% endif %}
