{% load tags %}
{% load i18n %}
{% comment %} 
    Mensaje nº 2
    2: Ahora puede entrar usando Facebook
{% endcomment %} 

<li class="msg-{{obj.msg_id}}">
    <div class="avatar">
        <a href="{% url2 in_facebook public_profile 'georemindme' %}" title="GeoRemindMe">
            <img src="{% embedded_avatar 'georemindme' %}" alt="avatar"/>
        </a>
    </div>
    <div class="timeline-msg">
        <span class="timeline-icon">&nbsp;</span>
        Ahora puedes identificarte usando tu cuenta de Facebook y desde <a href="http://www.georemindme.com" target="_blank">www.georemindme.com</a>
        <br>

        <span class="timestamp">  {{obj.created|naturaltime}}</span>  
    </div>
</li>
