{% load tags %}
{% comment %} 
    Mensaje nº 3
    3: Ahora puede entrar usando twitter
{% endcomment %} 

<div class="avatar">
    <a href="/fb/user/georemindme/" title="GeoRemindMe">
        <img src="{% embedded_avatar 'georemindme' %}" alt="avatar"/>
    </a>
</div>
<div class="timeline-msg">
    Now, you can also login using your Twitter account at <a href="http://www.georemindme.com" target="_blank">www.georemindme.com</a>
    <br>

    <span class="timestamp">  {{obj.created|naturaltime}}</span>  
</div>
