{% load tags %}
{% load i18n %}
{% comment %} 
    Mensaje nº 300
    300: Nueva sugerencia
{% endcomment %} 
<li class="msg-{{obj.msg_id}}">
    
    <div class="avatar">
        <a href="{% url2 in_facebook public_profile obj.username %}" title="{{obj.username}}">
            <img class="user-picture" src="{% embedded_avatar obj.username %}" alt="{{obj.username}} avatar"/>
        </a>
    </div>
    <div class="timeline-msg">
        <span class="timeline-icon">&nbsp;</span>
        {% comment %}  Solo si el mensaje ha sido generado por el usuario y no por el sistema se podrá borrar {% endcomment %} 
        
        {% if obj.instance.user.username = request.user.username %}
            <div class="removable" value="{{obj.instance.id}}" type="suggestion"><a href="#">{% trans 'Borrar' %}</a></div>
            <span class="small-text">{% trans 'has creado la sugerencia:' %} </span>
        {% else %}
            <span class="small-text"><a href="{% url2 in_facebook public_profile obj.username %}" class="dark-link">{{obj.username}}</a> {% trans 'sugiere:' %} </span>
        {% endif %}
        


        <br><a class="readable link hoverlink" href="{% url2 in_facebook view_suggestion obj.instance.slug %}">{{obj.instance}}</a><br>

        {% if obj.instance.poi.slug %}
            <span class="suggestionPlace">{% trans 'En ' %}<a href="{% url2 in_facebook view_place obj.instance.poi.slug %}" class="dark-link">{{obj.instance.poi.name}}</a>, {{obj.instance.poi.city}}</span>
        {% endif %}


        <span class="timestamp">  {{obj.created|naturaltime}}</span>  
        
        <span class="action-bar">
            {% if request.user.is_authenticated %}
                | <span class="focusInput hoverlink comment">{% trans 'Comentar' %}</span> 
            {% endif %}
            | <a href="{% url2 in_facebook view_suggestion obj.instance.slug %}" class="details"><img src="/static/common/img/transparent.gif" />{% trans 'Ver sugerencia' %}</a>  
            
        
            
            {% if obj.instance.user.username != request.user.username and request.user.is_authenticated %}            
                | 
                <span class="like-dislike" value="{{obj.instance.id}}" {% if obj.has_voted %}like="true"{%endif%} type="suggestion">
                    <img src="/static/common/img/transparent.gif" />
                    <span class="dislike">
                        <span class="hoverlink">{% trans 'Ya no me gusta' %}</span> 
                    </span>
                    
                    <span class="like">
                        {% trans 'Me gusta' %}
                    </span>
                </span>
                    <img src="/static/common/img/transparent.gif" />
                    | <span title="{% trans 'Guardar en favoritos' %}"  class="remember-forget" value="{{obj.instance.id}}" {%if obj.user_follower%}remember="true"{%endif%}>
                    <span class="remember">{% trans 'Guardar' %}</span>
                    <span class="forget">{% trans 'Guardada' %}</span>
                </span>
            {% endif %}
        </span>

    </div>
    {% comment %}  Si hay comentarios en la sugerencia {% endcomment %} 

    <div class="comment-box clear" value="{{obj.instance.id}}">

        {% if obj.comments.1|length and obj.comments.1|length > 2 %}
            <div class="show-all-comments">{% blocktrans with obj.comments.1|length as counter %}Ver los {{counter}} comentarios {% endblocktrans %}</div>
        {% endif %}
        <ul id="commentList-{{obj.instance.id}}">
            {% if obj.comments.1 %}
                {% for c in obj.comments.1 reversed %}
                    <li {% if forloop.revcounter > 2 %} class="long-list suggestion-comment" {% else %} class="suggestion-comment" {% endif %} >
                        
                        {% comment %}  Añadimos el botón de borrar comentario {% endcomment %} 
                        {% if c.username = user.username %}
                            <div class="removable" value="{{c.id}}" type="comment"><a href="#">{% trans 'Borrar' %}</a></div>
                        {% endif %}
                        
                        <a href="{% url2 in_facebook public_profile c.username %}">
                            <img class="user-picture" src="{% embedded_avatar c.username %}" alt="user avatar">
                        </a>
                        <a href="{% url2 in_facebook public_profile c.username %}" class="dark-link">
                            {{c.username}}
                        </a>: {{c.msg}}<br>
                        <span class="timestamp">{{c.created|naturaltime}}</span> 
                        
                        {% if c.username != user.username %}
                            <span class="action-bar">
                                - 
                                <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                                    <img src="/static/common/img/transparent.gif" />
                                    <span class="dislike" {% if not c.has_voted %}style="display:none;"{%endif%} >
                                        <span class="hoverlink">{% trans 'Ya no me gusta' %}</span> 
<!--
                                        <span class="text like-text {% if not c.has_voted %}increase{% endif %}">{{c.vote_counter}}</span> personas
-->
                                    </span>
                                    
                                    <span class="like" {% if c.has_voted %}style="display:none;"{%endif%} >
                                        <span class="hoverlink">{% trans 'Me gusta' %}</span> 
                                    </span>
                                </span>
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        
        {% if user.is_authenticated %}
        <div class="input-box {% if not obj.comments.1 %} hidden {% endif %}">
            <a href="{% url2 in_facebook public_profile user.username %}">
                <img alt="user avatar" src="{% embedded_avatar user.username %}" class="min-img hidden">
            </a>
            <form class="commentForm"><textarea empty="true" class="autogrow">{% trans 'Escribe un comentario' %}</textarea></form>
        </div>
        {% endif %}
        
    </div>
</li>
