{% load humanize %}

<!--
Mensaje nº 303
-->
<!--
303: Empiezas a seguir a una sugerencia
-->
<div class="avatar">
    <a href="{% url fb_public_profile request.user %}" title="{{request.user}}">
        <img src="{% url user_avatar request.user %}" alt="{{request.user}} avatar"/>
    </a>
</div>
<div class="timeline-msg">
    Has guardado en <a href="{% url fb_user_suggestions%}">tu baúl</a> la sugerencia de <a href="{% url fb_public_profile obj.instance.user.username %}">{{obj.instance.user.username}}</a>:<br>
    {{obj.instance.name}}<br>
    <span class="timestamp"> hace {{obj.created|timesince}}</span>  
</div>
