{% load tags %}
{% load i18n %}
{% comment %} 
    Mensaje nº 303
    303: Empiezas a seguir a una sugerencia
{% endcomment %} 



<li class="msg-{{obj.msg_id}}">
    
    {% if request.user =  username %}
        <div class="avatar">
            <a href="{% url2 in_facebook public_profile request.user %}" title="{{request.user}}">
                <img src="{% embedded_avatar request.user %}" alt="{{request.user}} avatar"/>
            </a>
        </div>
        <div class="timeline-msg">
            <span class="timeline-icon">&nbsp;</span>
            {% url in_facebook user_suggestions as suggestion_url %}
            {% url2 in_facebook public_profile obj.instance.user.username as profile_url %}
            {% trans 'Has guardado en <a href="{{suggestion_url}}">tu mochila</a> la sugerencia de <a href="{{profile_url}}" class="dark-link">{{obj.instance.user.username}}</a>:' %}<br>
            <a href="{% url2 in_facebook view_suggestion obj.instance.slug %}">{{obj.instance.name}}</a><br>
            <span class="timestamp">  {{obj.created|naturaltime}}</span>  
        </div>
    {% else %}
        <div class="avatar">
            <a href="{% url2 in_facebook public_profile obj.username %}" title="{{obj.username}}">
                <img src="{% embedded_avatar obj.username %}" alt="{{obj.username}} avatar"/>
            </a>
        </div>
        <div class="timeline-msg">
            <span class="timeline-icon">&nbsp;</span>
            {% url2 in_facebook public_profile obj.username as profile_url%}
            {% blocktrans with obj.username as username%}
                <a href="{{profile_url}}" class="dark-link">{{username}}</a> ha guardado en su mochila tu sugerencia:
            {% endblocktrans %}<br>
            <a href="{% url2 in_facebook view_suggestion obj.instance.slug %}" class="hoverlink">{{obj.instance.name}}</a><br>
            <span class="timestamp">  {{obj.created|naturaltime}}</span>  
        </div>
    {% endif %}
</li>
