<!--
Mensaje nº 305:
-->
<!--
Te gusta una sugerencia
obj.instance==geovote.models.Vote
-->

{% if obj.is_private = false and obj.username = request.user %}
    Evitamos que se muestre duplicado un "Te gusta la sugerencia X"
{% else %}

    {% if obj.instance.user.username = request.user.username %}
        <!-- Es de mi timeline -->        
        <div class="avatar">
            <a href="{% url fb_public_profile request.user %}" title="Ver perfil en GeoRemindMe">
                <img src="{% url user_avatar request.user %}" alt="{{request.user}} avatar"/>
            </a>
        </div>
        <div class="timeline-msg">
            <span class="small-text">Te gusta la sugerencia de <a href="{% url fb_public_profile obj.instance.instance.user.username %}">{{obj.instance.instance.user}}</a>:</span>
    {% else %}
        <div class="avatar">
            <a href="{% url fb_public_profile obj.username %}" title="Ver perfil en GeoRemindMe">
                <img src="/user/{{obj.username}}/picture/" alt="{{obj.username}} avatar"/>
            </a>
        </div>
        <div class="timeline-msg">
            <span class="small-text">
                <a href="{% url fb_public_profile obj.username %}">{{obj.username}}</a>: me gusta 
                {% if obj.instance.instance.user.username = request.user.username %}
                    <strong>tu sugerencia</strong>:
                {% else %}
                    la sugerencia de <a href="{% url fb_public_profile obj.instance.instance.user.username %}">{{obj.instance.instance.user}}</a>:
                {% endif %}
            </span>
    {% endif %}
            
            <br>{{obj.instance.instance}} <br>
            <span class="suggestionPlace">En <a href="/fb/place/{{obj.instance.instance.poi.slug}}">{{obj.instance.instance.poi.name}}</a></span><br>
            <span class="timestamp">hace {{obj.created|timesince}}</span> <span class="action-bar">| <a href="/fb/suggestion/{{obj.instance.instance.id}}">Ver sugerencia</a></span>
        </div>
{% endif %}
