{% load tags %}
{% load i18n %}
{% comment %} 
    Mensaje nº 305:
    Te gusta una sugerencia
{% endcomment %} 



<li class="msg-{{obj.msg_id}}">
    
    {% if obj.is_private = false and obj.username = request.user %}
        Evitamos que se muestre duplicado un "Te gusta la sugerencia X"
    {% else %}

        {% if obj.instance.user.username = request.user.username %}
            {% comment %}  Es de mi timeline {% endcomment %} 
            <div class="avatar">
                <a href="{% url2 in_facebook public_profile request.user %}" title="{%trans "Ver perfil en GeoRemindMe" %}">
                    <img class="user-picture" src="{% embedded_avatar request.user.username %}" alt="{{request.user}} avatar"/>
                </a>
            </div>
            <div class="timeline-msg">
                <span class="timeline-icon">&nbsp;</span>
                {% url2 in_facebook public_profile obj.instance.instance.user.username as profile_url%}
                <span class="small-text">
                {% blocktrans with obj.instance.instance.user as username%}
                    Te gusta la sugerencia de <a href="{{profile_url}}" class="dark-link">{{username}}</a>:
                {% endblocktrans %}    
                </span>
        {% else %}
            <div class="avatar">
                <a href="{% url2 in_facebook public_profile obj.username %}" title="{%trans "Ver perfil en GeoRemindMe" %}">
                    <img class="user-picture" src="{% embedded_avatar obj.username %}" alt="{{obj.username}} {%trans "avatar" %}"/>
                </a>
            </div>
            <div class="timeline-msg">
                <span class="timeline-icon">&nbsp;</span>
                <span class="small-text">
                    {% url2 in_facebook public_profile obj_username as profile_url %}
                    {% blocktrans with obj.username as username %}A <a href='{{profile_url}}' class='dark-link'>{{username}}</a> le gusta la sugerencia:{% endblocktrans %}
                </span>
        {% endif %}
                
                
                <div class="msg">
                    <a href="{% url2 in_facebook public_profile obj.instance.instance.user.username %}" class="dark-link link">
                       <img src="{% embedded_avatar obj.instance.instance.user.username %}" title="{{obj.instance.instance.user.username}}">
                    </a>
                    <a href="{% url2 in_facebook view_suggestion obj.instance.instance.slug %}" class="hoverlink">{{obj.instance.instance}}</a>
                </div>
                <span class="suggestionPlace">{% trans "En" %} <a href="{% url2 in_facebook view_place obj.instance.instance.poi.slug %}" class="dark-link">{{obj.instance.instance.poi.name}}</a>, {{obj.instance.instance.poi.city}}</span>
                <span class="timestamp">{{obj.created|naturaltime}}</span> <span class="action-bar">| <a href="{% url2 in_facebook view_suggestion obj.instance.instance.slug %}" class="details"><img src="/static/common/img/transparent.gif" />{%trans "Ver sugerencia" %}</a></span>
            </div>
    {% endif %}
</li>
