{% load tags %}
{% load i18n %}

{% comment %} 
    Mensaje nº 351
    350: Lista de sugerencias modificada
{% endcomment %} 

<li class="msg-{{obj.msg_id}}">
    <div class="avatar">
        <a href="{% url2 in_facebook public_profile obj.username %}" title="{{obj.username}}">
            <img class="user-picture" src="{% embedded_avatar obj.username %}" alt="{{obj.username}} avatar"/>
        </a>
    </div>

    {% comment %}  Solo si el mensaje ha sido generado por el usuario y no por el sistema se podrá borrar {% endcomment %} 
    {% if not obj.is_private %}
        {% if obj.username = user.username %}
            <div class="removable" value="{{obj.instance.id}}" type="suggestion"><a href="#">Borrar</a></div>
        {% endif %}
    {% endif %}


    {{obj.msg|safe}} <br>
    {% if obj.instance.poi.slug %}
        <span class="suggestionPlace">En <a href="{% url2 in_facebook view_place obj.instance.poi.slug %}">{{obj.instance.poi.name}}</a></span><br>
    {% endif %}


    <span class="timestamp"> {{obj.created|naturaltime}}</span>  

    <span class="action-bar">
        | <span class="focusInput">Comentar</span> | 
        <a href="{% url2 in_facebook view_suggestion obj.instance.slug %}">Detalles</a> | 
        
        
        
        <span class="like-dislike" value="{{obj.instance.id}}" {% if obj.has_voted %}like="true"{%endif%} type="suggestion">
            <span class="dislike">
                <span class="hoverlink">Ya no me gusta</span> 
                <span class="text like-text {% if not obj.has_voted %}increase{% endif %}">{{obj.vote_counter}}</span> personas
            </span>
            
            <span class="like">
                Me gusta
            </span>
        </span>
        
        | <span title="Guardar en favoritos" class="remember" value="{{obj.instance.id}}">Seguir</span>
    </span>


    {% comment %}  Si hay comentarios en la sugerencia {% endcomment %} 

    <div class="comment-box" value="{{obj.instance.id}}">

        {% if obj.comments.1|length and obj.comments.1|length > 2 %}
            <div class="show-all-comments">Veros los {{obj.comments.1|length}} comentarios</div>
        {% endif %}
        <ul id="commentList-{{obj.instance.id}}">
            {% if obj.comments.1 %}
                {% for c in obj.comments.1 reversed %}
                    <li {% if forloop.revcounter > 2 %} class="long-list" {% endif %}>
                        
                        <!-- Añadimos el botón de borrar comentario-->
                        {% if c.username = user.username %}
                            <div class="removable" value="{{c.id}}" type="comment"><a href="#">Borrar</a></div>
                        {% endif %}
                    
                        <img class="user-picture" src="{% embedded_avatar c.username %}" alt="user avatar"><a href="{% url2 in_facebook public_profile c.username %}">{{c.username}}</a>: {{c.msg}}<br>
                        <span class="timestamp">{{c.created|naturaltime}}</span> 
                        
                        
                        <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                            - 
                            <span class="dislike" {% if not c.has_voted %}style="display:none;"{%endif%} >
                                <span class="hoverlink">Ya no me gusta</span> 
                                <span class="text like-text {% if not c.has_voted %}increase{% endif %}">{{c.vote_counter}}</span> personas
                            </span>
                            
                            <span class="like" {% if c.has_voted %}style="display:none;"{%endif%} >
                                <span class="hoverlink">Me gusta</span> 
                            </span>
                        </span>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        
        <div class="input-box {% if not obj.comments.1 %} hidden {% endif %}">
            <img alt="user avatar" src="{% embedded_avatar user.username %}" class="min-img hidden">
            <form class="commentForm"><textarea empty="true" class="autogrow">Escribe un comentario</textarea></form>
        </div>
        
    </div>
</li>
