{% load tags %}
{% load i18n %}

{% comment %} 
    Mensaje nº 353
    Empiezas a seguir una sugerencia
{% endcomment %} 



<li class="msg-{{obj.msg_id}}">
    
    {% if request.user =  username %}
        <div class="avatar">
            <a href="{% url2 in_facebook public_profile request.user %}" title="{{request.user}}">
                <img src="{% embedded_avatar request.user %}" alt="{{request.user}} {%trans "avatar" %}"/>
            </a>
        </div>
        <div class="timeline-msg">
            <span class="timeline-icon">&nbsp;</span>
            {% url in_facebook user_suggestions as user_profile %}
            {% url2 in_facebook public_profile obj.instance.user.username as user_profile%}
            {% trans 'Has guardado en <a href="{{user_profile}}">tu mochila</a> la lista de sugerencias de <a href="{{user2_profile}}">{{obj.instance.user.username}}</a>' %}:<br>
            {{obj.instance.name}}<br>
            <span class="timestamp">  {{obj.created|naturaltime}}</span>  
        </div>
    {% else %}
        <div class="avatar">
            <a href="{% url2 in_facebook public_profile obj.username %}" title="{{obj.username}}">
                <img src="{% embedded_avatar obj.username %}" alt="{{obj.username}} {%trans "avatar" %}"/>
            </a>
        </div>
        <div class="timeline-msg">
            <span class="timeline-icon">&nbsp;</span>
            <a href="{% url2 in_facebook public_profile obj.username %}">{{obj.username}}</a> {%trans "ha guardado en su mochila tu lista de sugerencias :" %}<br>
            {{obj.instance.name}}<br>
            <span class="timestamp">  {{obj.created|naturaltime}}</span>  
        </div>
    {% endif %}
</li>
