{% load tags %}
{% load i18n %}

{% comment %} 
    Mensaje nº 355:
    Te gusta una lista de sugerencias
{% endcomment %} 



<li class="msg-{{obj.msg_id}}">
    {% if obj.is_private = false and obj.username = request.user %}
        Evitamos que se muestre duplicado un "Te gusta la sugerencia X"
    {% else %}

        {% if obj.instance.user.username = request.user.username %}
            {% comment %}  Es de mi timeline {% endcomment %} 
            <div class="avatar">
                <a href="{% url2 in_facebook public_profile request.user %}" title="{%trans "Ver perfil en GeoRemindMe" %}">
                    <img class="user-picture" src="{% embedded_avatar request.user %}" alt="{{request.user}} {%trans "avatar" %}"/>
                </a>
            </div>
            <div class="timeline-msg">               
                <span class="small-text">
                {% url2 in_facebook public_profile obj.instance.instance.user.username as profile_url%}
                {% blocktrans with obj.instance.instance.user as username %}
                    Te gusta la lista de sugerencias de" %} <a href="{{profile_url}}">{{username}}</a>:
                {% endblocktrans %}
                </span>
        {% else %}
            <div class="avatar">
                <a href="{% url2 in_facebook public_profile obj.username %}" title="{%trans "Ver perfil en GeoRemindMe" %}">
                    <img class="user-picture" src="{% embedded_avatar obj.username %}" alt="{{obj.username}} {%trans "avatar" %}"/>
                </a>
            </div>
            <div class="timeline-msg">
                <span class="small-text">
                    {% url2 in_facebook public_profile obj.username as user_profile%}
                    {% if obj.instance.instance.user.username = request.user.username %}
                        <strong>
                            {% blocktrans with obj.username as username%}
                                A <a href="{{user_profile}}">{{username}}</a> le gusta tu lista de sugerencias
                            {% endblocktrans %}
                        </strong>:
                    {% else %}
                        {% url2 in_facebook public_profile obj.instance.instance.user.username as user_profile%}
                        {% blocktrans with obj.instance.instance.user as username%}
                            A <a href="{{user_profile}}">{{username}}</a> le gusta la lista de sugerencias de <a href="{{user_profile}}">{{username}}</a>:
                        {% endblocktrans %}
                    {% endif %}
                </span>
        {% endif %}
                
                <br><a href="{% url2 in_facebook view_list obj.instance.instance.id %}" class="dark-link">{{obj.instance.instance}}</a> <br>
                <span class="timestamp">{{obj.created|naturaltime}}</span> <span class="action-bar">| <a href="{% url2 in_facebook view_list obj.instance.instance.id %}">{%trans "Detalles" %}</a></span>
            </div>
    {% endif %}
</li>
