<script type="text/javascript">
    $(document).ready(function(){
        $('#print-menu li').each(function(i,elem){
            $(elem).toggle(function(){
                    $(this).find('span').addClass('show');
                    $(this).find('span').removeClass('hide');
                    $('.'+$(this).attr('id')).hide();
                },function(){
                    
                    $(this).find('span').addClass('hide');
                    $(this).find('span').removeClass('show');
                    $('.'+$(this).attr('id')).show();
            });
        });
    });

    function changeZoom(obj,diff){
        var elem=$(obj).parent().parent().find('img');
        var actualZoom=parseInt($(elem).attr('value'))
        var newZoom=actualZoom+diff;
        var imageSrc=$(elem).attr('src');
        
        var newSrc=imageSrc.replace('zoom='+actualZoom,'zoom='+newZoom);
        $(elem).attr('src',newSrc)
        $(elem).attr('value',newZoom)
    }
    //(str.replace("Microsoft", "W3Schools")
</script>
<div id="print-container">
    <div id="print-menu">
        <ul>
            <li>Mostrar/Ocultar:</li>
            <li id="printer"><span onclick="window.print()">Imprimir</span></li>
            <li id="maps"><span class="hide">Mapas</span></li>
            <li id="gps-location"><span class="hide">Localización GPS</span></li>
            <li id="links"><span class="hide">Enlaces</span></li>
            <li id="autor-date"><span class="hide">Fecha y autor</span></li>
            <li id="comments"><span class="hide">Ocultar comentarios</span></li>
            
        </ul>
    </div>
    <hr class="hidden">
</div>
