{% load tags %}

{% url dashboard as dashboard %}
{% url notifications as notifications_section %}
{% url user_suggestions as user_suggestions %}

<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>
      {% block title %}Welcome{% endblock %} &mdash; GeoRemindMe
    </title>
	<link type="text/css" rel="stylesheet" href="/static/facebookApp/css/main.css">
	<link type="text/css" rel="stylesheet" href="/static/webapp/style/main.css">
       
    <meta name="description" content="Un mundo entero de sugerencias por descubrir">
    
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>    
    
<!--
    <script type="text/javascript" src="/static/webapp/js/jquery.js"></script>
-->

    <script type="text/javascript" src="/static/webapp/js/jquery.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/facebookApp/js/grm.js"></script>
    <script type="text/javascript" src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/static/webapp/js/common.js"></script>
	<script type="text/javascript" src="/static/facebookApp/js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="/static/webapp/js/jquery.lavalamp.js"></script>
    
    <script type="text/javascript" src="/static/webapp/js/jquery.reversegeocode.min.js"></script>

    {% block extra_js %}{%endblock%}
    <script type="text/javascript" src="/static/webapp/js/jquery.placeholder.js"></script>
    
    <script type="text/javascript" src="/static/common/js/jquery.cookies.2.2.0.min.js"></script>
    <script type="text/javascript">
    
        // Menu desplegable "Listas"
        // Defino que submenus deben estar visibles cuando se pasa el mouse por encima            
        hiConfig = {
            sensitivity: 2, // number = sensitivity threshold (must be 1 or higher)
            interval: 0, // number = milliseconds for onMouseOver polling interval
            timeout: 500, // number = milliseconds delay before onMouseOut
            over: function() {
                var tmp=$('#dropdown-list-user').width();
                tmp=52-tmp;
                $('#dropdown-list-user').css("margin-left",tmp+'px')
                $(this).find('ul:first:hidden').css({visibility: "visible",display: "none"}).slideDown(400);
            },
            out: function() {
                if($("#dropdown-list-user").hasClass('visible-display')==false)
                    $(this).find('ul:first').slideUp(400);
            }
        }
        
        {% include "urls.html" %}
    
        $(document).ready(function(){          
            
            if($('.active-section').length!=0)
                $(".lavaLamp").lavaLamp({ fx: "backout", speed: 700 })
            $('.help-txt').dialog({
                autoOpen:false,
                resizable: false,
                buttons: [{
                        text: "Cerrar",
                        click: function() { $(this).dialog("close"); }
                    }],
                draggable: false,
                width:560,
                position: ['center', 125]
            });
        
       
            $('.help-icon img').click(function(){
                $('#'+$(this).attr('id')+'-text').dialog("open");
            })
            
            $("[placeholder]").placeholder();
                        
            $(".user-dropDownBtn, .user-submenu ").hoverIntent(hiConfig);
            $(".user-dropDownBtn").click(function(){
				//Alineamos el menu desplegable desde la esquina sup-izq.
				var tmp=$('#dropdown-list-user').width();
				tmp=52-tmp;
				$('#dropdown-list-user').css("margin-left",tmp+'px')
				
                $(this).find('ul:first:hidden').css({visibility: "visible",display: "none"}).slideDown(400);
            })
            
            $("#left-col").css("height",$("#right-col").height()+'px');
            $("#right-col").bind("resize",function(){
                $("#left-col").css("height",$(this).height()+'px');
            });
            
            $('#search-form').bind('submit', function(e){
                e.preventDefault;
                window.location="/search/"+$(this).find("input[type='text']").val();
                return false;
            });
        });
    </script>
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>
<body class="logged" id="webapp">
    <div id="wait-mask" style="display:none"></div>
    <div id="notification-msg" style="display:none"></div>
	<div id="bg-header" class="orange-gradient">
	<header id="header-top" class="container">
		<div id="logo-link">
            <a href="/">
                <img src="/static/webapp/img/logo-webapp8.png" alt="" id="logo">
            </a>
        </div>
		
		
        <div id="nav-menu">
			{% if user.username %}
				<a href="{% url add_suggestion %}" id="add-suggestion-btn"><img src="/static/common/img/plus.png">Añadir sugerencia</a>
				{% block nav %}
					<ul class="lavaLamp">
						<li class="{% active request dashboard %}"><a id="activity-icon" href="{% url dashboard %}" title="Dashboard">Actividad</a></li>
						<li class="{% active request user_suggestions %}"><a id="vault-icon" href="{% url user_suggestions %}">Tu mochila</a></li>
						<li class="{% active request notifications_section %}"><a id="notifications-icon" href="{% url notifications %}">{% if notifications > 0 %}<strong>Notificaciones</strong>{% else %}Notificaciones{%endif%}</a></li>

					</ul>
				{% endblock %}
            {% endif %}
        </div>
        
		{% if user.username %}
            <div id="account-info">
                <div id="user-menu" class="user-dropDownBtn">
                    <a href="{% url public_profile request.user.username %}">
                    <img src="{% embedded_avatar request.user.username %}" alt=""></a><span>.</span>
                    <ul class="user-submenu" style="display:none" id="dropdown-list-user">
                        <li><a href="{% url public_profile user.username %}">Mi perfil</a></li>
                        <li><a href="{% url profile_settings %}">Configuración</a></li>
                        <li><a href="{% url logout %}">Desconectar</a></li>
                    </ul>
                </div>			
            </div>
        {% else %}
			<div id="account-info">
				<a href="/logout/" id="create-profile-out" class="btn">Desconectar</a>
			</div>
        {% endif %}
	</header>
	</div>
	<div id="background">
		<div id="base" class="container">
			
			<div id="right-col">
				{% block body %}{% endblock %}
			</div>
			{% include "webapp/suggested_suggestions.html" %}
		</div>
	</div>
	
    
    <div id="templates"></div>
    {% include "browser_msgs.html" %}
</body>
</html>
