{% load tags %}
<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>
      {% block title %}Welcome{% endblock %} &mdash; GeoRemindMe
    </title>
	<link type="text/css" rel="stylesheet" href="/static/facebookApp/css/main.css">
	<link type="text/css" rel="stylesheet" href="/static/webapp/style/main.css">
	
    <meta name="description" content="Track and share your runs with friends.">
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    
    <script type="text/javascript" src="/static/webapp/js/jquery.js"></script>
<!--
    <script type="text/javascript" src="/static/webapp/js/jquery.min.js"></script>
-->
<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/webapp/js/common.js"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>

    {% block extra_js %}{%endblock%}

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>
<body>
	<header id="header" class="container">
		<img src="/static/webapp/img/logo2.png" alt="" id="logo">
		
		<input type="search" placeholder="Busca sugerencias">
		
		<div id="account-info">
			<a href="{% url public_profile request.user.username %}"><img src="{% embedded_avatar request.user.username %}" alt=""></a>
			<a href="{% url logout %}">Salir</a>
		</div>
		
		
	</header>
	<div id="background">
		<div id="base" class="container">
			<section id="left-col">
				<a href="#" id="add-suggestion-btn">Añadir sugerencia</a>
				{% block nav %}
				<ul>
                    <li class="menu-icons main-menu-icons" id=""><a id="activity-icon" href="{% url dashboard %}" title="Dashboard">Actividad</a></li>
                    <li class="menu-icons main-menu-icons" id=""><a id="vault-icon" href="{% url user_suggestions %}">Tu mochila</a></li>
<!--
                    <li class="menu-icons main-menu-icons"><a id="suggestions-icon" href="{{user_suggestions}}">Tus sugerencias</a></li>
-->
                    <li class="menu-icons main-menu-icons" id=""><a id="notifications-icon" href="{% url notifications %}">Notificaciones</a></li>
                    <li class="menu-icons main-menu-icons"><a id="places-icon" href="#">Sitios</a></li>
<!--
                    <li class="menu-icons main-menu-icons" id=""><a id="profile-icon" href="{% url public_profile request.user.username %}">Mi perfil</a></li>
-->
                    <li class="menu-icons main-menu-icons" id=""><a id="settings-icon" href="{% url profile_settings %}">Configuración</a></li>
                </ul>
				{% block extraContent %} {% endblock %}
				{% endblock %}
			</section>
			<section id="right-col">
				{% block body %}{% endblock %}
			</section>
			
		</div>
	</div>
	
	<footer id="footer" class="container">
		<div class="footer-links">
			Idioma · <a href="#">Español</a> · <a href="#">Inglés</a> · <a href="#">Francés</a> · <a href="#">Wookiee</a>
		</div>
		<div class="footer-links right-links">
			<a href="#">Empleo</a> · <a href="#">Prensa</a> · <a href="#">Mapa del sitio</a>
		</div>
	</footer>
</body>
</html>
