{% load tags %}
<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>
      {% block title %}Welcome{% endblock %} &mdash; GeoRemindMe
    </title>
	<link type="text/css" rel="stylesheet" href="/static/facebookApp/css/main.css">
	<link type="text/css" rel="stylesheet" href="/static/webapp/style/main.css">
    
    <link href='http://fonts.googleapis.com/css?family=Alike|Crimson+Text:400,600,700|Goudy+Bookletter+1911|Unna' rel='stylesheet' type='text/css'>
    
    <meta name="description" content="Track and share your runs with friends.">
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    
    <script type="text/javascript" src="/static/webapp/js/jquery.js"></script>
<!--
    <script type="text/javascript" src="/static/webapp/js/jquery.min.js"></script>
-->
<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/webapp/js/common.js"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	<script type="text/javascript" src="/static/facebookApp/js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="/static/common/js/jquery.cookies.2.2.0.min.js"></script>
    <script type="text/javascript" src="/static/webapp/js/jquery.reversegeocode.min.js"></script>

    {% block extra_js %}{%endblock%}

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
		$(document).ready(function(){
            
            /*** login function ***/
			$('#loginForm').submit(function(e){
				e.preventDefault();
				GRM.wait();
				$.ajax({
					type: "POST",
					url: "/ajax/login/",
					dataType:'json',
					data: {
						"user_login-email":$(this).find('[name="email"]').val(),
						"user_login-password":$(this).find('[name="password"]').val(),
						"csrfmiddlewaretoken":$(this).find('[name="csrfmiddlewaretoken"]').val()
					},
					error: function() { GRM.nowait(); },
					success: function(msg){
						if(msg.error!="") {
							showMessage(msg.error,"error");
							GRM.nowait();
						}
						else {
							setTimeout(function(){window.location=msg._redirect;},3000);
						}
					}
				});
			});
        
            
            /*** show georemindme login ***/
			$('.georemindme').click(function(){
			   $('#login-bar p').hide();
			   $('#login-bar ul').hide();
			   $('#georemindme-form').show();
			});
            
            /*** Resize right column ***/
            $("#left-col").css("height",$(this).height()+'px');
			$("#right-col").bind("resize",function(){
                $("#left-col").css("height",$(this).height()+'px');
            });
		});
			
			
		function showMenu(){
            $('#login-bar p').show();
            $('#login-bar ul').show();
            $('#georemindme-form').hide();
        }
	</script>
			
	<style type="text/css">
		#login-bar {
			margin-top:15px;
			width: 700px;
		}
		a#add-suggestion-btn, #right-block a#register-btn, #registerForm input[type="submit"] {
            margin:0;
		}
        #loginSec #header-top {
            height:60px;
        }
        #login-bar p,#login-submenu span {
            color:#eeeeee;
        }
        #loginSec #header-top form {
            margin-top: -13px;
        }
        #loginSec #login-bar a.hoverlink,
        #loginSec #login-bar span.hoverlink{
            color:#68B1FF;
        }
	</style>
</head>
<body id="loginSec">
	<div id="bg-header" class="orange-gradient">
	<header id="header-top" class="container">
		<div id="logo-link">
            <a href="/">
                <img src="/static/webapp/img/logo-webapp8.png" alt="" id="logo">
            </a>
        </div>
		<div id="login-bar">
            
            
            <a href="/" id="register-btn" class="anonymous">Create una cuenta</a>
            <div style="float:right">
                <p>Identifícate usando:</p>
                <ul>
                    <li class="twitter" onclick="javascript:window.location='/login/twitter/'" title="Usa tu sesión de Twitter para identificarte"><span>Twitter</span></li>
                    <li class="facebook" onclick="javascript:window.location='/login/facebook/'" title="Usa tu sesión de Facebook para identificarte"><span>Facebook</span></li>
                    <li class="google" onclick="javascript:window.location='/login/google/'" title="Usa tu sesión de Google para identificarte"><span>Google</span></li>
                    <li class="georemindme" title="Identifícate usando tus datos de GeoRemindMe"><span>GeoRemindMe</span></li>
                </ul>
                <div id="georemindme-form" style="display:none">
                    <form action="." method="post" id="loginForm">
                        <input type="text" name="email" placeholder="Usuario o email"/>
                        <input type="password" name="password" id="password" placeholder="Contraseña"/>
                        <input type="submit" id="login-btn" value="Entrar" />
                        <div id="login-submenu">
                            <span onclick="checkUncheck(this)"><input name="user_login-remember_me" type="checkbox" /> Recordarme</span>
                            <span><a href="/remind/" class="hoverlink">Recuperar contraseña</a></span>
                            <span class="hoverlink" onclick="javascript:showMenu()">Cancelar</span>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>            
        </div>
		
		
	</header>
	</div>
	<div id="background">
		<div id="base" class="container">
			
			<div id="right-col">
				{% block body %}{% endblock %}
			</div>
			{% include "webapp/suggested_suggestions.html" %}
		</div>
	</div>
	
	<footer id="footer" class="container">
		<div class="footer-links">
			Idioma · <a href="#">Español</a> · <a href="#">Inglés</a> 
<!--
            · <a href="#">Francés</a> · <a href="#">Wookiee</a>
-->
		</div>
		<div class="footer-links right-links">
			<a href="http://jobs.georemindme.com/">Empleo</a> · <a href="http://www.georemindme.com/press/">Prensa</a> · <a href="http://www.georemindme.com/sitemap">Mapa del sitio</a>
		</div>
	</footer>
</body>
</html>
