{% load tags %}
{% load i18n %}
<!DOCTYPE HTML>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
<head>
	<meta charset="UTF-8">
	<title>
      {% block title %}Welcome{% endblock %} &mdash; GeoRemindMe
    </title>
	
    {% if request.META.REMOTE_ADDR = "127.0.0.1" %}
        <link type="text/css" rel="stylesheet" href="/static/facebookApp/css/main.css">
        <link type="text/css" rel="stylesheet" href="/static/webapp/style/main.css">
        <link type="text/css" rel="stylesheet" href="/static/common/css/browser_error.css">
        <link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"/>    
        <script type="text/javascript" src="/static/common/js/common_webapp.js"></script>    
        <script type="text/javascript" src="/static/common/js/login.js"></script>    
    {% else %}
        <link type="text/css" rel="stylesheet" href="/static/common/css/style.min.css">
        <link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"/>    
        <script type="text/javascript" src="/static/common/js/common_webapp.min.js"></script>    
        <script type="text/javascript" src="/static/common/js/login.min.js"></script>    
    {% endif %}

    {% block extra_js %}{%endblock%}

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
		$(document).ready(function(){
            
            /*** login function ***/
			$('#loginForm').submit(function(e){
				e.preventDefault();
				GRM.wait();
				$.ajax({
					type: "POST",
					url: "/ajax/login/",
					dataType:'json',
					data: {
						"user_login-email":$(this).find('[name="email"]').val(),
						"user_login-password":$(this).find('[name="password"]').val(),
						"csrfmiddlewaretoken":$(this).find('[name="csrfmiddlewaretoken"]').val()
					},
					error: function() { GRM.nowait(); },
					success: function(msg){
						if(msg.error!="") {
							showMessage(msg.error,"error");
							GRM.nowait();
						}
						else {
							setTimeout(function(){window.location=msg._redirect;},3000);
						}
					}
				});
			});
        
            
            /*** show georemindme login ***/
			$('.georemindme').click(function(){
			   $('#login-bar p').hide();
			   $('#login-bar ul').hide();
			   $('#georemindme-form').show();
			});
            
            
            $('#search-form').bind('submit', function(e){
                e.preventDefault;
                //console.log("entro");
                window.location="/search/"+$(this).find("input[type='text']").val();
                return false;
            });
		});
			
			
		function showMenu(){
            $('#login-bar p').show();
            $('#login-bar ul').show();
            $('#georemindme-form').hide();
        }
	</script>
			
	<style type="text/css">
		#login-bar {
			margin-top:15px;
			width: 700px;
		}
		a#add-suggestion-btn, #right-block a#register-btn, #registerForm input[type="submit"] {
            margin:0;
		}
        #loginSec #header-top {
            height:60px;
        }
        #login-bar p,#login-submenu span {
            color:#eeeeee;
        }
        #loginSec #header-top form {
            margin-top: -13px;
        }
        #loginSec #login-bar a.hoverlink,
        #loginSec #login-bar span.hoverlink{
            color:#68B1FF;
        }
	</style>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19272923-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body id="loginSec">
	<div id="bg-header" class="orange-gradient">
	<header id="header-top" class="container">
		<div id="logo-link">
            <a href="/">
                <img src="/static/common/img/transparent.gif" alt="GeoRemindMe!" id="logo">
            </a>
        </div>
		<div id="login-bar">
            
            
            <a href="/" id="register-btn" class="anonymous">{%trans "Créate una cuenta" %}</a>
            <div style="float:right">
                <p>{%trans "Identifícate usando:" %}</p>
                <ul>
                    <li class="twitter" onclick="javascript:window.location='/login/twitter/'" title="{%trans "Usa tu sesión de Twitter para identificarte" %}"><span>{%trans "Twitter" %}</span></li>
                    <li class="facebook" onclick="javascript:window.location='/login/facebook/'" title="{%trans "Usa tu sesión de Facebook para identificarte" %}"><span>{%trans "Facebook" %}</span></li>
                    <li class="google" onclick="javascript:window.location='/login/google/'" title="{%trans "Usa tu sesión de Google para identificarte" %}"><span>{%trans "Google" %}</span></li>
                    <li class="georemindme" title="{%trans "Identifícate usando tus datos de GeoRemindMe" %}"><span>{%trans "GeoRemindMe" %}</span></li>
                </ul>
                <div id="georemindme-form" style="display:none">
                    <form action="." method="post" id="loginForm">
                        <input type="text" name="email" placeholder="{%trans "Usuario o email" %}"/>
                        <input type="password" name="password" id="password" placeholder="{%trans "Contraseña" %}"/>
                        <input type="submit" id="login-btn" value="{%trans "Entrar" %}" />
                        <div id="login-submenu">
                            <span onclick="checkUncheck(this)"><input name="user_login-remember_me" type="checkbox" /> {%trans "Recordarme" %}</span>
                            <span><a href="/remind/" class="hoverlink">{%trans "Recuperar contraseña" %}</a></span>
                            <span class="hoverlink" onclick="javascript:showMenu()">{%trans "Cancelar" %}</span>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>            
        </div>
		
		
	</header>
	</div>
	<div id="background">
		<div id="base" class="container">
			
			<div id="right-col">
				{% block body %}{% endblock %}
			</div>
			{% include "webapp/suggested_suggestions.html" %}
		</div>
	</div>
	
	<footer id="footer" class="container">
		<div class="footer-links">
			
<!--
            Idioma · <a href="#">Español</a> · <a href="#">Inglés</a>
            · <a href="#">Francés</a> · <a href="#">Wookiee</a>
-->
		</div>
		<div class="footer-links right-links">
			<a href="http://jobs.georemindme.com/">{%trans "Empleo" %}</a> · <a href="http://www.georemindme.com/press/">{%trans "Prensa" %}</a> · <a href="http://www.georemindme.com/sitemap">{%trans "Mapa del sitio" %}</a>
		</div>
	</footer>
    {% include "browser_msgs.html" %}
</body>
</html>
