{% load tags %}

{% url dashboard as dashboard %}
{% url notifications as notifications_section %}
{% url user_suggestions as user_suggestions %}

<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>
      {% block title %}Welcome{% endblock %} &mdash; GeoRemindMe
    </title>
	<link type="text/css" rel="stylesheet" href="/static/facebookApp/css/main.css">
	<link type="text/css" rel="stylesheet" href="/static/webapp/style/main.css">
    
    <link href='http://fonts.googleapis.com/css?family=Alike|Crimson+Text:400,600,700|Goudy+Bookletter+1911|Unna' rel='stylesheet' type='text/css'>
    
    <meta name="description" content="Track and share your runs with friends.">
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    
    <script type="text/javascript" src="/static/webapp/js/jquery.js"></script>
<!--
    <script type="text/javascript" src="/static/webapp/js/jquery.min.js"></script>
-->
<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/facebookApp/js/grm.js"></script>
    <script type="text/javascript" src="/static/webapp/js/common.js"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	<script type="text/javascript" src="/static/facebookApp/js/jquery.hoverIntent.minified.js"></script>
    

    {% block extra_js %}{%endblock%}
    <script type="text/javascript" src="/static/webapp/js/jquery.placeholder.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("[placeholder]").placeholder();
            
            
            // Menu desplegable "Listas"
            // Defino que submenus deben estar visibles cuando se pasa el mouse por encima            
            hiConfig = {
                sensitivity: 2, // number = sensitivity threshold (must be 1 or higher)
                interval: 0, // number = milliseconds for onMouseOver polling interval
                timeout: 500, // number = milliseconds delay before onMouseOut
                over: function() {
					var tmp=$('#dropdown-list').width();
					tmp=52-tmp;
					$('#dropdown-list').css("margin-left",tmp+'px')
                    $(this).find('ul:first:hidden').css({visibility: "visible",display: "none"}).slideDown(400);
                },
                out: function() {
                    if($("#dropdown-list").hasClass('visible-display')==false)
                        $(this).find('ul:first').slideUp(400);
                }
            }
            
            $(".user-dropDownBtn, .user-submenu ").hoverIntent(hiConfig);
            $(".user-dropDownBtn").click(function(){
				//Alineamos el menu desplegable desde la esquina sup-izq.
				var tmp=$('#dropdown-list').width();
				tmp=52-tmp;
				$('#dropdown-list').css("margin-left",tmp+'px')
				
                $(this).find('ul:first:hidden').css({visibility: "visible",display: "none"}).slideDown(400);
            })
            
            $("#left-col").css("height",$(this).height()+'px');
            $("#right-col").bind("resize",function(){
                $("#left-col").css("height",$(this).height()+'px');
            });
        });
    </script>
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>
<body class="logged">
    <div id="wait-mask" style="display:none"></div>
    <div id="notification-msg" style="display:none"></div>
	<div id="bg-header" class="orange-gradient">
	<header id="header-top" class="container">
		<div id="logo-link">
            <a href="/">
                <img src="/static/webapp/img/logo3.png" alt="" id="logo">
            </a>
        </div>
		
		
        <div id="nav-menu">
            <a href="{% url add_suggestion %}" id="add-suggestion-btn">Añadir sugerencia</a>
            {% block nav %}
				<ul>
                    <li id="{% active request dashboard %}"><a id="activity-icon" href="{% url dashboard %}" title="Dashboard">Actividad</a></li>
                    <li id="{% active request user_suggestions %}"><a id="vault-icon" href="{% url user_suggestions %}">Tu mochila</a></li>
<!--
                    <li class="menu-icons main-menu-icons"><a id="suggestions-icon" href="{{user_suggestions}}">Tus sugerencias</a></li>
-->
                    <li id="{% active request notifications_section %}"><a id="notifications-icon" href="{% url notifications %}">Notificaciones</a></li>
<!--
                    <li class="menu-icons main-menu-icons" id=""><a id="profile-icon" href="{% url public_profile request.user.username %}">Mi perfil</a></li>
-->
<!--
                    <li class="menu-icons main-menu-icons" id=""><a id="settings-icon" href="{% url profile_settings %}">Configuración</a></li>
-->
                </ul>
            {% endblock %}
        </div>

		{% if user.username %}
            <div id="account-info">
                <div id="user-menu" class="user-dropDownBtn">
                    <a href="{% url public_profile request.user.username %}">
                    <img src="{% embedded_avatar request.user.username %}" alt=""></a><span>.</span>
                    <ul class="user-submenu" style="display:none" id="dropdown-list">
                        <li><a href="{% url public_profile user.username %}">Mi perfil</a></li>
                        <li><a href="{% url profile_settings %}">Configuración</a></li>
                        <li><a href="{% url logout %}">Desconectar</a></li>
                    </ul>
                </div>			
            </div>
        {% else %}
			<div id="account-info">
				<a href="/logout/">Desconectar</a>
			</div>
        {% endif %}
	</header>
	</div>
	<div id="background">
		<div id="base" class="container">
			
			<div id="right-col">
				{% block body %}{% endblock %}
			</div>
			<div id="left-col">
                <div id="search_bar">
                    <form action="." method="post">
                        <input type="search" placeholder="Ejemplo: tapas en granada, turismo, paisajes, etc." readonly>
                        <input type="submit" value="Buscar">
                    </form>
                </div>
				
				
                {% block extraContent %} {% endblock %}
                
                <p>Sugerencias cerca tuya:</p>
                
                <p>Sugerencias que te podrían gustar:</p>
                
			</div>
		</div>
	</div>
	
    <footer id="footer" class="container">
		<div class="footer-links">
			Idioma · <a href="#">Español</a> · <a href="#">Inglés</a> 
<!--
            · <a href="#">Francés</a> · <a href="#">Wookiee</a>
-->
		</div>
		<div class="footer-links right-links">
			<a href="http://jobs.georemindme.com/">Empleo</a> · <a href="http://www.georemindme.com/press/">Prensa</a> · <a href="http://www.georemindme.com/sitemap">Mapa del sitio</a>
		</div>
	</footer>
    <div id="templates"></div>
</body>
</html>
