{% extends "webapp/base_registered.html" %}
{% load i18n %}

{% block title %}GeoRemindMe! - Registro{% endblock %}

{% block mainButton %}{% endblock %}

{% block nav %} 
    {% include "register_menu.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    function toggle_showMore(){
        if($('#show-more-text').css('display')!="none")
            $('.show-more').html("[Ver más]")
        else
            $('.show-more').html("[Ocultar]")
        
        $('#show-more-text').toggle('slow')
    }
    $(document).ready(function(){
        $('#last-step').click(function(){
            $('#step-one').slideUp(400);
            $('#step-two').slideDown(400);
        })
        $('#first-step').click(function(){
            $('#step-two').slideUp(400);
            $('#step-one').slideDown(400);
        })
        
        $.ajax({
            type: "POST",
            url: "/ajax/contacts/get/",
            context: $(this),
            error: function() { },
            success: function(data){
                console.log(data)
                
                //var obj=$("#listTemplate").tmpl({obj:data, keys:suggestions}).appendTo("#known-contacts");
            }
                    
        });
    });
</script>
{% endblock %}

{% block body %}
    <div id="social-profile">
        <h1>¡Genial ya estás dentro!</h1>
        
        <hr>
        <div id="step-one" {%if form.errors %}style="display:none"{%endif%}> 
            <h2>Paso 1 de 2: Elige tu nombre de usuario</h2>
            {% include "forms/SocialUserForm.html" %}
            <p class="footer-notes">
                <sup>(*)</sup> Una vez elegido el nombre de usuario, este se utilizará para crear tu perfil público .
            </p>
        </div>
        <div id="step-two"  {%if not form.errors %}style="display:none"{%endif%}>
            <h2>Paso 2 de 2: Recibe más y mejores sugerencias</h2>
            <p>
                Para empezar a ver sugerencias necesitas crearte una red de contactos <strong>con los que compartas gustos</strong>, por ello vamos a mostrarte a usuarios que pensamos que te pueden interesar seguir.<br>
            </p>
            <hr>
            <p>
                <strong>Usuarios de GeoRemindMe! a los que podrías conocer:</strong>
            </p>
            <p>Buscar ahora entre mis contactos de:</p>
            <ul id="link-social-accounts">
            {% if not user.twitter_user %}
                <li><a id="twitter" href="/ext/twitter/contacts/" class="hoverlink" target="_blank" title="Buscar ahora  entre las personas que sigo"> Twitter</a></li>
            {% else %}
                <li>Twitter</li>
            {% endif %}
            {% if not user.facebook_user %}
                <li><a id="facebook" href="/ext/facebook/contacts/" class="hoverlink" target="_blank" title="Buscar ahora entre mis amigos">Facebook</a></li>
            {% else %}
                <li>Facebook</li>    
            {% endif %}
            {% if not user.google_user %}
                <li><a id="google" href="/ext/google/contacts/" class="hoverlink" target="_blank" title="Buscar ahora entre mis contactos">Google</a></li>
            {% else %}
                <li>Google</li>

            {% endif %}
            </ul>
            <ul id="known-contacts">
                <li>
                    <img src="/user/jneight/picture/">
                    <span class="username"><a href="">jneight</a></span>
                    <span class="follow">
                        <div id="following_state_{{ id }}">
                            <span onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </span>
                </li>
            </ul>
            <hr>
            <p>
                <strong>Usuarios más activos:</strong>
            </p>
            {% if top_users %}
                <ul id="suggested-contacts">
                    {% for obj in top_users %}
                        {% if obj.username %}
                            <li>
                                <img src="/user/{{obj.username}}/picture/">
                                <span class="username"><a href="">{{obj.username}}</a></span>
                                Sugerencias: {{obj.counters.suggested}}
                                <hr>
                                {% for sug in obj.last_sugs %}
                                    <a href="">{{sug.name}}</a>
                                    <hr>
                                {% endfor %}
                                <span class="btn">Ver perfil</span>
                                <div id="following_state_{{ id }}">
                                    <span  onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                                </div>
                                
                            </li>
                        {%endif%}
                    {% endfor %}
                </ul>
            {% endif %}
            
            <span class="btn left clear" id="first-step">Volver al "Paso 1"</span>
            <span class="btn">Terminar</span>
            
            <div class="note clear">
                <strong class="show-more" onclick="javascript:toggle_showMore()">[Ver más](1)</strong>: 
                <p>
                    En ningún momento enviaremos ningún correo electrónico... <div id="show-more-text"> a tus contactos sin tu permiso. 
                    Nosotros también hemos pasado por página que envían correos a nuestros usuarios sin nuestro permiso pero nosotros
                    no somos de esta clase. 
                </p>
                
                
                <br><br><strong>Tan solo queremos ofrecerte una herramienta con todas las comodidades.</strong><br><br>
                
                    Un saludo y gracias por confiar en <a href="http://georemindme.com/team" target="_blank">nosotros</a>.
                
                </div>
            </div>
        </div>
    </div>
{%endblock%}
