{% extends "webapp/base_registered.html" %}
{% load i18n %}

{% block title %}GeoRemindMe! - Registro{% endblock %}

{% block mainButton %}{% endblock %}

{% block nav %} 
    {% include "register_menu.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    function toggle_showMore(){
        if($('#show-more-text').css('display')!="none")
            $('.show-more').html("[Ver más]")
        else
            $('.show-more').html("[Ocultar]")
        
        $('#show-more-text').toggle('slow')
    }
    $(document).ready(function(){
        $('#last-step').click(function(){
            $('#step-one').slideUp(400);
            $('#step-two').slideDown(400);
        })
        $('#first-step').click(function(){
            $('#step-two').slideUp(400);
            $('#step-one').slideDown(400);
        })
        
        $.ajax({
            type: "POST",
            url: "/ajax/contacts/get/",
            context: $(this),
            error: function() { },
            success: function(data){
                console.log(data)
                
                //var obj=$("#listTemplate").tmpl({obj:data, keys:suggestions}).appendTo("#known-contacts");
            }
                    
        });
    });
</script>
{% endblock %}

{% block section_class %}create-social-profile{% endblock %}

{% block body %}
    <div id="social-profile">
        <h1>¡Genial ya estás dentro!</h1>
        
        <div id="step-one" {%if form.errors %}style="display:none"{%endif%}> 
            <h2>Paso 1 de 2: Elige tu nombre de usuario</h2>
            {% include "forms/SocialUserForm.html" %}
            <div class="footer-notes" style="clear:left">
                <sup>(*)</sup> Una vez elegido el nombre de usuario, este se utilizará para crear tu perfil público .
            </div>
        </div>
        <div id="step-two"  {%if not form.errors %}style="display:none"{%endif%}>
            <h2>Paso 2 de 2: Recibe más y mejores sugerencias siguiendo a gente de tu interés</h2>
            <hr>
            <p>
                <strong>Usuarios de GeoRemindMe! a los que podrías conocer:</strong>
            </p>
            <ul id="known-contacts">
                <li>
                    <img src="/user/jneight/picture/">
                    <span class="username"><a href="../user/jneight">jneight</a></span>
                    <span class="follow">
                        <div id="following_state_{{ id }}">
                            <span onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </span>
                </li>
                <li>
                    <img src="/user/jneight/picture/">
                    <span class="username"><a href="../user/jneight">jneight</a></span>
                    <span class="follow">
                        <div id="following_state_{{ id }}">
                            <span onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </span>
                </li>
                <li>
                    <img src="/user/jneight/picture/">
                    <span class="username"><a href="../user/jneight">jneight</a></span>
                    <span class="follow">
                        <div id="following_state_{{ id }}">
                            <span onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </span>
                </li>
                <li>
                    <img src="/user/jneight/picture/">
                    <span class="username"><a href="../user/jneight">jneight</a></span>
                    <span class="follow">
                        <div id="following_state_{{ id }}">
                            <span onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </span>
                </li>
                <li>
                    <img src="/user/jneight/picture/">
                    <span class="username"><a href="../user/jneight">jneight</a></span>
                    <span class="follow">
                        <div id="following_state_{{ id }}">
                            <span onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </span>
                </li>
            </ul>
            <div id="social-bar">
                <p>Buscar ahora entre mis contactos de:</p>
                <ul id="link-social-accounts">
                {% if not user.twitter_user %}
                    <li><a id="twitter" href="/ext/twitter/contacts/" class="hoverlink" target="_blank" title="Buscar ahora  entre las personas que sigo"> <span>Twitter</span></a></li>
                {% else %}
                    <li>Twitter</li>
                {% endif %}
                {% if not user.facebook_user %}
                    <li><a id="facebook" href="/ext/facebook/contacts/" class="hoverlink" target="_blank" title="Buscar ahora entre mis amigos"><span>Facebook</span></a></li>
                {% else %}
                    <li>Facebook</li>    
                {% endif %}
                {% if not user.google_user %}
                    <li><a id="google" href="/ext/google/contacts/" class="hoverlink" target="_blank" title="Buscar ahora entre mis contactos"><span>Google</span></a></li>
                {% else %}
                    <li>Google</li>

                {% endif %}
                </ul>
            </div>
            <div class="footer-notes clear">
                <strong class="show-more" onclick="javascript:toggle_showMore()">[Ver más]</strong>
                <p>
                    En ningún momento enviaremos ningún correo electrónico a tus contactos sin tu permiso. <span id="show-more-text"><br>
                    Nosotros también hemos pasado por otras páginas que envían correos a nuestros contactos sin permiso pero nosotros
                    somos buena gente ;D. 
                
                    <br><strong>Tan solo queremos ofrecerte una herramienta con todas las comodidades.</strong><br>
                
                    Un saludo y gracias por confiar en <a href="http://georemindme.com/team" target="_blank">nuestro equipo</a>.
                
                </span>
                </p>
            </div>
            <div style="margin:1.5em 0 0.7em;height:26px">
                <span class="btn left clear" id="first-step">Volver al "Paso 1"</span>
                <span class="btn">Terminar</span>
            </div>
            <hr>
            <p>
                <strong>Usuarios más activos:</strong>
            </p>
            {% if top_users %}
                <ul id="suggested-contacts">
                    {% for obj in top_users %}
                        {% if obj.username %}
                            <li>
                                <img src="/user/{{obj.username}}/picture/">
                                <span class="username"><a href="">{{obj.username}}</a></span><br>
                                Sugerencias: {{obj.counters.suggested}}
                                <hr>
                                {% for sug in obj.last_sugs %}
                                    <a href="">{{sug.name}}</a>
                                    <hr>
                                {% endfor %}
                                <span class="btn">Ver perfil</span>
                                <div id="following_state_{{ id }}">
                                    <span  onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                                </div>
                                
                            </li>
                        {%endif%}
                    {% endfor %}
                </ul>
            {% endif %}
            
            <span class="btn left clear" id="first-step">Volver al "Paso 1"</span>
            <span class="btn">Terminar</span>
            
            
        </div>
    </div>
{%endblock%}

{% block right_block %}{%endblock%}
