{% extends "webapp/chronology.html" %}
{% load i18n %}
{% load tags %}

{% block embed_js %}
    
{%endblock%}

{% block id %} id="activity" {%endblock%}

{% block extraContent %}
    {% if friends_to_follow|length %}        
        <hr>
        <div class="help-icon"><img src="/static/webapp/img/help.png" alt="Help" id="help-friends-to-follow"></div>
        <p class="p-follow-friends"><em>Personas sugeridas:</em></p>
        
        <ul id="friends-to-follow" class="clear">
            {% for id, f in friends_to_follow.items %}
                
                <li> <!--style="{% cycle 'clear:left' ''%}">-->
                    <div class="avatar">
                        <div class="removable" value="{{f.id}}" type="person"><a href="#">Remove</a></div>
                        <a href="{% url2 in_facebook public_profile f.username%}" title="{{ f.username }}" class="user-img">
                            <img class="user-picture" src="{% url user_avatar f.username%}" alt="{{f.username}} avatar"/>
                        </a>
                        <div class="user-info">
                            <a href="{% url2 in_facebook public_profile f.username%}">{{f.username}}</a><br>
                            Sugerencias: {{f.counters.suggested}}
                        </div>
                        <div id="following_state_{{ id }}" class="follow-btn">
                            <span  onclick="javascript:follow('follow',{{id}})"><a href="javascript:void(0)" class="no-following">Seguir</a></span>
                        </div>
                    </div>
                </li>
            {% endfor %}
            
        </ul>
        
    {% endif %}
{% endblock %}

{% block pre_chronology %} 
    <h1>Actividad</h1>
    <div class="help-icon"><img src="/static/webapp/img/help.png" alt="Help" id="help-activity"></div>
    
    
    <div class="help-txt" style="display:none" id="help-friends-to-follow-text" title="Ayuda: Personas a las que podrías conocer">
        <p>Desde aquí te avisaremos de personas a las que puedas conocer para que decidas si quieres seguir sus sugerencias.</p>
        <p>Para poder mejorar estas sugerencias puedes autorizarnos para buscar entre tus contactos de otras redes:</p>
            <ul>
                <li>Twitter: </li>
                <li>Google: </li>
                <li>Facebook: </li>
            </ul>
            
        
        <p>Si tienes alguna pregunta puedes hacerla desde <a href="">la página de la comunidad</a>.</p>
    </div>
    <div class="help-txt" style="display:none" id="help-activity-text" title="Ayuda: Actividad en tu red">
        <p>Desde aquí podrás consultar las últimas acciones de las personas de tu red:</p>
        <ul>
            <li>Nuevas sugerencias y listas de sugerencias</li>
            <li>Comentarios en sugerencias</li>
            <li>Valoraciones de comentarios y sugerencias</li>
            <li>Las personas a las que empiezan a seguir.</li>
            <li>etc.</li>
        </ul>
        <p>Además podrás comentar, valorar y guardar en tu baúl aquellas sugerencias y listas de sugerencias que te hayan gustado.</p>
        <p>Si tienes alguna duda o sugerencia puedes hacerla aquí:</p>
        

    </div>
{%endblock%}

