{% load tags %}
<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>GeoRemindMe!</title>
	<meta name="google-site-verification" content="VzbSgMqvrPL6WuAhRfBzAFXM0GyU73igO1yjheV2Tc4" />

	<link type="text/css" rel="stylesheet" href="/static/webapp/style/main.css">
	<script type="text/javascript" src="/static/webapp/js/jquery.js"></script>
    <script type="text/javascript" src="/static/webapp/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/facebookApp/js/grm.js"></script>

    
    <script type="text/javascript">
		$(document).ready(function() {
		        $('#loginForm').submit(function(e){
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/ajax/login/",
                        dataType:'json',
                        data: {
                            email:$(this).find('[name="email"]').val(),
                            password:$(this).find('[name="password"]').val(),
                            csrfmiddlewaretoken:$(this).find('[name="csrfmiddlewaretoken"]').val()
                        },
                        success: function(msg){
                            if(msg.error!="")
                                showMessage(msg.error,"error");
                            else
                                window.location=msg._redirect;
                        }
                    });
                });
                
                $('#register-menu li').click(function(e){
                    
                    var lastActive=$('#register-menu li.active');
                    $(lastActive).removeClass("active");
                    if($(lastActive).attr("id")!=$(this).attr("id")){
                        //Si no está deseleccionado lo activamos
                        $(this).addClass("active");
                    }
                });
                
                $("[placeholder]").placeholder();
                
                $('.register-text-aux').toggle(function(){
                        $('#registerForm').slideDown(400);
                        $("#register-with-social").slideUp(400);
                        $(this).addClass("close");
                    },function(){
                        $('#registerForm').slideUp(400);
                        $("#register-with-social").slideDown(400);
                        $(this).removeClass("close");
                })
                
                $('#register-btn').click(function(e){
                    e.preventDefault();
                    
                    var network=$('#register-menu li.active');
                    if(network.length==0){
                        //Mensaje
                        showMessage("Primero selecciona una de la redes","error")
                    }else{
                        var register_link="/login/"+network.attr('id')+"/";
                        $(this).attr('href',register_link)
                        if($(this).attr('onclick') === undefined || $(this).attr('onclick')==null){
                            window.location=$(this).attr('href');
                        } else {
                            $(this).click ();
                        }
                    }
                    
                })
                
                $('.georemindme').click(function(){
                   $('#login-bar p').hide();
                   $('#login-bar ul').hide();
                   $('#georemindme-form').show();
                });
                
        });
        
        function showMenu(){
            $('#login-bar p').show();
            $('#login-bar ul').show();
            $('#georemindme-form').hide();
        }
        function checkUncheck(obj){
            var checkbox=$(obj).find('input');
            if($(checkbox).attr('checked')==true)
                $(checkbox).attr('checked',false);
            else
                $(checkbox).attr('checked',true)
        }
        
	</script>
	
</head>
<body id="loginSec">
    <div id="notification-msg" style="display:none">Mensaje con lo que sea</div>

	<header id="header-top" class="container">
		<a href="/"><img src="/static/webapp/img/logo2.png" alt="" id="logo"></a>
		<nav id="header-nav">
			<ul>
				<li><a href="http://help.georemindme.com/">Ayuda</a></li>
				<li><a href="http://blog.georemindme.com">Blog</a></li>
				<li><a href="http://m.georemindme.com/">Móvil</a></li>
				<li><a href="http://team.georemindme.com/">Comunidad</a></li>
			</ul>
		</nav>
        
        <div id="login-bar">
            <p>Identifícate usando:</p>
            <ul>
                <li class="twitter" onclick="javascript:window.location='/login/twitter/'" title="Usa tu sesión de Twitter para identificarte"><span>Twitter</span></li>
                <li class="facebook" onclick="javascript:window.location='/login/facebook/'" title="Usa tu sesión de Facebook para identificarte"><span>Facebook</span></li>
                <li class="google" onclick="javascript:window.location='/login/google/'" title="Usa tu sesión de Google para identificarte"><span>Google</span></li>
                <li class="georemindme" title="Identifícate usando tus datos de GeoRemindMe"><span>GeoRemindMe</span></li>
            </ul>
            <div id="georemindme-form" style="display:none">
                <form action="." method="post" id="loginForm">
                    <input type="text" name="email" placeholder="Email"/>
                    <input type="password" name="password" id="password" placeholder="Contraseña"/>
                    <input type="submit" id="login-btn" value="Entrar" />
                    <div id="login-submenu">
                        <span onclick="checkUncheck(this)"><input name="user_login-remember_me" type="checkbox" /> Recordarme</span>
                        <span><a href="/remind/" class="link">Recuperar contraseña</a></span>
                        <span class="link" onclick="javascript:showMenu()">Cancelar</span>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
		
		
		
	</header>
	<div id="background-login">
		<div id="main" class="container">
			<section id="left-block">
				
                <div id="left-arrow">
<!--
                    <img src="/static/webapp/img/left-arrow.png" alt="">
-->
                    <span>&nbsp;</span>
                </div>
				<div id="rollover">
					<p class="intro-text"><span class="bigger-intro-text"><strong>Compartir y recibir sugerencias</strong> usando tus redes sociales</span></p>
					<div class="users-box">
						<article>
							<img src="/static/webapp/img/kaos.png" alt="" class="user-avatar">
							<p class="user-name">hhkaos</p>
							<p class="user-suggestion">Deberías ir al hackathon. Conoces mucha gente y aprendes un montón. Ya verás lo enrrollados que sosmos.</p>
						</article>
						<article>
							<img src="/static/webapp/img/anna.png" alt="" class="user-avatar">
							<p class="user-name">annalogik</p>
							<p class="user-suggestion">Y tenemos galletitas! :D</p>
						</article>
					</div>
				</div>
				<div id="right-arrow">
                    <span>&nbsp;</span>
<!--
                    <img src="/static/webapp/img/right-arrow.png" alt="">
-->
                </div>
				
<!--
				<p class="bottom-p">Ya somos XXX personas compartiendo YYY sugerencias.</p>
-->
			</section>
			<section id="right-block">
				<h2>¿Eres nuevo?</h2>
                <div id="register-with-social">
                    <p>Crea tu perfil utilizando una de tus cuentas.</p>
                    <ul id="register-menu">
                        <li id="twitter"><span>Twitter</span></li>
                        <li id="facebook" class="active"><span>Facebook</span></li>
                        <li id="google"><span>Google</span></li>
                    </ul>
                    <a href="http://localhost:8080/ext/twitter/perms" id="register-btn">Regístrate</a>
                </div>
				
				
				<p class="register-text-aux">O crea una nueva cuenta desde cero y conéctala.</p>
                <div style="display:none" id="registerForm">
                    <form action="" method="POST">
                        <input type="text" name="username" value="" placeholder="Nombre de usuario"/>
                        <input type="text" name="email" value="" placeholder= "Email" />
                        <input type="password" name="pass1" id="pass1" placeholder="Contraseña"/>
                        <input type="submit" value="Continuar"/>
                    </form>
                </div>
			</section>
<!--
			<div id="avatar-chain">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
			</div>
-->

		</div>
	</div>
	
	<footer id="footer" class="container">
		<div class="footer-links">
			Idioma · <a href="#">Español</a> · <a href="#">Inglés</a> 
<!--
            · <a href="#">Francés</a> · <a href="#">Wookiee</a>
-->
		</div>
		<div class="footer-links right-links">
			<a href="http://jobs.georemindme.com/">Empleo</a> · <a href="http://www.georemindme.com/press/">Prensa</a> · <a href="http://www.georemindme.com/sitemap">Mapa del sitio</a>
		</div>
	</footer>
</body>
</html>
