{% load tags %}
<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<title>GeoRemindMe!</title>
	<meta name="google-site-verification" content="VzbSgMqvrPL6WuAhRfBzAFXM0GyU73igO1yjheV2Tc4" />

	<link type="text/css" rel="stylesheet" href="/static/webapp/style/main.css">
	<script type="text/javascript" src="/static/webapp/js/jquery.js"></script>
    <script type="text/javascript" src="/static/webapp/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/facebookApp/js/grm.js"></script>
    <script type="text/javascript" src="/static/webapp/js/common.js"></script>

    
    <script type="text/javascript">
		$(document).ready(function() {
			
			/*** login function ***/
			$('#loginForm').submit(function(e){
				e.preventDefault();
				$.ajax({
					type: "POST",
					url: "/ajax/login/",
					dataType:'json',
					data: {
						"user_login-email":$(this).find('[name="email"]').val(),
						"user_login-password":$(this).find('[name="password"]').val(),
						"csrfmiddlewaretoken":$(this).find('[name="csrfmiddlewaretoken"]').val()
					},
					success: function(msg){
						if(msg.error!="")
							showMessage(msg.error,"error");
						else
							window.location=msg._redirect;
					}
				});
			});
			
			/*** terms check ***/
			$('#textTermsCheckbox').click(function(){
				var item = $(this).parent().find('input');
				item.attr('checked',!item.is(':checked'));
			});
			
			/*** select social ***/
			$('#register-menu li').click(function(e){
				
				var lastActive=$('#register-menu li.active');
				$(lastActive).removeClass("active");
				if($(lastActive).attr("id")!=$(this).attr("id")){
					//Si no está deseleccionado lo activamos
					$(this).addClass("active");
				}
			});
			
			/*** placeholding ***/
			$("[placeholder]").placeholder();
			
			/*** slide up/down register ***/
			$('.register-text-aux').toggle(function(){
					$('#registerForm').slideDown(400);
					$("#register-with-social").slideUp(400);
					$(this).addClass("close");
				},function(){
					$('#registerForm').slideUp(400);
					$("#register-with-social").slideDown(400);
					$(this).removeClass("close");
			})
			
			/*** social register button ***/
			$('#register-btn').click(function(e){
				e.preventDefault();
				
				var network=$('#register-menu li.active');
				if(network.length==0){
					//Mensaje
					showMessage("Primero selecciona una de la redes","error")
				}else{
					var register_link="/login/"+network.attr('id')+"/";
					$(this).attr('href',register_link)
					if($(this).attr('onclick') === undefined || $(this).attr('onclick')==null){
						window.location=$(this).attr('href');
					} else {
						$(this).click ();
					}
				}
				
			})

			/*** show georemindme login ***/
			$('.georemindme').click(function(){
			   $('#login-bar p').hide();
			   $('#login-bar ul').hide();
			   $('#georemindme-form').show();
			});
			
			/*** check passwords ***/
			$('#userRegisterPass1,#userRegisterPass2').blur(function() { checkPasswords(false) });
			/*** check email ***/
			$('#registerEmail').blur(function() { checkEmail(); });
			$('#registerEmail').keyup(function() { $('#emailStatus').hide(); $('#registerEmail').next('div').hide();$('#registerEmail').next('div').text(''); });

        
			/*** register form ***/
			$('#registerFormForm').submit(function (e){

			   if (typeof(REQUEST) != "undefined" && REQUEST)
				  REQUEST.abort();
			   
			   e.preventDefault();
			   
			   var a = checkPasswords();
			   var b = checkEmail(true);
			   var c = checkTerms();
			   
			   if (!a || !b || !c){
				  return;
			  }
			   
			   var data = {
				  "user_register-email":function() { return $('#registerEmail').val() },
				  "user_register-password":function() { return $('#userRegisterPass1').val() },
				  "user_register-password2":function() { return $('#userRegisterPass2').val() }
				  };
			   
			   GRM.wait();
			   
			   $('#msgRegisterEmail').hide();
			   $('#msgRegisterPass').hide();
			   
			   REQUEST = $.ajax({
				  url: "/ajax/register/",
				  dataType: 'json',
				  data: data,
				  success: function(data){
					 if (typeof(data.errors)!="undefined")
					 {
						if(typeof(data.errors.email)!="undefined"){
						   showMessage(data.errors.email,"error")
						}
						if (typeof(data.errors.password)!="undefined"){
						   showMessage(data.errors.password,"error")
						}
						
					   GRM.nowait();
					 }
					 else
					 {
						if(typeof(data._redirect)!="undefined")
						{
						   REDIRECT = data._redirect;
						   setTimeout(function(){window.location = REDIRECT}, 1000);
						}
					 }
					 
					 REQUEST=null;
				  },
				  error: function(data){GRM.nowait();REQUEST=null;},
				  type:"POST",
				  async:true
				});
			   
			   // Si es correcto => Redirect
			});
		});
		
		function checkEmail() {
			
			var email = $('#registerEmail').val();
			var item = $('#registerEmail').next('div');
			var st = $('#emailStatus');
			st.show();
			item.text('');
			

			if (email=='Email') {
				item.text('Necesitamos que rellenes el email');
				item.show();
				st.removeClass("ok").addClass("no-ok");
				return false;
				}
			
			if (!GRM.common.checkemail(email)) {
				item.text('E-mail inválido');
				item.show();
				st.removeClass("ok").addClass("no-ok");
				return false;
			}
			else {
				$.ajax({
					url:"/ajax/exists/",
					type:'post',
					dataType:'json',
					data: {email: email  },
					async:true,
					success: function(data){ 
				
						if(data.result){
							item.text("Esta cuenta ya está siendo usada");
							item.show();
							st.removeClass("ok").addClass("no-ok");
						}
						else
						{
							//item.text("Esta cuenta ya está siendo usada");
							st.removeClass("no-ok").addClass("ok");
							item.hide();
						}
					}
				});
			}
			
			return true;
			}

		function checkTerms() {
			if (!$('#termsCheckbox').is(":checked")) {
			   showMessage("Debes de estar de acuerdo con blabla","error");
			   return false;
			}
			return true;
			}

		function checkPasswords(emptymessage) {
			
			var pwd1 = $('#userRegisterPass1').val(), pwd2 = $('#userRegisterPass2').val();
			
			if (pwd1.length==0 || pwd2.length==0) {
				if (emptymessage)
					showMessage("Las contraseñas estan vacias","error");
				return false;
				}
			
			if (pwd1!=pwd2){
				showMessage("Las contraseñas no coinciden","error");
				return false;
				}
			
			if (pwd1.length<6){
				showMessage("Contraseña demasiado cortas","error");
				return false;
				}
			
			return true;
			}
        
        function showMenu(){
            $('#login-bar p').show();
            $('#login-bar ul').show();
            $('#georemindme-form').hide();
        }
		
        function checkUncheck(obj){
            var checkbox=$(obj).find('input');
            if($(checkbox).attr('checked')==true)
                $(checkbox).attr('checked',false);
            else
                $(checkbox).attr('checked',true)
        }
        
	</script>
	
</head>
<body id="loginSec">
    <div id="notification-msg" style="display:none">Mensaje con lo que sea</div>

	<header id="header-top" class="container">
		<a href="/"><img src="/static/webapp/img/logo2.png" alt="" id="logo"></a>
		<nav id="header-nav">
			<ul>
				<li><a href="http://help.georemindme.com/">Ayuda</a></li>
				<li><a href="http://blog.georemindme.com">Blog</a></li>
				<li><a href="http://m.georemindme.com/">Móvil</a></li>
				<li><a href="http://team.georemindme.com/">Comunidad</a></li>
			</ul>
		</nav>

        <div id="login-bar">
            <p>Identifícate usando:</p>
            <ul>
                <li class="twitter" onclick="javascript:window.location='/login/twitter/'" title="Usa tu sesión de Twitter para identificarte"><span>Twitter</span></li>
                <li class="facebook" onclick="javascript:window.location='/login/facebook/'" title="Usa tu sesión de Facebook para identificarte"><span>Facebook</span></li>
                <li class="google" onclick="javascript:window.location='/login/google/'" title="Usa tu sesión de Google para identificarte"><span>Google</span></li>
                <li class="georemindme" title="Identifícate usando tus datos de GeoRemindMe"><span>GeoRemindMe</span></li>
            </ul>
            <div id="georemindme-form" style="display:none">
                <form action="." method="post" id="loginForm">
                    <input type="text" name="email" placeholder="Usuario o email"/>
                    <input type="password" name="password" id="password" placeholder="Contraseña"/>
                    <input type="submit" id="login-btn" value="Entrar" />
                    <div id="login-submenu">
                        <span onclick="checkUncheck(this)"><input name="user_login-remember_me" type="checkbox" /> Recordarme</span>
                        <span><a href="/remind/" class="link">Recuperar contraseña</a></span>
                        <span class="link" onclick="javascript:showMenu()">Cancelar</span>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
		
		
		
	</header>
	<div id="background-login">
		<div id="main" class="container">
			<section id="left-block">
				
                <div id="left-arrow">
<!--
                    <img src="/static/webapp/img/left-arrow.png" alt="">
-->
                    <span>&nbsp;</span>
                </div>
				<div id="rollover">
					<p class="intro-text"><span class="bigger-intro-text"><strong>Compartir y recibir sugerencias</strong> usando tus redes sociales</span></p>
					<div class="users-box">
						<article>
							<img src="/static/webapp/img/kaos.png" alt="" class="user-avatar">
							<p class="user-name">hhkaos</p>
							<p class="user-suggestion">Deberías ir al hackathon. Conoces mucha gente y aprendes un montón. Ya verás lo enrrollados que sosmos.</p>
						</article>
						<article>
							<img src="/static/webapp/img/anna.png" alt="" class="user-avatar">
							<p class="user-name">annalogik</p>
							<p class="user-suggestion">Y tenemos galletitas! :D</p>
						</article>
					</div>
				</div>
				<div id="right-arrow">
                    <span>&nbsp;</span>
<!--
                    <img src="/static/webapp/img/right-arrow.png" alt="">
-->
                </div>
				
<!--
				<p class="bottom-p">Ya somos XXX personas compartiendo YYY sugerencias.</p>
-->
			</section>
			<section id="right-block">
				<h2>¿Eres nuevo?</h2>
                <div id="register-with-social">
                    <p>Crea tu perfil utilizando una de tus cuentas.</p>
                    <ul id="register-menu">
                        <li id="twitter"><span>Twitter</span></li>
                        <li id="facebook" class="active"><span>Facebook</span></li>
                        <li id="google"><span>Google</span></li>
                    </ul>
                    <a href="http://localhost:8080/ext/twitter/perms" id="register-btn">Regístrate</a>
                </div>
				
				
				<p class="register-text-aux">O crea una nueva cuenta desde cero y conéctala.</p>
                <div style="display:none" id="registerForm">
                    <form action="." method="POST" id="registerFormForm">
<!--
                        <input type="text" name="" value="" placeholder="Nombre de usuario"/>
-->
                        <span id="emailStatus" style="float:right;display:none;" class="ok">&nbsp;</span><input type="text" name="registerEmail" id="registerEmail" placeholder= "Email" />
                        <div></div>
                        <input type="password" name="userRegisterPass1" id="userRegisterPass1" placeholder="Contraseña"/>
                        <input type="password" name="userRegisterPass2" id="userRegisterPass2" placeholder="Repite la contraseña"/>
                        <div>Las contraseñas no coinciden</div>
                        <div id="agreement">
                            <input type="checkbox" id="termsCheckbox" title="Check this box if you agree" value="terms"/>
                            <span id="textTermsCheckbox">I have read and I accept the <a href="/tos" class="hoverlink">Terms of Service</a>.</span>
                        </div>
						{% csrf_token %}
                        <input type="submit" value="Continuar"/>
                    </form>
                </div>
			</section>
<!--
			<div id="avatar-chain">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
				<img src="/static/webapp/img/avatar.png" alt="" class="reflect">
			</div>
-->

		</div>
	</div>
	
	<footer id="footer" class="container">
		<div class="footer-links">
			Idioma · <a href="#">Español</a> · <a href="#">Inglés</a> 
<!--
            · <a href="#">Francés</a> · <a href="#">Wookiee</a>
-->
		</div>
		<div class="footer-links right-links">
			<a href="http://jobs.georemindme.com/">Empleo</a> · <a href="http://www.georemindme.com/press/">Prensa</a> · <a href="http://www.georemindme.com/sitemap">Mapa del sitio</a>
		</div>
	</footer>
</body>
</html>
