{% extends "webapp/base_registered.html" %}
{% load i18n %}
{% load tags %}

{% block title %}Configuración de la cuenta{% endblock %}
{% block goBack %}{%endblock%}
{% block body %}
    <div id="profile">
        
        <h1>Configuración de la cuenta</h1>
        <a href="{% url2 in_facebook edit_settings %}" class="btn" id="edit-settings-btn">Editar</a> 
        
        <div class="section">
            <div class="header">
                <h2>Notificaciones</h2>
                <div class="help-icon"><img src="/static/webapp/img/help.png" alt="Help" id="help-notifications"></div>
            </div>
            
            
            
            
            <p>Te llegarán notificaciones por email cuando:</p>
            <dl id="mail-notifications">
                <dt>Otro usuario empieza a seguir tus sugerencias</dt>
                <dd>{{user.settings.time_notification_account}}</dd>
                
                <dt>Recibes un comentario en una sugerencia</dt>
                <dd>{{user.settings.time_notification_suggestion_comment}}</dd>
                
                <dt>Persona guarda una sugerencia tuya</dt>
                <dd>{{user.settings.time_notification_suggestion_follower}}</dd>
            </dl>
        </div>
        
        <div class="section">
            <div class="header">
                <h2>Control de cuentas</h2>
                <div class="help-icon"><img src="/static/webapp/img/help.png" alt="Help" id="help-accounts-control"></div>
            </div>
            
            <p>
                No queremos ser <em>otra red social más</em>; sino una herramienta de enlace entre tus redes actuales para gestionar tus recomendaciones.<br>
                Por ello, para una mejor experiencia puede autorizarnos para:
            </p>
            <ul>
                <li><strong>Identificación</strong>: si quieres que no te pidamos que te identifiques si ya estás identificado en otra red.</li>
                <li><strong>Comunicación</strong>: si quieres que tus sugerencias lleguen a tus amigos, followers, etc. y para poder sugerirte conocidos tuyos a los que podrías seguir para no perderte sus sugerencias.</li>
            </ul>
            
            <table>
                <tr id="head">
                    <td>Red</td>
                    <td>Identificación</td>
                    <td>Comunicaciones</td>
                </tr>
                <tr>
                    <td><span id="facebook-icon">Facebook</span></td>
                    <td>Permitido</td>
                    <td>Permitido</td>
                </tr>
                <tr>
                    <td><span id="twitter-icon">Twitter</span> </td>
                    <td>
                        {% if not user.twitter_user %}
                            <a href="/login/twitter/?cls" target="_blank">Autorizar</a> 
                        {% else %}
                            <a href="/oauth/revocate/twitter" target="_blank">Revocar</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if not user.has_perms_twitter %}
                            <a href="/ext/twitter/perms" target="_blank">Autorizar</a> 
                        {% else %}
                            <a href="http://twitter.com/settings/applications" target="_blank">Revocar</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><span id="google-icon">Google</span> </td>
                    <td>
                        {% if not user.google_user %}
                            <a href="/login/google/?cls">Autorizar</a>
                        {% else %}
                            <a href="/oauth/revocate/google" target="_blank">Revocar</a>
                        {% endif %}
                    </td>
                    <td>
                        <em>Esperando la API de Google+</em>
<!--
                        {% if not user.google_user.has_perms %}
                            <a href="/ext/google/contacts?cls" target="_blank">Autorizar</a> 
                        {% else %}
                            <a href=""/oauth/revocate/google" target="_blank">Revocar</a>
                        {% endif %}
-->
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="section">
            <div class="header">
                <h2>Privacidad</h2>
                <div class="help-icon"><img src="/static/webapp/img/help.png" alt="Help" id="help-privacy"></div>
            </div>
        
            
            <p>
                <strong>Visibilidad del perfil</strong>: 
                {% if settings.show_public_profile %} 
                    Público
                {% else %}
                    Privado
                {% endif %}
            </p>
            <p>Por defecto todas las sugerencias y listas de sugerencias serán mostradas públicamente, aunque siempre existe la posibilidad de cambiarles individualmente la visibilidad.</p>
        </div>
        
        <div class="section">	
            <div class="header">
                <h2>Idioma</h2>
                <div class="help-icon"><img src="/static/webapp/img/help.png" alt="Help" id="help-language"></div>
            </div>
            
            {% get_available_languages as LANGUAGES %}
            {% get_current_language as LANGUAGE_CODE %}
            <p>
                <strong>Idioma de la interfaz:</strong>
                {% for code, name in LANGUAGES %}
                    {%if LANGUAGE_CODE == code %}{{name}}{% endif %} 

                {% endfor %}
                <a href="{% url2 in_facebook edit_settings %}" class="btn" id="edit-settings-btn">Editar</a> 
            </p>
        </div>
        
    </div>
        
        
        <hr>
        <div id="desinstall">
            <a href="">Desinstalar la aplicación</a> | 
            <a href="">Cancelar mi cuenta en GeoRemindMe</a>
        </div>
    </div>
    
    <div class="help-txt" style="display:none" id="help-notifications-text" title="Ayuda: Notificaciones">
        <p>Texto de ayuda notificaciones</p>
        <p>Si tienes alguna pregunta puedes hacerla desde <a href="">la página de la comunidad</a>.</p>
    </div>
    
    <div class="help-txt" style="display:none" id="help-accounts-control-text" title="Ayuda: Control de cuentas">
        <p>Texto de ayuda control de cuentas</p>
        <p>Si tienes alguna pregunta puedes hacerla desde <a href="">la página de la comunidad</a>.</p>
    </div>
    
    <div class="help-txt" style="display:none" id="help-privacy-text" title="Ayuda: Privacidad">
        <p>Texto de ayuda privacidad</p>
        <p>Si tienes alguna pregunta puedes hacerla desde <a href="">la página de la comunidad</a>.</p>
    </div>
    
    <div class="help-txt" style="display:none" id="help-language-text" title="Ayuda: Idioma">
        <p>Texto de ayuda idioma</p>
        <p>Si tienes alguna pregunta puedes hacerla desde <a href="">la página de la comunidad</a>.</p>
    </div>
    
{% endblock %}
