{% extends "webapp/base.html" %}
{% load i18n %}
{% block login %} {%endblock%}

{%block section%}id="social-profile"{%endblock%}

{% block content %}
    <p>Para poder empezar a usar la aplicación ya solo necesitamos que rellenes los siguientes datos.</p>
    <form method="post" action=".">
        {% csrf_token %}
        
        <div class="field-and-label">
            <label for="id_pass_remind-email">Email:</label>
            {{form.email}}        
            <div id="errorTerms">{{form.email.errors}}</div>
        </div>
        
        <div class="field-and-label">
            <label for="id_pass_remind-username">Username:</label>
            {{form.username}}
            <div id="errorTerms">{{form.username.errors}}</div>
        </div>
        
        <div><input type="submit" value="{% trans "Send" %}" title="{% trans "Please fill up all fields" %}"></div>
    </form>
{%endblock%}
