			<div id="left-col">
				<div id="search_bar">
					<form action="." method="post">
						<input type="text" placeholder="Ejemplo: tapas en granada, turismo, paisajes, etc." readonly>
						<input type="submit" value="Buscar" class="btn">
					</form>
				</div>
				<hr>
				{% block extraContent %} {% endblock %}
				
                <div class="black-box">
                    <p><em>Sugerencias cerca tuya</em>: (Granada) <span class="hoverlink">Cambiar</span></p>
                    <ul id="close-suggestions">
    <!--
                        <li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Probar una hamburguesa en el Brasilia</a></li>
                        <li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Tomar un heladito de café con turrón en Los Italianos, ¡preferentemente en tarrina!</a></li>
                        <li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Ver un atardecer desde el mirador de San Nicolás</a></li>
    -->
                        <li style="text-align: center; line-height: 16px; color: rgb(204, 204, 204);">
                            <p style="background-color:inherit;">Cargando</p>
                            <img src="/static/webapp/img/loader3.gif" style="width: 16px; height: 16px; float: none; display: inline; margin: 0pt 0pt 0pt 5px;"/>
                        </li>
                    </ul>
                    <div id="csrfmiddleware" style="display:none">{%csrf_token%}</div>
                    <p><span class="hoverlink view-more">Ver más</span></p>
                </div>
				<script type="text/javascript">
                    if($.cookie('near_suggestions')==null){                    
                        $.ajax({
                            type: "POST",
                            url: "/ajax/get/near/suggestions/",
                            data: {
                                //location: $(this).find('input').val(),
                                radius: 5000,
                                csrfmiddlewaretoken:$('#csrfmiddleware input').val()
                                
                            },
                            dataType:'json',
                            success: function(data){
                                //console.log(data);
                                $('#close-suggestions').empty();
                                $(data).each(function(i,elem){
                                    $('#close-suggestions').append('<li><a href="/user/'+elem.username+'/" class="clean"><img src="/user/'+elem.username+'/picture/" alt="'+elem.username+'"></a><a href="/suggestion/'+elem.slug+'/">'+elem.name+'</a></li>');
                                })
                                
                                //Set cookie
                                $.cookie('near_suggestions',$('#close-suggestions').html());
                            }
                        });
                    }else{
                        console.log($.cookie('near_suggestions'))
                    }
				</script>
				
				
				<hr>
				<div class="black-box">
                    <p><em>Sugerencias más relevantes</em>:</p>
                    <ul id="trending-suggestions">
                        
                        <li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Probar una hamburguesa en el Brasilia</a></li>
                        <li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Tomar un heladito de café con turrón en Los Italianos, ¡preferentemente en tarrina!</a></li>
                        <li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Ver un atardecer desde el mirador de San Nicolás</a></li>
                    </ul>
                    <p><span class="hoverlink view-more">Ver más</span></p>
                </div>
                <hr>
                <footer id="footer" class="container">
                    <div class="footer-links">
                        Idioma · <a href="#">Español</a> · <a href="#">Inglés</a> 
            <!--
                        · <a href="#">Francés</a> · <a href="#">Wookiee</a>
            -->
                    </div>
                    <div class="footer-links">
                        <a href="http://jobs.georemindme.com/">Empleo</a> · <a href="http://www.georemindme.com/press/">Prensa</a> · <a href="http://www.georemindme.com/sitemap">Mapa del sitio</a>
                    </div>
                </footer>
			</div>
