{% extends "webapp/base_anonymous.html" %}

{% load i18n %}
{% load tags %}
{% load filters %}

{% block title %}{{suggestion.name}}{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        <!-- Definimos la variable global necesaria para pedir las fotos a Panoramio -->    
        latlngStr = "{{suggestion.poi.location}}".split(",",2);
    </script>
    
    {% if request.META.REMOTE_ADDR = "127.0.0.1" %}
        <script type="text/javascript" src="/static/common/js/view_suggestion.js"></script>    
    {% else %}
        <script type="text/javascript" src="/static/common/js/view_suggestion.min.js"></script>    
    {% endif %}
    
    

{%endblock%}

{% block body %}
    <div id="view-suggestion">
        
        <div class="suggestion">
        <div>
            
                
            <h1>
<!--
                <img src="{% embedded_avatar suggestion.user.username %}" title="{{suggestion.user.username}}"/>
-->
                <a href="{% url2 in_facebook public_profile suggestion.user.username %}">{{suggestion.user.username}}</a> sugiere:
                <span id="suggestion-vote-counter">
                        <span class="none" {% if suggestion.counters.votes > 0%}style="display:none"{%endif%}>Aún no ha recibido valoraciones</span>
                        <span class="votes-msg" {% if suggestion.counters.votes = 0%}style="display:none"{%endif%}>Valoraciones recibidas: <span id="vote-counter">{{suggestion.counters.votes}}</span></span>
                </span>
                
                <br>
                {{suggestion.name}}
            </h1>
            {% if suggestion.description %}
                <p class="more-info"><strong>Instrucciones/explicación</strong>: <br>{{suggestion.description|urlize|twitterize|linebreaksbr}} </p>
            {% endif %}
            
            {% if suggestion.date_starts or suggestion.date_ends %}
            <p class="more-info">
                    <strong>Fecha</strong>: 
                    [25/04/2011 al 30/05/2011]<br>
                
            </p>
            {% endif %}
            
            
                
            
            <p id="in-lists" class="more-info">
                <strong>Listas en las que aparece</strong>:
                
                
                <span class="no-lists" {% if in_lists %}style="display:none"{% endif %}> esta sugerencia aún no se encuentra en ninguna lista.</span>
                
                <span id="list-lists">
                {% for obj in in_lists %}
                    {%if obj.visibility == 'public' %}
                        <a href="{%url2 in_facebook view_list obj.id%}" value="{{obj.id}}" class="hoverlink">{{obj.name}}</a>{%if not forloop.last%}, {%endif%}
                    {% endif %}
                {% endfor %}
                </span>
                
            </p>
            
            
            {% if suggestion.tags %}
                <p id="tag-list-label"><strong>Palabras clave</strong>:</p> 
                <ul id="tag-list">
                {% for tag in suggestion.tags %}
                    <li>
<!--
                        <form action="{% url2 in_facebook search_suggestions tag %}" method="post">
                            <input type="hidden" name="suggestion" value="suggestion">
                            <input type="submit" value="{{tag}}">
                        </form>
-->
                        <a href="{%url2 in_facebook view_tag_suggestions tag%}" class="hoverlink">{{tag}}</a>
                        {%if not forloop.last %}, {%endif%}
                    </li>
                {% endfor %}
                </ul>
                
            {% endif %}
            
                
            
            <hr>
            <div class="address">
                <p>
                    <strong>Lugar</strong>: <a href="{% url2 in_facebook view_place suggestion.poi.slug %}" class="hoverlink">{{suggestion.poi.name}}</a>
                    -
                    <strong>Dirección</strong>:
                    <a href="http://maps.google.com/maps?q={{suggestion.poi.address}}&t=h&z=16" class="dark-link" target="_blank">{{suggestion.poi.address}}</a>
                    
                </p>
            </div>
             <div class="right">
				<div id="wapiblock"><div id="panoramio-imgs"></div></div>
			</div>
            
			
<!--
            <p>Reportar localización errónea</p>
            <p>Reportar sugerencia duplicada</p>
-->
<!--
			<hr class="clear">
-->
			
			<a title="Más detalles sobre: {{suggestion.poi.name}}" href="{% url2 in_facebook view_place suggestion.poi.slug %}">
					<img src="http://maps.googleapis.com/maps/api/staticmap?center={{suggestion.poi.location}}&zoom=14&size=210x150&maptype=roadmap
&markers=color:blue%7Clabel:S%7C{{suggestion.poi.location}}&sensor=false">
            </a>
            
            <div><strong>Fotos de la zona :</strong><span id="panoramio-tos"></span></div>
            
			<hr>
            
            <ul id="action-bar">
                <li id="print-icon"><a href="?print" target="_blank" class="hoverlink"><img src="/static/common/img/transparent.gif"> Imprimir</a></li>
                {% if request.user.username %}
                    <li id="add-to-list" value="{{suggestion.id}}">
                        <span class="hoverlink" onclick="javascript:$('#add-to-list .dropDownBtn').show();"><img src="/static/common/img/transparent.gif"> Añadir a una lista </span>
                        <span class="btn dropDownBtn" style="display:none">
                            <span class="save-at">---------</span>
                            <ul class="submenu" style="display:none" id="dropdown-list">
                                {% if lists %}
                                    {% for obj in lists %}
                                            <!-- Solo se muestran mis listas -->
                                            <li value="{{obj.id}}"><span class="checkbox name">{{obj.name}}</span> (<span class="list-{{obj.id}}-counter">{{obj.keys|length}}</span> sugerencias)</li>

                                    {% endfor %}
                                {% endif %}
                                <li class="new-list-btn">
                                    <span id="text">Nueva lista...</span>
                                    <span class="new-list" style="display:none"><input type="text" /></span><div id="cancel-link" onclick="closeDropdown()" style="display:none">Cancel</div>
                                </li>
                            </ul>
                        </span>
                    </li>
                    {%endif%}
                    {% if user.username and suggestion.user.username != user.username %}
                    <li>
                        <span class="btn likeBtn" id="save-btn">
                            <span title="Guardar en favoritos"  class="remember-forget" value="{{suggestion.id}}" type="suggestion" {%if user_follower%}remember="true"{%endif%}>
                                <img src="/static/common/img/transparent.gif">
                                <span class="remember hoverlink" {%if user_follower%}style="display:none"{%endif%}>
                                    Guardar
                                </span>
                                <span class="forget hoverlink" {%if not user_follower%}style="display:none"{%endif%}>
                                    Guardada
                                </span>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="likeBtn btn">
                            <span class="like-dislike-suggestion likex16" value="{{suggestion.id}}" {% if has_voted %}like="true"{%endif%} type="suggestion">
                                <img src="/static/common/img/transparent.gif">
                                <span class="dislike">
                                    <span class="text hoverlink" {% if not has_voted %}style="display:none"{%endif%}>Ya no me gusta</span> 
                                </span>
                                
                                <span class="like">
                                    <span class="text hoverlink" {% if has_voted %}style="display:none"{%endif%}>Me gusta</span> 
                                </span> 
                            </span>
                        </span>
                    </li>
                {%endif%}
            </ul>
                
                
             </div>
             
            
            
            

			
			
			
        </div>

        
        
        {% if top_comments %}
            <div id="popular-box" class="clear">
                <p class="popular"><img src="/static/common/img/transparent.gif">Los comentarios más populares</p>
                <ul class="comments" id="popular-comments">
                    {% for c in top_comments %}
                        <li class="comment-element" {% if forloop.first %}style="border-top:0px"{% endif %}>
                    
                            <!-- Añadimos el botón de borrar comentario-->
                            {% if c.username = user.username %}
                                <div class="removable" value="{{c.id}}" type="comment"><a href="#">Remove</a></div>
                            {% endif %}
                                                    
                            <span class="user"><img src="{% embedded_avatar c.username %}" alt="{{c.username}} avatar"></span>
                            <div style="float:left;width:460px;">
                                <span class="msg"><a href="{% url2 in_facebook public_profile c.username%}" class="dark-link">{{c.username}}</a>: {{c.msg}}</span>
                                <span class="timestamp">{{c.created|naturaltime}}</span> 
                                {% if c.username != user.username %}
                                    <span class="action-bar" style="display:none">
                                        &nbsp;-
                                        <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                                            <span class="dislike">
                                                <span class="hoverlink">Ya no me gusta</span> 
<!--
                                                <span class="text like-text {% if not c.has_voted %}increase{% endif %}">{{c.vote_counter}}</span> personas
-->
                                            </span>
                                            
                                            <span class="like">
                                                <span class="hoverlink">Me gusta</span> 
                                            </span>
                                        </span>
                                    </span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if request.user.is_authenticated %}
        <p class="clear big">¿Tienes algo que añadir a esta sugerencia?</p>
        <textarea id="msg"></textarea>
<!--
        <ul id="feeling">
            <li>Happy</li>
            <li>Glad</li>
            <li>Sad</li>
        </ul>
-->
        <span class="btn" onclick="sendComment(this,'event',{{suggestion.id}});">Comentar</span>
        {%endif%}
        
        {% if comments %}
        <ul class="comments" id="comment-list">
            {% for c in comments.1 %}
                <li class="suggestion-element" {% if forloop.last %}style="border-bottom:1px dotted #BBBBBB"{% endif %}>
                    
                    <!-- Añadimos el botón de borrar comentario-->
                    {% if c.username = user.username %}
                        <div class="removable" value="{{c.id}}" type="comment"><a href="#">Remove</a></div>
                    {% endif %}
                                            
                    <span class="user"><img src="{% embedded_avatar c.username %}" alt="{{c.username}} avatar"></span>
                    <div style="float:left;width:460px">
                        <span class="msg"><a href="{% url2 in_facebook public_profile c.username%}" class="dark-link">{{c.username}}</a>: {{c.msg}}</span>
                        <span class="timestamp">{{c.created|naturaltime}}</span> 
                        {% if c.username != user.username %}
                            <span class="action-bar" style="display:none">
                                &nbsp;- 
                                <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                                    <span class="dislike">
                                        <span class="hoverlink">Ya no me gusta</span> 
<!--
                                        <span class="text like-text {% if not c.has_voted %}increase{% endif %}">{{c.vote_counter}}</span> personas
-->
                                    </span>
                                    
                                    <span class="like">
                                        <span class="hoverlink">Me gusta</span> 
                                    </span>
                                </span>
                            </span>
                        {% endif %}
                        
                    </div>
                </li>
            {% endfor %}

        </ul>
        {% endif %}
        {% if comments.1|length == 8 %}
            <div class="load-more">Cargar más</div>
        {% endif %}
    </div>
    
    <ul id="lightbox">
    </ul>
    {% if request.user.is_authenticated %}
        <script id="commentTemplate" type="text/x-jquery-tmpl">
            <li class="suggestion-element">
                <div class="removable" value="${id}" type="comment"><a href="#">Remove</a></div>
                <span class="user"><img src="{% embedded_avatar user.username %}" alt="{{user.username}} avatar"></span>
                <div style="float:left;width:460px">
                    <span class="msg"><a href="{% url2 in_facebook public_profile user.username%}" class="dark-link">{{user.username}}</a>: ${msg}</span>
                    <span class="timestamp">0 minutes ago</span>
                </div>
            </li>
        </script>
    {% endif %}
{% endblock %}
