			<div id="left-col">
				<div id="search_bar">
					<form action="." method="post">
						<input type="text" placeholder="Ejemplo: tapas en granada, turismo, paisajes, etc." readonly>
						<input type="submit" value="Buscar" class="btn">
					</form>
				</div>
				<hr>
				{% block extraContent %} {% endblock %}
				
				<p><em>Sugerencias cerca tuya</em>: (Granada) <span class="hoverlink">Cambiar</span></p>
				<ul id="close-suggestions">
					<li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Probar una hamburguesa en el Brasilia</a></li>
					<li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Tomar un heladito de café con turrón en Los Italianos, ¡preferentemente en tarrina!</a></li>
					<li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Ver un atardecer desde el mirador de San Nicolás</a></li>
				</ul>
				
				<script type="text/javascript">
					$.ajax({
						type: "POST",
						url: "/ajax/get/near/suggestions/",
						data: {
							//location: $(this).find('input').val(),
							radius: 5000,
							
						},
						dataType:'json',
						success: function(data){
							console.log(data);
						}
					});
				</script>
				
				<p><span class="hoverlink view-more">Ver más</span></p>
				<hr>
				<p><em>Sugerencias más relevantes</em>:</p>
				<ul id="trending-suggestions">
					<li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Probar una hamburguesa en el Brasilia</a></li>
					<li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Tomar un heladito de café con turrón en Los Italianos, ¡preferentemente en tarrina!</a></li>
					<li><a href="" class="clean"><img src="/static/webapp/img/kaos.png" alt=""></a><a href="">Ver un atardecer desde el mirador de San Nicolás</a></li>
				</ul>
				<p><span class="hoverlink view-more">Ver más</span></p>
				
			</div>
