{% extends "webapp/base_registered.html" %}

{% load i18n %}
{% load tags %}

{% block title %}{{suggestion.name}}{% endblock %}
{% block extra_js %}
    <script src="/static/webapp/js/jquery.tmpl.min.js"></script>
    <script src="/static/facebookApp/js/grm.js"></script>
    <script type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1&amp;hl={{user.settings.language}}"></script>
    <script type="text/javascript" src="http://georemindme.com/media/js/jquery.lightbox-0.5.js"></script> 
    <link rel="stylesheet" type="text/css" href="http://georemindme.com/media/style/jquery.lightbox-0.5.css" media="screen" /> 

    
    <script type="text/javascript">
    $(document).ready(function(){
        //if (typeof resizeIframe != "undefined") resizeIframe();
        $('#comment-list li,#popular-comments li').hover(
            function(){$(this).find('.action-bar').show()},
            function(){$(this).find('.action-bar').hide()}
        );
        
        
        
        //Set like & dislike, remember and removable behaviour
        $(".like-dislike").like();
        $(".like-dislike-suggestion").like({
            callback: function() {
                if($(".like-dislike-suggestion").attr('like')=="true"){
                    var value = parseInt($('#vote-counter').text())+1;
                    $('#vote-counter').text(value);
                    
                    if(value>0){
                        $('#suggestion-vote-counter .none').hide();
                        $('#suggestion-vote-counter .votes-msg').show();
                    }
                }else{
                    var value = parseInt($('#vote-counter').text())-1;
                    $('#vote-counter').text(value);
                    
                    if(value==0){
                        $('#suggestion-vote-counter .none').show();
                        $('#suggestion-vote-counter .votes-msg').hide();
                    }
                }
            }
        });
        $(".remember-forget").remember();
        $(".removable").removable();
        
        //Load Panoramios photos
        var latlngStr = "{{suggestion.poi.location}}".split(",",2);
        var ne={}
        var sw={}

        ne['lat']=parseFloat(latlngStr[0])+0.003004;
        ne['lng']=parseFloat(latlngStr[1])+0.002604;

        sw['lat']=parseFloat(latlngStr[0])-0.000848;
        sw['lng']=parseFloat(latlngStr[1])-0.002609;
        
        var myRequest = new panoramio.PhotoRequest({
          'rect': {'sw': {'lat': sw['lat'], 'lng': sw['lng']}, 'ne': {'lat': ne['lat'], 'lng': ne['lng']}}
        });
        
        var myOptions = {
          'width': 270,
          'height': 180,
          'columns': 1,
          'rows': 1,
          'delay':2.5,
          'croppedPhotos': false,
          //'attributionStyle':panoramio.tos.Style.HIDDEN
        };
        
        var wapiblock = document.getElementById('panoramio-imgs');
        widget = new panoramio.PhotoListWidget(wapiblock, myRequest, myOptions);
        widget.setPosition(0);
        
        $('.panoramio-wapi-loaded-img-div,.panoramio-wapi-images,').css('background-color','#f9f9f9')
		$('.panoramio-wapi-tos').remove()
		
		
		panoramio.events.listen(widget, panoramio.events.EventType.PHOTO_CHANGED, function(){
			$('.panoramio-wapi-empty-img-div').remove()
		});
		
        panoramio.events.listen(widget, panoramio.events.EventType.PHOTO_CLICKED, function(event){
            
            //tmp=event.getPhoto()
            //console.log('Photo "' + event.getPhoto().getPhotoTitle() + '" was clicked')
            
            //return false;
              
        });
        
		$('#panoramio-tos').append('<div class="panoramio-wapi-tos" style="color: black ! important; background-color: #f9f9f9 ! important;font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:10.8px;line-height:16.2px"><a target="_top" href="http://www.panoramio.com"><img width="67" height="14" src="http://www.panoramio.com/img/logo-tos.png"></a><span>, photos are copyrighted by their owners</span></div>');
        
        function addSuggestionToList(obj){
            GRM.wait();
            $.ajax({
                type: "POST",
                url: url["modify_suggestion_list"],
                data: {
                    list_id: [$(obj).attr('value')],
                    suggestions: [$('#add-to-list').attr('value')]
                },
                dataType:'json',
                complete: function(){GRM.nowait();},
                success: function(data){
                    
                    $(obj).find("span.name").addClass("checked");
                    
                    //Actualizamos el contador de la lista
                    counterClass='.list-'+data.id+'-counter';
                    $(counterClass).text(data.keys.length);
                    
                    //Añadimos la lista a "Listas en las que aparece"
                    $('#in-lists').append('<span>, <a href="../list/'+data.id+'" value="'+data.id+'">'+data.name+'</a></span>');
                    
                    //Mostrar mensaje de éxito
                    showMessage("Las sugerencia han sido añadida a la lista","success")
                }
            });    
        }
        
        function removeSuggestionToList(obj){
            GRM.wait();
            $.ajax({
                type: "POST",
                url: url["modify_suggestion_list"],
                data: {
                    list_id: [$(obj).attr('value')],
                    suggestions_del: [$('#add-to-list').attr('value')]
                },
                dataType:'json',
                complete: function(){GRM.nowait();},
                success: function(data){
                    
                    $(obj).find("span.name").removeClass("checked");
                    
                    //Actualizamos el contador de la lista
                    counterClass='.list-'+data.id+'-counter';
                    $(counterClass).text(data.keys.length);
                    
                    //Añadimos la lista a "Listas en las que aparece"
                    $('#in-lists a[value="'+$(obj).attr('value')+'"]').parent().remove();
                    
                    //Mostrar mensaje de éxito
                    showMessage("Las sugerencia ha sido eliminada de la lista","success")
                }
            });    
        }
        
		//Añadimos el comportamiento	
		function onLiClick(obj){
            var checkbox=$(obj).find("span.name");

            if($(checkbox).hasClass("checked"))
                removeSuggestionToList(obj)
            else
                addSuggestionToList(obj)            
        }

		$('span.btn.dropDownBtn').menuList({
			onLiClick: function(){
				//Buscamos el checkbox y lo marcamos/desmarcamos
				onLiClick(this);
			},
			onNewList: function(listname){
			   
				$.ajax({
					type: "POST",
					url: url["modify_suggestion_list"],
					data: {
						name: [listname]
					},
					dataType:'json',
					success: function(data){
						//Añadimos la lista al desplegable
						var c=$("<li value=\""+data.id+"\"><span class=\"checkbox name\">"+data.name+"</span> (<span class=\"list-"+data.id+"-counter\">"+data.keys.length+"</span> sugerencias)</li>").insertBefore('.new-list-btn');
						c.click(function(){onLiClick(this)});
						
						//Forzamos el click para que se añada la sugerencia a la lista
                        c.click();
						
						//Reordenamos alfabéticamente la lista desplegable
						$('.submenu li').not('li.new-list-btn').sortElements(function(a, b){
							return $(a).text().toLowerCase() > $(b).text().toLowerCase() ? 1 : -1;
						});
						
						$("#dropdown-list").removeClass('visible-display');
					}
				});
			}
		});
    });
    function toggle_showMore(){
        if($('#show-more-text').css('display')!="none")
            $('.show-more').html("Más información")
        else
            $('.show-more').html("[Ocultar]")
        
        $('#show-more-text').toggle('slow')
    }
    </script>
{%endblock%}

{% block body %}
    <div id="view-suggestion">
        
        <div class="suggestion">
        <div>
            
                
            <h1>
                <img src="{% embedded_avatar suggestion.user.username %}" title="{{suggestion.user.username}}"/><a href="{% url2 in_facebook public_profile suggestion.user.username %}">{{suggestion.user.username}}</a> sugiere:
                <span id="suggestion-vote-counter">
                        <span class="none" {% if suggestion.counters.votes > 0%}style="display:none"{%endif%}>Aún no ha recibido valoraciones</span>
                        <span class="votes-msg" {% if suggestion.counters.votes = 0%}style="display:none"{%endif%}>Valoraciones recibidas: <span id="vote-counter">{{suggestion.counters.votes}}</span></span>
                </span>
                
                <br>
                {{suggestion.name}}
            </h1>
            {% if suggestion.description %}
                <p class="more-info"><strong>Instrucciones/explicación</strong>: {{suggestion.description}} </p>
            {% endif %}
            
            {% if suggestion.date_starts or suggestion.date_ends %}
            <p class="more-info">
                    <strong>Fecha</strong>: 
                    [25/04/2011 al 30/05/2011]<br>
                
            </p>
            {% endif %}
            
                    
                
            
            <hr>
            <div class="address">
                <p>
                    <strong>Lugar</strong>: <a href="{% url2 in_facebook view_place suggestion.poi.slug %}" class="hoverlink">{{suggestion.poi.name}}</a>
                    -
                    <strong>Dirección</strong>:
                    <a href="http://maps.google.com/maps?q={{suggestion.poi.address}}&t=h&z=16" class="dark-link" target="_blank">{{suggestion.poi.address}}</a>
                    
                </p>
            </div>
             <div class="right">
				<div id="wapiblock"><div id="panoramio-imgs"></div></div>
			</div>
            
			
<!--
            <p>Reportar localización errónea</p>
            <p>Reportar sugerencia duplicada</p>
-->
<!--
			<hr class="clear">
-->
			
			<a title="Más detalles sobre: {{suggestion.poi.name}}" href="{% url2 in_facebook view_place suggestion.poi.slug %}">
					<img src="http://maps.googleapis.com/maps/api/staticmap?center={{suggestion.poi.location}}&zoom=14&size=210x150&maptype=roadmap
&markers=color:blue%7Clabel:S%7C{{suggestion.poi.location}}&sensor=false">
            </a>
            
            <div><strong>Pictures of the area from :</strong><span id="panoramio-tos"></span></div>
            
            {% if in_lists|length > 0 or suggestion.tags|length > 0 %}
                <hr>
                
                {% if in_lists %}
                    <p id="in-lists"><strong>Listas en las que aparece</strong>:
                    {% for obj in in_lists %}
                        {%if obj.visibility == 'public' %}
                            <span><a href="{%url2 in_facebook view_list obj.id%}" value="{{obj.id}}">{{obj.name}}</a>{%if not forloop.last%}, {%endif%}</span>
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}
                
                {% if suggestion.tags %}
                    <p id="tag-list-label"><strong>Palabras clave</strong>:</p> 
                    <ul id="tag-list">
                    {% for tag in suggestion.tags %}
                        <li>
    <!--
                            <form action="{% url2 in_facebook search_suggestions tag %}" method="post">
                                <input type="hidden" name="suggestion" value="suggestion">
                                <input type="submit" value="{{tag}}">
                            </form>
    -->
                            <a href="{%url2 in_facebook view_tag_suggestions tag%}">{{tag}}</a>
                            {%if not forloop.last %}, {%endif%}
                        </li>
                    {% endfor %}
                    </ul>
                    
                {% endif %}
            {% endif %}
            
			<hr>
            
            <ul id="action-bar">
                <li id="print-icon"><a href="?print" target="_blank" class="hoverlink">Imprimir</a></li>
                {% if request.user.username %}
                    <li id="add-to-list" value="{{suggestion.id}}">
                        <span class="hoverlink" onclick="javascript:$('#add-to-list .dropDownBtn').show();">Añadir a una lista </span>
                        <span class="btn dropDownBtn" style="display:none">
                            <span class="save-at">---------</span>
                            <ul class="submenu" style="display:none" id="dropdown-list">
                                {% if lists %}
                                    {% for obj in lists %}
                                            <!-- Solo se muestran mis listas -->
                                            <li value="{{obj.id}}"><span class="checkbox name">{{obj.name}}</span> (<span class="list-{{obj.id}}-counter">{{obj.keys|length}}</span> sugerencias)</li>

                                    {% endfor %}
                                {% endif %}
                                <li class="new-list-btn">
                                    <span id="text">Nueva lista...</span>
                                    <span class="new-list" style="display:none"><input type="text" /></span><div id="cancel-link" onclick="closeDropdown()" style="display:none">Cancel</div>
                                </li>
                            </ul>
                        </span>
                    </li>
                    {%endif%}
                    {% if user.username and suggestion.user.username != user.username %}
                    <li>
                        <span class="btn likeBtn" id="save-btn">
                            <span title="Guardar en favoritos"  class="remember-forget" value="{{suggestion.id}}" type="suggestion" {%if user_follower%}remember="true"{%endif%}>
                                <span class="remember hoverlink">
                                    Guardar
                                </span>
                                <span class="forget hoverlink">
                                    Guardada
                                </span>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="likeBtn btn">
                            <span class="like-dislike-suggestion likex16" value="{{suggestion.id}}" {% if has_voted %}like="true"{%endif%} type="suggestion">
                                <span class="dislike">
                                    <span class="text hoverlink">Ya no me gusta</span> 
                                </span>
                                
                                <span class="like">
                                    <span class="text hoverlink" >Me gusta</span> 
                                </span> 
                            </span>
                        </span>
                    </li>
                {%endif%}
            </ul>
                
                
             </div>
             
            
            
            

			
			
			
        </div>

        
        
        {% if top_comments %}
            <div id="popular-box" class="clear">
                <p class="popular">Los comentarios más populares</p>
                <ul class="comments" id="popular-comments">
                    {% for c in top_comments %}
                        <li class="comment-element" {% if forloop.first %}style="border-top:0px"{% endif %}>
                    
                            <!-- Añadimos el botón de borrar comentario-->
                            {% if c.username = user.username %}
                                <div class="removable" value="{{c.id}}" type="comment"><a href="#">Remove</a></div>
                            {% endif %}
                                                    
                            <span class="user"><img src="{% embedded_avatar c.username %}" alt="{{c.username}} avatar"></span>
                            <div style="float:left;width:460px;">
                                <span class="msg"><a href="{% url2 in_facebook public_profile c.username%}" class="dark-link">{{c.username}}</a>: {{c.msg}}</span>
                                <span class="timestamp">{{c.created|naturaltime}}</span> 
                                {% if c.username != user.username %}
                                    <span class="action-bar" style="display:none">
                                        &nbsp;-
                                        <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                                            <span class="dislike">
                                                <span class="hoverlink">Ya no me gusta</span> 
<!--
                                                <span class="text like-text {% if not c.has_voted %}increase{% endif %}">{{c.vote_counter}}</span> personas
-->
                                            </span>
                                            
                                            <span class="like">
                                                <span class="hoverlink">Me gusta</span> 
                                            </span>
                                        </span>
                                    </span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <p class="clear big">¿Tienes algo que añadir a esta sugerencia?</p>
        <textarea id="msg"></textarea>
<!--
        <ul id="feeling">
            <li>Happy</li>
            <li>Glad</li>
            <li>Sad</li>
        </ul>
-->
        <span class="btn" onclick="sendComment(this,'event',{{suggestion.id}});">Comentar</span>
        
        {% if comments %}
        <ul class="comments" id="comment-list">
            {% for c in comments.1 %}
                <li class="suggestion-element" {% if forloop.last %}style="border-bottom:1px dotted #BBBBBB"{% endif %}>
                    
                    <!-- Añadimos el botón de borrar comentario-->
                    {% if c.username = user.username %}
                        <div class="removable" value="{{c.id}}" type="comment"><a href="#">Remove</a></div>
                    {% endif %}
                                            
                    <span class="user"><img src="{% embedded_avatar c.username %}" alt="{{c.username}} avatar"></span>
                    <div style="float:left;width:460px">
                        <span class="msg"><a href="{% url2 in_facebook public_profile c.username%}" class="dark-link">{{c.username}}</a>: {{c.msg}}</span>
                        <span class="timestamp">{{c.created|naturaltime}}</span> 
                        {% if c.username != user.username %}
                            <span class="action-bar" style="display:none">
                                &nbsp;- 
                                <span class="like-dislike" value="{{c.id}}" {% if c.has_voted %}like="true"{%endif%} type="comment">
                                    <span class="dislike">
                                        <span class="hoverlink">Ya no me gusta</span> 
<!--
                                        <span class="text like-text {% if not c.has_voted %}increase{% endif %}">{{c.vote_counter}}</span> personas
-->
                                    </span>
                                    
                                    <span class="like">
                                        <span class="hoverlink">Me gusta</span> 
                                    </span>
                                </span>
                            </span>
                        {% endif %}
                        
                    </div>
                </li>
            {% endfor %}

        </ul>
        {% endif %}
        {% if comments.1|length == 8 %}
            <div class="load-more">Cargar más</div>
        {% endif %}
    </div>
    
    <ul id="lightbox">
    </ul>
    <script id="commentTemplate" type="text/x-jquery-tmpl">
        <li class="suggestion-element">
            <div class="removable" value="${id}" type="comment"><a href="#">Remove</a></div>
            <span class="user"><img src="{% embedded_avatar user.username %}" alt="{{user.username}} avatar"></span>
            <div style="float:left;width:460px">
                <span class="msg"><a href="{% url2 in_facebook public_profile user.username%}" class="dark-link">{{user.username}}</a>: ${msg}</span>
                <span class="timestamp">0 minutes ago</span>
            </div>
        </li>
    </script>
{% endblock %}
