@charset "utf-8";
/* CSS Document */

/*
@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('/static/fonts/Yanone Kaffeesatz.ttf');
	src: local(' '),
	url('/static/fonts/BLAvenirBlack-webfont) format('truetype'),
}
*/

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('/static/fonts/yanone_kaffeesatz-webfont.eot');
	src: local('☺'), url('/static/fonts/yanone_kaffeesatz-webfont.woff') format('woff'), url('/static/fonts/yanone_kaffeesatz-webfont.ttf') format('truetype'), url('/static/fonts/yanone_kaffeesatz-webfont.svg#webfontuNlMlpfA') format('svg');
	font-weight: normal;
	font-style: normal;
}

header {
	margin-bottom: 10px;
}

#strip {
	width:100%;
	height:12px;
	background-color:#333;
	margin-bottom: 20px;
}

body {
     font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
     background-image: url('/static/images/bg.png');
}

.container {
	/*background-color:#E6EFF7;*/
}

#pageheader h1, h1 a, h1 a:hover{
	font-family: 'Yanone Kaffeesatz', arial, serif;
	text-align: left;
	color:#333;
	text-shadow: 2px 2px 2px #FFFFFF;
	margin-top:5px;
	font-size:48pt;
	font-weight:bold;
	text-decoration:none;
}



#pageheader #links a{
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    color:#FFFFFF;
    font-size:larger;
    background-color:#333;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#1f1f1f));
	background: -moz-linear-gradient(top, #333 0%, #1f1f1f 100%);
    padding:7px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#pageheader #links img{

}

#pagefooter a{text-decoration:none; font-size:medium; }

#pagefooter {
	margin-top:40px;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.29, rgb(255,255,255)),color-stop(0.92, rgba(255,255,255,0.2)));
    background: -moz-linear-gradient(center bottom, rgb(255,255,255) 29%, rgba(255,255,255,0.2) 92%);
    border-top:12px solid #333;
    background-color:#FFFFFF;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav {
	color:#FFFFFF;
	background-color: #333;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#1f1f1f));
	background: -moz-linear-gradient(top, #333 0%, #1f1f1f 100%);
	/*border:3px solid #F0DB92;*/
	-moz-border-radius: 15px;
    border-radius: 15px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

nav a{
    text-decoration:none;
    color:#FFFFFF;
    font-size:large;
    font-weight:bold;
    padding-bottom:2px;
}

nav a:hover{
    color:#FFFFFF;
    border-bottom:1px solid #FFFFFF;
    padding-left:5px;
    padding-right:5px;
}

#menu-active a,#menu-active a:hover{
    border-bottom:3px solid #FFFFFF;
    padding-left:5px;
    padding-right:5px;
}

h2 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:xx-large;
	color:#333;
	text-shadow: 1px 1px 1px #BABABA;
	text-align:center;
    font-weight:bold;
}

#frame {
	margin-top:15px;
	margin-bottom:15px;
    background-color:#FFFFFF;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.29, rgb(255,255,255)),color-stop(0.92, rgba(255,255,255,0.2)));
    background: -moz-linear-gradient(center bottom, rgb(255,255,255) 29%, rgba(255,255,255,0.2) 92%);
    border-top:12px solid #333;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

#frame p {
    margin:10px;
    
}

aside {
	text-align:center;
}

#frame a{
text-decoration:none;
}

#blognews{
list-style:none;
}

#blog-link{text-decoration:none;  }

#blognews header{
     text-decoration:none; 
     color:#333; 
}

#blognews footer{
     margin-bottom:8px; 
}

#blognews article{margin-bottom:13px; border-bottom:1px dashed #808080; }


#postcontent{
     margin-top:-10px; 
}

ul{list-style:none; }

#contactformhome{text-align:left; }

#textarea{width:200px; height:100px; }

#send{margin-left:auto; margin-right:auto; }

#footer {margin-bottom: 50px; }

#pagefooter aside {margin-bottom:10px; }


#social {margin-bottom:15px; }

#figure {padding-bottom:15px;}

.center{
	text-align:center;
}
.line-spaced{
	line-height:2em;
}
#frame #intro-text{
margin-bottom:3em;
}

#logos img{
	max-height:30px;
	max-width:130px;
}
#logos a{
font-size:1em;
line-height:30px;
}

#related-logos img{
	max-height:55px;
	max-width:130px;
}
